= form_for @trabajando_marital_status do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    = f.label :company_marital_status
    = f.select :company_marital_status_id, Company::MaritalStatus.all.map{ |marital_status| [marital_status[:name], marital_status[:id]] }, {include_blank: true, selected: @trabajando_marital_status.company_marital_status}, class: "form-control js-select"

  .form-group
    .row
      .col-xs-12.col-md-4
        = f.submit class: "btn btn-block btn-success"
