- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-7.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Trabajando::MaritalStatus.model_name.human(count: :other)

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'trabajando_marital_status' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Trabajando::MaritalStatus.human_attribute_name(:name)
                th.small style='vertical-align: middle' = Trabajando::MaritalStatus.human_attribute_name(:company_marital_status)
                th.small

            tbody-body
              - @trabajando_marital_statuses.each do |trabajando_marital_status|
                tr
                  td.small style='vertical-align: middle' width="25%"
                    = link_to trabajando_marital_status.name, trabajando_marital_status, class: "text-base"

                  td.small style='vertical-align: middle' width="70%"
                    - if trabajando_marital_status.company_marital_status_id?
                      = link_to trabajando_marital_status.company_marital_status.name, trabajando_marital_status.company_marital_status
                    - else
                      p Sin estado civil asociado

                  td style='vertical-align: middle' width="42px"
                    = link_to t("resources.generals.actions.edit"), edit_trabajando_marital_status_path(trabajando_marital_status), class: "btn btn-block btn-primary btn-sm"



          = paginate @trabajando_marital_statuses

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"

