-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @trabajando_marital_status.name

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label.scaffold_label.__strong = Trabajando::MaritalStatus.human_attribute_name(:name)
          = @trabajando_marital_status.name

          label.scaffold_label.__strong = Trabajando::MaritalStatus.human_attribute_name(:company_marital_status)
          - if @trabajando_marital_status.company_marital_status_id?
             = link_to @trabajando_marital_status.company_marital_status.name, @trabajando_marital_status.company_marital_status
          - else
            p Sin estado civil asociado

        .col-md-2
          = link_to t("resources.generals.actions.edit"), edit_trabajando_marital_status_path(@trabajando_marital_status), class: "btn btn-block btn-primary"

        .col-md-2
          = link_to t("resources.generals.actions.back"), trabajando_marital_statuses_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'

