.container
  -content_for :subheader do
    .row.subheader_container
      .subheader_cyan
        .col-sm-12
          .col-sm-6.col-sm-offset-1
            h3 class="subheader_title __with-icon __dark-teal icons-header __procesos"
              span
              = Course.model_name.human.pluralize;
              | &nbsp;/&nbsp;
              span Crear Nueva Publicación en Trabajando

  .row
    .col-sm-8.col-sm-offset-2.__white-background
      = form_for @trabajando_publication, html: {class: "col-sm-10 col-sm-offset-1"}, url: trabajando_publication_path(id: @trabajando_publication.course.id, publication_id: @trabajando_publication.id || '') do |f|

        .row.margin-top-20-px
          .form-group
            = f.label :title
            = f.text_field :title, class: "form-control", required: field_required?(f, :title)
            = field_errors_wrapper(@trabajando_publication.errors[:title])

        .row
          .form-group
            = f.label :description
            = f.bootsy_area :description, class: "form-control", required: field_required?(f, :description), height: '500', value: f.object.description
            = field_errors_wrapper(@trabajando_publication.errors[:description])

        .row
          .form-group
            = f.label :desactivate_at
            .input-group
              .input-group-addon
                span.glyphicon.glyphicon-calendar
              = f.text_field :desactivate_at, class: 'form-control  js-datepicker', required: field_required?(f, :desactivate_at), readonly: true
            = field_errors_wrapper(@trabajando_publication.errors[:desactivate_at])

        .row
          .form-group
            = f.label :number_vacancies
            = f.number_field :number_vacancies, class: "form-control", required: field_required?(f, :number_vacancies)
            = field_errors_wrapper(@trabajando_publication.errors[:number_vacancies])

        .row
          .form-group
            = f.label :job_type_id
            = f.select :job_type_id, Trabajando::JobType.all.map{ |job_type| [job_type[:name], job_type[:id]] }, {} ,class: "form-control chosen", required: field_required?(f, :job_type)
            = field_errors_wrapper(@trabajando_publication.errors[:job_type])

        .row
          .form-group
            = f.label :area_id
            = f.select :area_id, Trabajando::Area.all.map{ |area| [area[:name], area[:id]] }, {} ,class: "form-control chosen", required: field_required?(f, :area)
            = field_errors_wrapper(@trabajando_publication.errors[:area])

        .row
          .form-group
            = f.label :company_activity_id
            = f.select :company_activity_id, Trabajando::CompanyActivity.all.map{ |company_activity| [company_activity[:name], company_activity[:id]] }, {} ,class: "form-control chosen", required: field_required?(f, :company_activity)
            = field_errors_wrapper(@trabajando_publication.errors[:company_activity])

        .row
          .form-group
            = f.label :contract_time
            = f.text_field :contract_time, class: 'form-control', required: field_required?(f, :contract_time)
            = field_errors_wrapper(@trabajando_publication.errors[:contract_time])

        .row
          .form-group
            = f.label :work_day_id
            = f.select :work_day_id, Trabajando::WorkDay.all.map{ |work_day| [work_day[:name], work_day[:id]] }, {} ,class: "form-control chosen", required: field_required?(f, :work_day)
            = field_errors_wrapper(@trabajando_publication.errors[:work_day])

        .row
          .form-group
            = f.label :salary
            = f.number_field :salary, class: 'form-control', required: field_required?(f, :salary)
            = field_errors_wrapper(@trabajando_publication.errors[:salary])

        .row
          .form-group
            = f.label :show_salary
            = f.check_box :show_salary, class: 'form-control', required: field_required?(f, :show_salary)
            = field_errors_wrapper(@trabajando_publication.errors[:show_salary])

        .row
          .form-group
            = f.label :salary_comment
            = f.text_field :salary_comment, class: 'form-control', required: field_required?(f, :salary_comment)
            = field_errors_wrapper(@trabajando_publication.errors[:salary_comment])

        .row
          .form-group
            = f.label :work_time
            = f.text_field :work_time, class: 'form-control', required: field_required?(f, :work_time)
            = field_errors_wrapper(@trabajando_publication.errors[:work_time])

        .row
          .form-group
            = f.label :applicant_profile_id
            = f.select :applicant_profile_id, Trabajando::ApplicantProfile.all.map{ |applicant_profile| [applicant_profile[:name], applicant_profile[:id]] }, {} ,class: "form-control chosen", required: field_required?(f, :applicant_profile)
            = field_errors_wrapper(@trabajando_publication.errors[:applicant_profile])

        .row
          .form-group
            = f.label :education_level_id
            = f.select :education_level_id, Trabajando::EducationLevel.all.map{ |education_level| [education_level[:name], education_level[:id]] }, {} ,class: "form-control chosen", required: field_required?(f, :education_level)
            = field_errors_wrapper(@trabajando_publication.errors[:education_level])

        .row
          .form-group
            = f.label :education_state_id
            = f.select :education_state_id, Trabajando::EducationState.all.map{ |education_state| [education_state[:name], education_state[:id]] }, {} ,class: "form-control chosen", required: field_required?(f, :education_state)
            = field_errors_wrapper(@trabajando_publication.errors[:education_state])

        .row
          .form-group
            = f.label :software_level_id
            = f.select :software_level_id, Trabajando::SoftwareLevel.all.map{ |software_level| [software_level[:name], software_level[:id]] }, {} ,class: "form-control chosen", required: field_required?(f, :software_level)
            = field_errors_wrapper(@trabajando_publication.errors[:software_level])

        .row
          .form-group
            = f.label :region_id
            = f.select :region_id, Trabajando::State.all.map{ |region| [region[:name], region[:id]] }, {} ,class: "form-control chosen", required: field_required?(f, :region)
            = field_errors_wrapper(@trabajando_publication.errors[:region])

        .row
          .form-group
            = f.label :city_id
            = f.select :city_id, Trabajando::City.all.map{ |city| [city[:name], city[:id]] }, {} ,class: "form-control chosen", required: field_required?(f, :city)
            = field_errors_wrapper(@trabajando_publication.errors[:city])

        .row
          .form-group
            = f.label :workplace
            = f.text_field :workplace, class: 'form-control', required: field_required?(f, :workplace), maxlength: 50
            = field_errors_wrapper(@trabajando_publication.errors[:workplace])

        .row
          .form-group
            = f.label :minimum_requirements
            = f.text_area :minimum_requirements, class: 'form-control', required: field_required?(f, :minimum_requirements)
            = field_errors_wrapper(@trabajando_publication.errors[:minimum_requirements])

        .row
          .form-group
            = f.label :work_experience
            = f.number_field :work_experience, class: 'form-control', required: field_required?(f, :work_experience)
            = field_errors_wrapper(@trabajando_publication.errors[:work_experience])

        .row
          .form-group
            = f.label :own_transport
            = f.check_box :own_transport, class: 'form-control', required: field_required?(f, :own_transport)
            = field_errors_wrapper(@trabajando_publication.errors[:own_transport])

        .row
          .form-group
            = f.label :is_confidential
            = f.check_box :is_confidential, class: 'form-control', required: field_required?(f, :is_confidential)
            = field_errors_wrapper(@trabajando_publication.errors[:is_confidential])

        .row
          .form-group
            = f.label :q1
            = f.text_field :q1, class: "form-control", required: field_required?(f, :q1), maxlength: '250'
            = field_errors_wrapper(@trabajando_publication.errors[:q1])

        .row
          .form-group
            = f.label :q2
            = f.text_field :q2, class: "form-control", required: field_required?(f, :q2), maxlength: '250'
            = field_errors_wrapper(@trabajando_publication.errors[:q2])

        .row
          .form-group
            = f.label :q3
            = f.text_field :q3, class: "form-control", required: field_required?(f, :q3), maxlength: '250'
            = field_errors_wrapper(@trabajando_publication.errors[:q3])

        .row
          .form-group
            = f.label :q4
            = f.text_field :q4, class: "form-control", required: field_required?(f, :q4), maxlength: '250'
            = field_errors_wrapper(@trabajando_publication.errors[:q4])

        .row
          .form-group
            = f.label :q5
            = f.text_field :q5, class: "form-control", required: field_required?(f, :q5), maxlength: '250'
            = field_errors_wrapper(@trabajando_publication.errors[:q5])

        .row
          .text-center
            = f.submit class: "btn btn-success margin-bottom-30-px", data: {disable_with: "Cargando..."}

= content_for :javascript do
  = javascript_include_tag('trabajando_publication')
