.container
  .row
    = render partial: "courses/subheader", locals: {publications: '__active'}

.container
  .row.margin-top-10-px
    .col-xs-12
      section.course_body
        section.course_card
          h3.course_card-title.__large
            = t('course.trabajando_publications')
            .course_card-action-container
              = link_to t("publications.trabajando.button.new"), new_trabajando_publication_path(id: @course.id), class: "btn btn-success"

          - @trabajando_publications.each do |trabajando_publication|
            .row.clearfix.course_publication-container
              .col-md-2.__center
                = image_tag "logo_trabajando.png", class: "header_logo __publication", style: 'margin-top: 0px'

              .col-md-8
                .row
                  h1.course_publication-title = trabajando_publication.title

                .row.clearfix
                  .col-md-4
                    .course_publication-label = Trabajando::Publication.human_attribute_name(:created_at) + ':'
                    .course_publication-copy = l(trabajando_publication.created_at, format: '%d de %B de %Y')

                  / .col-md-4
                  /   .course_publication-label = t("publications.postulant.other") + ':'
                  /   .course_publication-copy = trabajando_publication.postulations.count

              .col-md-2
                = link_to t("publications.view_publication") , trabajando_publication_path(id: trabajando_publication.course.id, publication_id: trabajando_publication.id), class: 'btn btn-success btn-inverted btn-block margin-top-30-px'


              / = link_to 'Editar', edit_trabajando_publication_path(id: trabajando_publication.course.id, publication_id: trabajando_publication.id), class: 'trabajando-publication_action-button'

              / = link_to 'Eliminar', trabajando_publication_path(id: trabajando_publication.course.id, publication_id: trabajando_publication.id), data: {:confirm => '¿Estas seguro que deseas eliminar esa publicación?'}, :method => :delete, class: 'trabajando-publication_action-button'

          = paginate @trabajando_publications
