.row
  .col-sm-6.col-sm-offset-3
    = render partial: 'trabajando/publications/delay_message'

.row
  = render partial: 'form'
/ = link_to 'Back', trabajando_publications_path(id: @trabajando_publication.course.id)
