- content_for :subheader do
  = render partial: 'courses/subheader', locals: {publications: '__active'}

.container.margin-top-20-px
  = render partial: 'trabajando/publications/delay_message'
  .row
    // Left Section
    .col-md-3
      .col-xs-12.__white-background.padding-bottom-10-px.padding-top-10-px
        .row
          .col-xs-12
            h3.course_card-title
              = t("publications.resume")

        .row
          .col-xs-12
            .col-xs-6.col-xs-offset-3
              = image_tag "logo_trabajando.png", class: 'img-responsive'

        .row.margin-top-10-px
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:title) + ':'
            - title = @trabajando_publication.title.blank? ? t('no_entry') : @trabajando_publication.title
            .course_publication-copy = title

        .row
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:is_confidential) + ':'
            .course_publication-copy = @trabajando_publication.is_confidential? ? "Si" : "No"

        .row
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:area) + ':'
            - area_name = @trabajando_publication.area_name.blank? ? t('no_entry') : @trabajando_publication.area_name
            .course_publication-copy = area_name
        .row
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:salary)
            - salary = @trabajando_publication.salary.blank? ? t('no_entry') : @trabajando_publication.salary
            .course_publication-copy = salary
        .row
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:contract_time)
            - contract_time = @trabajando_publication.contract_time.blank? ? t('no_entry') : @trabajando_publication.contract_time
            .course_publication-copy = contract_time
        .row
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:show_salary)
            .course_publication-copy = @trabajando_publication.show_salary ? 'Sí' : 'No'
        .row
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:salary_comment)
            - salary_comment = @trabajando_publication.salary_comment.blank? ? t('no_entry') : @trabajando_publication.salary_comment
            .course_publication-copy = salary_comment
        .row
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:work_time)
            - work_time = @trabajando_publication.work_time.blank? ? t('no_entry') : @trabajando_publication.work_time
            .course_publication-copy = work_time
        .row
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:workplace)
            - workplace = @trabajando_publication.workplace.blank? ? t('no_entry') : @trabajando_publication.workplace
            .course_publication-copy = workplace
        .row
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:minimum_requirements)
            - minimum_requirements = @trabajando_publication.minimum_requirements.blank? ? t('no_entry') : @trabajando_publication.minimum_requirements
            .course_publication-copy = minimum_requirements
        .row
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:work_experience)
            - work_experience = @trabajando_publication.work_experience.blank? ? t('no_entry') : @trabajando_publication.work_experience
            .course_publication-copy = work_experience

        .row
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:own_transport)
            .course_publication-copy = @trabajando_publication.own_transport ? 'Sí' : 'No'

        .row
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:created_at) + ':'
            .course_publication-copy = l(@trabajando_publication.created_at, format: '%d de %B de %Y')

        .row
          .col-xs-12
            .course_publication-label = Trabajando::Publication.human_attribute_name(:desactivate_at) + ':'
            - desactivate_at = @trabajando_publication.desactivate_at.present? ? l(@trabajando_publication.desactivate_at, format: '%d de %B de %Y') : t('no_entry')
            .course_publication-copy = desactivate_at
          / .col-md-12.margin-top-10-px
          /   = link_to t("trabajando/publication.actions.get_trabajando_postulations.text"), get_trabajando_postulations_trabajando_publication_path(id: @trabajando_publication.course.id, publication_id: @trabajando_publication.id), method: :post, class: "btn btn-primary"

    // Main Section
    .col-md-9
      .row
        .col-xs-12.__white-background.padding-top-10-px.padding-bottom-10-px
          // Description
          .row.margin-bottom-10-px
            .col-xs-12
              h3.course_card-title.__large
                = Trabajando::Publication.human_attribute_name(:description)

            .col-xs-12
              .course_publication-copy.bootsy_processed.__force-text_break-word
                = @trabajando_publication.description.html_safe

          // Questions
          - questions = ["q1","q2","q3","q4","q5"]
          - if questions.map{|q| @trabajando_publication.send(q).present?}.reduce{|j,k| j or k}
            .row
              .col-xs-12
                h3.course_card-title.__large
                  = Minisite::Publication.human_attribute_name(:questions)

                - questions.each do |q|
                  .row
                    .col-xs-12
                      .course_publication-label
                        = Trabajando::Publication.send("human_attribute_name", q)
                      p.course_publication.copy.margin-top-10-px = @trabajando_publication.send(q)

      .row.text-center
        .col-xs-12.__white-background.margin-top-10-px.padding-top-10-px.padding-bottom-10-px
          .btn-group
            = link_to('Ver publicación en Trabajando.com', @trabajando_publication.get_remote_url, class: 'btn btn-default', target: '_blank')
            = link_to t("actions.edit"), edit_trabajando_publication_path(id: @trabajando_publication.course.id, publication_id: @trabajando_publication.id), class: "btn btn-primary"
            - if @trabajando_publication.opened?
              = link_to t("trabajando/publication.actions.deactivate.text"), switch_state_trabajando_publication_path(id: @trabajando_publication.course.id, publication_id: @trabajando_publication.id, switch: :deactivate), method: :put, class: "btn btn-danger"
            - elsif @trabajando_publication.course.opened?
              = link_to t("trabajando/publication.actions.activate.text"), switch_state_trabajando_publication_path(id: @trabajando_publication.course.id, publication_id: @trabajando_publication.id, switch: :activate), method: :put, class: "btn btn-success"

= content_for :javascript do
  = javascript_include_tag('answers')
