- content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ][ icons-header __procesos ]"
          = Laborum::Postulation.model_name.human

.container
  .row
    .col-md-10.col-md-offset-1
      .row
        .col-md-8 style='background-color: white;'
          .row
            .col-md-3 style='text-align: center;'
              = image_tag @postulation.applicant.avatar, style: 'width: 100%; margin-top: 2em;'
            .col-md-9
              br
              .row
                .col-md-5 style='text-align: right;'
                  | Email:
                .col-md-7
                  = @postulation.applicant.user.email
              .row
                .col-md-5 style='text-align: right;'
                  | Nombre:
                .col-md-7
                  = @postulation.applicant.user.to_s
              .row
                .col-md-5 style='text-align: right;'
                  | Fecha de nacimiento:
                .col-md-7
                  = @postulation.applicant.user.birth_date
              .row
                .col-md-5 style='text-align: right;'
                  | Teléfono:
                .col-md-7
                  = @postulation.applicant.user.landline
              .row
                .col-md-5 style='text-align: right;'
                  | Celular:
                .col-md-7
                  = @postulation.applicant.user.cellphone
              .row
                .col-md-5 style='text-align: right;'
                  | Dirección:
                .col-md-7
                  = @postulation.applicant.user.address
              .row
                .col-md-5 style='text-align: right;'
                  | Sexo:
                .col-md-7
                  = get_gender(@postulation.applicant.user)
          .row
            .col-md-12
              hr
              - if @postulation.information['curriculum'].present?
                - if @postulation.information['curriculum']['estudios'].present?
                  h3 Antecedentes academicos:
                  ul
                    - @postulation.information['curriculum']['estudios'].each do |estudios|
                      li
                        p
                          | Título: #{estudios['titulo']}
                          br
                          | Institución: #{estudios['institucion']}
                          br
                          | Fecha de estudios: #{estudios['fechaInicio']} - #{estudios['fechaFin']}
                          br

                  hr
                - if @postulation.information['curriculum']['experienciasLaborales'].present?
                  h3 Experiencia laboral:
                  ul
                    - @postulation.information['curriculum']['experienciasLaborales'].each do |experiencia_laboral|
                      li
                        p
                          | Empresa: #{experiencia_laboral['empresa']}
                          br
                          | Puesto: #{experiencia_laboral['puesto']}
                          br
                          | Fecha de trabajo: #{experiencia_laboral['fechaInicio']} - #{experiencia_laboral['fechaFin']}
                          br
                  hr
                - if @postulation.information['respuestas'].present?
                  h3 Preguntas de la postulación:
                  ul
                    - @postulation.information['respuestas'].each do |pregunta|
                      li
                        p
                          = pregunta['pregunta']
                          br
                          = pregunta['respuesta']

        .col-md-4
          .row style='text-align: center;'
            .col-md-offset-1.col-md-11 style='background-color: white;'
              h3 ¿Qué acción desea realizar para #{@postulation.applicant.user.to_s}?
              hr
              .row
                .col-md-12
                  - if @postulation.is_accepted == nil
                    = link_to t("publications.accept_postulation"), accept_laborum_postulation_path(@postulation), class: 'btn btn-success', method: :put
                  - elsif @postulation.is_accepted == true
                    p Postulante aceptado
                  - else @postulation.is_accepted == false
                    p Postulante descartado
                - if @postulation.is_accepted == nil
                  .col-md-12 style='padding-bottom: 1.5em;'
                    br
                    = link_to t("publications.discard_postulation"), discard_laborum_postulation_path(@postulation), class: 'btn btn-danger', method: :put, data: { confirm: "¿Está seguro que desea descartar a este postulante?" }

              - if @postulation.applicant.user.is_employee?
                .row.text-center.margin-top-20-px
                  = image_tag('favicon.png')
