-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-8.col-md-9
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Minisite::Category.model_name.human

        .col-xs-6.col-sm-4.col-md-3
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.actions.add_new") + ' ' + Minisite::Category.model_name.human(count: :other).downcase, new_minisite_category_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'categories', view_more: false, detail_info: 'categories' }

          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Minisite::Category.human_attribute_name(:name)
                th.small style='vertical-align: middle' = Minisite::Category.human_attribute_name(:description)
                th
                th

            tbody
              - @minisite_categories.each do |minisite_category|
                tr
                  td.small style='vertical-align: middle' width="25%"
                    = link_to minisite_category.name, minisite_category, class: "text-base"

                  td.small style='vertical-align: middle' width="48%"
                    = minisite_category.description

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_minisite_category_path(minisite_category), class: "btn btn-block btn-primary btn-sm"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), minisite_category, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + minisite_category.name + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"

          = paginate @minisite_categories
    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
