- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

section.course_card
  h3.course_card-title.__large
    = t('video_interview.stage.title')

  - if @stage.enrollment.video_interview_answers.empty?
    h3 No se enviaron preguntas a este postulante

  - @stage.enrollment.video_interview_answers.each do |answer|
    h4 = "Pregunta: #{answer.question}"
    - if answer.video_state == :uploaded
      = play_video_tag("Respuesta", answer)
    - else
      b
        | Aun no hay respuesta
    hr/
