.container
  .row
    .col-xs-10.col-xs-offset-1
      = form_for @company_reference do |f|
        .panel  style='padding: 10px'
          .form-group
            h3 = f.label t("company/reference.messages.company_employee_data")
          hr

          .form-group
            - options_for_email = options_for_select(Company::Record.all.collect {|cr| [cr.email_domain, cr.email_domain] })
            = f.label :email
            .row
              .col-md-6.col-xs-6 style='padding-right: 0px;'
                .input-group
                  .input-group-addon
                    span.glyphicon.glyphicon-envelope
                  = f.text_field :email_name, class: 'form-control noat', required: field_required?(f, :email), minlength: '3', maxlength: '100'
              .col-md-6.col-xs-6 style='padding-left: 0px;'
                .input-group
                  .input-group-addon @
                  = f.select :email_domain, options_for_email, {include_blank: true}, class: 'form-control'

          .form-group
            = f.label :first_name
            = f.text_field :first_name, class: 'form-control', required: field_required?(f, :first_name), minlength: '3', maxlength: '25'

          .form-group
            = f.label :last_name
            = f.text_field :last_name, class: 'form-control', required: field_required?(f, :last_name), minlength: '3', maxlength: '25'

          .form-group
            = f.label :position
            = f.text_field :position, class: 'form-control', required: field_required?(f, :position), minlength: '3', maxlength: '100'

          .form-group

        .panel  style='padding: 10px'
          h3 = f.label :applicant
          hr

          = f.fields_for :applicant do |applicant_form|
            = applicant_form.fields_for :user do |user_form|
              .form-group
                = f.label :email
                .input-group
                  .input-group-addon
                    span.glyphicon.glyphicon-envelope
                  = user_form.email_field :email, class: 'form-control', required: true, minlength: '5', maxlength: '150'

              = user_form.fields_for :personal_information do |personal_information_form|

                .form-group
                  = personal_information_form.label :first_name
                  = personal_information_form.text_field :first_name, class: "form-control enforce_text", required: field_required?(personal_information_form, :first_name), minlength: '3', maxlength: '25'

                .form-group
                  = personal_information_form.label :last_name
                  = personal_information_form.text_field :last_name, class: "form-control enforce_text", required: field_required?(personal_information_form, :last_name), minlength: '3', maxlength: '25'

          .form-group
            = f.label :positions
            .input-group
              .input-group-addon
                span.glyphicon.glyphicon-list-alt
              = f.select :position_ids, Company::Position.all.map{ |cp| [cp.name, cp[:id]] }, {}, multiple: true, class: "form-control chosen",'data-placeholder': Company::Position.model_name.human

          .form-group
            = f.label :observations
            = f.text_area :observations, class: 'form-control', required: field_required?(f, :observations), maxlength: '100'

        .form-group.text-center
          = f.submit class: "btn btn-success"
