.container-fluid
  -content_for :subheader do
    .subheader_container.clearfix
      .subheader_left-container
        .subheader_cyan
          h3.text-success
            =t('company/reference.actions.title', company_name: $COMPANY[:name])

.container
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-md-10
          p.margin-top-20-px.text-center
            =t('company/reference.actions.confirmation_message_html', reference_name: @company_reference.first_name)

