= form_for @worker, as: :worker do |worker_form|
  = worker_form.fields_for :user do |user_form|

    / Subheader
    .subheader_container.clearfix
      .subheader_left-container
        .subheader_cyan
          h3 class="[ subheader_title __with-icon __dark-teal ][ icons-header __procesos ]"
            span = Worker::Base.model_name.human.pluralize
            | &nbsp;/&nbsp;
            = t("actions.create") + Worker::Base.model_name.human

      - if current_user.can?(:new, Applicant::Catched)
        .subheader_right-container
          .subheader_dropdown-container
            .subheader_dropdown-top
              = worker_form.submit(class: "btn btn-success")

    #floating_box.row.margin-top-15-px.margin-bottom-15-px
      = flash_box_printer

    .grid_body
      = user_form.fields_for :personal_information do |personal_information_form|
        = render 'people/personal_information/form', personal_information_form: personal_information_form, user_form: user_form

      = user_form.fields_for :professional_information  do |professional_information_form|
        - professional_information_attributes = params[:worker].present? ? params.require(:worker)[:user_attributes][:professional_information_attributes] : nil
        = render 'people/professional_information/form', professional_information_form: professional_information_form, professional_information_attributes: professional_information_attributes

