= form_tag(add_role_worker_basis_path, method: :post)
  .postulant_row
    .postulant_table-container
      h2.postulant_table-container-header
        span = t("user.roles")
        = submit_tag t("worker/base.update_permissions"), class: "form_element __context-button btn btn-success"

      .postulant_table-container-body
        table.postulant_table
          tr.postulant_table-row
            th.postulant_table-cell
            th.postulant_table-cell = t("worker/base.permission_desc")

          - Role::GLOBAL_ROLES.each do |role|
            tr.postulant_table-row
              td.postulant_table-cell
                = check_box_tag "roles[]", {name: role[:name], resource_type: nil}, @worker.user.check_role?(role[:name])

              td.postulant_table-cell
                = role[:description]

          - [ \
              Worker::Base,
              Course,
              Applicant::Catched,
              Applicant::Base,
              Onboarding::Stage,
              Engagement::Stage].each do |resource_security|
            - class_name = resource_security.new.class
            - resource_security::ROLES_CLASS.each do |role|
              tr.postulant_table-row
                td.postulant_table-cell
                  = check_box_tag "roles[]", {name: role[:name], resource_type: resource_security.to_s}, @worker.user.check_role?(role[:name], resource_security)

                td.postulant_table-cell
                  = role[:description]
