-content_for :subheader do
  .row
    .col-xs-12.__white-background.padding-top-10-px.padding-bottom-20-px
      .col-xs-12
        .col-xs-7
          h3.text-success 
            = Worker::Base.model_name.human(conunt: :other)
        .col-xs-5.text-right
          .margin-top-20-px
            - if current_user.can?(:new, Worker::Base)
              = link_to(t("actions.create") + Worker::Base.model_name.human, new_worker_basis_path, class: "btn btn-success")


.container
  .row
    .col-md-10.col-md-offset-1
      .row.margin-bottom-15-px
        .col-xs-12
          .col-xs-12.__white-background.__with_shadow.padding-top-15-px.padding-bottom-15-px
            = form_tag 'search', method: "GET" do
              .col-xs-8.col-sm-10
                = text_field_tag :query, params[:query].present? ? params[:query] : '' ,class: 'form-control'
              .col-xs-4.col-sm-2
                = submit_tag t('actions.search'), class: 'btn btn-primary btn-block'
        
      .row
        .col-xs-12
          - if @workers.any?
            p
              = t("search_results", count: @workers.count) 
            - @workers.each do |worker|
              = link_to worker_basis_path(worker), class: "process_element-container clearfix" do

                h2.process_title = worker.user.name_or_email

                .col-xs-4.col-sm-2
                  - avatar = worker.user.avatar
                  .process_avatar style="background-image: url(#{image_path(avatar)});"
                
                .col-xs-8
                  .row.margin-bottom-10-px
                    .pull-left
                      span.process_col = t("activerecord.attributes.user.email")
                      span = worker.user.email

                    .pull-left
                      span.process_col = t("activerecord.attributes.people/personal_information.sex")
                      span = worker.user.try(:personal_information).try(:sex) || t("no_entry")
                    
                    .pull-left
                      span.process_col = t("activerecord.attributes.people/personal_information.birth_date")
                      span = worker.user.try(:personal_information).try(:birth_date) || t("no_entry")

                  .row.margin-bottom-10-px
                    .pull-left
                      span.process_col = t("activerecord.attributes.people/personal_information.landline")
                      span = worker.user.try(:personal_information).try(:landline) || t("no_entry")
                    
                    .pull-left
                      span.process_col = t("activerecord.attributes.people/personal_information.cellphone")
                      span = worker.user.try(:personal_information).try(:cellphone) || t("no_entry")
                  
                  .row.margin-bottom-10-px
                    .pull-left
                      span.process_col = t("activerecord.models.territory/country.one")
                      span = worker.user.try(:personal_information).try(:city).try(:territory_state).try(:territory_country).try(:name)

                    .pull-left
                      span.process_col = t("activerecord.models.territory/state.one")
                      span = worker.user.try(:personal_information).try(:city).try(:territory_state).try(:name)
                    
                    .pull-left
                      span.process_col = t("activerecord.models.territory/city.one")
                      span = worker.user.try(:personal_information).try(:city).try(:name)
          - else
            h3 = t("worker/base.there_is_not")

          = paginate @workers
