-content_for :subheader do
  .subheader_container.clearfix
  	.subheader_left-container
  		.subheader_cyan
  			h3 class="[ subheader_title __with-icon __dark-teal ][ icons-header __procesos ]"
  				span = Worker::Base.model_name.human.pluralize
  				- if @worker.first_name.present?
  					span
  						|&nbsp;/&nbsp;
  						= @worker.name_or_email

  	- if current_user.can?(:edit, Worker::Base)
  		.subheader_right-container
  			.subheader_dropdown-container
  				.subheader_dropdown-top
  					= link_to t("actions.edit") + Worker::Base.model_name.human, edit_worker_basis_path(@worker), class: "btn btn-success"

.container
  .col-md-12.__white-background
    .row
      .col-md-12.margin-top-10-px
        .postulant_col.__left
          - avat = @worker.user.avatar
          .postulant_avatar style="background-image: url(#{image_path(avat)});"

        .postulant_col.__right
          .postulant_table-wrapper
            .postulant_table-container.__absolute
              h2.postulant_table-container-header = t("profiles.personal_information")


              .postulant_table-container-body.clearfix
                .postulant_table-col.__half
                  .postulant_inner-row
                    .postulant_inner-row_key = t("activerecord.attributes.people/personal_information.identification_document_number")
                    .postulant_inner-row_value = @worker.user.identification_document_number || t("no_entry")

                  .postulant_inner-row
                    .postulant_inner-row_key = t("activerecord.attributes.people/personal_information.identification_document_type")
                    .postulant_inner-row_value = @worker.user.try(:identification_document_number).try(:name) || t("no_entry")

                  .postulant_inner-row
                    .postulant_inner-row_key = t("activerecord.attributes.people/personal_information.first_name")
                    .postulant_inner-row_value = @worker.user.first_name_html || t("no_entry")

                  .postulant_inner-row
                    .postulant_inner-row_key = t("activerecord.attributes.people/personal_information.last_name")
                    .postulant_inner-row_value = @worker.user.last_name_html || t("no_entry")

                  .postulant_inner-row
                    .postulant_inner-row_key = t("activerecord.attributes.user.email")
                    .postulant_inner-row_value = @worker.user.email || t("no_entry")

                  .postulant_inner-row
                    .postulant_inner-row_key = t("activerecord.attributes.people/personal_information.landline")
                    .postulant_inner-row_value = @worker.user.landline_html || t("no_entry")

                  .postulant_inner-row
                    .postulant_inner-row_key =t("activerecord.attributes.people/personal_information.cellphone")
                    .postulant_inner-row_value = @worker.user.cellphone_html || t("no_entry")

                  .postulant_inner-row
                    .postulant_inner-row_key = t("activerecord.attributes.people/personal_information.nationality_id")
                    .postulant_inner-row_value = @worker.nationality_name || t("no_entry")

                  .postulant_inner-row
                    .postulant_inner-row_key = t("activerecord.attributes.people/personal_information.nationality_id")
                    .postulant_inner-row_value = @worker.user.try(:personal_information).try(:company_marital_status).try(:name) || t("no_entry")

                .postulant_table-col.__half
                  .postulant_inner-row
                    .postulant_inner-row_key = t("activerecord.attributes.people/personal_information.birth_date")
                    .postulant_inner-row_value = @worker.user.birth_date_html || t("no_entry")

                  .postulant_inner-row
                    .postulant_inner-row_key = t("activerecord.attributes.people/personal_information.sex")
                    .postulant_inner-row_value = get_gender(@worker.user)

                  .postulant_inner-row
                    .postulant_inner-row_key = t("activerecord.models.territory/country.one")
                    .postulant_inner-row_value = @worker.try(:user).try(:personal_information).try(:city).try(:territory_state).try(:territory_country).try(:name) || t("no_entry")

                  .postulant_inner-row
                    .postulant_inner-row_key = t("activerecord.models.territory/state.one")
                    .postulant_inner-row_value = @worker.try(:user).try(:personal_information).try(:city).try(:territory_state).try(:name) || t("no_entry")

                  .postulant_inner-row
                    .postulant_inner-row_key = t("activerecord.models.territory/city.one")
                    .postulant_inner-row_value = @worker.try(:user).try(:personal_information).try(:city).try(:name) || t("no_entry")

                  .postulant_inner-row
                    .postulant_inner-row_key = People::PersonalInformation.human_attribute_name(:address)
                    .postulant_inner-row_value = @worker.user.address_html || t("no_entry")

    .row
      .col-md-12.margin-top-20-px
        = render partial: 'security'

    - if @activities.present?
      section.course_card
      h3.course_card-title =t("activerecord.models.activity.other")
      .course_newsFeed-wrapper
        = render_activities(@activities, layout: 'activity')
        = paginate @activities
