= form_for @trabajando_city do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    - chile = Territory::Country.find_by_name('Chile')
    - cities = Territory::City.joins(territory_state: :territory_country).where(territory_states: {territory_country_id: chile.id})
    = f.label :hupe_city_id
    = f.select :hupe_city_id, cities.map{ |c| [c[:name], "#{c[:id]}"] }, {include_blank: '', selected: @trabajando_city.hupe_city_id}, class: "form-control js-select", "data-placeholder": "Comuna"

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"
