- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-7.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Trabajando::City.model_name.human(count: :other)

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'city' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Trabajando::City.human_attribute_name(:name)
                th.small style='vertical-align: middle' = Trabajando::City.human_attribute_name(:hupe_city_id)
                th.small

            tbody-body
              - @trabajando_cities.each do |trabajando_city|
                tr
                  td.small style='vertical-align: middle' width="25%"
                    = link_to trabajando_city.name, trabajando_city, class: "text-base"

                  td.small style='vertical-align: middle' width="70%"
                    - if trabajando_city.hupe_city_id?
                      ul
                        li = link_to trabajando_city.hupe_city.name, trabajando_city.hupe_city
                    - else
                      p Sin Comuna asociada

                  td style='vertical-align: middle' width="42px"
                    = link_to t("resources.generals.actions.edit"), edit_trabajando_city_path(trabajando_city), class: "btn btn-block btn-primary btn-sm"

          = paginate @trabajando_cities

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"

