-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-8.col-md-9
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.company.recruitment_sources.title")

        .col-xs-6.col-sm-4.col-md-3
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.actions.add_new") + ' ' + Company::RecruitmentSource.model_name.human(count: :other).downcase, new_company_recruitment_source_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'recruitment_sources', view_more: false, detail_info: 'recruitment_sources' }

          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Company::RecruitmentSource.human_attribute_name(:name)
                th.small
                th.small

            tbody
              - @company_recruitment_sources.each do |company_recruitment_source|
                tr
                  td.small style='vertical-align: middle' width="78%"
                    = link_to company_recruitment_source.name, company_recruitment_source, class: "text-base"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_company_recruitment_source_path(company_recruitment_source), class: "btn btn-block btn-primary btn-sm"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), company_recruitment_source, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + company_recruitment_source.name + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"

          = paginate @company_recruitment_sources
    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
