= form_for current_user, url: profiles_path, method: :put do |current_user_form|
  / Subheader
  .row.margin-top-10-px
    .col-xs-12
      .col-xs-12.__white-background.__with_shadow.padding-top-10-px.padding-bottom-10-px
        .col-xs-12
          .col-xs-12
            .row
              .col-xs-8
                h3.text-success
                  span.glyphicon.glyphicon-user style='font-size: 85%'
                  | &nbsp;&nbsp;Perfil
              .col-xs-4
                /- if current_user.can?(:edit, Applicant::Catched)
                .text-right.margin-top-10-px
                  = current_user_form.submit(t('profiles.update_user'),class: "btn btn-success")

  #floating_box.row.margin-top-15-px.margin-bottom-15-px
    = flash_box_printer
  .row.margin-top-20-px
    .col-xs-12
      - if !current_user.try(:applicant).try(:postulation_data_completed?)
        .alert.alert-warning.text-center role="alert"
          strong Debes completar la información personal requerida en tu perfil antes de postular
          br
      .alert.alert-danger.text-center role="alert" style='font-size:  45px'
        = link_to 'Postule aquí en nuestros avisos', root_path
      / .alert.alert-info.text-center role="alert"
      /   = link_to 'Te invitamos a responder unas preguntas breves', video_interview_answers_path

  .grid_body.__with_shadow
    .row
      = current_user_form.fields_for :personal_information  do |personal_information_form|
        = render 'people/personal_information/form', personal_information_form: personal_information_form, user_form: current_user_form
    .row
      = current_user_form.fields_for :professional_information  do |professional_information_form|
        - professional_information_attributes = params[:user].present? ? params.require(:user)[:professional_information_attributes] : nil
        = render 'people/professional_information/form', professional_information_form: professional_information_form, professional_information_attributes: professional_information_attributes

    .row.margin-top-20-px
      .col-xs-6.col-xs-offset-3
        button.btn.btn-block.btn-success.btn-lg.submit form="edit_user_#{current_user.id}" type="submit"
          = t('profiles.update_user')

/ DOCUMENTACION
- document_descriptors = Document::Descriptor.where(internal: [nil, false], only_onboarding: [nil, false])
- unless document_descriptors.empty?
  .row.margin-top-10-px
    .col-xs-12
      .col-xs-12.__white-background.__with_shadow
        header.personal_information-header
          h3.padding-bottom-10-px.__title
            = t('documents.title')
            .field_info.margin-top-5-px
              span.uxpin-bulb
              |
              = t('documents.details_documents_with_profile')
        - if support_react_document_uploader?
          ul#document-list.document-upload-list.accordion aria-multiselectable="true"
            - @descriptors = Document::Descriptor.where(internal: [false,nil] , only_onboarding: [false,nil])
            - if @descriptors.any?
              - @descriptors.each do |descriptor|
                - applicant = @applicant
                - @document_descriptor = descriptor
                - @document_records = @applicant.document_records.where(document_descriptor: descriptor).order('created_at ASC')
                = react_component 'DocumentWrapper', { \
                    applicant_id: applicant.id, \
                    auth_token: form_authenticity_token, \
                    document_descriptor: JSON.parse(render(template: 'document/descriptors/show.json.jbuilder')), \
                    document_records: JSON.parse(render(template: 'document/records/index.json.jbuilder')), \
                    upload_path: upload_documents_profiles_path(), \
                    show_origin: false, \
                    is_admin: current_user.can?(:admin), \
                    current_user_id: current_user.applicant.present? ? current_user.applicant.user.id : nil, \
                  }, { tag: 'li', class: 'document-item-wrapper clearfix' }
            - else
                tr
                  td
                    = t('documents.no_documents_uploaded')

        - else
          = form_for([current_user], url: upload_documents_profiles_path, method: 'POST', as: 'applicant_documents') do |f|
            .panel.panel-default.margin-top-10-px
              .panel-heading.clearfix
                .col-sm-11
                  h3.margin-top-10-px
                    = t('documents.title')
                .col-sm-1
                  = f.submit 'Subir archivos', class: "btn btn-success btn-block margin-top-10-px"

            .panel-body
              - @descriptors = Document::Descriptor.where(internal: [false,nil], only_onboarding: [false,nil])
                - if @descriptors.any?
                  - @descriptors.each do |desc|
                    ul
                      li
                        = f.label desc.details, desc.details, class: "create-course_label"
                        =  f.file_field desc.to_sym
                        = link_to 'Descargar', download_document_profiles_path(desc.name) if current_user.has_document(desc.name)
                - else
                tr
                  td
                    = t('documents.no_documents_uploaded')
