.container
  = render partial: 'form'
  .row.margin-top-20-px
    .col-xs-12
      .clearfix.__white-background.__with_shadow
        .col-xs-12
          header.personal_information-header
            h3.padding-bottom-10-px.__title
              = t("profiles.asociated_process")

        .col-xs-12
          table.table.table-striped.__asociated_processes-table
            thead
              - courses = @applicant.associated_courses
              - if courses.any?
                tr
                  th.__force-text-uppercase.__center-text
                    = Enrollment::Base.human_attribute_name(:course_id)
                  th.__force-text-uppercase.__center-text
                    = Enrollment::Base.human_attribute_name(:created_at)
                  th.__force-text-uppercase.__center-text
                    = Enrollment::Base.human_attribute_name(:stage_id)
                - courses.each_with_index do |course, index|
                    - row = index.even? ? 'odd' : 'even'
                    tr.postulant_table-row class="#{row}"
                      td.postulant_table-cell
                        = course.title
                      / Buscar postulación del candidato
                      - postulation = CoursePostulation.find_by(applicant: @applicant, course: course)
                      - data_source = course.enrollments.find_by(applicant_id: @applicant.id) || postulation
                      - if data_source.present? && data_source.class.parent == Enrollment && !data_source.is_hired?
                        td.postulant_table-cell = data_source.try(:created_at) ? l(data_source.created_at, format: :long) : ''
                        td.postulant_table-cell = data_source.discarding.present? ? "Proceso finalizado" : ( data_source.in_progress? ? "En progreso" : "Concluyó todas las etapas")
                      - elsif data_source.present? && data_source.class.parent == Enrollment && data_source.is_hired?
                        td.postulant_table-cell = data_source.try(:created_at) ? l(data_source.created_at, format: :long) : ''
                        td.postulant_table-cell = "Estás contratado"
                      - elsif data_source.present? && data_source.class == CoursePostulation && data_source.postulationable.is_accepted == false
                        td.postulant_table-cell = postulation.postulationable.try(:created_at) ? l(postulation.postulationable.created_at, format: :long) : ''
                        td.postulant_table-cell = "Proceso finalizado"
                      - else
                        td.postulant_table-cell = postulation.try(:created_at) ? l(postulation.created_at, format: :long) : ''
                        td.postulant_table-cell = "En revisión"
              - else
                h4
                  | Actualmente no participas en ningún proceso, si quieres ver las ofertas disponibles haz click
                  | &nbsp;
                  = link_to 'aquí', root_path
