/ Trabajando::PostulationMailer#send_get_postulations_notification

/ = @user

/ br/

/ = @trabajando_publication.course

table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")



              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | Estimado(a) #{@user.first_name} #{@user.last_name}

              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | Te informamos que las postulaciones de Trabajando para la publicación&nbsp;
                strong
                  = @trabajando_publication.title
                |  han sido actualizadas

              table style="width: 210px"
                tr
                  td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                    = link_to "Ver publicación", trabajando_publication_url(id: @trabajando_publication.course.id, publication_id: @trabajando_publication.id), target: "_blank", style: "color:#ffffff; text-decoration: none;"

          tr
            td height="25"
          tr

