= form_for @trabajando_career do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    = f.label :hupe_career
    = f.select :hupe_career_id, Education::Career.all.map{ |st| [st[:name], st[:id]] }, {include_blank: true, selected: @trabajando_career.hupe_career_id }, class: "form-control __multiple"

  .scaffold_actions = f.submit class: "scaffold_btn __green"