-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = Trabajando::Career.model_name.human(count: :other)

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col

      table.scaffold_table width="100%"
        thead.scaffold_table-header
          tr.scaffold_table-row
            th.scaffold_table-heading = Trabajando::Career.human_attribute_name(:name)
            th.scaffold_table-heading = Trabajando::Career.human_attribute_name(:hupe_career)
            th.scaffold_table-heading
            th.scaffold_table-heading.__no-borders

        tbody.scaffold_table-body
          - @trabajando_careers.each do |trabajando_career|
            tr.scaffold_table-row
              td.scaffold_table-data.__force_center-text width="42%"
                = link_to trabajando_career.name, trabajando_career, class: "scaffold_link"

              td.scaffold_table-data.__force_center-text width="42%"
                = link_to trabajando_career.hupe_career.name, trabajando_career.hupe_career if trabajando_career.hupe_career

              td.scaffold_table-data.__no-borders
                = link_to t("resources.generals.actions.edit"), edit_trabajando_career_path(trabajando_career), class: "scaffold_btn __green"

      = paginate @trabajando_careers

    .grid_content-col.__second-col

      =render partial: "scaffolds/scaffolds_list"