-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = @trabajando_career.name

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col
      label.scaffold_label.__strong = Trabajando::Career.human_attribute_name(:name)
      = @trabajando_career.name

      label.scaffold_label.__strong = Trabajando::Career.human_attribute_name(:hupe_career)
      = link_to @trabajando_career.hupe_career.name, @trabajando_career.hupe_career if @trabajando_career.hupe_career

      .scaffold_actions
        = link_to t("resources.generals.actions.edit"), edit_trabajando_career_path(@trabajando_career), class: "scaffold_btn __green"

        = link_to t("resources.generals.actions.back"), trabajando_careers_path, class: "scaffold_btn __blue"

    .grid_content-col.__second-col
      = render partial: 'scaffolds/scaffolds_list'
