- content_for :subheader do
  .row.margin-top-10-px
    .col-xs-12
      .col-xs-12.__white-background.__with_shadow.padding-bottom-10-px.padding-top-10-px
        .col-xs-12
          h3.text-success
            span.glyphicon.glyphicon-random style='font-size: 89%;'
            | &nbsp;&nbsp;
            = Course.model_name.human.pluralize;
            | &nbsp;/&nbsp;
            span Crear Nueva Publicación

.container
  .row
    .col-sm-8.col-sm-offset-2.__white-background.__with_shadow
      .col-xs-12
        = form_for @minisite_publication, html: {class: "col-sm-12"}, url: minisite_publication_path(id: @minisite_publication.course.id, publication_id: @minisite_publication.id || '') do |f|

          .row.margin-top-20-px
            .form-group
              = f.label :title
              = f.text_field :title, autofocus: true, class: "form-control"
              = field_errors_wrapper(@minisite_publication.errors[:title])

          .row
            .form-group
              = f.label :description
              = f.bootsy_area :description, class: "form-control", height: '500', value: f.object.description
              = field_errors_wrapper(@minisite_publication.errors[:description])
              - options_contract_types = options_for_select(Company::ContractType.all.collect {|p| [p.name, p.id] }, selected: @minisite_publication.company_contract_type_id)

          .form-group
            .row
              = f.label :desactivate_at
              .input-group
                .input-group-addon
                  span.glyphicon.glyphicon-calendar
                - desactivate_at = @minisite_publication.desactivate_at || (Date.today + 30.day).to_time
                = f.text_field :desactivate_at, value: l(desactivate_at, format: :select), class: 'form-control js-datepicker', required: field_required?(f, :desactivate_at), readonly: true
              = field_errors_wrapper(@minisite_publication.errors[:desactivate_at])

          .row
            .form-group
              = f.label :company_contract_type_id
              = f.select :company_contract_type_id, options_contract_types, { include_blank: true }, class: "form-control"
              = field_errors_wrapper(@minisite_publication.errors[:company_contract_type_id])

          / .row
          /   .form-group
          /     = f.label :minisite_category_ids
          /     = f.select :minisite_category_ids, Minisite::Category.all.map{ |category| [category[:name], category[:id]] }, {selected: @minisite_publication.minisite_category_ids }, multiple: true, class: "form-control; form-control chosen", "data-placeholder": "Categorias"

          .row
            .form-group
              - questions = @minisite_publication.questions
              - questions = @minisite_publication.persisted? ? questions.order(id: :asc) : questions
              h3 = Minisite::Publication.human_attribute_name(:questions)
              = react_component 'MultipleQuestionForm', { \
                name: f.object_name, \
                questions: questions \
              }


          .row
            .text-center
              = f.submit class: "btn btn-success margin-bottom-30-px"

= content_for :javascript do
  = javascript_include_tag('minisite_publication')
