- @minisite_publications.each do |publication|

  li.publication_list-item.clearfix
    article.publication_article
      header.publication_header.clearfix
        .clearfix
          = link_to publication.title, publication.seo_path, class: 'publication_link __title'
          - if publication.is_new == true
            span.publication_indicator.__is_new nuevo

        .clearfix
          .publication_header-subtitle
            = publication.course.territory_city.name
            |  -
            = publication.course.territory_city.territory_state.territory_country.name

      section.publication_content
        p.bootsy_processed.publication_text.__force-text_break-word
          = sanitize(publication.description.truncate_words(20))
      aside.publication_controls
        = link_to t('publications.view_offer'), publication.seo_path, class: 'publication_controls-button'

      footer.publication_footer
        .publication_footer-content
          label Fecha de publicación:&nbsp;
          span = publication.created_at.strftime("%d/%m/%Y")

= paginate @minisite_publications.page(params[:page])
