= render 'form'

/ = link_to 'Show', minisite_publication_path(id: @minisite_publication.course.id, publication_id: @minisite_publication.id)
/ '|
/ = link_to 'Back', minisite_publications_path(id: @minisite_publication.course.id)
