.container
  .row
    = render partial: "courses/subheader", locals: {publications: '__active'}

.container
  .row.margin-top-10-px
    .col-xs-12
      section.course_body
        section.course_card
          h3.course_card-title.__large
            = t('course.minisite_publications')
            .course_card-action-container
              = link_to t("publications.minisite.button.new"), new_minisite_publication_path(id: @course.id), class: "btn btn-success"

          - @minisite_publications.each do |minisite_publication|
            .row.clearfix.course_publication-container
              .col-md-2.__center
                = image_tag "logo_dark.png", class: "header_logo __publication"

              .col-md-8
                .row
                  h1.course_publication-title = minisite_publication.title

                .row.clearfix
                  .col-md-4
                    .course_publication-label = Minisite::Publication.human_attribute_name(:created_at) + ':'
                    .course_publication-copy = l(minisite_publication.created_at, format: '%d de %B de %Y')

                  - if minisite_publication.company_contract_type.present?
                    .col-md-4
                      .course_publication-label = t("activerecord.models.company/contract_type.one") + ':'
                      .course_publication-copy = minisite_publication.company_contract_type.name

                  .col-md-4
                    .course_publication-label = t("publications.postulant.other") + ':'
                    .course_publication-copy = minisite_publication.postulations.count

              .col-md-2
                = link_to t("publications.view_publication") , minisite_publication_path(id: minisite_publication.course.id, publication_id: minisite_publication.id), class: 'btn btn-success btn-inverted btn-block margin-top-30-px'


              / = link_to 'Editar', edit_minisite_publication_path(id: minisite_publication.course.id, publication_id: minisite_publication.id), class: 'minisite-publication_action-button'

              / = link_to 'Eliminar', minisite_publication_path(id: minisite_publication.course.id, publication_id: minisite_publication.id), data: {:confirm => '¿Estas seguro que deseas eliminar esa publicación?'}, :method => :delete, class: 'minisite-publication_action-button'

          = paginate @minisite_publications
