doctype html
html
  head
    meta[charset='utf-8']
    = wicked_pdf_stylesheet_link_tag 'job_pdf'
  body

	- all_applicants_enrolled = @minisite_publication.course.applicants + @minisite_publication.applicants

	article.clearfix
	  header.publication-inner_header.clearfix
	    h2.publication-inner_header-title
	      = @minisite_publication.title

	  section.publication-inner_content-wrapper
	    .publication-inner_content
	      .publication-inner_header-box
	        h3 = Minisite::Publication.human_attribute_name(:description)
	        .publication_share-box style='text-align: right;'
	          = wicked_pdf_image_tag('facebook.png', class: 'share s_facebook')
	          = wicked_pdf_image_tag('twitter.png', class: 'share s_twitter')
	          = wicked_pdf_image_tag('linkedin_blue.png', class: 'share s_linkedin')

	      .publication-inner_content-box
	        .bootsy_processed
	          = @minisite_publication.description.html_safe

	    .publication-inner_questions-wrapper
	      - if @minisite_publication.questions.any?
	        h3.publication-inner_questions-header = Minisite::Publication.human_attribute_name(:questions)
	      - else
	        h3.publication-inner_questions-header

	      .publication-inner_questions-content
	        - @minisite_publication.questions.each do |question|
	          p
	            label.publication-inner_questions-label
	              = question.description
