- all_applicants_enrolled = @minisite_publication.course.applicants + @minisite_publication.applicants
= content_for :social_media do

  meta property="og:url"           content="#{short_url(@minisite_publication.shortened_url)}"
  meta property="og:type"          content="website"
  meta property="og:title"         content="#{@minisite_publication.title}"
  meta property="og:description"   content="#{truncate(sanitize(@minisite_publication.description), length: 700)}"
  meta property="og:image"         content="#{image_url("logo_social.png")}"
  meta property="tw:description"   content="#{truncate(@minisite_publication.description, length: 60)}"

.container
  .row
    - all_applicants_enrolled = @minisite_publication.course.applicants + @minisite_publication.applicants
    = content_for :social_media do

      meta property="og:url"           content="#{short_url(@minisite_publication.shortened_url)}"
      meta property="og:type"          content="website"
      meta property="og:title"         content="#{@minisite_publication.title}"
      meta property="og:description"   content="#{@minisite_publication.description}"
      meta property="og:image"         content="#{image_url("logo_social.png")}"
      meta property="tw:description"   content="#{truncate(@minisite_publication.title, length: 30)}"

    article.clearfix
      header.publication-inner_header.clearfix
        h2.text-primary
          = @minisite_publication.title
          p
          - if @minisite_publication.closed?
            span.label.label-as-badge.label-danger style='font-size: 40%; margin-left: 5px'
              = t("minisite/publication.state.#{@minisite_publication.aasm_state}.complete")
          - elsif @minisite_publication.is_new == true
            span.publication-inner_indicator.__is_new nuevo

      = flash_box_printer
      section.publication-inner_content-wrapper
        .publication-inner_content

          - if @minisite_postulation.errors[:applicant].any?
            .alert.alert-danger.text-center
              = @minisite_postulation.errors[:applicant].try(:first)
            .alert.alert-warning.text-center
              p
                | Recuerda mantener actualizado tus datos y verificar que tu RUT sea el correcto
              strong
                = link_to('Actualizar mis datos', edit_profiles_path)
          - elsif @minisite_postulation.minisite_publication.course.type_enrollment.constantize == Enrollment::Internal
            .alert.alert-warning.text-center
              | Para postular a este aviso debes pertenecer a la Fundación.&nbsp;
              br/
              | Esta postulación es una etapa preliminar que se activará al momento que se generen&nbsp;
              br/
              | vacantes en el cargo y/o comunas de tu interés.

          .publication-inner_header-box
            h3 = Minisite::Publication.human_attribute_name(:description)
            .publication_share-box style='text-align: right;'
              = image_tag('facebook.png', class: 'share s_facebook')
              = image_tag('twitter.png', class: 'share s_twitter')
              = image_tag('linkedin_blue.png', class: 'share s_linkedin')

          .publication-inner_content-box
            .bootsy_processed.__force-text_break-word
              = @minisite_publication.description.html_safe
          br

          .publication-inner_header-box
            = Minisite::Publication.human_attribute_name(:offer_detail)

          .publication-inner_content-box
            .bootsy_processed.__force-text_break-word
              .row
                .col-xs-12
                  .course_publication-label = Course.human_attribute_name(:area_id) + ':'
                  .course_publication-copy = @minisite_publication.course.area.name

              .row
                .col-xs-12
                  .course_publication-label = Minisite::Publication.human_attribute_name(:territory_city) + ':'
                  .course_publication-copy = @minisite_publication.course.territory_city.name

              - if @minisite_publication.company_contract_type.presence
                .row
                  .col-xs-12
                    .course_publication-label = Course.human_attribute_name(:contract_type) + ':'
                    .course_publication-copy = @minisite_publication.company_contract_type.name

              .row
                .col-xs-12
                  .course_publication-label = Course.human_attribute_name(:timetable_id) + ':'
                  .course_publication-copy = @minisite_publication.course.timetable.name

          br
          .publication-inner_header-box
            = Minisite::Publication.human_attribute_name(:requirements)

          .publication-inner_content-box
            .bootsy_processed.__force-text_break-word
              .row
                .col-xs-12
                  .course_publication-label = Course.human_attribute_name(:minimun_requirements) + ':'
                  .course_publication-copy = @minisite_publication.course.minimun_requirements

              .row
                .col-xs-12
                  .course_publication-label = Course.human_attribute_name(:experience_years) + ':'
                  - experience_years = @minisite_publication.course.experience_years.present? ? @minisite_publication.course.experience_years : "No solicitado"
                  .course_publication-copy = experience_years

              .row

                .col-xs-12
                  .course_publication-label = Course.human_attribute_name(:study_type) + ':'
                  - study_type = People::Degree::TYPES.select{|type| type.first == @minisite_publication.course.study_type}.first[1]
                  .course_publication-copy = study_type

              .row
                .col-xs-12
                  .course_publication-label = Course.human_attribute_name(:study_level_id) + ':'
                  .course_publication-copy = @minisite_publication.course.study_level.name

              .row
                .col-xs-12
                  .course_publication-label = Course.human_attribute_name(:applicant_software_level_id) + ':'
                  .course_publication-copy = @minisite_publication.course.applicant_software_level.name

        .publication-inner_questions-wrapper
          - if @minisite_publication.questions.any?
            h3.publication-inner_questions-header = Minisite::Publication.human_attribute_name(:questions)
          - else
            h3.publication-inner_questions-header

          .publication-inner_questions-content
            - if user_signed_in?
              - if !all_applicants_enrolled.include?(Applicant::Base.find_by(user_id: current_user.id ))
                = form_for @minisite_postulation, url: postulate_job_path(@minisite_postulation.minisite_publication), method: :post do |f|
                  = f.fields_for :answers, include_id: false do |answer_form|
                    .form-group
                      = answer_form.label :description, answer_form.object.minisite_question.description
                      br
                      = hidden_field_tag "#{answer_form.object_name}[minisite_question_id]", answer_form.object.minisite_question_id

                      span.field_info
                        = t('publications.job.max_length')
                      = answer_form.text_area :description, class: 'form-control', required: true, maxlength: '400', disabled: @minisite_publication.closed?
                      = field_errors_wrapper(answer_form.object.errors[:description])
                      br/
                      br/
                  .row
                    .col-md-4.col-md-offset-4
                      .form-group.text-center.margin-top-10-px
                        = f.submit t('publications.postulate'), class: 'btn btn-primary btn-block btn-lg', disabled: @minisite_publication.closed?

              /Si el user ya postuló...
              - else
                strong = "Ya te encuentras postulando a esta oferta"
                ul
                - @minisite_publication.questions.each do |question|
                  li
                    strong = question.description
                    - current_user.applicant
                    p = question.answers.joins(:minisite_postulation).find_by(minisite_postulations: {applicant_id: current_user.applicant.id}).try(:description)

            /Si es un visitante...
            - else
              - @minisite_publication.questions.each do |question|
                p
                  label.publication-inner_questions-label
                    = question.description
              p.publication-inner_link.__register
                | Para postular, primero debes&nbsp;
                = link_to t('publications.register'),'users/sign_up'
                - if @minisite_publication.course.type_enrollment == 'Enrollment::Internal'
                  br/
                  | Para concretar tu postulación es necesario que subas tu ficha de postulación digitalizada. (escáner, formato en Word o fotografía).
                  br/
                  | Puedes aclarar dudas o hacer tus consultas directamente al correo: promocionesytraslados@integra.cl
      aside.publication-inner_sidebar-wrapper
        .publication-inner_sidebar-content
          h3.publication-inner_sidebar-title = t('publications.offer_details')

          .publication-inner_sidebar-fields
            .publication-inner_sidebar-field
              label.publication-inner_sidebar-label
                = t('publications.published')
              span.publication-inner_sidebar-p
                | &nbsp;
                = time_ago_in_words(@minisite_publication.created_at)

          - if user_signed_in? and current_user.can? :admin_publications, @minisite_publication.course
            .row.margin-top-20-px
              .col-xs-12
                h3.publication-inner_sidebar-title
                  | Herramientas
                .col-xs-12.padding-top-20-px.padding-bottom-20-px.__white-background
                  .col-sm-6
                    br/
                    = link_to 'Ver publicación', minisite_publication_path(id: @minisite_publication.course.id, publication_id: @minisite_publication.id), class: 'btn btn-primary btn-block'
                    br/

                  .col-sm-6
                    br/
                    = link_to 'Editar publicación', edit_minisite_publication_path(id: @minisite_publication.course.id, publication_id: @minisite_publication.id), class: 'btn btn-primary btn-block'
                    br/

    / - unless @minisite_publications.empty?
    /   section.process_body
    /     .publications_list-wrapper
    /       .publications_list-header
    /         h4 = t('publications.title')

    /       ul.publication_ul
    /         = render partial: 'minisite/publications/list'

= content_for :javascript do
  = javascript_include_tag('SocialShare/main')
