
= content_for :social_media do

  meta property="og:url"           content="#{short_url(@minisite_publication.shortened_url)}"
  meta property="og:type"          content="website"
  meta property="og:title"         content="#{@minisite_publication.title}"
  meta property="og:description"   content="#{truncate(sanitize(@minisite_publication.description), length: 700)}"
  meta property="og:image"         content="#{image_url("logo_social.png")}"
  meta property="tw:description"   content="#{truncate(@minisite_publication.description, length: 60)}"

- content_for :subheader
  .row
    = render partial: 'courses/subheader', locals: {publications: '__active'}

.container.margin-top-20-px
  .row
    // Left Section
    .col-md-3
      .col-xs-12.__white-background.padding-bottom-15-px.padding-top-10-px.__with_shadow.margin-bottom-10-px
        .col-xs-12
          .row
            .col-xs-12
              h2
                = t("publications.resume")
              hr

          .row.margin-top-10-px
            .col-xs-12
              .col-xs-6.col-xs-offset-3
                = image_tag "logo_dark.png", class: 'img-responsive'

          .row.margin-top-10-px
            .col-xs-12
              .course_publication-label = Minisite::Publication.human_attribute_name(:title) + ':'
              .course_publication-copy = @minisite_publication.title

          .row
            .col-xs-12
              .course_publication-label = Minisite::Publication.human_attribute_name(:created_at) + ':'
              .course_publication-copy = l(@minisite_publication.created_at, format: '%d de %B de %Y')
          .row
            .col-xs-12
              .course_publication-label = Minisite::Publication.human_attribute_name(:desactivate_at) + ':'

              - desactivate_at = @minisite_publication.desactivate_at.present? ? l(@minisite_publication.desactivate_at, format: '%d de %B de %Y') : t('no_entry')
              .course_publication-copy = desactivate_at

          - if @minisite_publication.company_contract_type.present?
            .row
              .col-xs-12
                .course_publication-label = Minisite::Publication.human_attribute_name(:company_contract_type_id) + ':'
                .course_publication-copy = @minisite_publication.company_contract_type.name

          .row
            .col-xs-12
              .course_publication-label Enlace público
              .course_publication-copy = link_to @minisite_publication.title, "/#{@minisite_publication.seo_path}", target: '_blank'

          .row.margin-top-20-px
            .col-md-12
              .btn-group.btn-group-justified
                = link_to t("actions.edit"), edit_minisite_publication_path(id: @minisite_publication.course.id, publication_id: @minisite_publication.id), class: "btn btn-primary"
                - if @minisite_publication.opened?
                  = link_to t("minisite/publication.actions.close.text"), update_state_minisite_publication_path(id: @minisite_publication.course.id, publication_id: @minisite_publication.id, switch: :close), method: :put, class: "btn btn-danger"
                - elsif @minisite_publication.course.opened?
                  = link_to t("minisite/publication.actions.open.text"), update_state_minisite_publication_path(id: @minisite_publication.course.id, publication_id: @minisite_publication.id, switch: :open), method: :put, class: "btn btn-success"

    // Main Section
    .col-md-9
      .col-xs-12
        .row
          .col-xs-12
            // Description
            .row.margin-bottom-10-px
              .col-xs-12.__white-background.padding-top-10-px.padding-bottom-10-px.__with_shadow
                .col-xs-12
                  .text-right.margin-top-10-px.pull-right.col-xs-6.col-sm-3
                    .col-xs-4
                      = image_tag('facebook.png', class: 'share s_facebook')
                    .col-xs-4
                      = image_tag('twitter.png', class: 'share s_twitter')
                    .col-xs-4
                      = image_tag('linkedin_blue.png', class: 'share s_linkedin')
                  h2 = Minisite::Publication.human_attribute_name(:description)
                  hr

                .col-xs-12
                  .course_publication-copy.bootsy_processed.__force-text_break-word
                    = @minisite_publication.description.html_safe


            // Questions
            - if @minisite_publication.questions.any?
            .row.margin-bottom-10-px
              .col-xs-12.__white-background.padding-top-10-px.padding-bottom-10-px.__with_shadow
                .col-xs-12
                  h2 = Minisite::Publication.human_attribute_name(:questions)
                  hr

                  - @minisite_publication.questions.each_with_index do |question, index|
                    .row.margin-bottom-10-px
                      .col-xs-12
                        .col-xs-12
                          .course_publication-label
                            = Minisite::Question.model_name.human + ' '
                            = index + 1
                          p.course_publication.copy.margin-top-10-px = question.description


              / //Categories
              / - if @minisite_publication.minisite_categories.any?
              /   .row.margin-bottom-10-px
              /     .col-xs-12
              /       .col-xs-12
              /         h2.course_card-title.__large
              /           = Minisite::Publication.human_attribute_name(:minisite_category_ids)

              /       - @minisite_publication.minisite_categories.each_with_index do |category, index|
              /         .row.margin-bottom-10-px
              /           .col-xs-12
              /               .col-xs-12
              /                 .course_publication-label
              /                   = Minisite::Category.model_name.human + ' '
              /                   = index + 1
              /                 p.course_publication.copy.margin-top-10-px = category.name


= content_for :javascript do
  = javascript_include_tag('answers')

