.container-fluid

  .row.margin-bottom-20-px
    .col-md-4
      label
        = PsycholaboralEvaluation::Report.human_attribute_name(:notified_to)
        | :
      p
        - if psycholaboral_evaluation_report.notified_to.present?
          = psycholaboral_evaluation_report.notified_to
        - else
          = t('no_entry')
    .col-md-8
      label
        = PsycholaboralEvaluation::Report.human_attribute_name(:documents)
        | :
        br/
        br/
        - psycholaboral_evaluation_report.documents.each do |stage_document|
          p.stage-detail_agreement-text = link_to(stage_document.document.file.filename, download_course_psycholaboral_evaluation_report_path(id: @course, stage_id: @stage.id, report_id: psycholaboral_evaluation_report.id, stage_document_id: stage_document.id))

  .row.margin-bottom-20-px
    .col-md-12
      label
        = PsycholaboralEvaluation::Report.human_attribute_name(:observations)
        | :
      p.margin-top-10-px
        = psycholaboral_evaluation_report.observations.html_safe
