.course_newsFeed-copy
  p
    span.course_newsFeed-link
      - if a.owner.worker.present?
        = link_to a.owner.name_or_email, worker_basis_path(a.owner.worker)
      - else
        = a.owner.name_or_email

    span &nbsp;ha cerrado el proceso&nbsp;

    span.course_newsFeed-link
      = link_to_trackable a.trackable, a.trackable
