.course_newsFeed-copy
  p
    span.course_newsFeed-link
      - if a.owner.worker.present?
        = link_to a.owner.name_or_email, worker_basis_path(a.owner.worker)
      - else
        = a.owner.name_or_email
    |&nbsp;
    = a.text
    |&nbsp;

    span.course_newsFeed-link
     -if a.recipient.present?
       = link_to a.recipient.user.name_or_email, applicant_basis_path(a.recipient)
     -else
      | Sin Enrollments

    |&nbsp;al proceso&nbsp;

    span.course_newsFeed-link
      = link_to_trackable a.trackable, a.trackable

