= form_for @engagement_agreement, url: course_engagement_agreements_path(@engagement_agreement.engagement_stage.enrollment.course.id, @engagement_agreement.engagement_stage) do |engagement_agreement_form|

  - options_vancacies = options_for_select(@engagement_agreement.engagement_stage.enrollment.course.vacancies.where(closed_at: nil).collect {|p| [p, p.id] }, selected: @engagement_agreement.vacancy.try(:id) )


  - if options_vancacies.present?
    .form-group
      = engagement_agreement_form.label :vacancy
      = engagement_agreement_form.select :vacancy_id, options_vancacies, { include_blank: true }, class: "form-control"

    - options_contract_types = options_for_select(@company_contract_types.collect {|p| [p.name, p.id] }, selected: @engagement_agreement.company_contract_type_id)
    .form-group
      = engagement_agreement_form.label :company_contract_type
      = engagement_agreement_form.select :company_contract_type_id, options_contract_types, { include_blank: true }, class: "form-control"

    .form-group
      = engagement_agreement_form.label :observations
      = engagement_agreement_form.text_area :observations, class: "form-control"

    .form-group
      = engagement_agreement_form.label :revenue
      = engagement_agreement_form.text_field :revenue, class: "form-control money-mask", maxlength: '10'

    .form-group
      = engagement_agreement_form.label :documents
      .field_info
        = I18n.t("documents.select_multiple_files")
      = engagement_agreement_form.file_field :documents, multiple: true, class: 'form-control', required: true
      = field_errors_wrapper(@engagement_agreement.errors[:documents])
      .help-block
        = I18n.t("documents.select_multiple_files")

    .form-group.text-center
      .row
        = engagement_agreement_form.submit class: "btn btn-success", value: "Confirmación de Ingreso", onclick: "this.form.action='#{course_engagement_agreements_path(@engagement_agreement.engagement_stage.enrollment.course.id, @engagement_agreement.engagement_stage)}'"
        / |&nbsp;
        / = engagement_agreement_form.submit t('engagement.preview'), class: 'btn btn-primary', onclick: "this.form.action='#{preview_agreement_course_engagement_agreements_path(id: @course.id, stage_id: @stage.id)}.jasperpdf'", formtarget: "_blank"

  - else
    .create-course_row
      label No tienes vacantes disponibles.

= content_for :javascript do
  = javascript_include_tag('agreement')
