.row
  .col-sm-12
    .row
      .col-sm-12
        .col-sm-12
          p
            strong
              = User.human_attribute_name(:email)
            | :&nbsp;
            span
              = agreement.engagement_stage.enrollment.applicant.user.email
    .row
      .col-sm-12
        .col-sm-12
          p
            strong
              = Engagement::Agreement.human_attribute_name(:revenue)
            | :&nbsp;
            span
              = number_to_currency(agreement.revenue)

    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading
            | Obsevaciones de ingreso:
          .panel-body
            p
              = agreement.observations

    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading
            = Engagement::Agreement.human_attribute_name(:documents)
          .panel-body
            - agreement.documents.each do |stage_document|
              p.stage-detail_agreement-text = link_to(stage_document.document.file.filename, download_course_engagement_agreement_path(id: @course, stage_id: @stage.id, agreement_id: agreement.id, stage_document_id: stage_document.id))
