= form_for @faq do |f|

  .form-group
    = f.label :question
    = f.text_field :question, class: "form-control", autofocus: true, required: field_required?(f, :question)

  .form-group
    = f.label :answer
    = f.bootsy_area :answer, class: "form-control", editor_options: { image: true }, required: field_required?(f, :answer)

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"
