-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Faq.model_name.human(count: :other)
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.f") + ' ' + t("resources.faqs.singular"), new_faq_path, class: "btn btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'faq' }

          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Faq.human_attribute_name(:question)
                th.small style='vertical-align: middle' = Faq.human_attribute_name(:answer)
                th
                th

            tbody
              - @faqs.each do |faq|
                tr
                  td.small style='vertical-align: middle' width="25%"
                    = link_to faq.question, faq_path(faq)

                  td.small style='vertical-align: middle' width="48%"
                    = faq.answer.html_safe

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_faq_path(faq), class: "btn btn-block btn-primary btn-sm"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), faq, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + faq.question + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
