-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @faq.question.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label = t("resources.faqs.question")
          p = @faq.question

          label = t("resources.faqs.answer")
          
          p.clearfix
            = @faq.answer.html_safe

          .row.padding-top-10-px
            .col-xs-12.col-md-2.padding-bottom-10-px
              = link_to t("resources.generals.actions.edit"), edit_faq_path(@faq), class: "btn btn-primary btn-block"
            .col-xs-12.col-md-2
              = link_to t("resources.generals.actions.back"), faqs_path, class: "btn btn-primary btn-block btn-inverted"
    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
