-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.territory.countries.title")
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.m") + ' ' + t("resources.territory.countries.singular"), new_territory_country_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'territory' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = t("resources.generals.labels.name")
                th.small style='vertical-align: middle' colspan='3'

            tbody
              - @territory_countries.each do |territory_country|
                tr
                  td.small style='vertical-align: middle' width="84%"
                    = link_to territory_country.name, territory_country , class: "text-base"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_territory_country_path(territory_country), class: "btn btn-block btn-primary btn-sm"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), territory_country, method: :delete, data: { confirm: (t("resources.generals.actions.destroy_confirm") + ' ' + territory_country.name + ' ?') }, class: "btn btn-block btn-danger btn-sm"

          = paginate @territory_countries

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
