header.page-header[role="banner"]
  h1.text-center
    = t('.title')
main[role="main"]
  .row.text-center
    .col-xs-12
      = image_tag(current_user.avatar, width: '25%')
    .col-xs-12
      p style='margin: 20px 0px'
        = current_user.full_name

  p.h4.text-center
    = raw t('.prompt', client_name: "<strong class=\"text-info\">#{ @pre_auth.client.name }</strong>")
  - if @pre_auth.scopes.count > 0
    #oauth-permissions
      p
        = t('.able_to')
        | :
      ul.text-info
        - @pre_auth.scopes.each do |scope|
          li
            = t scope, scope: [:doorkeeper, :scopes]
  .actions
    .row style='margin-top: 1em'
      .col-xs-6.col-xs-offset-3 style='margin-bottom: 1em'
        = form_tag oauth_authorization_path, method: :post do
          = hidden_field_tag :client_id, @pre_auth.client.uid
          = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
          = hidden_field_tag :state, @pre_auth.state
          = hidden_field_tag :response_type, @pre_auth.response_type
          = hidden_field_tag :scope, @pre_auth.scope
          = submit_tag t('doorkeeper.authorizations.buttons.authorize'), class: "btn btn-success btn-block"
      .col-xs-6.col-xs-offset-3
        = form_tag oauth_authorization_path, method: :delete do
          = hidden_field_tag :client_id, @pre_auth.client.uid
          = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
          = hidden_field_tag :state, @pre_auth.state
          = hidden_field_tag :response_type, @pre_auth.response_type
          = hidden_field_tag :scope, @pre_auth.scope
          = submit_tag t('doorkeeper.authorizations.buttons.deny'), class: "btn btn-danger btn-block"
