= form_tag(url, method: :get)
  / .row
  /   .col-md-6
  .form-group
    = label_tag t('reports.filters.starts_at')
    .input-group
      .input-group-addon
        span.glyphicon.glyphicon-calendar
      = text_field_tag 'starts_at', params[:starts_at] || l(Date.today.at_beginning_of_month), class: 'form-control js-datepicker', readonly: 'true'
    / .col-md-6
  .form-group
    = label_tag t('reports.filters.ends_at')
    .input-group
      .input-group-addon
        span.glyphicon.glyphicon-calendar
      = text_field_tag 'ends_at', params[:ends_at] || l(Date.today), class: 'form-control js-datepicker', readonly: 'true'

  .form-group
    = label_tag t('reports.filters.company_ids')
    .input-group
      .input-group-addon
        span.glyphicon.glyphicon-list-alt
      - selected = (action_name == 'new') ? Company::Record.ids :  params[:company_ids] || []
      - options = options_for_select(Company::Record.all.map{ |c| [c[:name], c[:id]] }, selected: selected)
      = select_tag :company_ids, options, multiple: true, 'data-placeholder': Company::Record.model_name.human.pluralize , class: "form-control js-select"

  .form-group
    = label_tag t('reports.filters.company_business_unit_ids')
    .checkbox
      label
        = check_box_tag :all_company_business_unit_ids, true, :checked => 'checked'
        | Seleccionar Todas
    .input-group.bussiness_unit_select.hidden
      .input-group-addon
        span.glyphicon.glyphicon-list-alt
      - selected = (action_name == 'new') ? Company::BusinessUnit.ids :  params[:company_business_unit_ids] || []
      - options = options_for_select(Company::BusinessUnit.all.pluck(:name,:id), selected: selected)
      = select_tag :company_business_unit_ids, options, multiple: true, 'data-placeholder': Company::Management.model_name.human.pluralize , class: "form-control"

  .form-group.text-center
    = submit_tag t('reports.buttons.generate'), class: 'btn btn-success'



= content_for :javascript do
  = javascript_include_tag('report/courses_report')