table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td 
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              | El candidato&nbsp;
              = @enrollment.applicant.name_or_email
              | !
            p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
              | Ha cargado su planilla de postulación interna,&nbsp;
              | acceda al&nbsp;
              = link_to('perfíl del candidato', applicant_basis_url(@applicant), style: "color: #239dee; text-decoration: none;") 
              | &nbsp;para descargar la ficha
          tr
            td height="25"
          tr
