table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: center;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              | Estimado (a)&nbsp;
              = @applicant.name_or_email
              | &#58;
            p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
              | Tenemos el agrado de confirmarte que tus datos se encuentran ingresados en la plataforma para procesos de promoción y traslados, siendo este el paso inicial de tu postulación, el cual se activará una vez generada una vacante de acuerdo a tus preferencias.
              br/
              br/
              | Revisaremos tus documentos y nos comunicaremos contigo por este mismo medio, para informarte si cumples con los requisitos para continuar con las siguientes etapas.
              br/
              br/
              | Te solicitamos, en caso de que aún no lo hayas hecho, completar la ficha de postulación adjunta (Anexo 1) y la subas a tu&nbsp;
              = link_to('perfíl', edit_profiles_url, style: "color: #239dee; text-decoration: none;")
              |  a la mayor brevedad, junto con los restantes documentos de respaldo que se encuentren pendientes, ya que dicha documentación&nbsp;
              | es fundamental para que tu solicitud sea considerada.
              br/
              br/
              | Desde ya te deseamos éxito en tu postulación, la cual es una de las opciones de desarrollo de carrera dentro de nuestra institución.
              br/
              br/
              strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 500;"
                | Atte. Fundación Integra
          tr
            td height="25"
          tr
