strong
  = @title
  | &nbsp;
  = @object.try(:class)
  | - &nbsp; ID: &nbsp;
  = @object.try(:id)

br/
br/
strong
  | EXCEPTION MESSAGE
br/
br/
= @exception.message

br/
br/
strong
  | BACKTRACE
br/
= @exception.backtrace.join("\n\t").sub("\n\t", ": #{@exception}#{@exception.class ? " (#{@exception.class})" : ''}\n\t")
