table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td 
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              | Estimado (a)&nbsp;
            p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
              | Se lograron registraron&nbsp;
              strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 600;"
                = "#{@success.count} de #{@success.count + @errors.count}"
              | &nbsp;RUTs de colaboradores de la fundación.
            - if @errors.any?
              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | Adicionalmente se adjunta reporte con todos los RUTs que no pudieron ser registrados.
          tr
            td height="25"
          tr
