table style="border: 1px solid #ccc; border-spacing: 0; margin: 20px auto; width: 500px;"
  tr
    th style="border: 1px solid #ccc; color: #697177" Nombre
    th style="border: 1px solid #ccc; color: #697177" Correo electrónico

  - applicants.each do |applicant|
    tr
      td style="border: 1px solid #ccc; color: #7e8890"
        = link_to("#{applicant.first_name} #{applicant.last_name}", applicant_basis_url(applicant.id), target: '_blank', style: "font-size: 15px; font-family: 'Open Sans', Arial, sans-serif; color:#22A7F0; text-decoration:none;")
      td style="border: 1px solid #ccc; color: #7e8890; font-size: 15px; font-family: 'Open Sans', Arial, sans-serif;"
        = applicant.email
