table style="width: 210px"
  tr
    td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
      = link_to "Confirmar asistencia", confirm_will_attend_calendar_event_url(id: event.to_param, resourceable_id: resource.id, resourceable_type: resource.class.to_s, token: token, will_attend: true), target: "_blank", style: "color:#ffffff; text-decoration: none;"
  tr
    td style="text-align: center; background-color: #ef4836; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
      = link_to "No podré asistir", confirm_will_attend_calendar_event_url(id: event.to_param, resourceable_id: resource.id, resourceable_type: resource.class.to_s, token: token, will_attend: false), target: "_blank", style: "color:#ffffff; text-decoration: none;"
