table style="border: 1px solid #ccc; border-spacing: 0; margin: 20px auto; width: 500px;"
  tr
    th style="border: 1px solid #ccc; color: #697177" Nombre
    th style="border: 1px solid #ccc; color: #697177" Correo electrónico

    tr
      td style="border: 1px solid #ccc; color: #7e8890"
        | #{manager.name}
      td style="border: 1px solid #ccc; color: #7e8890; font-size: 15px; font-family: 'Open Sans', Arial, sans-serif;"
        | #{manager.email}
