table style="border: 1px solid #ccc; border-spacing: 0; margin: 20px auto; width: 500px;"
  tr
    th style="border: 1px solid #ccc; color: #697177" Nombre
    th style="border: 1px solid #ccc; color: #697177" Correo electrónico

  - stages.each do |stage|
    tr
      td style="border: 1px solid #ccc; color: #7e8890"
        = link_to("#{stage.enrollment.applicant.first_name} #{stage.enrollment.applicant.last_name}", applicant_basis_url(stage.enrollment.applicant.id), target: '_blank', style: "font-size: 15px; font-family: 'Open Sans', Arial, sans-serif; color:#22A7F0; text-decoration:none;")
      td style="border: 1px solid #ccc; color: #7e8890; font-size: 15px; font-family: 'Open Sans', Arial, sans-serif;"
        = stage.enrollment.applicant.email
