.movableContent
  table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
    tr
      td
        table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
          tr
            td
              .contentEditableContainer.contentTextEditable
                .contentEditable style=("text-align: center;")
                    h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
                      | Hola #{@stage.enrollment.applicant.first_name} #{@stage.enrollment.applicant.last_name}
                    p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                      | Tienes una nueva entrevista agendada para el proceso&nbsp;
                      span style=("color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 15px;")
                        | #{@stage.enrollment.course.title}
                    p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                      | Los datos de la cita son:
                      ul
                        li style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                          | Inicio: #{l(@event.starts_at, format: :long)} (#{@event.starts_at.zone}).
                          - if @event.ends_at.present?
                            | &nbsp;
                            li style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                              | Fin:
                              = "#{l(@event.ends_at, format: :long)} (#{@event.ends_at.zone})."
                        li style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                          | Lugar: #{@event.address}.
                        li style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                          | Etapa: #{@stage.name}

                    - if @event.observations.present?
                      p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                        | Observaciones:
                        p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                          = "#{@event.observations}"

                    p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                      | El encargado de la entrevista es:
                      = render partial: "manager_table", locals: { manager: @event.manager }

                    p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                      = render partial: "confirm_will_attend", locals: { resource: @stage, event: @event, token: @token }

          tr
            td height="25"
          tr
