.movableContent
  table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
    tr
      td
        table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
          tr
            td
              .contentEditableContainer.contentTextEditable
                .contentEditable style=("text-align: center;")
                    h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
                      | Hola #{@event.manager.name}
                    - if @event.stages.any?
                      p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                        | Estás a cargo de las entrevistas en el proceso&nbsp;
                        span style=("color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 15px;")
                          | #{@event.stages.first.enrollment.course.title}
                        |  para los siguientes candidatos:
                      = render partial: "stages_list_table", locals: { stages: @event.stages }
                    - elsif @event.applicants.any?
                      p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                        | Estás a cargo de las entrevistas para los siguientes candidatos:
                      = render partial: "applicants_list_table", locals: { applicants: @event.applicants }

                    p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                      | Los datos de la cita son:
                      ul
                        li style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                          | Inicio: #{l(@event.starts_at, format: :long)} (#{@event.starts_at.zone}).
                          - if @event.ends_at.present?
                            | &nbsp;
                            li style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                              | Fin:
                              = "#{l(@event.ends_at, format: :long)} (#{@event.ends_at.zone})."
                        li style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                          | Lugar: #{@event.address}.

                    - if @event.observations.present?
                      p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                        | Observaciones:
                        p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                          = "#{@event.observations}"

                    - if @event.guests.any?
                      br/
                      p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                        | Las personas invitadas a la cita son:
                      = render partial: "guests_list_table", locals: { guests: @event.guests }

          tr
            td height="25"
          tr
