- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Company::MaritalStatus.model_name.human

        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.actions.add_new") + ' ' + Company::MaritalStatus.model_name.human, new_company_marital_status_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'marital_status' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Company::MaritalStatus.human_attribute_name(:name)

                th.small style='vertical-align: middle'

                th.small style='vertical-align: middle'

            tbody
              - @company_marital_statuses.each do |company_marital_status|
                tr
                  td.small style='vertical-align: middle' width="80%"
                    = link_to company_marital_status.name, company_marital_status, class: 'text-base'
                  td.small style='vertical-align: middle' width="10%"
                    = link_to t("resources.generals.actions.edit"), edit_company_marital_status_path(company_marital_status), class: "btn btn-block btn-primary btn-sm"
                  td.small style='vertical-align: middle' width="10%"
                    = link_to t("resources.generals.actions.destroy"), company_marital_status, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + company_marital_status.name + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"

          = paginate @company_marital_statuses

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          =render partial: "scaffolds/scaffolds_list"
