.text-center
  - if controller_name != 'sessions'
    = link_to t("devise.sessions.sign_in"), new_session_path(resource_name), class: 'btn-link'
    br/

  - if devise_mapping.omniauthable? && controller_name != 'externals'
    - resource_class.omniauth_providers.each do |provider|
      = link_to(content_tag(:span," ", :class => 'fa fa-linkedin') +t("devise.sessions.log_in_with") +" "+ "#{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => 'btn btn-block btn-social btn-linkedin')
  - if devise_mapping.registerable? && controller_name != 'externals'
    = link_to t("devise.registrations.sign_up"), new_registration_path(resource_name), class: 'btn-link'
    br/

  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to t("devise.sessions.forgot"), new_password_path(resource_name), class: 'btn-link'
    br/

  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = link_to t("devise.sessions.receive_confirm"), new_confirmation_path(resource_name), class: 'btn-link'
    br/

  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = link_to t("devise.sessions.unlock_confirm"), new_unlock_path(resource_name), class: 'btn-link'
    br/
