.movableContent
  table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
    td
      table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
        td
          .contentEditableContainer.contentTextEditable
            .contentEditable style=("text-align: center;")
              h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px;"
                |Hola&nbsp;
                = @enrollment.applicant.first_name
                | !

              p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;")
                | Tenemos el agrado de invitarte a participar en el proceso <strong>#{@enrollment.course.title}</strong>.&nbsp;
                | Prontamente nos comunicaremos contigo para continuar con las siguientes etapas del proceso.&nbsp;


              p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;")
                | Para aceptar la invitación haz clic en el siguiente link:
                table style="width: 210px"
                  tr
                    td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                      = link_to "Aceptar invitación", mark_invitation_accepted_enrollment_basis_url(id: @enrollment.id), target: "_blank", style: "color:#ffffff; text-decoration: none;"
                br/

              p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;")
                | Para rechazar la invitación haz clic en el siguiente link:
                table style="width: 210px"
                  tr
                    td style="text-align: center; background-color: #ef4836; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                      = link_to "Rechazar invitación", mark_invitation_rejected_enrollment_basis_url(id: @enrollment.id), target: "_blank", style: "color:#ffffff; text-decoration: none;"

              - if @enrollment.applicant.user.password.nil?
                = render partial: "common/recover_password"

          tr
            td height="25"
          tr
