table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td 
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              | Estimado (a)&nbsp;
              = @enrollment.applicant.first_name
              | :
            p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
              | Junto con saludar, informarte que luego de revisar y analizar las 
              | variables ponderadas según la tabla de factores vigente que contemplan 
              | las orientaciones vigentes sobre movilidad interna, no has obtenido 
              | la mayor puntuación en comparación con los otros postulantes. 
              | Agradecemos tu interés, informándote que mantendremos vigentes tus 
              | antecedentes comunicándonos contigo al abrirse otra postulación.
            br
            p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
              | Atte.
            p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
              | Fundación Integra

          tr
            td height="25"
          tr
