table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              | Estimado(a)&nbsp;
              = @enrollment.applicant.first_name
              | :
            p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
              | Junto con saludar, te informo que tras concluir el proceso de postulación, obtuviste la mayor puntuación dentro de las variables ponderadas, por lo que estás en condiciones de comenzar tu&nbsp;
              | período de adaptación. De cumplir con él de manera adecuada, podrás ser ratificada en el cargo, &nbsp;
              | de acuerdo a las orientaciones vigentes sobre movilidad interna.

            p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
              | El periodo de adaptación tendrá una duración de seis meses efectivos, período durante el &nbsp;
              | cual deberás ser retroalimentada en al menos dos oportunidades. Estas instancias quedarán &nbsp;
              | registradas en el informe respectivo.

            br/
            p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
              | Atte. Fundación Integra

          tr
            td height="25"
          tr
