= form_for @trabajando_area do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    - areas = Company::Area.all.map{ |area| [area[:name], area[:id]] }
    = f.label :hupe_area
    = f.select :hupe_area_id, areas, {include_blank: true, selected: @trabajando_area.hupe_area_id }, class: "form-control __multiple"

  .row
    .col-xs-12.col-md-3
      = f.submit class: "btn btn-block btn-success"

