-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @trabajando_area.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label.scaffold_label.__strong = Trabajando::Area.human_attribute_name(:name)
          = @trabajando_area.name

          label.scaffold_label.__strong = Trabajando::Area.human_attribute_name(:hupe_area)
          = link_to @trabajando_area.hupe_area.name, @trabajando_area.hupe_area if @trabajando_area.hupe_area

        .col-md-2
          = link_to t("resources.generals.actions.edit"), edit_trabajando_area_path(@trabajando_area), class: "btn btn-block btn-primary"

        .col-md-2
          = link_to t("resources.generals.actions.back"), trabajando_areas_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
