- if @category.name == 'Jardines Infantiles'
  .banner.banner-kindergarten
- elsif @category.name == 'Oficinas Regionales'
  .banner.banner-offices
- elsif @category.name == 'Casa Central'
  .banner.banner-house
- elsif @category.name == 'Movilidad Interna Oficinas Regionales y Casa Central'
  .banner.banner-practicing
- elsif @category.name == 'Promociones y Traslados'
  .banner.banner-promotions
.container style='margin-top: 10px'
  .row
    .col-md-8
      header.well
        h2 style='color: blue'
          = @titulo
        - @minisite_publications.each do |publication|
          .well.publication
            header
              a href="/#{publication.seo_path}"
                h3 style='color: blue' = publication.title
            div
              p
                span.glyphicon.glyphicon-briefcase
                span style='padding-left: 10px'
                  = @category.name
              - unless publication.course.type_enrollment == 'Enrollment::Internal'
                p
                  span.glyphicon.glyphicon-user
                  span style='padding-left: 10px'
                      = "#{publication.course.company_position.name.gsub('.','')}, #{publication.course.territory_city.territory_state.name}, #{publication.course.territory_city.name}"

      = paginate @minisite_publications

    .col-md-4
      .well
        .row
          .col-md-12
            header style='text-align: center; color: blue'
              h2 Buscador
            = form_tag search_job_path(@category.to_param), method: :get

              .row style='margin-bottom: 10px'
                .col-md-12
                  = text_field_tag :query, params[:query], class: 'form-control'
              .row
                - if @category.name == 'Promociones y Traslados'
                  = react_component 'StateOnlySelect', { \
                    state_select: { \
                      name: "territory_state_id", \
                      selected: "#{params[:territory_state_id]}", \
                      country_id: Territory::Country.find_by_name('Chile').try(:id) \
                    } \
                  }
                - else
                  = react_component 'StateCitySelect', { \
                    state_select: { \
                      name: "territory_state_id", \
                      selected: "#{params[:territory_state_id]}", \
                      country_id: Territory::Country.find_by_name('Chile').try(:id) \
                    }, \
                    city_select: { \
                      name: "territory_city_id", \
                      selected: "#{params[:territory_city_id]}", \
                    } \
                  }

              div style='padding-top: 20px; text-align: center'
                  button.btn.btn-success Buscar

      .well
        header
          h4 style='color: green; text-align: center' = "NUESTRA FUNDACIÓN"
          = image_tag("logo_light.png", class: "header_logo", style: 'width: 100%; margin-bottom: 30px')
        - if @category.name == 'Promociones y Traslados'
          p style='text-align: justify'
            | Las promociones y traslados son definidas en Integra como la generación de oportunidades de &nbsp;
            | crecimiento y desarrollo profesional de las personas, a partir de la posibilidad de aspirar  &nbsp;
            | a cambios de cargo y/o equipos de trabajo.

          strong Para postular, debes contar con los siguientes requisitos:

          ol
            li Tener un correo electrónico personal vigente y activo.
            li Registrarte en la plataforma e ingresar los datos personales  indicados.
            li Subir tus antecedentes de postulación.
            li Postular a los procesos regionales, de acuerdo a tus preferencias.

          p style='text-align: justify'
            | Tras ingresar los datos, recibirás un correo electrónico de confirmación.
            | Recuerda que se dará inicio al proceso de postulación una vez que se generen las respectivas vacantes.

        - else
          p style='text-align: justify'
            | Fundación Integra cuenta a lo largo de las 15 regiones del &nbsp;
            | país, con establecimientos gratuitos que ofrecen espacios &nbsp;
            | educativos seguros y promotores de los derechos de los &nbsp;
            | niños y niñas. &nbsp;

          p style='text-align: justify'
            | Entrega un programa educativo de excelencia dirigido a &nbsp;
            | niños y niñas desde los tres meses a los cuatro años de &nbsp;
            | edad, provenientes de familias que viven en situación de &nbsp;
            | pobreza y vulnerabilidad social, reconociendo a las familias &nbsp;
            | como eje central de la labor educativa. &nbsp;
