.container-fluid  style='padding-top: 20px'
  .row
    - Tag::CourseTag.all.each_with_index do |tag, index|
      .col-md-2.col-xs-4 style='background-color: white' class=("col-md-offset-1" if index%5 == 0 )
        .job-category style='position: relative; width: 100%; margin: 10px 0'
          a href="#{category_job_path(tag.id)}"
            - if tag.name == 'Jardines Infantiles'
              = image_tag 'jardines_infantiles.jpg', style: 'width: 100%; display: block;'
            - elsif tag.name == 'Oficinas Regionales'
              = image_tag 'oficinas_regionales.jpg', style: 'width: 100%; display: block;'
            - elsif tag.name == 'Casa Central'
              = image_tag 'casa_central.jpg', style: 'width: 100%; display: block;'
            - elsif tag.name == 'Movilidad Interna Oficinas Regionales y Casa Central'
              = image_tag 'movilidad_interna_oficinas_regionales_y_casa_central.jpg', style: 'width: 100%; display: block;'
            - elsif tag.name == 'Promociones y Traslados'
              = image_tag 'promociones_traslados.jpg', style: 'width: 100%; display: block;'
            - else
              img src='https://placeholdit.imgix.net/~text?txtsize=22&txt=235%C3%97550&w=235&h=650' style='width: 100%;display: block'
            span style='margin-bottom: 0px; text-align: center; padding: 10px; position: absolute; bottom: 0; color: white; background: rgba(0, 0, 0, .6); display: table; width: 100%; min-height: 80px'
              h4 style='display: table-cell; vertical-align: middle;' = tag.name
