= form_for @company_position do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", autofocus: true, required: field_required?(f, :name)

  .form-group
    = f.label :cod
    = f.text_field :cod, class: "form-control", required: field_required?(f, :cod)

  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control", required: field_required?(f, :description)

  .form-group
    = f.label :company_cenco_ids
    = f.select :company_cenco_ids, Company::Cenco.get_with_large_name.map{ |bu| [bu[:name], bu[:id]] }, {selected: @company_position.company_cenco_ids }, multiple: true, class: "form-control chosen"

  .form-group
    = f.label :company_position_tag_ids
    = f.select :tags, Tag::CompanyPositionTag.all.map{ |c| [c[:name], c[:id]] }, {selected: @company_position.tag_ids }, multiple: true, class: "form-control chosen"

  .form-group
    .row
      .col-xs-12.col-md-2
        = f.submit class: "btn btn-block btn-success"
