-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.company.positions.title")

        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.actions.add_new") + ' ' + t("resources.company.positions.singular"), new_company_position_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'positions', view_more: true, detail_info: 'positions' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Company::Position.human_attribute_name(:name)
                th.small style='vertical-align: middle' = Company::Position.human_attribute_name(:description)
                th.small style='vertical-align: middle' = Company::Position.human_attribute_name(:cod)
                th
                th

            tbody
              - @company_positions.each do |company_position|
                tr
                  td.small style='vertical-align: middle;' width="35%"
                    = link_to company_position.name, company_position, class: "text-base"

                  td.small style='vertical-align: middle' width="55%"
                    = company_position.description

                  td.small style='vertical-align: middle;' width="10%"
                    = company_position.cod

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_company_position_path(company_position), class: "btn btn-block btn-primary btn-sm"

                  td style='vertical-align: middle' = link_to t("resources.generals.actions.destroy"), company_position, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + company_position.name + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"

          = paginate @company_positions

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
