-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @company_position.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label = t("resources.generals.labels.name")
          p = @company_position.name

          label = t("resources.generals.labels.cod")
          p = @company_position.cod.present? ? @company_position.cod : t('no_entry')

          label = t("resources.generals.labels.description")
          p = @company_position.description

          label = Company::Position.human_attribute_name(:company_position_tag_ids)
          p = @company_position.tags.any? ? @company_position.tags.map(&:name).join(', ') : t('no_entry')

          .row
            col-xs-12.col-md-2
              = link_to t("resources.generals.actions.edit"), edit_company_position_path(@company_position), class: "btn btn-block btn-primary"
            col-xs-12.col-md-2
              = link_to t("resources.generals.actions.back"), company_positions_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
