-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.company.estates.title")
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.m") + ' ' + t("resources.company.estates.singular"), new_company_estate_path , class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'estates' }
          table.table.table-bordered.table-hover
            thead
              tr
                th style='vertical-align: middle' width='86%' = Company::Estate.human_attribute_name(:name)
                th style='vertical-align: middle' colspan="3"

            tbody
              - @company_estates.each do |company_estate|
                tr
                  td.small style='vertical-align: middle' width="36%" = link_to company_estate.name , company_estate, class: "text-base"

                  td style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_company_estate_path(company_estate), class: "btn btn-block btn-primary btn-sm"

                  td style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), company_estate, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + company_estate.name + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"


          = paginate @company_estates

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
