= form_for @people_identification_document_type do |f|

  .form-group
    = f.label :name
    = f.text_field :name , class: 'form-control', autofocus: true, required: field_required?(f, :name)

    - country_options = options_from_collection_for_select(Territory::Country.all, "id", "name", f.object.country_id)
  .form-group
    = f.label :country, class: "input_required"
    = f.select :country_id, country_options, { include_blank: true }, class: 'form-control chosen', required: field_required?(f, :country), 'data-placeholder' => t('chosen.select.option')
  .form-group
    = f.label :validation_regex
    = f.text_field :validation_regex , class: 'form-control', autofocus: true, required: field_required?(f, :validation_regex)

  .form-group
    = f.label :validate_uniqueness
    = f.check_box :validate_uniqueness , class: 'form-control', autofocus: true, required: field_required?(f, :validate_uniqueness)

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"
