-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.people.identification_document_types.title")
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.m") + ' ' + t("resources.people.identification_document_types.singular"), new_people_identification_document_type_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'people_identification_document_type' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = People::IdentificationDocumentType.human_attribute_name(:name)
                th.small style='vertical-align: middle' = People::IdentificationDocumentType.human_attribute_name(:country)
                th.small style='vertical-align: middle' = People::IdentificationDocumentType.human_attribute_name(:validation_regex)
                th.small style='vertical-align: middle' = People::IdentificationDocumentType.human_attribute_name(:validate_uniqueness)
                th.small style='vertical-align: middle' colspan='3'

            tbody
              - @people_identification_document_types.each do |people_identification_document_type|
                tr
                  td.small style='vertical-align: middle' width="42%"
                    = link_to people_identification_document_type.name, people_identification_document_type, class: 'text-base'

                  td.small style='vertical-align: middle' width="42%"
                    = people_identification_document_type.country.try(:name)

                  td.small style='vertical-align: middle' width="42%"
                    = people_identification_document_type.validation_regex.present? ? people_identification_document_type.validation_regex : t("no_entry")

                  td.small style='vertical-align: middle' width="42%"
                    = people_identification_document_type.validate_uniqueness ? "Sí": "No"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_people_identification_document_type_path(people_identification_document_type), class: "btn btn-block btn-primary btn-sm"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), people_identification_document_type, method: :delete, data: { confirm: (t("resources.generals.actions.destroy_confirm") + ' ' + people_identification_document_type.name + ' ?') }, class: "btn btn-block btn-danger btn-sm"

          = paginate @people_identification_document_types

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
