-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @people_identification_document_type.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label = People::IdentificationDocumentType.human_attribute_name(:name)
          p = @people_identification_document_type.name

          label = People::IdentificationDocumentType.human_attribute_name(:country)
          p = @people_identification_document_type.country.try(:name)

          label = People::IdentificationDocumentType.human_attribute_name(:validation_regex)
          p = @people_identification_document_type.validation_regex.present? ? @people_identification_document_type.validation_regex : t("no_entry")

          label = People::IdentificationDocumentType.human_attribute_name(:validate_uniqueness)
          p = @people_identification_document_type.validate_uniqueness ? "Sí" : "No"

          .row
            .col-xs-12.col-md-3.padding-bottom-10-px
              = link_to t("resources.generals.actions.edit"), edit_people_identification_document_type_path(@people_identification_document_type), class: "btn btn-block btn-primary"
            .col-xs-12.col-md-3.padding-bottom-10-px
              = link_to t("resources.generals.actions.back"), people_identification_document_types_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
