-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.company.timetables.title")
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.actions.add_new") + ' ' + t("resources.company.timetables.singular"), new_company_timetable_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'timetables' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = t("resources.generals.labels.name")
                th.small style='vertical-align: middle' = t("resources.generals.labels.description")
                th.small style='vertical-align: middle' colspan="3"

            tbody
              - @company_timetables.each do |company_timetable|
                tr
                  td.small style='vertical-align: middle' width="42%"
                    = link_to company_timetable.name, company_timetable, class: "text-base"

                  td.small style='vertical-align: middle' width="42%"
                    = company_timetable.description

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_company_timetable_path(company_timetable), class: "btn btn-block btn-primary btn-sm"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), company_timetable, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + company_timetable.name + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"

          = paginate @company_timetables

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
