- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

section.course_card
  h3.course_card-title.__large
    = t("skill_interview.stage.title")
    .course_card-action-container
      = form_tag(massive_finish_stage_course_skill_interview_stages_path(@course),
                 method: :post, class: "massive-form", "data-type": "stage")
        = submit_tag t('stage.base.actions.finish.other'), class: 'btn btn-success'

  table.course_candidates-container
    thead
      tr
        th style="width: 40px;"
          input#js-check_everything type="checkbox"
        th = t('stage.base.views.index.candidate')
        th = t('stage.base.views.index.action')

    - if @stages.any?
      tbody
        - @stages.each do |stage|
          - applicant = stage.enrollment.applicant
          tr.course_candidate-row
            td
              .course_candidate-check-container
                = check_box_tag('stage_ids[]', stage.id, (@stages_selected.try(:ids) || []).include?(stage.id), class: "js-checkbox", "data-value": stage.id)

            td.course_candidate-cell
              .clearfix
                .course_candidate-avatar-container
                  = image_tag(applicant.user.avatar, class: 'course_candidate-avatar')
                .course_candidate-name-container
                  - name = (applicant.first_name.present? and applicant.last_name.present?) ? applicant.first_name + ' ' + applicant.last_name : applicant.email
                  = link_to(name, applicant_basis_path(applicant))

            td.course_candidate-cell = stage.class.to_s.concat('Helper').constantize.html_preview(self, stage)

= paginate @stages