- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

section.course_card
  h3.course_card-title.__large
    = t('skill_interview.stage.title')

  - if @stage.skill_interview_report.try(:persisted?)
    = render partial: 'skill_interview/reports/show', locals: { skill_interview_report: @stage.skill_interview_report}
  - else
    = render partial: 'skill_interview/reports/form'
