= form_for @trabajando_applicant_profile do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    - profile_types = Applicant::ProfileType.all.map{ |position| [position[:name], position[:id]] }
    = f.label :hupe_profile_type
    = f.select :hupe_profile_type_id, profile_types, {include_blank: true, selected: @trabajando_applicant_profile.hupe_profile_type_id }, class: "form-control __multiple"

  .scaffold_actions = f.submit class: "scaffold_btn __green"
    .row
      .col-xs-12.col-md-4
        = f.submit class: "btn btn-block btn-success"

= content_for :javascript do
  = javascript_include_tag('new_course')
