- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-7.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Trabajando::ApplicantProfile.model_name.human(count: :other)



.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'applicant_profiles' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Trabajando::ApplicantProfile.human_attribute_name(:name)
                /th.small

            tbody-body
              - @trabajando_applicant_profiles.each do |trabajando_applicant_profile|
                tr
                  td.small style='vertical-align: middle' width="42%"
                    = link_to trabajando_applicant_profile.name, trabajando_applicant_profile, class: "text-base"

                  td.small style='vertical-align: middle' width="42%"
                    = link_to trabajando_applicant_profile.hupe_profile_type.name, trabajando_applicant_profile.hupe_profile_type if trabajando_applicant_profile.hupe_profile_type

                  /td style='vertical-align: middle' width="42px"
                    = link_to t("resources.generals.actions.edit"), edit_trabajando_applicant_profile_path(trabajando_applicant_profile), class: "btn btn-block btn-primary btn-sm"

          = paginate @trabajando_applicant_profiles

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
