- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.generals.labels.new.f") + ' ' +
            Trabajando::ApplicantProfile.model_name.human

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'applicant_profiles' }
          = render partial: 'form'

          .row
            .col-xs-12.col-md-3
              = link_to t("resources.generals.actions.back"), trabajando_work_days_path, class: "btn btn-primary btn-block btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
