-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @trabajando_applicant_profile.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label.scaffold_label.__strong = Trabajando::ApplicantProfile.human_attribute_name(:name)
          p = @trabajando_applicant_profile.name

          label.scaffold_label.__strong = Trabajando::ApplicantProfile.human_attribute_name(:hupe_profile_type)
          = link_to @trabajando_applicant_profile.hupe_profile_type.name, @trabajando_applicant_profile.hupe_profile_type if @trabajando_applicant_profile.hupe_profile_type

        .row.padding-top-10-px
          /.col-xs-12.col-md-2.padding-bottom-10-px
            = link_to t("resources.generals.actions.edit"), edit_trabajando_applicant_profile_path(@trabajando_applicant_profile), class: "btn btn-block btn-primary"

          .col-xs-12.col-md-2
            = link_to t("resources.generals.actions.back"), trabajando_applicant_profiles_path, class: "btn btn-block btn-primary btn-inverted"


    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
