- institutions = Education::Institution.all
- careers = Education::Career.all
- if professional_information_attributes.present? && professional_information_attributes[:laboral_experiences_attributes].present?
    - laboral_experiences = professional_information_attributes[:laboral_experiences_attributes].map{ |k,le| {object: le, errors: [] } }
    - if professional_information_form.object.laboral_experiences.present?
      - professional_information_form.object.laboral_experiences.each_with_index do |laboral_experience, index|
        - laboral_experiences[index][:errors] = laboral_experience.errors if laboral_experiences[index]
- else
  - laboral_experiences = professional_information_form.object.laboral_experiences.map{ |le| {object: le, errors: le.errors } }

- if professional_information_attributes.present? && professional_information_attributes[:degrees_attributes].present?
  - degrees = professional_information_attributes[:degrees_attributes].map{ |k,d| {object: d, errors: [] } }
  - if professional_information_form.object.degrees.present?
    - professional_information_form.object.degrees.each_with_index do |degree, index|
      - degrees[index][:errors] = degree.errors if degrees[index]
- else
  - degrees = professional_information_form.object.degrees.map{ |d| {object: d, errors: d.errors } }

.row.margin-top-20-px
  = react_component 'MultipleDegreeForm', { conditions: People::Degree::CONDITIONS, types: People::Degree::TYPES, institutions: institutions, careers: careers, degrees: degrees, name: professional_information_form.object_name, institution_types: Education::Institution::TYPES}

.row.margin-top-20-px
  = react_component 'MultipleLaboralExperienceForm', { laboral_experiences: laboral_experiences, name: professional_information_form.object_name }

.row.margin-top-20-px
  .postulant_table-container
    .row.postulant_table-container-header
      .col-sm-6 style="font-size: 21px;font-weight:500;"
        h3
        | Idiomas
      .col-sm-6 style="border-color: #5d9cec;"
        = link_to_add_association 'Agregar nuevo idioma', professional_information_form, :language_skills, { partial: 'people/professional_information/language_skill_fields', class: 'form_element __context-button btn btn-primary btn-inverted margin-top-10-px', 'data-association-insertion-node': '.language', 'data-association-insertion-method': 'append'}

    .row
      .col-md-12
        table.table.table-bordered.table-hover
          thead
            tr
            th.small style='vertical-align: middle' = People::LanguageSkill.human_attribute_name(:education_language)
            th.small style='vertical-align: middle' = People::LanguageSkill.human_attribute_name(:level)
            th.small style='vertical-align: middle' = People::LanguageSkill.human_attribute_name(:actions)

          tbody.language
            = professional_information_form.fields_for :language_skills do |language_skill_form|
              = render 'people/professional_information/language_skill_fields', f: language_skill_form

.row.margin-top-20-px
  .postulant_table-container
    .row.postulant_table-container-header
      .col-sm-6 style="font-size: 21px;font-weight:500;"
        h3
        | Habilidades de software
      .col-sm-6 style="border-color: #5d9cec;"
        = link_to_add_association 'Agregar nuevo software', professional_information_form, :software_skills, { partial: 'people/professional_information/software_skill_fields', class: 'form_element __context-button btn btn-primary btn-inverted margin-top-10-px', 'data-association-insertion-node': '.software', 'data-association-insertion-method': 'append'}

    .row
      .col-md-12
        table.table.table-bordered.table-hover
          thead
            tr
            th.small style='vertical-align: middle' = People::SoftwareSkill.human_attribute_name(:education_software)
            th.small style='vertical-align: middle' = People::SoftwareSkill.human_attribute_name(:description)
            th.small style='vertical-align: middle' = People::SoftwareSkill.human_attribute_name(:actions)

          tbody.software
            = professional_information_form.fields_for :software_skills do |software_skill_form|
              = render 'people/professional_information/software_skill_fields', f: software_skill_form
