tr.nested-fields
  td style='vertical-align: middle' width="33%"
    = f.select :education_language_id,
      Education::Language.all.map{ |el| [el.name, el.id] },
      { include_blank: true }, class: "form-control chosen"
    = field_errors_wrapper(f.object.errors[:education_language])

  td style='vertical-align: middle' width="33%"
    = f.select :level, People::LanguageSkill::LEVELS, { include_blank: true }, class: "form-control chosen"

  td style='vertical-align: middle' width="33%"
    = link_to_remove_association "Remover idioma", f, partial: 'people/professional_information/language_skill_fields', className: "btn btn-block btn-success margin-top-10-px"

