tr.nested-fields
  td style='vertical-align: middle' width="40%"
    = f.select :education_software_id,
      Education::Software.all.map{ |es| [es.name, es.id] },
      { include_blank: true }, class: "form-control"
    = field_errors_wrapper(f.object.errors[:education_software_id])

  td style='vertical-align: middle'
    = f.select :level, People::SoftwareSkill::LEVELS, { include_blank: true }, class: "form-control"

  td style='vertical-align: middle' width="15%"
    = link_to_remove_association "Eliminar", f, partial: 'people/professional_information/software_skill_fields', className: "btn btn-block btn-success margin-top-10-px"
