table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td 
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              | Estimado (a)&nbsp;
              = @postulation.applicant.name_or_email
              | &#58;
            p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
              | Te confirmamos que hemos recibido tu postulación. 
              | Revisaremos tu información, en caso que tus antecedentes se ajusten a los requerimientos del cargo, serás contactado para participar del proceso.
            br/
            p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
              | Cordialmente,
            p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
              | Área Desarrollo de Personas y Equipos
            p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
              | Fundación Integra
        tr
          td height="25"
        tr
