.graph_wrap 
  .graph_container.clearfix
    
    .graph_element.__blue
      .graph_icon-container
        span.icon_graph.__postulante
      
      .graph_amount = Applicant::Base.count
      .graph_label = t("main.graph.postulants")
    
    .graph_element.__teal
      .graph_icon-container
        span.icon_graph.__checklist
      
      .graph_amount = Engagement::Agreement.count
      .graph_label = t("main.graph.hired")
    
    .graph_element.__peach
      .graph_icon-container
        span.icon_graph.__calendario
      - days = Vacancy.all.map { |v| (v.closed_at.present? ? v.closed_at : Time.now) - v.created_at }
      .graph_amount = days.count != 0 ? ( days.reduce(:+) / (days.count * 86400 )).round(1) : 0
      .graph_label = t("main.graph.days_to_complete")
    
    .graph_element.__dark_teal
      .graph_icon-container
        span.icon_graph.__procesos
      
      .graph_amount = Course.count
      .graph_label = t("main.graph.my_open_processes")
    
    .graph_element.__purple
      .graph_icon-container
        .icon_graph.__vacantes
      
      .graph_amount = Vacancy.where(closed_at: nil).count
      .graph_label = t("main.graph.open_vacancies")