= form_for @trabajando_education_level do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    = f.label :hupe_study_type_id
    = f.select :hupe_study_type, People::Degree::TYPES.map{ |st| [st.last, st.first] }, {include_blank: false, selected: @trabajando_education_level.hupe_study_type }, class: "form-control __multiple"

  .form-group
    .row
      .col-xs-12.col-md-4
        = f.submit class: "btn btn-block btn-success"
