- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-7.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Trabajando::EducationLevel.model_name.human(count: :other)

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'education_level' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Trabajando::EducationLevel.human_attribute_name(:name)
                th.small style='vertical-align: middle' = Trabajando::EducationLevel.human_attribute_name(:hupe_study_type_id)
                th.small

            tbody-body
              - @trabajando_education_levels.each do |trabajando_education_level|
                tr
                  td.small style='vertical-align: middle' width="33%"
                    = link_to trabajando_education_level.name, trabajando_education_level

                  td.small style='vertical-align: middle' width="33%"
                    = People::Degree.translated_degree_type(trabajando_education_level.hupe_study_type) if trabajando_education_level.hupe_study_type.presence

                  td style='vertical-align: middle' width="42px"
                    = link_to t("resources.generals.actions.edit"), edit_trabajando_education_level_path(trabajando_education_level), class: "btn btn-block btn-primary btn-sm"

          = paginate @trabajando_education_levels

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
