-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @trabajando_education_level.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12.padding-bottom-20-px
          label.scaffold_label.__strong = Trabajando::EducationLevel.human_attribute_name(:name)
          = @trabajando_education_level.name
          - if @trabajando_education_level.hupe_study_type.presence
            label.scaffold_label.__strong = Trabajando::EducationLevel.human_attribute_name(:hupe_study_type_id)
            = People::Degree.translated_degree_type(@trabajando_education_level.hupe_study_type)


        .col-md-2
          = link_to t("resources.generals.actions.edit"), edit_trabajando_education_level_path(@trabajando_education_level), class: "btn btn-block btn-primary"

        .col-md-2
          = link_to t("resources.generals.actions.back"), trabajando_education_levels_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
