.grid_body.__limited
  = form_for @laborum_publication, html: {class: "create-course_container"}, url: laborum_publication_path(id: @laborum_publication.course.id, publication_id: @laborum_publication.id || '') do |f|
    .create-course_row
      = f.label :title, class: "create-course_label"
      = f.text_field :title, class: "create-course_input"
      = field_errors_wrapper(@laborum_publication.errors[:title])

    .create-course_row
      = f.label :description, class: "create-course_label"
      = f.text_area :description, class: "create-course_input", rows: 8
      = field_errors_wrapper(@laborum_publication.errors[:description])

    .create-course_row
      .form-group
        = f.label :desactivate_at
        .input-group
          .input-group-addon
            span.glyphicon.glyphicon-calendar
          - desactivate_at = @laborum_publication.desactivate_at || (Date.today + 30.day).to_time
          = f.text_field :desactivate_at, value: l(desactivate_at, format: :select), class: 'form-control  js-datepicker', required: field_required?(f, :desactivate_at), readonly: true
        = field_errors_wrapper(@laborum_publication.errors[:desactivate_at])

    .create-course_row
      = react_component 'ParentChildSelect', { \
        parent_select: { \
          label: "Region", \
          required: false, \
          url: "/app/laborum/metadata/regiones", \
          name: "#{f.object_name}[state_id]", \
          selected: "#{f.object.state_id}" \
        }, \
        child_select: { \
          label: "Comunas", \
          required: false, \
          url: "/app/laborum/metadata/comunas", \
          name: "#{f.object_name}[city_id]", \
          selected: "#{f.object.city_id}" \
        }, \
      }
      = field_errors_wrapper(@laborum_publication.errors[:state_id])

    .create-course_row
      = f.label :address, class: "create-course_label"
      = f.text_field :address, class: "create-course_input"
      = field_errors_wrapper(@laborum_publication.errors[:address])

    .create-course_row
      = react_component 'ParentChildSelect', { \
        parent_select: { \
          label: "Area de publicación", \
          required: true, \
          errors: @laborum_publication.errors[:area_id], \
          url: "/app/laborum/metadata/areas", \
          name: "#{f.object_name}[area_id]", \
          selected: "#{f.object.area_id}" \
        }, \
        child_select: { \
          label: "Subarea", \
          required: true, \
          errors: @laborum_publication.errors[:subarea_id], \
          url: "/app/laborum/metadata/subareas", \
          name: "#{f.object_name}[subarea_id]", \
          selected: "#{f.object.subarea_id}" \
        }, \
      }

    .create-course_row
      = react_component 'ParentSelect', { \
        label: "Frecuencia de pago", \
        required: true, \
        url: "/app/laborum/metadata/frecuencias_pago", \
        name: "#{f.object_name}[pay_id]", \
        selected: "#{f.object.pay_id}" \
      }
      = field_errors_wrapper(@laborum_publication.errors[:pay_id])

    .create-course_row
      = react_component 'ParentSelect', { \
        label: "Idioma", \
        required: false, \
        url: "/app/laborum/metadata/idiomas", \
        name: "#{f.object_name}[language_id]", \
        selected: "#{f.object.language_id}" \
      }
      = field_errors_wrapper(@laborum_publication.errors[:language_id])

    .create-course_row
      = react_component 'ParentSelect', { \
        label: "Nivel idioma", \
        required: false, \
        url: "/app/laborum/metadata/niveles_idiomas", \
        name: "#{f.object_name}[language_level_id]", \
        selected: "#{f.object.language_level_id}" \
      }
      = field_errors_wrapper(@laborum_publication.errors[:language_level_id])

    .create-course_row
      = react_component 'ParentSelect', { \
        label: "Tipo trabajo", \
        required: false, \
        url: "/app/laborum/metadata/tipos_trabajo", \
        name: "#{f.object_name}[type_job_id]", \
        selected: "#{f.object.type_job_id}" \
      }
      = field_errors_wrapper(@laborum_publication.errors[:type_job_id])

    .create-course_row
      = react_component 'ParentSelect', { \
        label: "Area estudio", \
        required: false, \
        url: "/app/laborum/metadata/areas_estudio", \
        name: "#{f.object_name}[study_area_id]", \
        selected: "#{f.object.study_area_id}" \
      }
      = field_errors_wrapper(@laborum_publication.errors[:study_area_id])

    .create-course_row
      = react_component 'ParentSelect', { \
        label: "Tipo estudio", \
        required: true, \
        url: "/app/laborum/metadata/tipos_estudio", \
        name: "#{f.object_name}[study_type_id]", \
        selected: "#{f.object.study_type_id}" \
      }
      = field_errors_wrapper(@laborum_publication.errors[:study_type_id])

    .create-course_row
      = react_component 'ParentSelect', { \
        label: "Estado estudio", \
        required: true, \
        url: "/app/laborum/metadata/estados_estudio", \
        name: "#{f.object_name}[study_status_id]", \
        selected: "#{f.object.study_status_id}" \
      }
      = field_errors_wrapper(@laborum_publication.errors[:study_status_id])

    .create-course_row
      = react_component 'ParentSelect', { \
        label: "Nombre de la empresa", \
        required: true, \
        url: "/app/laborum/metadata/denominaciones", \
        name: "#{f.object_name}[denomination_id]", \
        selected: "#{f.object.denomination_id}" \
      }
      = field_errors_wrapper(@laborum_publication.errors[:denomination_id])


    .create-course_row
      label.create-course_label= t('publications.laborum.questions')
      ol
        li class='create-course_list-element'
          div class='create-course_row'
            label &nbsp;
            = f.text_field :question1, class: "create-course_input"
        li class='create-course_list-element'
          div class='create-course_row'
            label &nbsp;
            = f.text_field :question2, class: "create-course_input"
        li class='create-course_list-element'
          div class='create-course_row'
            label &nbsp;
            = f.text_field :question3, class: "create-course_input"
        li class='create-course_list-element'
          div class='create-course_row'
            label &nbsp;
            = f.text_field :question4, class: "create-course_input"
        li class='create-course_list-element'
          div class='create-course_row'
            label &nbsp;
            = f.text_field :question5, class: "create-course_input"

    .create-course_row.__center
      = f.submit class: "btn btn-success"

= content_for :javascript do
  = javascript_include_tag('laborum_publication')
