= render partial: "courses/subheader", locals: {publications: '__active'}

section.container
  section.course_body
    section.course_card
      h3.course_card-title.__large
        = t('course.laborum_publications')
        .course_card-action-container
          = link_to 'Crear Publicación Laborum', new_laborum_publication_path(id: @course.id), class: "btn btn-success"

      - @laborum_publications.each do |laborum_publication|
        .row.clearfix.course_publication-container
          .col-md-2.text-center
            = image_tag "logo_laborum.png", class: "margin-top-10-px", width: "55%"

          .col-md-8
            .row
              h1.course_publication-title = laborum_publication.title

            .row.clearfix
              .col-md-3
                .course_publication-label Fecha de Publicación:
                .course_publication-copy = l(laborum_publication.created_at, format: '%d de %B de %Y')

              .col-md-3
                .course_publication-label Area:
                .course_publication-copy = laborum_publication.area

              .col-md-3
                .course_publication-label Estado:
                .course_publication-copy = "#{t("laborum/publication.status." + laborum_publication.status)}"

              .col-md-3
                .course_publication-label Postulantes:
                .course_publication-copy = laborum_publication.postulations.count

          .col-md-2
            - if laborum_publication.status == 'published'
              = link_to 'Despublicar', laborum_publication_path(id: laborum_publication.course.id, publication_id: laborum_publication.id), data: {confirm: '¿Estas seguro que deseas despublicar este aviso?'}, method: :delete, class: 'minisite-publication_action-button'

            = link_to 'Ver publicación', laborum_publication_path(id: laborum_publication.course.id, publication_id: laborum_publication.id), class: 'btn btn-success btn-inverted btn-block margin-top-30-px'


        = paginate @laborum_publications
