.subheader_container.clearfix.__borderless
  .subheader_left-container
      .subheader_cyan
          h3.subheader_title.__with-icon.__dark-teal.icons-header.__procesos
            span PROCESOS&nbsp;/&nbsp;
            span Publicar en Laborum

= render 'form'
