.container
  .row
    = render partial: 'courses/subheader', locals: {publications: '__active'}

.container.margin-top-20-px
  section.row

    // Left Section
    aside.col-md-4
      section.course_card
        h3.course_card-title = t("publications.resume")

        .row
          .text-center
            = image_tag "logo_laborum.png", class: "header_logo __publication"

        .row
          .col-md-12
            .course_publication-label  = t("publications.title") + ':'
            .course_publication-copy = @laborum_publication.title
        .row
          .col-md-12
            .course_publication-label = t("laborum/publication.labels.denomination")
            .course_publication-copy = @laborum_publication.denomination

        - if @laborum_publication.state.present?
          .row
            .col-md-12
              .course_publication-label = t("laborum/publication.labels.region")
              .course_publication-copy = @laborum_publication.state

        .row
          .col-md-12
            .course_publication-label = Laborum::Publication.human_attribute_name(:created_at) + ':'
            .course_publication-copy = l(@laborum_publication.created_at, format: '%d de %B de %Y')

        .row
          .col-md-12
            .course_publication-label = Laborum::Publication.human_attribute_name(:desactivate_at) + ':'
            - desactivate_at = @laborum_publication.desactivate_at.present? ? l(@laborum_publication.desactivate_at, format: '%d de %B de %Y') : t('no_entry')
            .course_publication-copy = desactivate_at

        - if @laborum_publication.city.present? || @laborum_publication.address.present?
          .row
            - if @laborum_publication.city.present?
              .col-md-6
                .course_publication-label = t("laborum/publication.labels.state")
                .course_publication-copy = @laborum_publication.city
            - if @laborum_publication.address.present?
              .col-md-6
                .course_publication-label = t("laborum/publication.labels.address")
                .course_publication-copy = @laborum_publication.address

        - if @laborum_publication.area.present? || @laborum_publication.subarea.present?
          .row
            - if @laborum_publication.area.present?
              .col-md-6
                .course_publication-label = t("laborum/publication.labels.publication_area")
                .course_publication-copy = @laborum_publication.area

            - if @laborum_publication.subarea.present?
              .col-md-6
                .course_publication-label = t("laborum/publication.labels.subarea")
                .course_publication-copy = @laborum_publication.subarea

        - if @laborum_publication.language.present? || @laborum_publication.language_level.present?
          .row
            - if @laborum_publication.language.present?
              .col-md-6
                .course_publication-label = t("laborum/publication.labels.language")
                .course_publication-copy = @laborum_publication.language

            - if @laborum_publication.language_level.present?
              .col-md-6
                .course_publication-label = t("laborum/publication.labels.language_level")
                .course_publication-copy = @laborum_publication.language_level

        - if @laborum_publication.pay.present? || @laborum_publication.type_job.present?
          .row
            - if @laborum_publication.pay.present?
              .col-md-6
                .course_publication-label = t("laborum/publication.labels.payment_freq")
                .course_publication-copy = @laborum_publication.pay

            - if @laborum_publication.type_job.present?
              .col-md-6
                .course_publication-label = t("laborum/publication.labels.job_type")
                .course_publication-copy = @laborum_publication.type_job

        - if @laborum_publication.study_area.present?
          .row
            .col-md-12
              .course_publication-label = t("laborum/publication.labels.study_area")
              .course_publication-copy = @laborum_publication.study_area

        - if @laborum_publication.study_type.present? || @laborum_publication.study_status.present?
          .row
            - if @laborum_publication.study_type.present?
              .col-md-6
                .course_publication-label = t("laborum/publication.labels.study_type")
                .course_publication-copy = @laborum_publication.study_type

            - if @laborum_publication.study_status.present?
              .col-md-6
                .course_publication-label = t("laborum/publication.labels.study_status")
                .course_publication-copy = @laborum_publication.study_status

        .row.margin-top-20-px
          .col-md-12
            .btn-group.btn-group-justified
              = link_to t("actions.edit"), edit_laborum_publication_path(id: @laborum_publication.course.id, publication_id: @laborum_publication.id), class: "btn btn-primary"

              - if @laborum_publication.status == 'published'
                = link_to 'Despublicar', laborum_publication_path(id: @laborum_publication.course.id, publication_id: @laborum_publication.id), data: {confirm: '¿Estas seguro que deseas despublicar este aviso?'}, method: :delete, class: 'btn btn-danger'

    // Main Section
    section.col.col-md-8
      - if @laborum_publication.description
        section.course_card
          h3.course_card-title.__large = t("publications.laborum.description")
          - if !@laborum_publication.questions.any?
            / = link_to 'Editar', edit_laborum_publication_path(id: @laborum_publication.course.id, publication_id: @laborum_publication.id), class: "btn btn-success"
          .row
            .col-md-12
              .course_publication.copy = @laborum_publication.description

      - if @laborum_publication.questions.any?
        section.course_card
          h3.course_card-title.__large
            = t("publications.laborum.questions")
            .course_card-action-container
              / = link_to 'Editar', edit_minisite_publication_path(id: @minisite_publication.course.id, publication_id: @minisite_publication.id), class: "btn btn-success"

          - @laborum_publication.questions.each_with_index do |index, question|
            .row
              .col-md-12
                .course_publication-label
                  | Pregunta #{index}
                .course_publication.copy = question

      section.course_card
        h3.course_card-title.__large = t("publications.laborum.postulations")

        - if @laborum_postulations.any?
          - @laborum_postulations.each do |laborum_postulation|
            .row
              .col-md-12
                = laborum_postulation.full_name
                br
                - laborum_postulation.information['preguntas'].each do |p|
                  p
                    = p['pregunta']
                    br
                    = p['respuesta']

                - if laborum_postulation.is_accepted == nil
                  = link_to t("publications.accept_postulation"), accept_laborum_postulation_path(laborum_postulation), class: 'btn btn-success', method: :put
                - elsif laborum_postulation.is_accepted == true
                  p Postulante aceptado
                - else laborum_postulation.is_accepted == false
                  p Postulante descartado
                = link_to 'Ver postulación', laborum_postulation_path(laborum_postulation), class: 'btn btn-info'
                hr

          = paginate @laborum_postulations
        - else
          .row.clearfix
            .col-md-12.text-center.text-success
              h1  = t("publications.no_postulations")

