.row
  .col-sm-3.col-xs-12.margin-bottom-30-px
    - user = personal_information_form.object.try(:user)
    - if user.present?
      - avatar = user.try(:avatar)
    - else
      - avatar = 'default_avatar.png'
    .postulant_avatar-wrapper
      .postulant_avatar.__no-margin style="background-image: url(#{image_path(avatar)})"
      = personal_information_form.file_field :avatar, class: "postulant_upload-avatar"
      .postulant_upload-avatar_text
        = t("actions.change") + t("activerecord.attributes.people/personal_information.avatar")

    .row.margin-top-20-px
      .col-md-12
        .postulant_inner-row.
          strong
            = personal_information_form.label :recruitment_source_id
          br
          .col-md-12.margin-top-10-px
            = personal_information_form.select :recruitment_source_id, Company::RecruitmentSource.pluck(:name, :id), {include_blank: true}, class: 'form_element __select scaffold_select chosen text-center', required: field_required?(personal_information_form, :recruitment_source_id), 'data-placeholder' => t('chosen.select.option')

  .col-sm-9.col-xs-12

    .postulant_table-wrapper
      .postulant_table-container.__absolute
        h2.postulant_table-container-header
          = t('resources.people.identification_document')
        .postulant_table-container-body.clearfix
          = react_component 'IdentificationDocumentInput', { \
          name: "#{personal_information_form.object_name}", \
          countries: People::IdentificationDocumentType.countries, \
          identification_document_type: { \
            country_id: personal_information_form.object.identification_document_type.try(:country_id) ,\
            id: personal_information_form.object.identification_document_type.try(:id) \
          }, \
          identification_document_number: personal_information_form.object.identification_document_number, \
          identification_document_type_id: personal_information_form.object.identification_document_type_id, \
          identification_document_types: People::IdentificationDocumentType.where(country_id: personal_information_form.object.identification_document_type.try(:country_id)) \
          }

    .postulant_table-wrapper
      .postulant_table-container.__absolute

        h2.postulant_table-container-header
          = People::PersonalInformation.model_name.human

        .postulant_table-container-body.clearfix
          .col-md-6
            .postulant_inner-row
              .postulant_inner-row_key = personal_information_form.label :first_name
              .postulant_inner-row_value = personal_information_form.text_field :first_name, class: "form_element __input enforce_text", autofocus: true, required: field_required?(personal_information_form, :first_name), minlength: '3', maxlength: '25'
              / = field_errors_wrapper(personal_information_form.object.errors[:first_name])

            .postulant_inner-row
              .postulant_inner-row_key = personal_information_form.label :last_name
              .postulant_inner-row_value = personal_information_form.text_field :last_name, class: "form_element __input enforce_text", required: field_required?(personal_information_form, :last_name), minlength: '3', maxlength: '25'
              / = field_errors_wrapper(personal_information_form.object.errors[:last_name])

            .postulant_inner-row
              .postulant_inner-row_key = user_form.label :email
              .postulant_inner-row_value = user_form.email_field :email, class: "form_element __input", required: field_required?(user_form, :email)
              / = field_errors_wrapper(personal_information_form.object.errors[:email])

            .postulant_inner-row
              .postulant_inner-row_key = personal_information_form.label :landline
              .postulant_inner-row_value = personal_information_form.text_field :landline, class: "form_element __input enforce_phone", maxlength: '20', required: field_required?(personal_information_form, :landline)
              / = field_errors_wrapper(personal_information_form.object.errors[:landline])

            .postulant_inner-row
              .postulant_inner-row_key = personal_information_form.label :cellphone
              .postulant_inner-row_value = personal_information_form.text_field :cellphone, class: "form_element __input enforce_phone", maxlength: '20', required: field_required?(personal_information_form, :cellphone)
              / = field_errors_wrapper(personal_information_form.object.errors[:cellphone])

            .postulant_inner-row
              .postulant_inner-row_key = personal_information_form.label :nationality_id
              - nationality_options = options_from_collection_for_select(Territory::Country.all, "id", "name", personal_information_form.object.nationality_id)
              .postulant_inner-row_value
                = personal_information_form.select :nationality_id, nationality_options, { include_blank: true }, class: 'form_element __select scaffold_select chosen', required: field_required?(personal_information_form, :nationality_id), 'data-placeholder' => t('chosen.select.option')

            .postulant_inner-row
              .postulant_inner-row_key = personal_information_form.label :company_marital_status_id
              - marital_statuses = options_from_collection_for_select(Company::MaritalStatus.all, "id", "name", personal_information_form.object.company_marital_status_id)
              .postulant_inner-row_value
                = personal_information_form.select :company_marital_status_id, marital_statuses, { include_blank: true }, class: 'form_element __select scaffold_select chosen', required: field_required?(personal_information_form, :company_marital_status_id), 'data-placeholder' => t('chosen.select.option')

            .postulant_inner-row
              .postulant_inner-row_key = personal_information_form.label :study_type
              .postulant_inner-row_value
                = personal_information_form.select :study_type, People::Degree::TYPES.map{|type| [type.last,type.first] }, { include_blank: true }, class: 'form_element __select scaffold_select chosen', required: field_required?(personal_information_form, :study_type), 'data-placeholder' => t('chosen.select.option')

          .col-md-6
            .postulant_inner-row
              .postulant_inner-row_key = personal_information_form.label :birth_date
              .postulant_inner-row_value = personal_information_form.text_field :birth_date, class: "form_element __input js-datepicker", required: field_required?(personal_information_form, :birth_date)
              / = field_errors_wrapper(personal_information_form.object.errors[:birth_date])

            .postulant_inner-row
              .postulant_inner-row_key = personal_information_form.label :sex
              .postulant_inner-row_value
                - People::PersonalInformation::SEX_OPTIONS.each do |sex|
                  span
                    = personal_information_form.radio_button :sex, sex
                    | &nbsp;
                    = personal_information_form.label 'sex_'+ sex.downcase, I18n.t("activerecord.models.people/personal_information.genders.#{sex.downcase}")
                    | &nbsp;

          .postulant_table-col.__half

            = react_component 'CountryStateCitySelect', { \
                country_select: { \
                    name: "#{personal_information_form.object_name}[territory_country_id]", \
                    selected: "#{personal_information_form.object.city.try(:territory_state).try(:territory_country).to_param}", \
                    required:  field_required?(personal_information_form, :city) \
                }, \
                state_select: { \
                    name: "#{personal_information_form.object_name}[territory_state_id]", \
                    selected: "#{personal_information_form.object.city.try(:territory_state).to_param}", \
                    required: field_required?(personal_information_form, :city) \
                }, \
                city_select: { \
                    name: "#{personal_information_form.object_name}[territory_city_id]", \
                    selected: "#{personal_information_form.object.city.to_param}", \
                    required: field_required?(personal_information_form, :city) \
                } \
            }

            .postulant_inner-row
              .postulant_inner-row_key = personal_information_form.label :address
              .postulant_inner-row_value = personal_information_form.text_field :address, class: "form_element __input", required: field_required?(personal_information_form, :address)
              / = field_errors_wrapper(personal_information_form.object.errors[:birth_date])

            .postulant_inner-row
              .postulant_inner-row_key = personal_information_form.label :areas_of_interest
              .postulant_inner-row_value = personal_information_form.text_area :areas_of_interest, class: "form_element __input", required: field_required?(personal_information_form, :areas_of_interest)

            .postulant_inner-row
              .postulant_inner-row_key = personal_information_form.label :availability_replacements
              .postulant_inner-row_value
                span
                  = personal_information_form.radio_button :availability_replacements, :true
                  | Si &nbsp;&nbsp;&nbsp;
                  = personal_information_form.radio_button :availability_replacements, :false
                  | No

            .postulant_inner-row
              .postulant_inner-row_key = personal_information_form.label :availability_work_other_residence
              .postulant_inner-row_value
                span
                  = personal_information_form.radio_button :availability_work_other_residence, :true
                  | Si &nbsp;&nbsp;&nbsp;
                  = personal_information_form.radio_button :availability_work_other_residence, :false
                  | No

- if params[:controller] != 'worker/bases'
  .row.margin-top-20-px
    .postulant_table-container
      .row.postulant_table-container-header
        .col-sm-6 style="font-size: 21px;font-weight:500;"
          h3
          | Referencias personales
        .col-sm-6 style="border-color: #5d9cec;"
          = link_to_add_association 'Agregar nueva referencia', personal_information_form, :personal_referrals, { partial: 'people/personal_information/personal_referral_fields', class: 'form_element __context-button btn btn-primary btn-inverted margin-top-10-px', 'data-association-insertion-node': '.referral', 'data-association-insertion-method': 'append'}
      .row
        .col-md-12
          table.table.table-bordered.table-hover
            thead
              tr
              th.small style='vertical-align: middle' = People::PersonalReferral.human_attribute_name(:full_name)
              th.small style='vertical-align: middle' = People::PersonalReferral.human_attribute_name(:email)
              th.small style='vertical-align: middle' = People::PersonalReferral.human_attribute_name(:phone)
              th.small style='vertical-align: middle' = People::PersonalReferral.human_attribute_name(:actions)

            tbody.referral
              = personal_information_form.fields_for :personal_referrals do |personal_referral|
                = render 'people/personal_information/personal_referral_fields', f: personal_referral

= content_for :javascript do
  = javascript_include_tag('personal_information')
