tr.nested-fields
  td style='vertical-align: middle' width="30%"
    = f.text_field :full_name, class: "form-control enforce_text", required: field_required?(f, :full_name), maxlength: '150'

  td style='vertical-align: middle' width="30%"
    = f.text_field :email, class: "form-control", required: field_required?(f, :email), maxlength: '200'

  td style='vertical-align: middle' width="25%"
    = f.text_field :phone, class: "form-control enforce_phone", required: field_required?(f, :phone), maxlength: '15'

  td style='vertical-align: middle' width="15%"
    = link_to_remove_association "Eliminar", f, partial: 'people/personal_information/personal_referral_fields', className: "btn btn-block btn-success margin-top-10-px"
