= form_for @final_interview_report, url: course_final_interview_reports_path(@course.id, @stage.id) do |final_interview_report_form|

  .form-group
    = final_interview_report_form.label :notified_to
    = final_interview_report_form.email_field :notified_to, class: "form-control"
    = field_errors_wrapper(@final_interview_report.errors[:notified_to])

  .form-group
    = final_interview_report_form.label :documents
    .field_info
      = I18n.t("documents.valid_extensions_files")
    = final_interview_report_form.file_field :documents, multiple: true, class: 'form-control', required: true
    = field_errors_wrapper(@final_interview_report.documents.map{ |doc| doc.errors[:document]}.flatten.uniq)
    .help-block
      = I18n.t("documents.select_multiple_files")

  .form-group
    = final_interview_report_form.label :observations
    = final_interview_report_form.bootsy_area :observations, class: "form-control", required: true
    = field_errors_wrapper(@final_interview_report.errors[:observations])

  .form-group
    .text-center
      = final_interview_report_form.submit class: "btn btn-success"
