= form_for @document_group do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', autofocus: true, required: field_required?(f, :name)

  .form-group
    = f.label :documents
    = f.collection_select :document_descriptor_ids, Document::Descriptor.all, :id, :details, {}, { :multiple => true, :class => 'form-control' }

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"
