-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-9
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.document.group.title")
        .col-xs-6.col-sm-3.col-md-3
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.actions.add_new") + ' ' + t("resources.document.group.singular"), new_document_group_path, class: "btn btn-block btn-success"


.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'group_document', view_more: true, detail_info: 'group_document' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle'
                  = t("resources.generals.labels.name")

                th.small style='vertical-align: middle' colspan="3"

            tbody
              - @document_groups.each do |document_group|

                tr
                  td.small style='vertical-align: middle' width="84%"
                    = link_to document_group.name, document_group, class: "text-base"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_document_group_path(document_group), class: "btn btn-block btn-primary btn-sm"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), document_group, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + document_group.name + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"

          = paginate @document_groups

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
