.course_newsFeed-copy
  p
    span.course_newsFeed-link
      - if a.owner.worker.present?
        = link_to a.owner.name_or_email, worker_basis_path(a.owner.worker)
      - else
        = a.owner.name_or_email
    
    span &nbsp;paso a &nbsp;

    span.course_newsFeed-link
      = link_to a.recipient.applicant.user.name_or_email, applicant_basis_path(a.recipient.applicant) if a.recipient.present?

    span &nbsp;a etapa de agendamiento
