table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              | Hola&nbsp;
              = @agreement.engagement_stage.enrollment.applicant.first_name
              | !
            p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
              | Junto con saludar, confirmamos tu ingreso a Integra en el cargo de&nbsp;
              strong style="color: #252b33; sans-serif;font-size:15px; line-height:10px; text-align: justify; font-weight: 500;"
                | &quot;
                = @agreement.engagement_stage.enrollment.course.company_position.name
                | &quot;
              | .
              br/
            h3 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 20px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px;"
              | ¡Felicidades!
            p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
              | Cordialmente,
            p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
              | Equipo de Reclutamiento y Selección
            p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
              | Fundación Integra&nbsp;
            p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                |¡Felicidades!
      tr
        td height="25"
      tr
