= form_for @minisite_banner do |f|
  
  .form-group
    = f.label :title
    = f.text_field :title, autofocus: true, class: 'form-control', required: field_required?(f, :title)

  .form-group
    = f.label :image
    - if f.object.image
      = image_tag(@minisite_banner.image.url, class: "img-responsive")
      p
      = f.file_field :image, class: 'form-control'
    - else
      = f.file_field :image, class: 'form-control', required: field_required?(f, :image)
  .form-group
    .checkbox-inline
      = f.check_box :active_image, required: field_required?(f, :active_image)
      = f.label :active_image

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"

  
