-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Minisite::Banner.model_name.human(count: :other)
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.m") + ' ' + Minisite::Banner.model_name.human, new_minisite_banner_path , class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'minisite_banner', view_more: true, detail_info: 'minisite_banner' }
          
          
          
          - @minisite_banners.each do |minisite_banner|
            .col-sm-6.col-md-4
              .thumbnail
                = image_tag(minisite_banner.image.thumb.url, alt: minisite_banner.title)
                .caption
                  - if minisite_banner.active_image == true
                    span.glyphicon.glyphicon-ok style="color:#7aa329; font-size: 20px;"
                    | &nbsp;
                    | &nbsp;
                    label = minisite_banner.title.upcase
                  -else
                    span.glyphicon.glyphicon-remove style="color:#F64747; font-size: 20px;"
                    | &nbsp;
                    | &nbsp;
                    label = minisite_banner.title.upcase
                  p
                    a = link_to t("resources.generals.actions.edit"), edit_minisite_banner_path(minisite_banner), class: "btn btn-block btn-primary btn-sm" 
                    p
                    a = link_to t("resources.generals.actions.destroy"), minisite_banner, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + minisite_banner.title + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"

          = paginate @minisite_banners

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
