-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.generals.labels.new.m") + ' ' + Minisite::Banner.model_name.human

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-40-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'form'
        .col-xs-12.col-md-3
          = link_to t("resources.generals.actions.back"), minisite_banners_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-xs-12.col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-xs-12
          = render partial: "scaffolds/scaffolds_list"
          
