-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @minisite_banner.title.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = image_tag(@minisite_banner.image.url, class: "img-responsive")
          p 
          - if @minisite_banner.active_image == true
            span.glyphicon.glyphicon-ok style="color:#7aa329; font-size: 20px;"
            | &nbsp;
            | &nbsp;
            label  = Minisite::Banner.human_attribute_name(:active_image)
          -else
            span.glyphicon.glyphicon-remove style="color:#F64747; font-size: 20px;"
            | &nbsp;
            | &nbsp;
            label  = Minisite::Banner.human_attribute_name(:active_image)
          p
          .row
            .col-md-12
              .col-md-2
                = link_to t("resources.generals.actions.edit"), edit_minisite_banner_path(@minisite_banner), class: "btn btn-block btn-primary"

              .col-md-2
                = link_to t("resources.generals.actions.back"), minisite_banners_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
