.row.margin-top-10-px

    section.course_card
      .row.course_card-title.__large
        .col-sm-5
          .row
            h4
              = Onboarding::Stage.model_name.human

      .row
        .col-md-12
          p
            - if @stage.document_group
              b
                = t("resources.document.group.request") + ': '
                = @stage.document_group.name
          br/

          - if support_react_document_uploader?
            ul#document-list.document-upload-list.accordion aria-multiselectable="true"
              - applicant = @stage.enrollment.applicant
              - @document_descriptors = @stage.document_group.document_descriptors
              - @document_records = @applicant.document_records.order('created_at ASC')

              = react_component "DocumentWrapperAction", {\
                applicant_id: applicant.id, \
                document_descriptors: JSON.parse(render(template: 'document/descriptors/index.json.jbuilder')), \
                document_records: JSON.parse(render(template: 'document/records/index.json.jbuilder')), \
                upload_path: do_upload_document_course_onboarding_stage_path(@course.id, @stage.id), \
                request_path: documents_request_course_onboarding_stage_path(@course.id, @stage.id),\
                show_document_request: true, \
                show_origin: true, \
                is_admin: current_user.can?(:admin) \
              }
          - else
            = form_for([@stage.enrollment.course, @stage], url: do_upload_document_course_onboarding_stage_path, method: 'POST', as: 'applicant_documents') do |f|
              .row
                div.col-md-6.col-md-offset-6.margin-bottom-10-px
                  = f.submit (t("actions.upload") + ' ' + Document::Record.human_attribute_name(:documents)), class: "btn btn-primary pull-right"

              - @stage.document_group.document_descriptors.each do |desc|
                .well.well-sm
                  .create-course_row.clearfix
                    .form-group
                      = f.label desc.details, desc.details
                      = f.file_field desc.to_sym

                  .row
                    .col-md-12
                      .col-md-12
                        - if @stage.enrollment.applicant.has_document(desc.name)
                          .btn-group aria-label="..." role="group"
                            = link_to t("actions.download"), download_document_course_onboarding_stage_path(@stage.enrollment.course, @stage, desc.name), class: "btn btn-success"

                          - records = @stage.enrollment.applicant.document_records.where(document_descriptor: desc).order("id desc")
                          - current_record =  @applicant.get_latest_document_record(desc.name, @stage.enrollment.id)
                          br/
                          a class="btn btn-default btn-xs margin-top-15-px" role="button" data-toggle="collapse" href="#allDocuments-#{desc.name}" aria-expanded="false" aria-controls="allDocuments-#{desc.name}"
                            = "Mostrar todas las versiones"
                          div class="collapse" id="allDocuments-#{desc.name}"
                            table class="table table-hover"
                              thead
                                tr
                                  th
                                    = t('onboarding.date')
                                  th
                                    = t('onboarding.origin')
                              tbody
                                - records.each do |record|
                                  - if record.id == current_record.id
                                    - tr_class = 'success'
                                  - else
                                    - tr_class = ''
                                  tr class="active #{tr_class}"
                                    td
                                      = link_to l(record.created_at, format: :long).capitalize, download_document_course_onboarding_stage_path(@stage.enrollment.course, @stage, desc.name, record_id: record.id)
                                    td
                                      - if record.enrollment.present?
                                        = "#{t('activerecord.models.course.one')}: "
                                        = link_to record.enrollment.course.title, course_path(record.enrollment.course)
                                      - else
                                        = link_to t('profiles.myprofile'), applicant_basis_path(@applicant)
