= flash_box_printer
- document_descriptors = @stage.document_group.document_descriptors.where(internal: [nil, false])
- document_descriptors = document_descriptors.where(id: params[:document_descriptor]) if params[:document_descriptor].present?
- if support_react_document_uploader?
  ul#document-list.document-upload-list.accordion aria-multiselectable="true"
    - document_descriptors.each do |descriptor|
      - applicant = @applicant
      - @document_descriptor = descriptor
      - @document_records = @applicant.document_records.where(document_descriptor: descriptor).order('created_at ASC')
      = react_component 'DocumentWrapper', { \
          applicant_id: applicant.id, \
          auth_token: form_authenticity_token, \
          document_descriptor: JSON.parse(render(template: 'document/descriptors/show.json.jbuilder')), \
          document_records: JSON.parse(render(template: 'document/records/index.json.jbuilder')), \
          upload_path: do_upload_requested_documents_course_onboarding_stage_path(token: @token), \
          show_origin: false \
        }, { tag: 'li', class: 'document-item-wrapper clearfix' }


- else
  - current_user = @applicant.user
  = form_for([current_user], url: do_upload_requested_documents_course_onboarding_stage_path(token: @token), method: 'POST', as: 'applicant_documents') do |f|
          .panel.panel-default.margin-top-10-px
            .panel-heading.clearfix
              .col-sm-11
                h3.margin-top-10-px
                  = t('documents.title')
              .col-sm-1
                = f.submit 'Subir archivos', class: "btn btn-success btn-block margin-top-10-px"

            .panel-body
              - document_descriptors.each do |desc|
                ul
                  li
                    = f.label desc.details, desc.details, class: "create-course_label"
                    =  f.file_field desc.to_sym
                    /= link_to 'Descargar', download_document_profiles_path(desc.name) if current_user.has_document(desc.name)
