- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

section.course_card
  h3.course_card-title.__large
    = t('technical_test.stage.title')

  - if @stage.technical_test_report.try(:persisted?)
    = render partial: 'technical_test/reports/show', locals: { technical_test_report: @stage.technical_test_report}
  - else
    = render partial: 'technical_test/reports/form'
