.container-fluid

  .row.margin-bottom-20-px
    .col-md-4
      h4
        = GroupInterview::Report.human_attribute_name(:notified_to)
        | :
      p
        - if group_interview_report.notified_to.present?
          = group_interview_report.notified_to
        - else
          = t('no_entry')
    .col-md-8
      h4
        = GroupInterview::Report.human_attribute_name(:documents)
        | :

      - group_interview_report.documents.each do |stage_document|
        p.stage-detail_agreement-text = link_to(stage_document.document.file.filename, download_course_group_interview_report_path(id: @course, stage_id: @stage.id, report_id: group_interview_report.id, stage_document_id: stage_document.id))

  .row.margin-bottom-20-px
    .col-md-12
      h4
        = GroupInterview::Report.human_attribute_name(:observations)
        | :
      p.margin-top-10-px
        = group_interview_report.observations.html_safe
