.movableContent
  table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
    tr
      td
        table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
          tr
            td
              .contentEditableContainer.contentTextEditable
                .contentEditable style=("text-align: center;")
                    h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
                      | Institución creada
                    p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;")
                      | Se ha creado la institución&nbsp;
                      span style=("color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 15px; font-style: oblique;")
                        = @institution.name
                      br
                      br

                    p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;")
                      | Para editar las instituciones creadas por usuarios haga clic en el siguiente enlace:

                      table style="width: 180px"
                        tr
                          td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                            = link_to I18n.t("education/institution.actions.edit_custom"), custom_education_institutions_url, style: "color:#ffffff; text-decoration: none;"
                      br
                    p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;")
                      span style=("color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 15px; font-style: oblique;") #{$COMPANY[:name]}
                      br
                      | Saludos cordiales

          tr
            td height="25"
          tr

p
  | Se ha creado la institución #{@institution.name}
