- @hiring_request_record.applicant ||= Applicant::Catched.new(user: User.new)
= form_for @hiring_request_record do |f|

  .form-group
    - options_request_reasons = options_for_select(Company::VacancyRequestReason.all.collect {|p| [p.name, p.id] }, selected: @hiring_request_record.company_vacancy_request_reason_id)
    = f.label :company_vacancy_request_reason_id
    = f.select :company_vacancy_request_reason_id, options_request_reasons, { include_blank: true }, class: 'form-control', required: field_required?(f, :company_vacancy_request_reason)
    = field_errors_wrapper(@hiring_request_record.errors[:company_vacancy_request_reason])

  .form-group
    .row
      - position_id = @hiring_request_record.company_positions_cenco.try(:company_position_id)
      - cencos = position_id.nil? ? [] : Company::PositionsCenco.get_with_large_name(position_id)

      = react_component 'PositionCencoSelect', { \
        selected: @hiring_request_record.company_positions_cenco_id, \
        name: (f.object_name + '[company_positions_cenco_id]'), \
        errors: @hiring_request_record.errors[:company_positions_cenco], \
        required: field_required?(f, :company_positions_cenco), \
        label: HiringRequest::Record.human_attribute_name(:company_positions_cenco_id), \
        cencos: cencos, \
        positions: Company::Position.all,
        position_id: position_id, \
      }

  .form-group
    = f.label :number_vacancies
    = f.number_field :number_vacancies, class: 'form-control enforce_num', required: field_required?(f, :number_vacancies)
    = field_errors_wrapper(@hiring_request_record.errors[:number_vacancies])

  .form-group
    .row
      .col-md-6
        = f.label :request_date
        .input-group
          .input-group-addon
            span.glyphicon.glyphicon-calendar
          - request_date = @hiring_request_record[:request_date].present? ? @hiring_request_record[:request_date] : Date.today
          = f.text_field :request_date, value: l(request_date), class: 'form-control  js-datepicker', required: field_required?(f, :request_date), readonly: true
        = field_errors_wrapper(@hiring_request_record.errors[:request_date])

      .col-md-6
        = f.label :entry_date
        .input-group
          .input-group-addon
            span.glyphicon.glyphicon-calendar
          - entry_date = @hiring_request_record[:entry_date].present? ? @hiring_request_record[:entry_date] : Date.today + 7.day
          = f.text_field :entry_date, value: l(entry_date), class: 'form-control js-datepicker', required: field_required?(f, :entry_date), readonly: true
        = field_errors_wrapper(@hiring_request_record.errors[:entry_date])


  .form-group
    - options_contract_types = options_for_select(Company::ContractType.all.collect {|p| [p.name, p.id] }, selected: @hiring_request_record.company_contract_type_id )

    = f.label :company_contract_type_id
    = f.select :company_contract_type_id, options_contract_types, { include_blank: true }, class: "form-control create-crouse_select", required: field_required?(f, :company_contract_type)
    = field_errors_wrapper(@hiring_request_record.errors[:company_contract_type])

  .form-group
    = f.label :applicant
    = f.fields_for :applicant do |applicant_form|
      = applicant_form.fields_for :user do |user_form|
        .input-group
          .input-group-addon
            span.glyphicon.glyphicon-envelope
          = user_form.email_field :email, class: 'form-control', required: field_required?(f, :applicant)
        = field_errors_wrapper(user_form.object.errors[:email])

    = field_errors_wrapper(@hiring_request_record.errors[:applicant])

  .form-group
    = f.label :revenue_expected
    .input-group
      .input-group-addon
        span.glyphicon.glyphicon-usd
      = f.number_field :revenue_expected, class: 'form-control enforce_num', value: f.object.revenue_expected, maxlength: '8', required: field_required?(f, :revenue_expected)
    = field_errors_wrapper(@hiring_request_record.errors[:revenue_expected])

  .form-group
    = f.label :workplace
    = f.text_field :workplace, class: 'form-control', required: field_required?(f, :workplace)
    = field_errors_wrapper(@hiring_request_record.errors[:workplace])

  .form-group
    - options_estates = options_for_select(Company::Estate.all.collect {|p| [p.name, p.id] }, selected: @hiring_request_record.company_estate_id )

    = f.label :company_estate_id
    = f.select :company_estate_id, options_estates, { include_blank: true }, class: "form-control create-crouse_select", required: field_required?(f, :company_estate)
    = field_errors_wrapper(@hiring_request_record.errors[:company_estate])

  .form-group
    - options_timetable = options_for_select(Company::Timetable.all.collect {|p| [p.name, p.id] }, selected: @hiring_request_record.company_timetable_id )

    = f.label :company_timetable_id
    = f.select :company_timetable_id, options_timetable, { include_blank: true }, class: "form-control create-crouse_select", required: field_required?(f, :company_timetable)
    = field_errors_wrapper(@hiring_request_record.errors[:company_timetable])

  .form-group
    = f.label :observations
    = f.text_area :observations, class: 'form-control', required: field_required?(f, :observations)
    = field_errors_wrapper(@hiring_request_record.errors[:observations])

  .form-group
    = f.label :required_by_name
    = f.text_field :required_by_name, class: 'form-control', required: field_required?(f, :required_by_name)
    = field_errors_wrapper(@hiring_request_record.errors[:required_by_name])

  .form-group
    = f.label :required_by_email
    = f.text_field :required_by_email, class: 'form-control', required: field_required?(f, :required_by_email)
    = field_errors_wrapper(@hiring_request_record.errors[:required_by_email])

  .form-group.text-center
    = f.submit class: 'btn btn-success'

= content_for :javascript do
  = javascript_include_tag('hiring_request_record')
