-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-10-px.padding-bottom-20-px.__with_shadow
        .col-xs-7
          h3.text-success
            = t("resources.generals.labels.editing") + ' ' + HiringRequest::Record.model_name.human

        .col-xs-5.text-right
          .btn-group.margin-top-10-px
              = link_to t("resources.generals.actions.show"), @hiring_request_record, class: "btn btn-success"
              = link_to t("resources.generals.actions.back"), hiring_request_records_path, class: "btn btn-primary"

.container
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-10-px.padding-bottom-20-px.__with_shadow
        .col-md-10.col-md-offset-1.__white-background.padding-top-10-px.padding-bottom-10-px
          .col-xs-12
            == render 'form'
