- content_for :title, HiringRequest::Record.model_name.human

-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-10-px.padding-bottom-20-px.__with_shadow
        .col-xs-7
          h3.text-success
            = HiringRequest::Record.model_name.human
        .col-xs-5.text-right
          .btn-group.margin-top-20-px
            = link_to t("resources.generals.actions.add_new") + ' ' + HiringRequest::Record.model_name.human, new_hiring_request_record_path, class: "btn btn-success"

.container
  .row
    - if support_react_document_uploader?
      = react_component 'HiringRequestRecord'
    - else
      = render partial: "common/unsupported_browser"
