-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-10-px.padding-bottom-20-px.__with_shadow
        .col-xs-7
          h3.text-success
            = t("resources.generals.labels.new.f") + ' ' + HiringRequest::Record.model_name.human

        .col-xs-5.text-right
          = link_to t("resources.generals.actions.back"), hiring_request_records_path, class: "btn btn-success margin-top-20-px"
.container
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-20-px.padding-bottom-10-px.__with_shadow
        .col-md-10.col-md-offset-1
          .col-md-12
            = render 'form'
