- content_for :title, HiringRequest::Record.model_name.human + " N-#{@hiring_request_record.id}"

-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-10-px.padding-bottom-20-px.__with_shadow
        .col-xs-7
          h3.text-success
            = HiringRequest::Record.model_name.human + " N-#{@hiring_request_record.id}"

        .col-xs-5.text-right
          .margin-top-10-px
            - if @hiring_request_record.active?
              = link_to t("resources.generals.actions.edit"), edit_hiring_request_record_path(@hiring_request_record), class: "btn btn-success"
            | &nbsp;&nbsp;
            = link_to t("resources.generals.actions.back"), hiring_request_records_path, class: "btn btn-primary"

.container
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-10-px.padding-bottom-20-px.__with_shadow
        .col-md-10.col-md-offset-1 class=("col-md-offset-1 padding-top-20-px" if @hiring_request_record.vacancies.empty?)
          .row.text-right
            .col-md-10
              h3 style='margin-top: 0px; margin-bottom: 20px'
                - state = t("hiring_request/record.states.#{@hiring_request_record.aasm_state}.full")
                - if @hiring_request_record.active?
                  span.label.label-primary = state
                - elsif @hiring_request_record.accepted?
                  span.label.label-success = state
                - else @hiring_request_record.rejected?
                  span.label.label-danger = state
          .row.margin-top-12-px.__active
            .col-md-5.col-md-offset-1
              label = HiringRequest::Record.human_attribute_name(:company_vacancy_request_reason_id)
              p.__textdecoration = @hiring_request_record.company_vacancy_request_reason.try(:name)

            .col-md-5.col-md-offset-1
              label = HiringRequest::Record.human_attribute_name(:number_vacancies)
              p.__textdecoration = @hiring_request_record.number_vacancies

          .row.margin-top-10-px
            .col-md-5.col-md-offset-1
              label = Company::Record.model_name.human
              p.__textdecoration = @hiring_request_record.company_positions_cenco.try(:company_cenco).try(:company_management).try(:company_record).name

            .col-md-5.col-md-offset-1
              label = Company::BusinessUnit.model_name.human
              p.__textdecoration = @hiring_request_record.company_positions_cenco.try(:company_cenco).try(:company_business_unit).name

          .row.margin-top-10-px
            .col-md-5.col-md-offset-1
              label = Company::Cenco.model_name.human
              p.__textdecoration = @hiring_request_record.company_positions_cenco.try(:company_cenco).name

            .col-md-5.col-md-offset-1
              label = Company::Position.model_name.human
              p.__textdecoration = @hiring_request_record.company_positions_cenco.try(:company_position).name

          .row.margin-top-10-px
            .col-md-5.col-md-offset-1
              label = HiringRequest::Record.human_attribute_name(:request_date)
              p.__textdecoration = @hiring_request_record.request_date

            .col-md-5.col-md-offset-1
              label = HiringRequest::Record.human_attribute_name(:entry_date)
              p.__textdecoration = @hiring_request_record.entry_date

          .row.margin-top-10-px
            .col-md-5.col-md-offset-1
              label = HiringRequest::Record.human_attribute_name(:applicant)
              p.__textdecoration = @hiring_request_record.applicant.present? ? link_to(@hiring_request_record.applicant.try(:full_name), applicant_basis_path(@hiring_request_record.applicant)) : t('no_entry')

            .col-md-5.col-md-offset-1
              label = HiringRequest::Record.human_attribute_name(:revenue_expected)
              p.__textdecoration = @hiring_request_record.revenue_expected.present? ? @hiring_request_record.revenue_expected : t('no_entry')

          .row.margin-top-10-px
            .col-md-5.col-md-offset-1
              label = HiringRequest::Record.human_attribute_name(:company_contract_type_id)
              p.__textdecoration = @hiring_request_record.company_contract_type.try(:name)

            .col-md-5.col-md-offset-1
              label = HiringRequest::Record.human_attribute_name(:workplace)
              p.__textdecoration = @hiring_request_record.workplace.present? ? @hiring_request_record.workplace : t('no_entry')

          .row.margin-top-10-px
            .col-md-5.col-md-offset-1
              label = HiringRequest::Record.human_attribute_name(:company_estate_id)
              p.__textdecoration = @hiring_request_record.company_estate.try(:name).present? ? @hiring_request_record.company_estate.try(:name) : t('no_entry')

            .col-md-5.col-md-offset-1
              label = HiringRequest::Record.human_attribute_name(:company_timetable_id)
              p.__textdecoration = @hiring_request_record.company_timetable.try(:name).present? ? @hiring_request_record.company_timetable.try(:name) : t('no_entry')

          .row.margin-top-10-px
            .col-md-5.col-md-offset-1
              label = HiringRequest::Record.human_attribute_name(:required_by_name)
              p.__textdecoration = @hiring_request_record.required_by_name.present? ? @hiring_request_record.required_by_name : t('no_entry')

            .col-md-5.col-md-offset-1
              label = HiringRequest::Record.human_attribute_name(:required_by_email)
              p.__textdecoration = @hiring_request_record.required_by_email.present? ? @hiring_request_record.required_by_email : t('no_entry')

          .row.margin-top-10-px
            .col-md-10.col-md-offset-1
              label = HiringRequest::Record.human_attribute_name(:observations)
              p.__textdecoration = @hiring_request_record.observations.present? ? @hiring_request_record.observations : t('no_entry')

          .row.text-center.margin-top-20-px
              .btn-group
                - if @hiring_request_record.active?
                  = link_to(t('hiring_request/record.actions.accept.text'), switch_state_hiring_request_record_path(@hiring_request_record, switch: :accept), method: :put, class: 'btn btn-success')


                - if @hiring_request_record.accepted? || @hiring_request_record.active?
                  = link_to( \
                    t('hiring_request/record.actions.reject.text'), \
                    switch_state_hiring_request_record_path(@hiring_request_record, switch: :reject), \
                    data: {confirm: t("hiring_request/record.messages.reject_confime")}, \
                    method: :put, \
                    class: 'btn btn-danger' \
                  )

        - if @hiring_request_record.vacancies.any?
          .col-md-12.margin-top-20-px
            .well.well-lg
              .margin-bottom-10-px
                strong = HiringRequest::Record.human_attribute_name(:vacancies)

              - courses = Course.opened.where(company_position_id: @hiring_request_record.company_positions_cenco.company_position_id)
              - @vacancies = @hiring_request_record.vacancies.includes(:course)
              = react_component 'VacanciesTable', { \
                auth_token: form_authenticity_token, \
                locales:  I18n.t('activerecord.attributes.vacancy'), \
                vacancies: JSON.parse(render(partial: 'vacancies/vacancies.json.jbuilder')), \
                courses: courses, \
                url_new_course: new_course_path\
              }
