= form_for @trabajando_education_state do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    = f.label :hupe_study_level_id
    = f.select :hupe_study_level_id, Education::StudyLevel.all.map{ |el| [el[:name], el[:id]] }, {include_blank: true, selected: @trabajando_education_state.hupe_study_level_id }, class: "form-control __multiple"

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"
