- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-7.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Trabajando::EducationState.model_name.human(count: :other)

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'education_state' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Trabajando::EducationState.human_attribute_name(:name)
                th.small style='vertical-align: middle' = Trabajando::EducationState.human_attribute_name(:hupe_study_level_id)

                th.small

            tbody-body
              - @trabajando_education_states.each do |trabajando_education_state|
                tr
                  td.small style='vertical-align: middle' width="40%"
                    = link_to trabajando_education_state.name, trabajando_education_state, class: "text-base"

                  td.small style='vertical-align: middle' width="40%"
                    = link_to trabajando_education_state.hupe_study_level.name, trabajando_education_state.hupe_study_level if trabajando_education_state.hupe_study_level

                  td style='vertical-align: middle' width="42px"
                    = link_to t("resources.generals.actions.edit"), edit_trabajando_education_state_path(trabajando_education_state), class: "btn btn-block btn-primary btn-sm"

          = paginate @trabajando_education_states

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
