-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @trabajando_education_state.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label.scaffold_label.__strong = Trabajando::EducationState.human_attribute_name(:name)
          = @trabajando_education_state.name
          label.scaffold_label.__strong = Trabajando::EducationState.human_attribute_name(:hupe_study_level_id)
          = link_to @trabajando_education_state.hupe_study_level.name, @trabajando_education_state.hupe_study_level if @trabajando_education_state.hupe_study_level

        .col-md-2
          = link_to t("resources.generals.actions.edit"), edit_trabajando_education_state_path(@trabajando_education_state), class: "btn btn-block btn-primary"

        .col-md-2
          = link_to t("resources.generals.actions.back"), trabajando_education_states_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
>>>>>>> ece295763eca1c17a8bd75816ad6a43236aa191d
