.movableContent
  table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
    td
      table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
        td
          .contentEditableContainer.contentTextEditable
            .contentEditable style=("text-align: justify;")
              - if not @discard_reason.try(:mailer_content).present?
                h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
                  | Estimado (a)&nbsp;
                  = @enrollment.applicant.user.name_or_email
                  | &#58;
                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                  | Agradecemos tu interés por pertenecer a  Fundación Integra, y por la  participación en nuestro proceso de Reclutamiento y Selección&nbsp;
                  strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 400; font-family:'Open Sans', arial, sans-serif;"
                    = @enrollment.course.title
                  | &#46;&nbsp;Sin embargo, para este proceso en particular, no has sido seleccionado.
                  br/
                  br/
                  | Cabe destacar que tus antecedentes quedarán en nuestra base de datos y en caso que iniciemos un nuevo proceso, en que tanto tus conocimientos como tu perfil se adecuen a nuestros requerimientos,
                  | &nbsp;tomaremos contacto contigo.

                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                  | Recomendamos mantengas actualizado tu perfil.

                br/
                p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                  | Muchas gracias por postular a Fundación Integra.
                p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                  | Cordialmente,
                p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                  | Área Desarrollo de Personas y Equipos
                p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                  | Fundación Integra

              - else
                = @discard_reason.parse_mailer_content(@enrollment)

        tr
          td height="25"
        tr
