.movableContent
  table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
      td
        table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
          td
            .contentEditableContainer.contentTextEditable
              .contentEditable style=("text-align: center;")
                h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
                  | Hola&nbsp;
                  = @enrollment.applicant.first_name
                  | !

                p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;")
                  | Queremos informarle que has sido descartado de manera errónea&nbsp;
                  | y que ya hemos corregido este error.

                  br/

                  | De ahora en adelante tu proceso de evaluación continuará de manera regular.

                  br/
                  br/

                  p style=("font-family:'Open Sans', arial, sans-serif;font-size:12px; line-height:10px; color:#7e8890; text-align: justify; font-style: italic;") Saludos cordiales

                  p style=("font-family:'Open Sans', arial, sans-serif;font-size:12px; line-height:10px; color:#7e8890; text-align: justify; font-style: italic;") Equipo de Reclutamiento y Selección
        tr
          td height="25"
        tr
