- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

section.course_card
  h3.course_card-title.__large
    = t('psycholaboral_evaluation.stage.title')

  - if @stage.psycholaboral_evaluation_report.try(:persisted?)
    = render partial: 'psycholaboral_evaluation/reports/show', locals: { psycholaboral_evaluation_report: @stage.psycholaboral_evaluation_report}
  - else
    = render partial: 'psycholaboral_evaluation/reports/form'
