= form_for @group do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", autofocus: true, required: field_required?(f, :name)
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', required: field_required?(f, :description)

  .form-group
    = f.label t("resources.generals.labels.users")
    = f.select :user_ids, Worker::Base.all.map{ |worker| [worker.user[:email], worker.user[:id]] }, {selected: @group.user_ids }, multiple: true, class: "form-control chosen",'data-placeholder': User.model_name.human(count: :other)

  .form-group
    = f.submit class: "btn btn-block btn-success"
