-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.generals.labels.editing") + ' ' + t("resources.groups.singular")

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'groups', view_more: true, detail_info: 'groups' }
          = render partial: 'form'

          .row
            .col-xs-12.col-md-6
              = link_to t("resources.generals.actions.show"), @group, class: "btn btn-block btn-success btn-inverted"

            .col-xs-12.col-md-6
              = link_to t("resources.generals.actions.back"), groups_path, class: "btn btn-block btn-primary btn-inverted"


    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
