-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.groups.title")

        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.m") + ' ' + t("resources.groups.singular"), new_group_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'groups', view_more: true, detail_info: 'groups' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = t("resources.generals.labels.name")
                th.small style='vertical-align: middle' = t("resources.generals.labels.description")
                th.small style='vertical-align: middle' colspan="3"

            tbody
              - @groups.each do |group|
                tr
                  td.small style='vertical-align: middle' width="35%" = link_to group.name , group, class: "text-base"
                  td.small style='vertical-align: middle' width="50%" = group.description
                  td.small style='vertical-align: middle' = link_to t("resources.generals.actions.edit"), edit_group_path(group), class: "btn  btn-primary btn-sm"
                  td.small style='vertical-align: middle' = link_to t("resources.generals.actions.destroy"), group, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + group.name + ' ?')}, :method => :delete, class: "btn btn-danger btn-sm"

            = paginate @groups

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
