-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.generals.labels.new.m") + ' ' + t("resources.groups.singular")

.container
  .row
    .col-sm-9
      .col-sm-12
        .col-sm-12.padding-bottom-10-px.__white-background.__with_shadow
          .col-sm-12
            = render partial: 'form'
          .col-sm-12
            = link_to t("resources.generals.actions.back"), groups_path, class: "btn btn-block btn-primary btn-inverted"

    .col-sm-3
      .col-sm-12
        .col-sm-12.padding-bottom-10-px.__white-background.__with_shadow
          .col-sm-12
            = render partial: "scaffolds/scaffolds_list"
