-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @group.name


.container
  .row
    .col-md-9
      .col-xs-12.col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label.scaffold_label.__strong = t("resources.generals.labels.name")
          p = @group.name
          label.scaffold_label.__strong = t("resources.generals.labels.description")
          p = @group.description
          br
          .col-xs-12.col-md-6
            = link_to t("resources.generals.actions.edit"), edit_group_path(@group), class: "btn btn-block btn-primary"
          .col-xs-12.col-md-6
            = link_to t("resources.generals.actions.back"), groups_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-xs-12.col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
          .col-md-12
          = render partial: "scaffolds/scaffolds_list"
