= form_tag(generate_report_applicants_path(), method: :post)

  h2 Candidato

  .form-group
    = label_tag t('reports.filters.applicant_first_name')
    = text_field_tag 'applicant[first_name]', params.try(:applicant).try(:first_name), class: 'form-control'

  .form-group
    = label_tag t('reports.filters.applicant_last_name')
    = text_field_tag 'applicant[last_name]', params.try(:applicant).try(:last_name), class: 'form-control'

  .form-group
    = label_tag t('reports.filters.sex')
    - options = options_for_select(People::PersonalInformation.gender_options_for_select)
    = select_tag 'applicant[sex]', options, prompt: "Ambos", 'data-placeholder': 'Ambos' , class: "form-control js-select"

  /.form-group
    - People::PersonalInformation::SEX_OPTIONS.each do |sex|
      span
        = radio_button_tag 'applicant[sex]', sex[:abbreviation]
        | &nbsp;
        = label_tag 'sex_'+sex[:abbreviation].downcase, sex[:name]
        | &nbsp;
  .form-group
    = react_component 'CountryStateCitySelect', { \
      country_select: { \
        name: "applicant[country]", \
        selected: "Territory::Country.find_by(name: $COMPANY[:default_country]).try(:id)}", \
        required: false \
      }, \
      state_select: { \
        name: "applicant[state]", \
        selected: "", \
        required: false \
      }, \
      city_select: { \
        name: "applicant[city]", \
        selected: "", \
        required: false \
      } \
    }

  .form-group
    = label_tag t('reports.filters.applicant_degree_name')
    = text_field_tag 'applicant[degree_name]', params.try(:applicant).try(:degree_name), class: 'form-control'

  .form-group
    = label_tag t('reports.filters.applicant_degree_career_ids')
    .input-group
      .input-group-addon
        span.glyphicon.glyphicon-list-alt
      - options = options_for_select(Education::Career.all.order(:name).pluck(:name, :id))
      = select_tag "applicant[degree_career_ids]", options, multiple: true, 'data-placeholder': Education::Career.model_name.human(count: :other) , class: "form-control js-select"

  .form-group
    = label_tag t('reports.filters.applicant_degree_university_ids')
    .input-group
      .input-group-addon
        span.glyphicon.glyphicon-list-alt
      - options = options_for_select(Education::University.all.order(:name).pluck(:name, :id))
      = select_tag "applicant[degree_university_ids]", options, multiple: true, 'data-placeholder': Education::University.model_name.human(count: :other) , class: "form-control js-select"

  .form-group
    = label_tag t('reports.filters.applicant_degree_condition')
    - options = options_for_select(People::Degree::CONDITIONS)
    = select_tag 'applicant[degree_condition]', options, prompt: "Elija...", 'data-placeholder': 'Elija...' , class: "form-control js-select"


  h2.margin-top-40-px Proceso

  .form-group
    = react_component 'CountryStateCitySelect', { \
      country_select: { \
        name: "course[country]", \
        selected: "Territory::Country.find_by(name: $COMPANY[:default_country]).try(:id)}", \
        required: false \
      }, \
      state_select: { \
        name: "course[state]", \
        selected: "", \
        required: false \
      }, \
      city_select: { \
        name: "course[city]", \
        selected: "", \
        required: false \
      } \
    }

  .form-group
    = label_tag t("course.detail.tags")
    .input-group
      .input-group-addon
        span.glyphicon.glyphicon-tags
      - options = options_for_select(Tag::CourseTag.all.map{ |c| [c[:name], c[:id]] })
      = select_tag "course[tags]", options, multiple: true, 'data-placeholder': t('course.placeholder.tags') , class: "form-control js-select"

  .form-group
    = label_tag t('reports.filters.company_engagement_origin_ids')
    .input-group
      .input-group-addon
        span.glyphicon.glyphicon-list-alt
      - selected = [] # (action_name == 'new') ? Company::EngagementOrigin.ids :  params[:engagement_origin_ids]
      - options = options_for_select(Company::EngagementOrigin.all.pluck(:name, :id), selected: selected)
      = select_tag "course[engagement_origin_ids]", options, multiple: true, 'data-placeholder': Company::EngagementOrigin.model_name.human.pluralize , class: "form-control js-select"

  .form-group.text-center
    = submit_tag t('reports.buttons.generate'), class: 'btn btn-success'
