table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify; font-family: 'Open Sans', arial, sans-serif;")
            // Simple AKA Prácticas
            - if @postulation.is_simple?
              h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
                | Estimado (a)&nbsp;
                = @postulation.applicant.name_or_email
                | &#58;
              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | Hemos recibido tu postulación para el cargo&nbsp;
                strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 400; font-family:'Open Sans', arial, sans-serif;"
                  = @postulation.minisite_publication.course.title
                | . Comentarte que revisaremos tu información y en caso que tus antecedentes curriculares se ajusten a los requerimientos del cargo, serás contactado para participar del proceso de selección.
              br/

              - if @postulation.applicant.profile_progress < 100
                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                  | Te invitamos además a completar tu perfil debido a que actualmente tienes un&nbsp;
                  strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 400; font-family:'Open Sans', arial, sans-serif;"
                    = @postulation.applicant.profile_progress
                  | %&nbsp;de tus datos ingresados. Ten presente que mientras más completo se encuentre tu perfil, más posibilidades tienes de ser parte de nuestro equipo de trabajo.&nbsp;
                br/
                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                  | Puedes ingresar y actualizar tu perfil utilizando el siguiente link:
                table style="width: 250px"
                  tr
                    td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                      = link_to "Ingresar", edit_profiles_url, class: "link3", target: "_blank", style: "color:#ffffff; text-decoration: none;"
                br/
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:12px; line-height:10px; color:#252b33; text-align: justify;")
                | Cordialmente,
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:12px; line-height:10px; color:#252b33; text-align: justify;")
                | Equipo de Reclutamiento y Selección
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:12px; line-height:10px; color:#252b33; text-align: justify;")
                | Fundación Integra

            // Base AKA R&S
            - else
              h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
                | Estimado (a)&nbsp;
                = @postulation.applicant.name_or_email
                | &#58;
              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | Hemos recibido tu postulación para el cargo&nbsp;
                strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 400; font-family:'Open Sans', arial, sans-serif;"
                  = @postulation.minisite_publication.course.title
                | . Comentarte que revisaremos tu información y en caso que tus antecedentes curriculares se ajusten a los requerimientos del cargo, serás contactado para participar del proceso de selección.

              - if @postulation.applicant.profile_progress < 100
                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                  | Te invitamos además a completar tu perfil debido a que actualmente tienes un&nbsp;
                  strong #{@postulation.applicant.profile_progress}%
                  | &nbsp;de tus datos ingresados. Ten presente que mientras más completo se encuentre tu perfil, más posibilidades tienes de ser parte de nuestro equipo de trabajo.&nbsp;
                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                  | Puedes ingresar y actualizar tu perfil utilizando el siguiente link:
                table style="width: 250px"
                  tr
                    td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                      = link_to "Ingresar", edit_profiles_url, class: "link3", target: "_blank", style: "color:#ffffff; text-decoration: none;"
              br/
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Cordialmente,
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Equipo de Reclutamiento y Selección
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Fundación Integra

        tr
          td height="25"
        tr
