= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|

  = f.hidden_field :reset_password_token

  .form-group
    = f.label :password
    .field_info
      = User.password_length.min
      | &nbsp;
      = t("devise.passwords.min_chars")

    = f.password_field :password, autofocus: true, autocomplete: "off" , class: 'form-control'
    = field_errors_wrapper(f.object.errors[:password])

  .form-group
    =f.label :password_confirmation
    =f.password_field :password_confirmation, autocomplete: "off" , class: 'form-control'
    = field_errors_wrapper(f.object.errors[:password_confirmation])


  = f.submit t("devise.passwords.change_my_password"), class: 'btn btn-success btn-block'