/ h2.text-primary = t("devise.passwords.reset_password")

/ p.recovery_text
/   | Ingresa tu correo electrónico que usaste para registrarte.
/   br
/   | Te enviaremos un mensaje con tu nombre de usuario
/   br
/   | y un enlace para restablecer tu contraseña.

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|

  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('devise.sessions.placeholder_email'), required: 'required'
    = field_errors_wrapper(f.object.errors[:email])

  .form-group
    = f.submit t('devise.passwords.reset_password'), class: 'btn btn-block btn-success'