= form_for @test_report, url: course_test_reports_path(@course.id, @stage.id) do |test_report_form|

  .form-group
     = test_report_form.label :documents
     .field_info
       = I18n.t("documents.valid_extensions_files")
     = test_report_form.file_field :documents, multiple: true, class: 'form-control', required: true
     = field_errors_wrapper(@test_report.documents.map{ |doc| doc.errors[:document]}.flatten.uniq)
     .help-block
       = I18n.t("documents.select_multiple_files")

  .form-group
    = test_report_form.label :observations
    = test_report_form.bootsy_area :observations, class: "form-control", required: field_required?(test_report_form, :observations)
    = field_errors_wrapper(@test_report.errors[:observations])

  .form-group.text-center
    = test_report_form.submit class: "btn btn-success"
