.container-fluid
  .row.margin-bottom-20-px
    .col-md-12
      label
        = Test::Report.human_attribute_name(:documents)
        | :
        br/
        - test_report.documents.each do |stage_document|
          p.stage-detail_agreement-text = link_to(stage_document.document.file.filename, download_course_test_report_path(id: @course, stage_id: @stage.id, report_id: test_report.id, stage_document_id: stage_document.id))
      br/

  .row.margin-bottom-20-px
    .col-md-12
      label
        = Test::Report.human_attribute_name(:observations)
        | :

      p.margin-top-10-px
        = test_report.observations.html_safe
