.movableContent
  table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
    tr
      td
        table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
          td
            .contentEditableContainer.contentTextEditable
              .contentEditable style=("text-align: center;")
                  h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
                    | Hola&nbsp;
                    = @enrollment.applicant.first_name
                  p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;")
                    | Te solicitamos que subas los siguientes documentos:  &nbsp;

                  ul style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;")
                    - @document_descriptors.each do |descriptor|
                      li = descriptor.details

                  - if @message.present?
                    p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;")
                      = @message


                  p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;")
                    | Para subir los documentos, haz click en el siguiente enlace:
                    table style="width: 180px"
                      tr
                        td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                          = link_to "Subir archivo", upload_requested_documents_course_onboarding_stage_url(id: @stage.enrollment.course.id, stage_id: @stage.to_param, token: @token, document_descriptor: @document_descriptors.map(&:id)), target: "_blank", method: :get, style: "color:#ffffff; text-decoration: none;"
          tr
            td height="25"
          tr
