table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")
            // Simple AKA Práctica
            - if @onboarding_stage.enrollment.class == Enrollment::Simple
              h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
                | Estimado (a):

              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | Con el propósito de gestionar tu incorporación, es necesario que ingreses a nuestra plataforma y cargues la documentación que detalla más abajo:

              // Documentación
              - if @onboarding_stage.enrollment.course.document_group.document_descriptors.any?
                br/
                strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 400; font-family:'Open Sans', arial, sans-serif;"
                  | Documentación solicitada&#58;
                br/
                br/

                ul style="text-align: left; line-height: 150%;"
                  - @onboarding_stage.enrollment.course.document_group.document_descriptors.each do |document|
                    li
                      = document.details
              br/
              br/

              p style=("font-family:'Open Sans', arial, sans-serif;font-size:12px; line-height:10px; color:#252b33; text-align: justify;")
                | Cordialmente,
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:12px; line-height:10px; color:#252b33; text-align: justify;")
                | Equipo de Reclutamiento y Selección
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:12px; line-height:10px; color:#252b33; text-align: justify;")
                | Fundación Integra

            // Base AKA R&S
            - else
              h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
                | Estimado (a)&nbsp;
                = @onboarding_stage.enrollment.applicant.name_or_email
                | &#58;

              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | Junto con agradecer tu interés en formar parte de nuestro equipo de trabajo y, con el propósito de gestionar tu incorporación, es necesario que ingreses a nuestra plataforma y adjuntes los documentos que se detallan más abajo. Una vez recepcionados tus documentos, tomaremos contacto contigo para darte mayores detalles de tu ingreso.

              - if @onboarding_stage.enrollment.course.document_group.document_descriptors.any?
                br/
                strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 400; font-family:'Open Sans', arial, sans-serif;"
                  | Documentación solicitada&#58;
                br/

                ul style="text-align: left; line-height: 150%;"
                  - @onboarding_stage.enrollment.course.document_group.document_descriptors.each do |document|
                    li
                      = document.details

                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                  | (*) Se requiere que el día de tu ingreso presentes esta documentación (original o copia legalizada) en forma física.

              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | Estamos seguros de que tu capacidad y esfuerzo serán un gran aporte para enfrentar los desafíos que tenemos por delante como institución. Recibirás el estímulo necesario para el correcto  desarrollo personal y laboral en Integra.
              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | Te deseamos el mayor de los éxitos en tu puesto de trabajo.
              br/
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Esperamos su confirmación a la brevedad,
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Cordialmente,
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Equipo de Reclutamiento y Selección
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Fundación Integra

          tr
            td height="25"
          tr
