= form_for @company_contract_type do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", autofocus: true, required: field_required?(f, :name)
  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control", required: field_required?(f, :description)
  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: 'btn btn-block btn-success'
