- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.company.contract_types.title")

        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.actions.add_new") + ' ' + t("resources.company.contract_types.singular"), new_company_contract_type_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'contract_types', view_more: true, detail_info: 'contract_types' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle'= t("resources.generals.labels.name")
                th.small style='vertical-align: middle'= t("resources.generals.labels.description")
                th
                th

            tbody
              - @company_contract_types.each do |company_contract_type|
                tr
                  td.small style='vertical-align: middle' width="42%"
                    = link_to company_contract_type.name, company_contract_type, class: "text-base"

                  td.small style='vertical-align: middle' width="42%"
                    = company_contract_type.description

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_company_contract_type_path(company_contract_type), class: "btn btn-block btn-primary btn-sm"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), company_contract_type, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + company_contract_type.name + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"

          = paginate @company_contract_types

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          =render partial: "scaffolds/scaffolds_list"
