.course_candidate-discard-container
  a.btn.btn-danger.__discard.js-single-discard = t("enrollment/base.discard")
  
  .course_candidate-discard-modal.__hide
    .course_candidate-discard-modal-header
      h3.course_candidate-discard-modal-title Formulario de Descarte
      button.course_candidate-discard-modal-close.js-single-discard-close x

    .course_candidate-discard-modal-body
      = form_tag(discard_enrollment_basis_path(@enrollment), method: :post) do |f|
        - if candidate_name.present?
          .create-course_row
            label.create-course_label 
              = t("enrollment/base.confirm_discard")
              strong = candidate_name
              |?
        
        .create-course_row
          = label_tag t("enrollment/base.discard_reason"), nil, class: "create-course_label"
          
          = select_tag "discard[discard_reason_id]", options_for_select(@discard_reasons.map{ |discard_reason| [ "#{discard_reason[:name]}", discard_reason[:id]] }), class: "create-crouse_select"
        
        .create-course_row
          = label_tag t("enrollment/base.discard_observations"), nil, class: "create-course_label"
          = text_area_tag "discard[observations]", nil, class: "create-course_textarea"
        
        .create-course_row
          = submit_tag t("enrollment/base.discard"), class: "course_candidate-discard-modal-submit"
    .course_candidate-discard-modal-arrow