- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

section.course_card
  h3.course_card-title.__large
    = t('final_interview.stage.title')

  - if @stage.final_interview_report.try(:persisted?)
    = render partial: 'final_interview/reports/show', locals: { final_interview_report: @stage.final_interview_report}
  - else
    = render partial: 'final_interview/reports/form'
