- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

section.course_card
  h3.course_card-title.__large
    = t('group_interview.stage.title')

  - if @stage.group_interview_report.try(:persisted?)
    = render partial: 'group_interview/reports/show', locals: { group_interview_report: @stage.group_interview_report}
  - else
    = render partial: 'group_interview/reports/form'
