- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

section.course_card
  h3.course_card-title.__large
    = t('<%= name.tableize.singularize %>.stage.title')
    .course_card-action-container
      - if @stage.enrollment.stage == @stage
          = link_to(I18n.t('stage.base.actions.finish.one'),
            finish_stage_course_<%= name.tableize.singularize %>_stage_path,
            method: :put,
            class: 'btn btn-success')