table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              |Estimado(a)&nbsp;
              = "#{@postulation.applicant.first_name} #{@postulation.applicant.last_name}"

              /  Si type_enrollment es interno muestra contenido 1
              - if @postulation.minisite_publication.course.type_enrollment == "Enrollment::Internal"

                / Contenido 1
                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                  | Junto con saludar, te informamos que lamentablemente no cumples con la totalidad&nbsp;
                  | de los requisitos que exigía el proceso, por lo que tu postulación se encuentra inhabilitada&nbsp;
                  | de continuar.

                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                  | Te recomendamos que revises tus antecedentes y que, en caso de ser posible, apliques&nbsp;
                  | las correcciones correspondientes  para una futura postulación. Si tienes alguna consulta, &nbsp;
                  | puedes enviarla a través de los medios disponibles institucionalmente.

                br/
                p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                  | Atte. Fundación Integra

              - else

                / Contenido 2
                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                  | Queremos agradecer tu iniciativa por pertenecer a Integra y
                  | &nbsp;por haber postulado a nuestro proceso de reclutamiento:&nbsp;
                  strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 400; font-family:'Open Sans', arial, sans-serif;"
                    |&quot;
                    = @postulation.minisite_publication.title
                    |&quot;
                  | &nbsp;sin embargo, para este proceso en particular, no has sido&nbsp;
                  | seleccionado.

                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                  | Tus antecedentes quedarán en nuestra base de datos y,&nbsp;
                  | en caso que iniciemos un nuevo proceso en que tanto tus conocimientos,&nbsp;
                  | como tu perfil se adecuen a nuestros requerimientos,&nbsp;
                  | tomaremos contacto contigo.
                br/
                p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                  | Muchas gracias por postular
                p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                  | Saludos cordiales
                p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                  | Equipo de Reclutamiento y Selección

    tr
      td height="25"
    tr
