- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

section.course_card
  h3.course_card-title.__large
    = @stage.name

  - if @stage.interview_report.try(:persisted?)
    = render partial: 'interview/reports/show', locals: { interview_report: @stage.interview_report}
  - else
    = render partial: 'interview/reports/form'
