- content_for :title, t("reports.title")

- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-10-px.padding-bottom-20-px.__with_shadow
        h3.text-success
          = t('reports.vacancies_evolution')
            
.container        
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-20-px.__with_shadow
        .col-md-6.col-md-offset-3
          .well
            = render partial: 'report/common/filters/managements/form', locals: { url: report_report_vacancies_evolution_index_path(format: :jasperpdf) }

= content_for :javascript do
  = javascript_include_tag('reports_helper')
