.row
  .col-xs-12
    .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
      .col-xs-6.col-md-10
        h3.text-success
          | Respuesta recibida

        p
          - if @event_resourceable.will_attend == true
            | Tu asistencia al evento ha sido confirmada. Muchas gracias.
          - else
            | Tu respuesta ha sido recibida. Muchas gracias.
