.container
  .row.margin-top-50-px
    .col-sm-10.col-sm-offset-1.__white-background
      .row
        .col-sm-10.col-sm-offset-1.padding-top-50-px.padding-bottom-50-px
          h2 Bienvenido!
          p Gracias #{@offer_letter.stage.enrollment.applicant.first_name} por aceptar nuestra oferta a #{@offer_letter.stage.enrollment.course.company_position.name}.
          p Pronto recibirás un correo con las instrucciones para continuar con tu proceso de contratación.
