.container
  .row.margin-top-50-px
    .col-sm-10.col-sm-offset-1.__white-background
      .row
        .col-sm-10.col-sm-offset-1.padding-top-50-px.padding-bottom-50-px
          h2 Carta oferta ya rechazada
          p Esta carta oferta ya fue rechazada
