.container
  .row
    .col-sm-8.col-sm-offset-2.__white-background.margin-top-30-px
      .col-xs-12
        h2
          | Gracias #{@offer_letter.stage.enrollment.applicant.first_name}, hemos recepcionado tu respuesta.
