.container
  .row
    .col-sm-8.col-sm-offset-2.__white-background.margin-top-20-px
      .col-xs-12
        h2
          | #{@offer_letter.stage.enrollment.applicant.first_name}
          |, elige la razón por la cual rechazaste la oferta
        = form_tag(reject_enrollment_offer_letter_url(id: @enrollment.id, offer_letter_id: @offer_letter.id, token: @offer_letter.token), method: :post)
          .form-group
            .radio
              = collection_radio_buttons(:offer_letter, :offer_reject_reason_id, Offer::RejectReason.all, :id, :name) do |b|
                = b.label(style: "display: block") { b.radio_button + b.text }
          .form-group.text-center.margin-bottom-20-px
            = submit_tag "Enviar", class: "btn btn-lg btn-primary"
