-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = Applicant::SoftwareLevel.model_name.human(count: :other)

    .subheader_right-container
      = link_to t("resources.generals.actions.add_new") + ' ' + Applicant::SoftwareLevel.model_name.human, new_applicant_software_level_path, class: "scaffold_btn __green"

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col

      table.scaffold_table width="100%"
        thead.scaffold_table-header
          tr.scaffold_table-row
            th.scaffold_table-heading = t("resources.generals.labels.name")
            th.scaffold_table-heading
            th.scaffold_table-heading.__no-borders

        tbody.scaffold_table-body
          - @applicant_software_levels.each do |applicant_software_level|
            tr.scaffold_table-row
              td.scaffold_table-data.__force_center-text width="60%"
                = link_to applicant_software_level.name, applicant_software_level, class: "scaffold_link"

              td.scaffold_table-data.__no-borders
                = link_to t("resources.generals.actions.edit"), edit_applicant_software_level_path(applicant_software_level), class: "scaffold_btn __green"

              td.scaffold_table-data.__no-borders = link_to t("resources.generals.actions.destroy"), applicant_software_level, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + applicant_software_level.name + ' ?')}, :method => :delete, class: "scaffold_btn __green"

      = paginate @applicant_software_levels

    .grid_content-col.__second-col

      =render partial: "scaffolds/scaffolds_list"
