-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = @applicant_software_level.name

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col
      label.scaffold_label.__strong = t("resources.generals.labels.name")
      = @applicant_software_level.name

      .scaffold_actions
        = link_to t("resources.generals.actions.edit"), edit_applicant_software_level_path(@applicant_software_level), class: "scaffold_btn __green"

        = link_to t("resources.generals.actions.back"), applicant_software_levels_path, class: "scaffold_btn __blue"

    .grid_content-col.__second-col
      = render partial: 'scaffolds/scaffolds_list'
