= form_for @video_interview_question do |f|

  .form-group
    = f.label :content
    = f.text_field :content, class: 'form-control', autofocus: true, required: field_required?(f, :content)
  
  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"
