-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = VideoInterview::Question.model_name.human(count: :other) + " " +  VideoInterview::Stage.model_name.human(count: :other)
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.m") + ' ' + VideoInterview::Question.model_name.human, new_video_interview_question_path , class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'video_interview', view_more: true, detail_info: 'video_interview' }
          table.table.table-bordered.table-hover
            thead
              tr
                th style='vertical-align: middle' width='86%' = VideoInterview::Question.human_attribute_name(:content)
                th style='vertical-align: middle' colspan="3"

            tbody
              - @video_interview_questions.each do |video_interview_question|
                tr
                  td.small style='vertical-align: middle' width="36%" = link_to video_interview_question.content , video_interview_question, class: "text-base"

                  td style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_video_interview_question_path(video_interview_question), class: "btn btn-block btn-primary btn-sm"

                  td style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), video_interview_question, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + video_interview_question.content + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"


          = paginate @video_interview_questions

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
