-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @video_interview_question.content.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label = t("resources.generals.labels.name")
          p = @video_interview_question.content

          .row
            .col-xs-12.col-md-2.padding-bottom-10-px 
              = link_to t("resources.generals.actions.edit"), edit_video_interview_question_path(@video_interview_question), class: "btn btn-block btn-primary"
            .col-xs-12.col-md-2
              = link_to t("resources.generals.actions.back"), video_interview_questions_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
