= form_for @interview_report, url: course_interview_reports_path(@course.id, @stage.id) do |interview_report_form|
  .form-group
    = interview_report_form.label :document
    .field_info
      | (doc, docx, xls, xlsx, pdf)
    = interview_report_form.file_field :document, class: "form-control", required: true
    = field_errors_wrapper(@interview_report.errors[:document])



  .form-group
    = interview_report_form.label :observations
    = interview_report_form.bootsy_area :observations, class: "form-control", required: true
    = field_errors_wrapper(@interview_report.errors[:observations])


  .form-group.text-center
    = interview_report_form.submit class: "btn btn-success"
