.container-fluid

  .row.margin-bottom-20-px
    .col-md-12
      label
        = Interview::Report.human_attribute_name(:document)
        | :

      p.stage-detail_agreement-text = link_to(interview_report.document.file.filename, download_course_interview_report_path(id: @course, stage_id: @stage.id, report_id: interview_report.id))

  .row.margin-bottom-20-px
    .col-md-12
      label
        = Interview::Report.human_attribute_name(:observations)
        | :
      p.margin-top-10-px
        = interview_report.observations.html_safe
