// En caso de que este form este siendo rendereado
// por otra vista a través de un partial el objeto
// @applicant_external no estará definido pero
// este puede estar definido como una variable
// locals llamada applicant_external
// Ej: /users/sign_in usa este form
- @applicant_external ||= applicant_external

= form_for @applicant_external do |applicant_external_form|
  // Forms-controls
  = applicant_external_form.fields_for :user do |f|
    .form-group
      = f.label :rut
      = f.text_field :rut, autofocus: true, class: 'form-control', placeholder: "Ingrese RUT"
      = field_errors_wrapper(@rut_error || [])
        .field_info
          = "Formato RUT 11111111-1"
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('devise.sessions.placeholder_email')
      = field_errors_wrapper(f.object.errors[:email])

    .form-group
      = f.label :password
      .field_info
        = User.password_length.min
        | &nbsp;
        = t("devise.passwords.min_chars")

      = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: t('devise.sessions.placeholder_password')
      = field_errors_wrapper(f.object.errors[:password])

  = applicant_external_form.submit I18n.t('devise.registrations.sign_up'), class: 'btn btn-block btn-success'
