.movableContent
  table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
    tr
      td
        table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
          tr
            td
              .contentEditableContainer.contentTextEditable
                .contentEditable style=("text-align: center;")
                    h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
                      | Estimado
                    p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
                      | Se terminó de procesar el archivo de empleados subido.

          tr
            td height="25"
          tr
