- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

section.course_card
  h3.course_card-title.__large
    = t('promotion.stage.title')

  .text-center
    = link_to "Enviar correo de aceptación", send_acceptance_email_course_promotion_stage_path(id: @course.to_param, stage_id: @stage.id), method: :post, data: { confirm: 'Está seguro de enviar el correo de aceptación?' }, class: 'scaffold_btn __green'
