- courses = @applicant.associated_courses
.row
  .col-xs-12
    .col-xs-12
      .col-xs-12.__white-background.__with_shadow.padding-bottom-10-px
        .col-xs-12
          header.personal_information-header
            h3.padding-bottom-10-px.__title
              = t("profiles.asociated_process")
        .col-xs-12
            - if courses.any?
              .row.margin-top-10-px
                table.table.table-striped.__asociated_processes-table
                  thead
                    tr
                      th.text-uppercase.text-center
                        = Enrollment::Base.human_attribute_name(:course_id)
                      th.text-uppercase.text-center
                        = Enrollment::Base.human_attribute_name(:created_at)
                      th.text-uppercase.text-center
                        = Enrollment::Base.human_attribute_name(:stage_id)
                      th.text-uppercase.text-center
                        = Enrollment::DiscardReason.human_attribute_name(:observations)
                      th.text-uppercase.text-center
                        = t('enrollment/base.downloads')

                    - courses.each_with_index do |course, index|
                        - row = index.even? ? 'odd' : 'even'
                        tr.postulant_table-row class="#{row}"
                          td.postulant_table-cell
                            = link_to(course.title, course_path(course), class: "scaffold_link")

                          - data_source = course.enrollments.find_by(applicant_id: @applicant.id) || course.minisite_publications.joins(:postulations).find_by(minisite_postulations: {applicant_id: @applicant.id}) || course.trabajando_publications.joins(:postulations).find_by(trabajando_postulations: {applicant_id: @applicant.id})
                          // Course con enrollment y sin haber sido contratado
                          - if data_source.class.parent == Enrollment && !data_source.is_hired?
                            // Columna Fecha de postulación
                            td.postulant_table-cell
                              = l(data_source.created_at, format: :long)

                            // Columna Etapa Actual
                            td.postulant_table-cell
                              // Si está descartado
                              - if data_source.discarding.present?
                                = "#{t('enrollment/base.discarted')}: #{data_source.discarding.discard_reason.name}"
                              - else
                                // No descartado y participando de alguna stage
                                - if data_source.stage.present?
                                  = data_source.stage.to_s
                                // No descartado , finalizada su etapa de contratación pero sin contrato
                                - elsif data_source.finish_work_flow? && !data_source.is_hired?
                                  | Finalizado
                                // No descartado y solo asignado al proceso
                                - else
                                  | Asignado

                            // Columna Observación
                            td.postulant_table-cell
                              // Si está descartado
                              - if data_source.discarding.present?
                                a title="Postulante descartado" data-toggle="tooltip" data-placement="right"
                                  = "#{t('enrollment/base.discarted')}: #{data_source.discarding.observations}"
                              -else
                                // No descartado y participando de alguna stage
                                -if data_source.stage.present?
                                  a title="Actualmente participando del proceso en la etapa anteriormente señalada." data-toggle="tooltip" data-placement="top"
                                    | Participando
                                // No descartado , finalizada su etapa de contratación pero sin contrato
                                -elsif data_source.finish_work_flow? && !data_source.is_hired?
                                  a title="No seleccionado para el proceso." data-toggle="tooltip" data-placement="top"
                                    | No seleccionado
                                // No descartado y solo asignado al proceso
                                - else
                                  a title="Asignado al proceso, a la espera de ser revisado e invitado." data-toggle="tooltip" data-placement="top"
                                    | En espera

                          // Enrollment y contratado
                          - elsif data_source.class.parent == Enrollment && data_source.is_hired?
                            td.postulant_table-cell = l(data_source.created_at, format: :long)
                            td.postulant_table-cell
                              = l(data_source.created_at, format: :long)
                            td.postulant_table-cell
                              | Finalizado
                            td.postulant_table-cell
                              a title="Finalizó el proceso y fué contratado" data-toggle="tooltip" data-placement="top"
                                | Contratado

                          // Postulando
                          - else
                            - postulation = data_source.postulations.find_by(applicant_id: @applicant.id)
                            td.postulant_table-cell = l(postulation.created_at, format: :long)
                            td.postulant_table-cell
                              = "Postulando"
                            td.postulant_table-cell
                              - if postulation.is_accepted.nil?
                                a title="En espera de que se apruebe o rechace la postulación." data-toggle="tooltip" data-placement="top"
                                  = "En revisión"
                              - elsif postulation.is_accepted == false
                                a title="La postulación fue rechazada." data-toggle="tooltip" data-placement="top"
                                  = "Postulación rechazada"

                          td.postulant_table-cell
                            - documents = data_source.class.parent == Enrollment ? get_report_documents(data_source) : []
                            - if documents.any?
                              .text-center.dropdown
                                a.dropdown-toggle data-toggle="dropdown" href="#"
                                  = "Reportes"
                                  - if not documents.empty?
                                    span.caret
                                - if not documents.empty?
                                  ul.dropdown-menu role="menu"
                                    - documents.each do |stage, stage_documents|
                                      li.dropdown-header = stage.to_s
                                      - stage_documents.each do |stage_document|
                                        li = link_to stage_document.document.file.filename, file_download_link(stage, stage_document)
                                      li.divider role="separator"
                            - else
                              span Sin reportes.
            - else
              = t("course.no_asosiated_courses")
