.col-xs-12.margin-top-20-px.margin-bottom-5-px
  .col-xs-2.text-center
    span.uxpin-user-normal.size-25-px
  .col-xs-10
    h4.text-uppercase
      = People::PersonalInformation.human_attribute_name(:nationality_id)
    h5
      = @applicant.nationality_name || t("no_entry")

.col-xs-12.margin-top-5-px.margin-bottom-5-px
  .col-xs-2.text-center
    span.uxpin-credit-card.size-18-px
  .col-xs-10
    h4.text-uppercase
      = People::PersonalInformation.human_attribute_name(:identification_document_type)
    h5.__force-text_break-word
      = applicant.user.identification_document_number.present? ? applicant.user.identification_document_number : t("no_entry")
      br
      = applicant.user.try(:identification_document_type).try(:name) || t("no_entry")
      | ,
      = applicant.user.try(:identification_document_type).try(:country).try(:name) || t("no_entry")

.col-xs-12.margin-top-5-px.margin-bottom-5-px
  .col-xs-2.text-center
    span.uxpin-calendar.size-25-px
  .col-xs-10
    h4.text-uppercase
      = People::PersonalInformation.human_attribute_name(:birth_date)
    h5
      = applicant.birth_date.nil? ?  t("no_entry") : l(applicant.birth_date, format: :large)

.col-xs-12.margin-top-5-px.margin-bottom-5-px
  .col-xs-2.text-center
    span.uxpin-telephone.size-25-px
  .col-xs-10
    h4.text-uppercase
      = People::PersonalInformation.human_attribute_name(:landline)
    h5
      = applicant.landline_html || t("no_entry")

.col-xs-12.margin-top-5-px.margin-bottom-5-px
  .col-xs-2.text-center
    span.uxpin-iPhone.size-25-px
  .col-xs-10
    h4.text-uppercase
      = People::PersonalInformation.human_attribute_name(:cellphone)
    h5.__force-text_break-word
      = applicant.cellphone_html || t("no_entry")

.col-xs-12.margin-top-5-px.margin-bottom-5-px
  .col-xs-2.text-center
    span.uxpin-at.size-25-px
  .col-xs-10
    h4.text-uppercase
      = People::PersonalInformation.human_attribute_name(:email)
    h5.__force-text_break-word
      = applicant.email || t("no_entry")

.col-xs-12.margin-top-5-px.margin-bottom-5-px
  .col-xs-2.text-center
    span.uxpin-home.size-25-px
  .col-xs-10
    h4.text-uppercase
      = People::PersonalInformation.human_attribute_name(:address)
    h5.__force-text_break-word
      = applicant.user.try(:personal_information).try(:address) || t("no_entry")
      br
      = applicant.user.try(:personal_information).try(:city).try(:territory_state).try(:name) || t("no_entry")
      | ,
      = applicant.user.try(:personal_information).try(:city).try(:name) || t("no_entry")
      br
      = applicant.user.try(:personal_information).try(:city).try(:territory_state).try(:territory_country).try(:name) || t("no_entry")

.col-xs-12.margin-top-5-px.margin-bottom-5-px
  .col-xs-2.text-center
    span.uxpin-add-user.size-25-px
  .col-xs-10
    h4.text-uppercase
      = People::PersonalInformation.human_attribute_name(:sex)
      |  /
      = Company::MaritalStatus.model_name.human
    h5.__force-text_break-word
      = get_gender(applicant.user)
      | ,
      = applicant.user.try(:personal_information).try(:company_marital_status).try(:name) || t("no_entry")

.col-xs-12.margin-top-5-px.margin-bottom-5-px
  .col-xs-2.text-center
    span.uxpin-bookmark.size-25-px
  .col-xs-10
    h4.text-uppercase
      = Company::RecruitmentSource.model_name.human
    h5.__force-text_break-word
      = applicant.company_recruitment_source.try(:name) || t("no_entry")

.col-xs-12.margin-top-5-px.margin-bottom-5-px
  .col-xs-2.text-center
    span.uxpin-achievement.size-25-px
  .col-xs-10
    h4.text-uppercase
      = People::PersonalInformation.human_attribute_name(:study_type)
    h5.__force-text_break-word
      - study_type_class = applicant.user.try(:personal_information).try(:study_type)
      = study_type_class.present? ? People::Degree::TYPES.find{|t| t[0]=='People::PrimarySchoolDegree'}.last : t('no_entry')

.col-xs-12.margin-top-5-px.margin-bottom-5-px
  .col-xs-2.text-center
    span.uxpin-checkmark.size-25-px
  .col-xs-10
    h4.text-uppercase
      = People::PersonalInformation.human_attribute_name(:areas_of_interest)
    h5.__force-text_break-word
      = applicant.user.try(:personal_information).try(:areas_of_interest) || t("no_entry")

.col-xs-12.margin-top-5-px.margin-bottom-5-px
  .col-xs-2.text-center
    span.uxpin-checkmark.size-25-px
  .col-xs-10
    h4.text-uppercase
      = People::PersonalInformation.human_attribute_name(:availability_replacements)
    h5.__force-text_break-word
      - if applicant.user.try(:personal_information).try(:availability_replacements) == true
        = "Si"
      - elsif applicant.user.try(:personal_information).try(:availability_replacements) == false
        = "No"
      - else
         = t("no_entry")

.col-xs-12.margin-top-5-px.margin-bottom-5-px
  .col-xs-2.text-center
    span.uxpin-checkmark.size-25-px
  .col-xs-10
    h4.text-uppercase
      = People::PersonalInformation.human_attribute_name(:availability_work_other_residence)
    h5.__force-text_break-word
      - if applicant.user.try(:personal_information).try(:availability_work_other_residence) == true
        = "Si"
      - elsif applicant.user.try(:personal_information).try(:availability_work_other_residence) == false
        = "No"
      - else
        =  t("no_entry")


- if current_user.can?(:admin, Applicant::Base)
  .col-xs-12.margin-top-20-px
    = link_to "Exportar CV", generate_cv_applicant_basis_path(applicant), class: "btn btn-primary btn-inverted btn-block"


- if current_user.can?(:admin)
  = render partial: 'user/reset_password', locals: { applicant: applicant }

