.row
  .col-xs-12
    .col-xs-12.__white-background.padding-bottom-10-px
      .col-xs-12
        header.personal_information-header
          h3.padding-bottom-10-px.__title
              = t('documents.title')
        - if support_react_document_uploader?
          ul#document-list.document-upload-list.accordion aria-multiselectable="true"
            - @descriptors = Document::Descriptor.where(internal: [false,nil] , only_onboarding: [false,nil])
            - if @descriptors.any?
              - @descriptors.each do |descriptor|
                - @document_descriptor = descriptor
                - @document_records = @applicant.document_records.where(document_descriptor: descriptor).order('created_at ASC')
                = react_component 'DocumentWrapper', { \
                    applicant_id: applicant.id, \
                    auth_token: form_authenticity_token, \
                    document_descriptor: JSON.parse(render(template: 'document/descriptors/show.json.jbuilder')), \
                    document_records: JSON.parse(render(template: 'document/records/index.json.jbuilder')), \
                    upload_path: upload_documents_applicant_basis_path(applicant), \
                    show_origin: true, \
                    is_admin: current_user.can?(:admin) \
                  }, { tag: 'li', class: 'document-item-wrapper clearfix' }
            - else
                tr
                  td
                    = t('documents.no_documents_uploaded')
        - else
          = form_for([@applicant], url: upload_documents_applicant_basis_path(applicant), method: 'POST', as: 'applicant_documents') do |f|
            .col-sm-1
                = f.submit 'Subir archivos', class: "btn btn-success btn-block margin-top-10-px"

            .panel-body
              - @descriptors = Document::Descriptor.where(internal: [false,nil], only_onboarding: [false,nil])
              - if @descriptors.any?
                - @descriptors.each do |desc|
                  ul
                    li
                      = f.label desc.details, desc.details, class: "create-course_label"
                      =  f.file_field desc.to_sym
                      = link_to 'Descargar', download_document_applicant_basis_path(applicant, desc.name) if applicant.has_document(desc.name)
              - else
                tr
                  td
                    = t('documents.no_documents_uploaded')
.row.margin-top-10-px
  .col-xs-12
    .col-xs-12.__white-background.padding-bottom-10-px
      .col-xs-12
        header.personal_information-header
          h3.padding-bottom-10-px.__title
            = t('activerecord.models.engagement/agreement.other')
          table.postulant_table
            tr
              td
                - if @applicant.agreements.any?
                  - @applicant.agreements.each_with_index do |agreement, index|
                    - row = index.even? ? 'odd' : 'even'
                    tr.postulant_table-row class="#{row}"
                      td.postulant_table-cell
                        - course = agreement.engagement_stage.enrollment.course
                        - stage = agreement.engagement_stage
                        = link_to(agreement.vacancy.to_s, course_engagement_agreement_path(id: course.id, stage_id: stage.id, agreement_id: agreement.id, format: :jasperpdf), target: "_blank")
                - else
                tr
                  td
                    = t('activerecord.detail.engagement/agreement.no_contracts')

