.container
  .row
    = form_for @applicant, as: :applicant, url: applicant_basis_path(@applicant), method: :put do |applicant_form|
      = applicant_form.fields_for :user do |user_form|

        / Subheader
        .subheader_container.clearfix
          .subheader_left-container
            .subheader_cyan
              h3 class="[ subheader_title __with-icon __dark-teal ][ icons-header __procesos ]"
                span = Applicant::Catched.model_name.human + ' / '
                span = @applicant.user.name_or_email

              span.form-inline
                .checkbox
                | &nbsp;
                = applicant_form.check_box :blacklisted
                | &nbsp;
                = applicant_form.label :blacklisted, class: 'text-danger'

          - if current_user.can?(:edit, Applicant::Catched)
            .subheader_right-container
              .subheader_dropdown-container
                .subheader_dropdown-top
                  = applicant_form.submit(data: { disable_with: t('plural_actions.update') }, class: "btn btn-success")

        = render partial: "common/flash_box"

        / PERSONAL Y PROFESSIONAL INFO
        .col-xs-12
          .col-xs-12.__white-background
            .row.margin-top-20-px
              .col-xs-12
                = user_form.fields_for :personal_information do |personal_information_form|
                  = render 'people/personal_information/form', personal_information_form: personal_information_form, user_form: user_form, applicant_form: applicant_form

            .row.margin-top-20-px.margin-bottom-20-px
              .col-xs-12
                = user_form.fields_for :professional_information  do |professional_information_form|
                  - professional_information_attributes = params[:applicant].present? ? params.require(:applicant)[:user_attributes][:professional_information_attributes] : nil
                  = render 'people/professional_information/form', professional_information_form: professional_information_form, professional_information_attributes: professional_information_attributes

            .row.margin-top-20-px.margin-bottom-20-px
              .col-xs-6.col-xs-offset-3
                = applicant_form.submit class: "btn btn-block btn-success"


/ DOCUMENTACION
.container
  .row.margin-top-10-px
    .col-xs-12
      .col-xs-12.__white-background
        .col-xs-12
          header.personal_information-header
            h3.padding-bottom-10-px.__title
              = t('documents.title')
              .field_info.margin-top-5-px
                span.uxpin-bulb
                |
                = t('documents.details_documents_with_profile')
          - if support_react_document_uploader?
            ul#document-list.document-upload-list.accordion aria-multiselectable="true"

              - Document::Descriptor.all.each do |descriptor|
                - @document_descriptor = descriptor
                - @document_records = @applicant.document_records.where(document_descriptor: descriptor).order('created_at ASC')
                = react_component 'DocumentWrapper', { \
                    applicant_id: @applicant.id, \
                    auth_token: form_authenticity_token, \
                    document_descriptor: JSON.parse(render(template: 'document/descriptors/show.json.jbuilder')), \
                    document_records: JSON.parse(render(template: 'document/records/index.json.jbuilder')), \
                    upload_path: upload_documents_applicant_basis_path(@applicant), \
                    show_origin: true \
                  }, { tag: 'li', class: 'document-item-wrapper clearfix' }
          - else
            = form_for([@applicant], url: upload_documents_applicant_basis_path(applicant), method: 'POST', as: 'applicant_documents') do |f|
              .col-sm-1
                  = f.submit 'Subir archivos', class: "btn btn-success btn-block margin-top-10-px"

              .panel-body
                - Document::Descriptor.all.each do |desc|
                  ul
                    li
                      = f.label desc.details, desc.details, class: "create-course_label"
                      =  f.file_field desc.to_sym
                      = link_to 'Descargar', download_document_applicant_basis_path(applicant, desc.name) if applicant.has_document(desc.name)
