.col-sm-3.margin-bottom-10-px
  .row
    .col-xs-12.__white-background.padding-top-10-px.padding-bottom-10-px.clearfix.__with_shadow
      .row
        .col-xs-12.margin-bottom-10-px
          - if @courses.any?
            - options = options_for_select(@courses.map{ |course| [course.title, course.id, { 'data-link' => enroll_applicant_basis_path(id: @applicant.id, course_id: course.id, anchor: 'associated_processes') } ] })
            = form_tag "", id: "enroll-form"
              = select_tag "enroll-select", options, include_blank: true, class: 'choosen-courses', data: { placeholder: t("actions.assign") + t("activerecord.models.course.one")}, style: 'width: 100%'
          = render partial: 'basic_information', locals: { applicant: applicant }
        .col-xs-12
          .col-xs-12
            = link_to t("profiles.edit"), edit_applicant_basis_path(@applicant), class: "btn btn-success btn-block text-uppercase"
      .row
        = render partial: 'task_for_day'
