.row
  .col-xs-12
    .col-xs-12.__white-background#profile_header_tabs
      .row
        .__progress-top-bar class="_#{applicant.profile_progress}-percent"

      .col-sm-8
        h2.text-success
          /a href="#basic_profile" data-toggle="tab"
          = applicant.user.name_or_email

        - if @applicant.blacklisted?
          | &nbsp;
          span.label.label-as-badge.label-danger
            = t("applicant.blacklisted.is_true")

      .col-sm-4.nav.nav-pills.__with-hover.margin-top-10-px
        .col-xs-4
          a.text-base.__nav-links.active.padding-top-20-px.padding-bottom-20-px href="#personal_information" data-toggle="tab"
            .row
              .col-xs-12.text-center
                span.uxpin-user-normal.size-30-px
              .col-xs-12.text-center
                  = t("applicant.menu.personal_information")

        .col-xs-4.text-center
          a.__nav-links.padding-top-20-px.padding-bottom-20-px href="#associated_processes" data-toggle="tab"
            .row
              .col-xs-12.text-center
                span.uxpin-course.size-30-px
              .col-xs-12.center-text
                  = t("applicant.menu.associated_processes")

        .col-xs-4.text-center
          a.__nav-links.padding-top-20-px.padding-bottom-20-px href="#documents_and_contracts" data-toggle="tab"
            .row
              .col-xs-12.text-center
                span.uxpin-text-file.size-30-px
              .col-xs-12.center-text
                  = t('applicant.menu.documents_and_contracts')
