/.col-sm-3.margin-bottom-10-px
  .row
    .col-xs-12
      .__white-background.padding-top-10-px.padding-bottom-10-px.clearfix.__with_shadow
        .col-xs-12
          - if @courses.any?
            = form_tag "", id: "enroll-form"
              = select_tag "enroll-select", options, include_blank: true, class: 'choosen-courses', data: { placeholder: t("actions.assign") + t("activerecord.models.course.one")}, style: 'width: 100%'

          / *** TODO Este botón forma parte de la nueva vista ***
          / .btn.btn-success.btn-lg.btn-block.text-uppercase.margin-top-10-px
          /   | +
          /   = t("applicant.base.invite_to_process")
        /= render partial: 'basic_information', locals: { applicant: applicant }
      /.row
        = render partial: 'task_for_day'

.col-sm-9
  .row
    #accordion.panel-group.col-xs-12 aria-multiselectable="true" role="tablist"

      / *** Esto forma parte de la nueva vista aun no implementada ***
      / .__with_collapsible-icons.__white-background.margin-bottom-10-px.clearfix
      /   .col-sm-12
      /     div
      /       #hunting_process_panel role="tab"
      /         .panel-title
      /           .collapse.in aria-controls="hunting_process_aria" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#hunting_process_aria" role="button"
      /             h3.text-uppercase.margin-top-10-px
      /               span.size-24-px.uxpin-pencil-ruler
      /               | Proceso de reclutamiento
      /       .row
      /         #hunting_process_aria.panel-collapse.collapse.__white-background aria-labelledby="hunting_process_panel" role="tabpanel"
      /           .panel-body
      /             | Empty panel

      .__with_collapsible-icons.__white-background.margin-bottom-10-px.clearfix.__with_shadow
        .col-xs-12
          #experience_panel role="tab"
            .panel-title
              .in aria-controls="experience_aria" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#experience_aria" role="button"
                .clearfix
                  h3.text-uppercase.margin-top-10-px
                    span.size-24-px.uxpin-pencil-ruler
                    | &nbsp;
                    | Experiencia
          .row
            #experience_aria.__white-background.collapse.in aria-labelledby="experience_panel" role="tabpanel"
              .panel-body
                = t("no_entry") if laboral_experiences.empty?
                - laboral_experiences.each_with_index do |laboral_experience, index|
                  header
                    h3
                      = laboral_experience.position
                    h5
                      = laboral_experience.company

                  .description.__force-text_break-word
                    = " (#{laboral_experience.since_date.present? ? l(laboral_experience.since_date, format: :only_year) : t("no_entry")} - #{laboral_experience.until_date.present? ? l(laboral_experience.until_date, format: :only_year) : t("no_entry")})"

                  .description.text-justify

                    = laboral_experience.description

      .__with_collapsible-icons.__white-background.margin-bottom-10-px.clearfix.__with_shadow
        .col-xs-12
          #education_panel role="tab"
            .panel-title
              .in aria-controls="education_aria" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#education_aria" role="button"
                h3.text-uppercase.margin-top-10-px
                  span.size-24-px.uxpin-pencil-ruler
                  | &nbsp;
                  | Educación
          .row
            #education_aria.__white-background.collapse.in aria-labelledby="education_panel" role="tabpanel"
              .panel-body
                = t("no_entry") if degrees.empty?
                - degrees.each_with_index do |degree, index|
                  header
                    h3
                      = degree.try(:name)
                      |  /
                      = degree.try(:career).try(:name)
                    h5
                      = degree.institution.name
                      - if degree.culmination_date.present?
                        |  | completó en #{l degree.culmination_date, format: :only_year}

      .__with_collapsible-icons.__white-background.margin-bottom-10-px.clearfix.__with_shadow
        .col-xs-12
          #education_panel role="tab"
            .panel-title
              .in aria-controls="language_aria" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#language_aria" role="button"
                h3.text-uppercase.margin-top-10-px
                  span.size-24-px.uxpin-pencil-ruler
                  | &nbsp;
                  | Idiomas Manejados
          .row
            #language_aria.__white-background.collapse.in aria-labelledby="education_panel" role="tabpanel"
              .panel-body
                = t("no_entry") if language_skills.empty?
                - language_skills.each_with_index do |language_skill, index|
                  header
                    h4
                      = language_skill.education_language.name
                      |  /
                      = language_skill.level

      .__with_collapsible-icons.__white-background.margin-bottom-10-px.clearfix.__with_shadow
        .col-xs-12
          #software_panel role="tab"
            .panel-title
              .in aria-controls="software_aria" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#software_aria" role="button"
                h3.text-uppercase.margin-top-10-px
                  span.size-24-px.uxpin-pencil-ruler
                  | &nbsp;
                  | Software Manejados
          .row
            #software_aria.__white-background.collapse.in aria-labelledby="software_panel" role="tabpanel"
              .panel-body
                = t("no_entry") if software_skills.empty?
                - software_skills.each_with_index do |software_skill, index|
                  header
                    h4
                      = software_skill.education_software.name
                      |  /
                      = software_skill.level

      .__with_collapsible-icons.__white-background.margin-bottom-10-px.clearfix.__with_shadow
        .col-xs-12
          #referral_panel role="tab"
            .panel-title
              .in aria-controls="referral_aria" aria-expanded="true" data-parent="#accordion" data-toggle="collapse" href="#referral_aria" role="button"
                h3.text-uppercase.margin-top-10-px
                  span.size-24-px.uxpin-pencil-ruler
                  | &nbsp;
                  | Referencias Personales
          .row
            #referral_aria.__white-background.collapse.in aria-labelledby="referral_panel" role="tabpanel"
              .panel-body
                = t("no_entry") if personal_referrals.empty?
                - personal_referrals.each_with_index do |personal_referral, index|
                  h5
                    = personal_referral.full_name
                    |  &nbsp;/&nbsp;
                    = personal_referral.email
                    |  &nbsp;/&nbsp;
                    = personal_referral.phone

      / .__with_collapsible-icons.__white-background.margin-bottom-10-px.clearfix.__with_shadow
      /   .col-xs-12
      /     #reference_panel role="tab"
      /       .panel-title
      /         .collapsed aria-controls="reference_aria" aria-expanded="false" data-parent="#accordion" data-toggle="collapse" href="#reference_aria" role="button"
      /           h3.text-uppercase.margin-top-10-px
      /             span.size-24-px.uxpin-text-file
      /             | &nbsp;
      /             | Referencias
      /     .row
      /       #reference_aria.panel-collapse.collapse.__white-background aria-labelledby="education_panel" role="tabpanel"
      /         .panel-body
      /           - if references.any?
      /             .row.margin-top-10-px
      /               table.table.table-striped.__asociated_processes-table
      /                 thead
      /                   tr
      /                     th.text-uppercase.text-center
      /                       = Company::Reference.human_attribute_name(:company_employee)
      /                     th.text-uppercase.text-center
      /                       = Company::Reference.human_attribute_name(:current_employee_position_cenco)
      /                     th.text-uppercase.text-center
      /                       = Company::Reference.human_attribute_name(:created_at)
      /                     th.text-uppercase.text-center
      /                       = Company::Reference.human_attribute_name(:positions)
      /                     //th.text-uppercase.text-center
      /                     //  = Company::Position.human_attribute_name(:name)

      /                   - references.each_with_index do |reference, index|
      /                     - row = index.even? ? 'odd' : 'even'
      /                     tr.postulant_table-row class="#{row}"
      /                       td.postulant_table-cell
      /                         = reference.company_employee.try(:user).try(:name_or_email)
      /                       td.postulant_table-cell
      /                         = reference.position
      /                       td.postulant_table-cell
      /                         = l(reference.created_at, format: :short)
      /                       td.postulant_table-cell
      /                         - reference.positions.each do |position|
      /                            = position.name

      /           - else
      /               = t("company/reference.messages.no_asosiated_course")
