/ *** TODO Forma parte de la nueva vista ***
/ .col-md-12
/   .__white-background.padding-top-10-px.padding-bottom-10-px.clearfix.margin-top-10-px
/     .col-md-12
/       .col-md-12
/         p.text-uppercase.uxpin-bell.size-25-px
/           | Tareas para hoy
