html
  head
    meta[charset='utf-8']
    css:
      .row {
        margin-left: -7px;
        margin-right: -7px;
      }
      .col-md-12{
        width: 100%;
      }
      .col-md-6{
        width: 50%;
        float: left;
      }
      .margin-top-10px{
        margin-top: 10px;
      }

  body[]
      .row
        .col-md-12
            h2 = @applicant.user.name_or_email

      .row
        h3 Información personal
        hr
        br
        .col-md-6
          .col-md-12
            strong = People::PersonalInformation.human_attribute_name(:email)
            |&nbsp;
            = @applicant.email || t("no_entry")
          .col-md-12
            strong = People::PersonalInformation.human_attribute_name(:landline)
            |&nbsp;
            = @applicant.landline || t("no_entry")
          .col-md-12
            strong = People::PersonalInformation.human_attribute_name(:cellphone)
            |&nbsp;
            = @applicant.cellphone || t("no_entry")
          .col-md-12
            strong = People::PersonalInformation.human_attribute_name(:sex)
            |&nbsp;
            - if @applicant.sex == 'Female'
              | Femenino
            - else
              | Masculino

        .col-md-6
          .col-md-12
            strong = People::PersonalInformation.human_attribute_name(:birth_date)
            |&nbsp;
            = @applicant.birth_date.nil? ? t("no_entry") : l(@applicant.birth_date)
          .col-md-12
            strong = People::PersonalInformation.human_attribute_name(:nationality_id)
            |&nbsp;
            = @applicant.nationality_name || t("no_entry")
          .col-md-12
            strong = Territory::State.human_attribute_name(:territory_country_id)
            |&nbsp;
            = @applicant.user.try(:personal_information).try(:city).try(:territory_state).try(:territory_country).try(:name) || t("no_entry")

          .col-md-12
            strong = Territory::City.human_attribute_name(:territory_state_id)
            |&nbsp;
            = @applicant.user.try(:personal_information).try(:city).try(:territory_state).try(:name) || t("no_entry")

          .col-md-12
            strong = People::PersonalInformation.human_attribute_name(:territory_city_id)
            |&nbsp;
            = @applicant.user.try(:personal_information).try(:city).try(:name) || t("no_entry")

      .row.margin-top-10px
        h3 Experiencia
        hr
        .col-md-12
          .col-md-12
            - if @applicant.user.try(:professional_information).try(:laboral_experiences).present?
                ul
                - @applicant.user.professional_information.laboral_experiences.each do |experience|
                      li
                        strong
                          = experience.position
                        |  &nbsp;/&nbsp;
                        strong
                          = experience.company
                          |  | #{experience.since_date.present? ? l(experience.since_date, format: :only_year) : t("no_entry")} - #{experience.until_date.present? ? l(experience.until_date, format: :only_year) : t("no_entry")} 
                        br
                        p = experience.description
            - else
                = t("no_entry")

      .row.margin-top-10px
        h3 Educación
        hr
        .col-md-12
          .col-md-12
            - if @applicant.user.try(:professional_information).try(:degrees).present?
                ul
                - @applicant.user.professional_information.degrees.each do |degree|
                    li
                      = degree.name
                      |  &nbsp;/&nbsp;
                      = degree.career.name
                      |  &nbsp;/&nbsp;
                      = degree.institution_name
            - else
                = t("no_entry")

      .row.margin-top-10px
        h3 Idiomas manejados
        hr
        .col-md-12
          .col-md-12
            - if @applicant.user.try(:professional_information).try(:language_skills).present?
                ul
                - @applicant.user.professional_information.language_skills.each do |language|
                    li
                      = language.education_language.name
                      |  &nbsp;/&nbsp;
                      = language.level
            - else
                = t("no_entry")

      .row.margin-top-10px
        h3 Software manejados
        hr
        .col-md-12
          .col-md-12
            - if @applicant.user.try(:professional_information).try(:software_skills).present?
                ul
                - @applicant.user.professional_information.software_skills.each do |software|
                    li
                      = software.education_software.name
                      |  &nbsp;/&nbsp;
                      = software.level
            - else
                = t("no_entry")

      .row.margin-top-10px
        h3 Referencias Personales
        hr
        .col-md-12
          .col-md-12
            - if @applicant.user.try(:personal_information).try(:personal_referrals).present?
                ul
                - @applicant.user.personal_information.personal_referrals.each do |personal_referral|
                    li
                      = personal_referral.full_name
                      |  &nbsp;/&nbsp;
                      = personal_referral.email
                      |  &nbsp;/&nbsp;
                      = personal_referral.phone
            - else
                = t("no_entry")
