- content_for :title, Applicant::Catched.model_name.human(count: :other)

-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-10-px.padding-bottom-20-px.__with_shadow
        .col-xs-5.col-sm-9
          h3.text-success
            = Applicant::Catched.model_name.human(count: :other)

        .col-xs-7.col-sm-3.__no-padding.text-right
          .margin-top-10-px
            .col-xs-6
              - if current_user.can?(:new, Applicant::Catched)
                = link_to(t("actions.create") + Applicant::Catched.model_name.human ,new_applicant_catched_path, class: "btn btn-success")

            .col-xs-6
              - if current_user.can?(:search, Applicant::Base)
                - prms = params.except(:controller, :action, :commit)
                - prms[:format] = "xls"
                = link_to "Exportar a Excel",  search_applicant_bases_path(prms), class: "btn btn-success"

.container
  .row
    - if support_react_document_uploader?
      = react_component 'ApplicantSearch', {course_id: @course.try(:id)}
    / - else
    /   .col-md-3.margin-bottom-10-px
    /     = form_tag search_applicant_bases_path, method: :get, class: "__white-background clearfix"
    /       .col-md-12
    /         .form-group
    /           .input-group.margin-top-20-px
    /             = text_field_tag :query, params[:query], class: "form-control", placeholder: t("actions.search")
    /             .input-group-btn
    /               = content_tag :button, type: :submit , name: "commit", value: "Buscar",  class: 'btn btn-default' do
    /                 span class="glyphicon glyphicon-search" aria-hidden="true"
    / 
    /         / .input-group.margin-top-20-px
    /         /   = text_fasield_tag :query, params[:query], class: "form-control", placeholder: t("actions.search")
    /         /   .input-group-addon
    /         /     span class="glyphicon glyphicon-search" aria-hidden="true"
    / 
    /       .col-md-12
    /         - @aggregations.keys.each do |key|
    /           - if (@aggregations[key].buckets || @aggregations[key].send(key).buckets).any?
    /             .process-search_row.row
    /               h3
    /                 = t("search.fields.#{key}").upcase
    /               hr/
    /               - (@aggregations[key].buckets || @aggregations[key].send(key).buckets).each do |b|
    /                 .row
    /                   .col-xs-1
    /                     = check_box_tag "#{key}[]", b[:key]
    /                   .col-xs-10
    /                     span.textbox
    /                       - if b[:key] == 'm' || b[:key] == 'f'
    /                         = t("search.fields.data.gender.#{b[:key]}") << " (#{b[:doc_count]})"
    /                       - else
    /                         = "#{b[:key]} (#{b[:doc_count]})"
    /       .col-md-12
    /         .process-search_row.text-center
    /           = submit_tag t("actions.search"), class: "btn btn-primary btn-block"
    / 
    /       - if params[:commit].present?
    /         .row.margin-bottom-10-px
    /           .col-xs-12.text-center
    /             = link_to t("actions.clear_filters"), search_applicant_bases_path, class: 'btn-link'
    / 
    /   .col-md-9
    /     - if @applicants.any?
    /       - @applicants.each do |applicant|
    / 
    /         = link_to applicant_basis_path(applicant), class: "process_element-container clearfix" do
    / 
    /           .row
    /             .col-md-12
    /               h2.process_title = applicant.user.name_or_email
    / 
    /           .row.margin-top-10-px
    /             .col-xs-4.col-sm-2
    /               - avat = applicant.avatar
    /               .process_avatar style="background-image: url(#{image_path(avat)});"
    / 
    /             .col-xs-8.col-sm-8
    /               .row.margin-bottom-10-px
    /                 .pull-left
    /                   span.processtext = t("activerecord.attributes.user.email")
    /                   span.textsearch = applicant.user.email
    /                 .pull-left
    /                   span.processtext = t("activerecord.attributes.people/personal_information.sex")
    /                   span.textsearch = applicant.user.try(:personal_information).try(:sex) || t("no_entry")
    / 
    / 
    /               .row.margin-bottom-10-px
    /                 .pull-left
    /                   span.processtext = t("activerecord.attributes.people/personal_information.birth_date")
    /                   span.textsearch = applicant.user.try(:personal_information).try(:birth_date) || t("no_entry")
    / 
    /                 .pull-left
    /                   span.processtext = t("activerecord.attributes.people/personal_information.landline")
    /                   span.textsearch = applicant.user.try(:personal_information).try(:landline) || t("no_entry")
    / 
    /               .row.margin-bottom-10-px
    /                 .pull-left
    /                   span.processtext = t("activerecord.attributes.people/personal_information.cellphone")
    /                   span.textsearch = applicant.user.try(:personal_information).try(:cellphone) || t("no_entry")
    / 
    /                 .pull-left
    /                   span.processtext = t("activerecord.models.territory/country.one")
    /                   span.textsearch = applicant.user.try(:personal_information).try(:city).try(:territory_state).try(:territory_country).try(:name) || t("no_entry")
    / 
    /               .row.margin-bottom-10-px
    /                 .pull-left
    /                   span.processtext = t("activerecord.models.territory/state.one")
    /                   span.textsearch = applicant.user.try(:personal_information).try(:city).try(:territory_state).try(:name) || t("no_entry")
    / 
    /                 .pull-left
    /                   span.processtext = t("activerecord.models.territory/city.one")
    /                   span.textsearch = applicant.user.try(:personal_information).try(:city).try(:name) || t("no_entry")
    / 
    /             .col-xs-12.col-md-2
    /               .row
    /                 .progress.margin-top-20-px
    /                   .progress-bar.progress-bar-primary.progress-bar-striped role="progressbar" aria-valuenow="#{applicant.profile_progress}" aria-valuemin="0" aria-valuemax="100" style="width:#{applicant.profile_progress}%"
    /                     span
    /                       = t("profiles.profile_progress.label",percent: "#{applicant.profile_progress}")
    /               - if applicant.blacklisted?
    /                 .row.text-center
    /                   .label.label-as-badge.label-danger
    /                     = t("applicant.blacklisted.is_true")
    / 
    /     - else
    /       .grid_body
    /         .grid_content-row.clearfix
    /           h3 = t("applicant.base.there_is_not")
    / 
    /     = paginate @applicants
    - else
      = render partial: "common/unsupported_browser"
      
