-content_for :subheader do
  = render partial: "profile_header", locals: { applicant: @applicant }

.container
  .row
    .tab-content.clearfix
      .tab-pane.active#personal_information
        = render partial: 'personal_information', locals: { applicant: @applicant }

        = render partial: 'profile', locals: {applicant: @applicant,
            degrees: @applicant.user.try(:professional_information).try(:degrees).present? ? @applicant.user.try(:professional_information).try(:degrees).order('culmination_date') : [],
            language_skills: @applicant.user.try(:professional_information).try(:language_skills).present? ? @applicant.user.try(:professional_information).try(:language_skills).order('level') : [],
            laboral_experiences: @applicant.user.try(:professional_information).try(:laboral_experiences).present? ? @applicant.user.try(:professional_information).try(:laboral_experiences).order('since_date') : [],
            software_skills: @applicant.user.try(:professional_information).try(:software_skills).present? ? @applicant.user.try(:professional_information).try(:software_skills).order('level') : [],
            personal_referrals: @applicant.user.try(:personal_information).try(:personal_referrals).present? ? @applicant.user.try(:personal_information).try(:personal_referrals).order('full_name') : [],
            options: options_for_select(@courses.map{ |course| [course.title, course.id, { 'data-link' => enroll_applicant_basis_path(id: @applicant.id, course_id: course.id, anchor: 'associated_processes') } ] }),
            references: @applicant.try(:company_references).where(confirmed:true) || []}

      .tab-pane#associated_processes
        = render partial: 'associated_processes', locals: { applicant: @applicant }

      .tab-pane#documents_and_contracts
        = render partial: 'documents', locals: { applicant: @applicant }

= content_for :javascript do
  = javascript_include_tag('applicant')
