= form_for @trabajando_state do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    - states = Territory::Country.find_by(name: 'Chile').try(:territory_states) || []
    = f.label :hupe_state_id
    = f.select :hupe_state_id, states.map{ |c| [c[:name], "#{c[:id]}"] }, {include_blank: '', selected: @trabajando_state.hupe_state_id}, class: "form-control js-select", "data-placeholder": "Región"

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"
