- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-7.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Trabajando::State.model_name.human(count: :other)

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'state' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Trabajando::State.human_attribute_name(:name)
                th.small style='vertical-align: middle' = Trabajando::State.human_attribute_name(:hupe_state_id)
                th.small

            tbody-body
              - @trabajando_states.each do |trabajando_state|
                tr
                  td.small style='vertical-align: middle' width="25%"
                    = link_to trabajando_state.name, trabajando_state, class: "text-base"

                  td.small style='vertical-align: middle' width="70%"
                    - if trabajando_state.hupe_state_id?
                      ul
                        li = link_to trabajando_state.hupe_state.name, trabajando_state.hupe_state
                    - else
                      p Sin Región asociada

                  td style='vertical-align: middle' width="42px"
                    = link_to t("resources.generals.actions.edit"), edit_trabajando_state_path(trabajando_state), class: "btn btn-block btn-primary btn-sm"

          = paginate @trabajando_states

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
