= form_for @company_cenco do |f|
  .form-group
    = f.label :company_management_id
    = f.select :company_management_id, Company::Management.all.map{ |p| [p.to_s, p.id]}, {}, class: "form-control", autofocus: true, required: field_required?(f, :company_management_id )
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: field_required?(f, :name )

  .form-group
    = f.label :address
    = f.text_field :address, class: "form-control"

  .form-group
    = f.label :cod
    = f.text_field :cod, class: "form-control"

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-success btn-block"
