-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.company.cencos.title")
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.actions.add_new") + ' ' + t("resources.company.cencos.singular"), new_company_cenco_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'cencos', view_more: true, detail_info: 'cencos' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Company::Cenco.human_attribute_name(:name)
                th.small style='vertical-align: middle' = Company::Cenco.human_attribute_name(:company_management_id)
                th.small style='vertical-align: middle' = Company::Cenco.human_attribute_name(:address)
                th.small style='vertical-align: middle' = Company::Cenco.human_attribute_name(:cod)
                th.small style='vertical-align: middle' colspan="3"

            tbody
              - @company_cencos.each do |company_cenco|
                tr
                  td.small style='vertical-align: middle' width="33%"
                    = link_to company_cenco.name, company_cenco, class: "text-base"

                  td.small style='vertical-align: middle' width="33%"
                    = company_cenco.company_management.name

                  td.small style='vertical-align: middle' width="33%"
                    = company_cenco.address

                  td.small style='vertical-align: middle; text-align: center' width="33%"
                    = company_cenco.cod

                  td style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_company_cenco_path(company_cenco), class: "btn btn-block btn-primary btn-sm"

                  td style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), company_cenco, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + company_cenco.name + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"

      = paginate @company_cencos

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
