-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @company_cenco.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12

          label
            = t("resources.company.business_units.singular")
          p = @company_cenco.company_management.name

          label
            = t("resources.generals.labels.name")
          p = @company_cenco.name

          label
            = t("resources.generals.labels.address")
          p = @company_cenco.address

          label
            = t("resources.generals.labels.cod")
          p = @company_cenco.cod.present? ? @company_cenco.cod : t('no_entry')

          .row.padding-top-10-px
            .col-xs-12.col-md-2.padding-bottom-10-px
              = link_to t("resources.generals.actions.edit"), edit_company_cenco_path(@company_cenco), class: "btn btn-block btn-primary"
            .col-xs-12.col-md-2
              = link_to t("resources.generals.actions.back"), company_cencos_path,  class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
