button.btn.btn-warning.margin-top-10-px data-target="#notApplyModal" data-toggle="modal" type="button"
  = t("stage/base.not_apply")

.text-left
  .modal.fade aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="notApplyModal"
    = form_tag(massive_not_apply_course_stage_bases_path(id: @course.to_param), method: :post, class: "massive-form", "data-type": "stage") do |f|
      .modal-dialog role="document"
        .modal-content
          .modal-header
            button.close aria-label="Close" data-dismiss="modal" type="button"
              span aria-hidden="true"  &times;
            h4.modal-title
              = t("stage/base.not_apply") + " la etapa"
          .modal-body

            .create-course_row
              = label_tag t("stage/base.not_apply_reason"), nil, class: "create-course_label"
              = select_tag "not_apply[not_apply_reason_id]", options_for_select(Stage::NotApplyReason.pluck(:name, :id)), prompt: "Elija...", class: "create-crouse_select", required: true

            .create-course_row
              = label_tag t("stage/base.not_apply_observations"), nil, class: "create-course_label"
              = text_area_tag "not_apply[observations]", nil, class: "create-course_textarea"

            .create-course_row
          .modal-footer
            button.btn.btn-default data-dismiss="modal" type="button"  Cancelar
            = submit_tag t("stage/base.not_apply"), class: "btn btn-warning"
