h1 
  = link_to(@course.title, course_path(@course))
  |  / 
  = t("stage.base.title")
h3 = t("stage.base.postulations_title")
- if @stages.any?
  ul
    - @stages.each do |stage|
      li = link_to(stage.to_s, polymorphic_path([stage.enrollment.course,stage]))