= form_for(@education_institution.becomes(Education::Institution)) do |f|
  .form-group
    = f.label :type
    = f.select :type, Education::Institution::TYPES, { include_blank: "Elija..."}, class: "form-control", required: field_required?(f, :type)

  .form-group
    = f.label :country
    = f.select :country_id, Territory::Country.pluck(:name, :id), { include_blank: "Elija..."}, class: "form-control", required: field_required?(f, :country)

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: field_required?(f, :name)

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"
