= form_for institution, url: approve_custom_education_institution_path(institution), method: :put, html: {class: 'form-inline'} do |f|
  .form-group
    = f.submit t("education/institution.actions.approve_custom"), data: { confirm: t("education/institution.actions.approve_custom_confirm", custom_institution_name: institution.name) }, class: "btn btn-success"
