= form_for institution, url: update_custom_education_institution_path(institution), method: :put, html: {class: 'form-inline'} do |f|
  .form-group
    = select_tag :new_id, options_from_collection_for_select(Education::Institution.where.not(custom: true), "id", "name"), class: 'form-control chosen'
  .form-group
    = f.submit t("education/institution.actions.update_custom"), data: { confirm: t("education/institution.actions.update_custom_confirm", custom_institution_name: institution.name) }, class: "btn btn-primary"

