-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.education.institutions.title") +  " agregadas por usuario"
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.f") + ' ' + t("resources.education.institutions.singular"), new_education_institution_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'institutions' }
          = link_to t("education/institution.actions.go_back"), {action: :index}, class: 'btn btn-primary'
          br/
          br/
          - if @education_institutions.any?
            table.table.table-bordered.table-hover
              thead
                tr
                  th.small style="vertical-align: middle" = t("activerecord.models.education/institution.one")
                  th.small style="vertical-align: middle"

              tbody
                - @education_institutions.each do |education_institution|
                  - education_institution = education_institution.becomes(Education::Institution)
                  tr
                    td.small style="vertical-align: middle"
                      = link_to education_institution.name, education_institution, class: 'text-base'

                      p.text-base
                        | Tipo:&nbsp;
                        = education_institution.type.present? ? I18n.t("education/institution.types.#{education_institution.type}") : "(sin tipo)"

                      p.text-base
                        | País:&nbsp;
                        = education_institution.country_name || "(sin país)"


                    td.small style="vertical-align: middle"
                      = render partial: "education/institutions/single_update_custom", locals: { institution: education_institution }
                      = render partial: "education/institutions/single_approve_custom", locals: { institution: education_institution }

            = paginate @education_institutions
          - else
            p = t("resources.education.institutions.custom_empty")

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
