-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.education.institutions.title")
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.f") + ' ' + t("resources.education.institutions.singular"), new_education_institution_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'institutions' }
          = link_to t("education/institution.actions.edit_custom"), {action: :custom}, class: 'btn btn-primary'
          br/
          br/
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style="vertical-align: middle" = t("resources.generals.labels.name")
                th.small style="vertical-align: middle" = Education::Institution.human_attribute_name(:type)
                th.small style="vertical-align: middle" = Education::Institution.human_attribute_name(:country)
                th.small style="vertical-align: middle" colspan="3"

            tbody
              - @education_institutions.each do |education_institution|
                - education_institution = education_institution.becomes(Education::Institution)
                tr
                  td.small style="vertical-align: middle" width="33%"
                    = link_to education_institution.name, education_institution, class: 'text-base'

                  td.small style="vertical-align: middle" width="33%"
                    p.text-base = education_institution.type.present? ? I18n.t("education/institution.types.#{education_institution.type}") : ""

                  td.small style="vertical-align: middle" width="33%"
                    p.text-base = education_institution.country_name

                  td.small style="vertical-align: middle"
                    = link_to t("resources.generals.actions.edit"), edit_education_institution_path(education_institution), class: "btn btn-block btn-primary btn-sm"

                  td.small style="vertical-align: middle"
                    = link_to t("resources.generals.actions.destroy"), education_institution, method: :delete, data: { confirm: (t("resources.generals.actions.destroy_confirm") + ' ' + education_institution.name + ' ?') }, class: "btn btn-block btn-danger btn-sm"

          = paginate @education_institutions

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"

