table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td 
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              | Estimado (a)&nbsp;
              | &#58;
            p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
              | Se adjunta informe de prueba técnica, favor indicar comentario correspondiente al psicologo de desarrollo.

            p style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 500; font-family:'Open Sans', arial, sans-serif;"
              = TechnicalTest::Report.human_attribute_name(:observations)
              | &#58;
            
            p style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 500; font-family:'Open Sans', arial, sans-serif;"
              = sanitize(@report.observations)

          tr
            td height="25"
          tr
