-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-8.col-md-9
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.company.business_units.title")

        .col-xs-6.col-sm-4.col-md-3
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.actions.add_new") + ' ' + Company::BusinessUnit.model_name.human(count: :other).downcase, new_company_business_unit_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'business_units', view_more: true, detail_info: 'business_units' }

          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Company::BusinessUnit.human_attribute_name(:name)
                th.small style='vertical-align: middle' = Company::BusinessUnit.human_attribute_name(:description)
                th
                th

            tbody
              - @company_business_units.each do |company_business_unit|
                tr
                  td.small style='vertical-align: middle' width="25%"
                    = link_to company_business_unit.name, company_business_unit, class: "text-base"

                  td.small style='vertical-align: middle' width="48%"
                    = company_business_unit.description

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_company_business_unit_path(company_business_unit), class: "btn btn-block btn-primary btn-sm"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), company_business_unit, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + company_business_unit.name + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"

          = paginate @company_business_units
    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
