= form_for(@enrollment_discard_reason) do |f|

  .form-group
    = f.label :name
    = f.text_field :name, autofocus: true, class: 'form-control', required: field_required?(f, :name)

  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', required: field_required?(f, :description)

  .form-group
    = f.label :subject
    = f.text_field :subject, class: 'form-control'

  .form-group
    = f.label :mailer_content
    = f.bootsy_area :mailer_content, class: 'form-control'
    .field_info
      | - Puede agregar etiquetas encerrando en doble corchete (bracket) los datos que desea mostrar, actualmente están disponibles:
      li
        | Candidato = [[candidato]]
      li
        | Cargo = [[cargo]]
      li
        | Gerencia [[gerencia]]
      li
        | Proceso = [[proceso]]

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"
