.row
  .col-md-12
    .row.margin-bottom-10-px
      .col-md-12
        .row
          .col-md-1
            .col-md-1
              span.uxpin-bulb.text-success.size-45-px.text-center
          .col-md-11
            .row
              .col-md-12.__with_collapsible-caret
                p.text-success.margin-bottom-0-px
                  = t('text_info.title')
                p.smallest.text-justify.margin-bottom-0x-px 
                  = t('text_info.descriptions.main_info.intro_discard_reasons')
                a.text-success data-toggle="collapse" data-parent="#accordion" href="#info"
                  small.smaller.__with_caret
                    = t('text_info.more')
            .row#info.collapse
              .col-md-12
                p.smallest.margin-top-10-px
                  = t('text_info.descriptions.detail_info.detail_discard_reasons_html')