-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.discard_reasons.title")
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.f") + ' ' + t("resources.discard_reasons.singular"), new_enrollment_discard_reason_path, class: "btn btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'enrollment/discard_reasons/info_discard_reasons'

          table.table-responsive.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle'
                  = Enrollment::DiscardReason.human_attribute_name(:name)
                th.small style='vertical-align: middle'
                  = Enrollment::DiscardReason.human_attribute_name(:description)
                th.small style='vertical-align: middle'
                  = Enrollment::DiscardReason.human_attribute_name(:mailer_content)
                th.small colspan="3"

            tbody
              - @enrollment_discard_reasons.each do |enrollment_discard_reason|
                tr
                  td.small style='vertical-align: middle' width="20%"
                    = link_to enrollment_discard_reason.name, enrollment_discard_reason, class: "text-base"

                  td.small style='vertical-align: middle' width="25%"
                    = enrollment_discard_reason.description

                  td.small style='vertical-align: middle' width="20%"
                    - if enrollment_discard_reason.mailer_content.present?
                      = enrollment_discard_reason.mailer_content.html_safe
                    - else
                      = enrollment_discard_reason.mailer_content

                  td.small style='vertical-align: middle'
                    .col-md-6.padding-top-10-px
                      = link_to t("resources.generals.actions.edit"), edit_enrollment_discard_reason_path(enrollment_discard_reason), class: "btn btn-primary btn-block btn-sm"

                    .col-md-6.padding-top-10-px
                      = link_to t("resources.generals.actions.destroy"), enrollment_discard_reason, data: { confirm: (t("resources.generals.actions.destroy_confirm") + ' ' + enrollment_discard_reason.name + ' ?') }, method: :delete, class: "btn btn-danger btn-block btn-sm"

                    .col-md-6.padding-top-10-px
                      - if Trigger::CloseCourseDiscardReason.find_by(resourceable: enrollment_discard_reason)
                        = link_to t("resources.generals.actions.already_default"), '', class: "btn btn-default btn-block btn-sm disabled"
                      - else
                        = link_to t("resources.generals.actions.set_default"), set_as_default_when_close_course_enrollment_discard_reason_path(enrollment_discard_reason), method: "post", class: "btn btn-warning btn-block btn-sm"
                        /= form_tag(set_as_default_when_close_course_enrollment_discard_reason_path(enrollment_discard_reason), method: "post")
                          .scaffold_actions.form-group.pull-right
                            = submit_tag ('Definir por defecto'), class: "btn btn-warning btn-block btn-sm"

                    .col-md-6.padding-top-10-px
                      - if Trigger::BlacklistDiscardReason.find_by(resourceable: enrollment_discard_reason)
                        = link_to t("resources.generals.actions.unset_blacklist"), toggle_blacklist_enrollment_discard_reason_path(enrollment_discard_reason), method: "post", class: "btn btn-warning btn-block btn-sm"
                      - else
                        = link_to t("resources.generals.actions.set_blacklist"), toggle_blacklist_enrollment_discard_reason_path(enrollment_discard_reason), method: "post", class: "btn btn-default btn-block btn-sm"
                        /= form_tag(toggle_blacklist_enrollment_discard_reason_path(enrollment_discard_reason), method: "post")
                          .scaffold_actions.form-group.pull-right
                            = submit_tag (t("resources.generals.actions.toggle_blacklist")), class: "btn btn-warning btn-block btn-sm"

          = paginate @enrollment_discard_reasons

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
