-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @enrollment_discard_reason.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label = Enrollment::DiscardReason.human_attribute_name(:name)
          p
            = @enrollment_discard_reason.name

          label = Enrollment::DiscardReason.human_attribute_name(:description)
          p
            = @enrollment_discard_reason.description

          label = Enrollment::DiscardReason.human_attribute_name(:subject)
          p
            = @enrollment_discard_reason.subject.present? ? @enrollment_discard_reason.subject : t('no_entry')

          label = Enrollment::DiscardReason.human_attribute_name(:mailer_content)
          p
            = @enrollment_discard_reason.mailer_content.present? ? @enrollment_discard_reason.mailer_content.html_safe : t('no_entry')


          .row
            .col-md-12
              .col-md-2
                = link_to t("resources.generals.actions.edit"), edit_enrollment_discard_reason_path(@enrollment_discard_reason), class: "btn btn-block btn-primary"

              .col-md-2
                = link_to t("resources.generals.actions.back"), enrollment_discard_reasons_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
