= form_for @trabajando_job_type do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    = f.label :company_position_ids
    = f.select :company_position_ids, Company::Position.all.map{ |c| [c[:name], "#{c[:id]}"] }, {include_blank: '', selected: @trabajando_job_type.company_position_ids}, multiple: true, class: "form-control __multiple js-select", "data-placeholder": "Cargos"

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"

= content_for :javascript do
  = javascript_include_tag('new_course')
