- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-7.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Trabajando::JobType.model_name.human(count: :other)

        /.col-xs-5.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.m") + ' ' + t("resources.trabajando.job_types.singular"), new_trabajando_job_type_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'job_types' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Trabajando::JobType.human_attribute_name(:name)
                th.small style='vertical-align: middle' = Trabajando::JobType.human_attribute_name(:company_position_ids)
                th.small

            tbody-body
              - @trabajando_job_types.each do |trabajando_job_type|
                tr
                  td.small style='vertical-align: middle' width="25%"
                    = link_to trabajando_job_type.name, trabajando_job_type, class: "text-base"

                  td.small style='vertical-align: middle' width="70%"
                    - if trabajando_job_type.company_positions.any?
                      ul
                        - trabajando_job_type.company_positions.each do |company_position|
                          li = link_to company_position.name, company_position
                    - else
                      p Sin cargos asociados

                  td style='vertical-align: middle' width="42px"
                    = link_to t("resources.generals.actions.edit"), edit_trabajando_job_type_path(trabajando_job_type), class: "btn btn-block btn-primary btn-sm"

              / td.scaffold_table-data.__no-borders = link_to t("resources.generals.actions.destroy"), trabajando_job_type, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + trabajando_job_type.name + ' ?')}, :method => :delete, class: "scaffold_btn __green"

          = paginate @trabajando_job_types

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
