-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @trabajando_job_type.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label.scaffold_label.__strong = Trabajando::JobType.human_attribute_name(:name)
          = @trabajando_job_type.name

          label.scaffold_label.__strong = Trabajando::JobType.human_attribute_name(:company_position_ids)
          - if @trabajando_job_type.company_positions.any?
            ul
              - @trabajando_job_type.company_positions.each do |company_position|
                li = link_to company_position.name, company_position
          - else
            p Sin cargos asociados

          .col-md-2
            = link_to t("resources.generals.actions.edit"), edit_trabajando_job_type_path(@trabajando_job_type), class: "btn btn-block btn-primary"

          .col-md-2
            = link_to t("resources.generals.actions.back"), trabajando_job_types_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
