= form_for @company_engagement_origin do |f|
  .field
    = f.label :name, class: "scaffold_label"
    = f.text_field :name, class: "scaffold_input", required: 'required'

  .field
    = f.label :description, class: "scaffold_label"
    = f.text_field :description, class: "scaffold_input"

  .scaffold_actions
    = f.submit class: "scaffold_btn __green"
