-content_for :subheader
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = t("resources.company.engagement_origins.title")
    .subheader_right-container
      = link_to t("resources.generals.actions.add_new") + ' ' + t("resources.company.engagement_origins.singular"), new_company_engagement_origin_path, class: "scaffold_btn __green"


.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col
      table.scaffold_table
        thead.scaffold_table-header
          tr.scaffold_table-row
            th.scaffold_table-heading = Company::EngagementOrigin.human_attribute_name(:name)
            th.scaffold_table-heading = Company::EngagementOrigin.human_attribute_name(:description)
            th.scaffold_table-heading colspan="3"

        tbody.scaffold_table-body
          - @company_engagement_origins.each do |company_engagement_origin|
            tr.scaffold_table-row
              td.scaffold_table-data.__force_center-text  width="33%"
                = link_to company_engagement_origin.name, company_engagement_origin, class: "scaffold_link"

              td.scaffold_table-data.__force_center-text  width="33%"
                = company_engagement_origin.description

              td.scaffold_table-data.__no-borders
                = link_to t("resources.generals.actions.edit"), edit_company_engagement_origin_path(company_engagement_origin), class: "scaffold_btn __green"

              td.scaffold_table-data.__no-borders
                = link_to t("resources.generals.actions.destroy"), company_engagement_origin, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + company_engagement_origin.name + ' ?')}, :method => :delete, class: "scaffold_btn __green"

      = paginate @company_engagement_origins

    .grid_content-col.__second-col
      = render partial: "scaffolds/scaffolds_list"
