- content_for :subheader
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = @company_engagement_origin.name

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col

      label.scaffold_label.__strong
        = t("resources.generals.labels.name")
      p = @company_engagement_origin.name

      label.scaffold_label.__strong
        = t("resources.generals.labels.description")
      p = @company_engagement_origin.description

      .scaffold_actions
        = link_to t("resources.generals.actions.edit"), edit_company_engagement_origin_path(@company_engagement_origin), class: "scaffold_btn __green"

        = link_to t("resources.generals.actions.back"), company_engagement_origins_path, class: "scaffold_btn __blue"

    .grid_content-col.__second-col
      = render partial: "scaffolds/scaffolds_list"
