- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

section.course_card
  h3.course_card-title.__large
    = t('assigning_weighting.stage.title')

  - if @stage.assigning_weighting_report.try(:persisted?)
    = render partial: 'assigning_weighting/reports/show', locals: { assigning_weighting_report: @stage.assigning_weighting_report}
  - else
    = render partial: 'assigning_weighting/reports/form'
