= form_for @company_white_rut do |f|
  .field
    = f.label :rut, class: 'scaffold_label'
    = f.text_field :rut, class: 'scaffold_input enforce_rut rut-mask'

  .scaffold_actions = f.submit class: 'scaffold_btn __green'

= content_for :javascript do
  = javascript_include_tag('white_rut')