-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = Company::WhiteRut.model_name.human

    .subheader_right-container
      = link_to t("resources.generals.actions.add_new") + ' ' + Company::WhiteRut.model_name.human, new_company_white_rut_path, class: "scaffold_btn __green"
      button.btn.btn-primary.scaffold_btn data-target="#exampleModal" data-toggle="modal" data-whatever="@fat" type="button" Subir Archivo con RUTs

    #exampleModal.modal.fade aria-labelledby="exampleModalLabel" role="dialog" tabindex="-1"
      .modal-dialog role="document"
        .modal-content
          .modal-header
            button.close aria-label="Close" data-dismiss="modal" type="button"
              span aria-hidden="true"  &times;
            h4#exampleModalLabel.modal-title Subir Archivo con RUTs

          = form_tag(upload_white_list_company_white_ruts_path, method: :post, multipart: true)
            .modal-body
              .form-group
                = label_tag :notify_to, 'Email de notificación'
                = email_field_tag :notify_to, '', class: 'form-control', required: true
              .form-group
                = label_tag :file, 'Archivo con RUTs'
                = file_field_tag :file, class: 'form-control', required: true


            .modal-footer
              button.btn.btn-default data-dismiss="modal" type="button"  Cerrar
              = submit_tag 'Enviar', class: 'btn btn-primary'

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col

      table.scaffold_table width="100%"
        thead.scaffold_table-header
          tr.scaffold_table-row
            th.scaffold_table-heading = Company::WhiteRut.human_attribute_name(:rut)

            th.scaffold_table-heading.__no-borders

        tbody.scaffold_table-body
          - @company_white_ruts.each do |company_white_rut|
            tr.scaffold_table-row
              td.scaffold_table-data.__force_center-text width="80%"
                = link_to company_white_rut.rut, company_white_rut

              td.scaffold_table-data.__no-borders width="20%"
                .btn-group
                  = link_to t("resources.generals.actions.edit"), edit_company_white_rut_path(company_white_rut), class: "btn btn-primary"
                  = link_to t("resources.generals.actions.destroy"), company_white_rut, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + company_white_rut.rut + ' ?')}, :method => :delete, class: "btn btn-danger"

      = paginate @company_white_ruts

    .grid_content-col.__second-col

      =render partial: "scaffolds/scaffolds_list"