- content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = t("resources.generals.labels.new.m") + ' ' + Company::WhiteRut.model_name.human
.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col

      == render 'form'

      .scaffold_actions
        = link_to t("resources.generals.actions.back"), company_white_ruts_path, class: "scaffold_btn __blue"

    .grid_content-col.__second-col
      = render partial: "scaffolds/scaffolds_list"
