-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = @company_white_rut.rut

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col
      label.scaffold_label.__strong = Company::MaritalStatus.human_attribute_name(:rut)
      = @company_white_rut.rut

      .scaffold_actions
        = link_to t("resources.generals.actions.edit"), edit_company_white_rut_path(@company_white_rut), class: "scaffold_btn __green"

        = link_to t("resources.generals.actions.back"), company_white_ruts_path, class: "scaffold_btn __blue"

    .grid_content-col.__second-col
      = render partial: 'scaffolds/scaffolds_list'