= form_for @education_study_level do |f|

  .field
    = f.label :name, class: "scaffold_label"
    = f.text_field :name, class: "scaffold_input", required: 'required'

  .scaffold_actions = f.submit class: "scaffold_btn __green"
