-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = t("resources.education.study_levels.title")
    .subheader_right-container
      = link_to t("resources.generals.labels.new.f") + ' ' + t("resources.education.study_levels.singular"), new_education_study_level_path, class: 'scaffold_btn __green'

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col

      table.scaffold_table width="100%"
        thead.scaffold_table-header
          tr.scaffold_table-row
            th.scaffold_table-heading = t("resources.generals.labels.name")
            th.scaffold_table-heading colspan="3"

        tbody.scaffold_table-body
          - @education_study_levels.each do |hiring_origin|
            tr.scaffold_table-row
              td.scaffold_table-data.__force_center-text width="84%"
                = link_to hiring_origin.name , hiring_origin, class: 'scaffold_link'

              td.scaffold_table-data.__no-borders
                = link_to t("resources.generals.actions.edit"), edit_education_study_level_path(hiring_origin), class: 'scaffold_btn __green'

              td.scaffold_table-data.__no-borders
                = link_to t("resources.generals.actions.destroy"), hiring_origin, method: :delete, data: { confirm: (t("resources.generals.actions.destroy_confirm") + ' ' + hiring_origin.name + ' ?') }, class: 'scaffold_btn __green'

      = paginate @education_study_levels

    .grid_content-col.__second-col
      = render partial: 'scaffolds/scaffolds_list'
