= form_for @trabajando_company_activity do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    .row
      .col-xs-12.col-md-4
        = f.submit class: "btn btn-block btn-success"

= content_for :javascript do
  = javascript_include_tag('new_course')
