- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-7.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Trabajando::CompanyActivity.model_name.human(count: :other)

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'company_activities' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Trabajando::CompanyActivity.human_attribute_name(:name)
                /th.small

            tbody-body
              - @trabajando_company_activities.each do |trabajando_company_activity|
                tr
                  td.small style='vertical-align: middle' width="80%"
                    = link_to trabajando_company_activity.name, trabajando_company_activity, class: "text-base"

                  /td style='vertical-align: middle' width="42px"
                    = link_to t("resources.generals.actions.edit"), edit_trabajando_company_activity_path(trabajando_company_activity), class: "btn btn-block btn-primary btn-sm"

          = paginate @trabajando_company_activities

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
