-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @trabajando_company_activity.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label.scaffold_label.__strong = Trabajando::CompanyActivity.human_attribute_name(:name)
          p = @trabajando_company_activity.name

        .row.padding-top-10-px
          /.col-xs-12.col-md-2.padding-bottom-10-px
            = link_to t("resources.generals.actions.edit"), edit_trabajando_company_activity_path(@trabajando_company_activity), class: "btn btn-block btn-primary"

          .col-xs-12.col-md-2
            = link_to t("resources.generals.actions.back"), trabajando_company_activities_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
