-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = Company::Area.model_name.human

    .subheader_right-container
      = link_to t("resources.generals.actions.add_new") + ' ' + Company::Area.model_name.human, new_company_area_path, class: "scaffold_btn __green"

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col

      table.scaffold_table width="100%"
        thead.scaffold_table-header
          tr.scaffold_table-row
            th.scaffold_table-heading = t("resources.generals.labels.name")
            th.scaffold_table-heading
            th.scaffold_table-heading.__no-borders

        tbody.scaffold_table-body
          - @company_areas.each do |company_area|
            tr.scaffold_table-row
              td.scaffold_table-data.__force_center-text width="42%"
                = link_to company_area.name, company_area, class: "scaffold_link"

              td.scaffold_table-data.__no-borders
                = link_to t("resources.generals.actions.edit"), edit_company_area_path(company_area), class: "scaffold_btn __green"

              td.scaffold_table-data.__no-borders = link_to t("resources.generals.actions.destroy"), company_area, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + company_area.name + ' ?')}, :method => :delete, class: "scaffold_btn __green"

      = paginate @company_areas

    .grid_content-col.__second-col

      =render partial: "scaffolds/scaffolds_list"
