table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px;"
              | Estimado(a)&nbsp;
              = @applicant.name_or_email
              | &#58;
            p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
              | Estamos en etapa de reclutamiento y para estar considerado dentro de los procesos de selección, nos gustaria que actualices tu perfil, mientras más completo se encuentre, tendrás mayores opciones de ser parte de nuestro equipo.
              br/
              br/
              | Puedes ingresar y actualizar tu perfil utilizando el siguiente link:
            table style="width: 250px"
              tr
                td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                  = link_to "Ingresar", edit_profiles_url, style: "color:#ffffff; text-decoration: none;"

            - if @applicant.user.password.nil?
              = render partial: "common/recover_password", locals: { button_width: '250px'}

        tr
          td height="25"
        tr
