-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = params[:type].constantize.model_name.human(count: :other)
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.f") + ' ' +  params[:type].constantize.model_name.human, {controller: params[:controller], action: "new"}, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'course_tag', view_more: true, detail_info: 'course_tag' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = t("resources.generals.labels.name")
                th.small style='vertical-align: middle' colspan="3"

            tbody
              - @tag_base_tags.each do |tag_base_tag|
                tr
                  td.small style='vertical-align: middle' width="84%"
                    = link_to tag_base_tag.name, tag_base_tag, class: 'text-base'

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), {controller: params[:controller], action: "edit", id: tag_base_tag}, class: "btn btn-block btn-primary btn-sm"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), tag_base_tag, method: :delete, data: { confirm: (t("resources.generals.actions.destroy_confirm") + ' ' + tag_base_tag.name + ' ?') }, class: "btn btn-block btn-danger btn-sm"

          = paginate @tag_base_tags

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
