-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @tag_base_tag.name.capitalize
.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label = t("resources.generals.labels.name")
          p = @tag_base_tag.name

          .row
            .col-xs-12.col-md-2.padding-bottom-10-px
              = link_to t("resources.generals.actions.edit"), {controller: params[:controller], action: "edit", id: @tag_base_tag}, class: "btn btn-block btn-primary btn-sm"

            .col-xs-12.col-md-2.padding-bottom-10-px
              = link_to t("resources.generals.actions.back"), {controller: params[:controller]}, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
