= form_for @video_interview_answer do |f|
  - if @video_interview_answer.errors.any?
    #error_explanation
      h2 = "#{pluralize(@video_interview_answer.errors.count, "error")} prohibited this video_interview_answer from being saved:"
      ul
        - @video_interview_answer.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :time_limit
    = f.number_field :time_limit
  .field
    = f.label :question
    = f.text_field :question
  .field
    = f.label :enrollment_id
    = f.number_field :enrollment_id
  .actions = f.submit
