-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]" 
          = t("resources.video_interview.title")

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col
      p
        | Te invitamos a responder algunas preguntas de video utilizando la cámara y audio de tu computador ó móvil. Es muy importante que puedas responder estas preguntas ya que aportan al avance de tu proceso.
      - if current_user.video_interview_answers.empty?
        h2
          | No tienes preguntas para responder
        br/
        br/
        = link_to "Volver", :back, class: "scaffold_btn __green"
      - else 
        table.scaffold_table width="100%"
          thead.scaffold_table-header
            tr.scaffold_table-row
              th.scaffold_table-heading
              th.scaffold_table-heading colspan='3'

          tbody.scaffold_table-body
            - current_user.video_interview_answers.each_with_index do |answer, index|
              tr.scaffold_table-row
                td.scaffold_table-data.__force_center-text width="84%"
                  - if answer.video_state == :uploaded
                    = answer.question
                  - else
                    = "Pregunta #{index+1}"

                td.scaffold_table-data.__no-borders
                  - if answer.video_state != :uploaded
                    = link_to "Responder", video_interview_answer_path(answer, user_email: params[:user_email], user_token: params[:user_token]), class: "scaffold_btn __blue"
                  - else
                    = link_to "Listo", "#", class: "scaffold_btn __green", disabled: true
                
- content_for :javascript do
  javascript:
    $(document).ready(function() {
        $('a[disabled=disabled]').click(function(event){
            event.preventDefault(); // Prevent link from following its href
        });
    });