div.modal.fade.hidden id="loading" tabindex="-1" role="dialog" data={:backdrop => "static", :keyboard => "false"}
  .modal-dialog
    .modal-content
      .modal-header
        h1#loading-msg
          | Comenzando a subir
      .modal-body
        .progress
          .progress-bar id="bar-value" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%;"

div.modal.fade.hidden id="finish-message" tabindex="-1" role="dialog" data={:backdrop => "static", :keyboard => "false"}
  .modal-dialog
    .modal-content
      .modal-header
        h1 Recibimos tu respuesta
      .modal-body
        button.btn.btn-success.btn-block onclick=raw("window.location.href = '/app/video_interview/answers'+window.location.search;")
          | Continuar
#q style=("position: fixed; top: 50px; left: 0px; width: 100%; text-align: center; background-color: black; opacity: 0.5; color: white; z-index: 110; display: none;") 
  h2#q_field
    | Tienes 
    = show_time_limit(@video_interview_answer)
    | para responder:
    br/
    
.container
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-20-px.padding-bottom-10-px.__with_shadow
        .col-md-10.col-md-offset-1
          .col-md-12
            .span6.offset2.f4_desktop_conditional
              h3 Instrucciones
              b Cuando presiones el botón “Encender la cámara", se solicitará en el borde superior de la página que permitas la grabación de video. Pincha en “Permitir” para poder continuar.
              p Luego podrás pinchar en el botón rojo para comenzar a grabar, inmediatamente se mostrará la pregunta a responder.
              p
                | Tendrás 
                b
                  = show_time_limit(@video_interview_answer)
                | para contestar!
              p Será un gusto conocerte!
              .f4_mobile_conditional
                | Para comenzar a grabar, haz tap en la cámara. Recuerda que solo se tomarán en cuenta los primeros
              br/
              button.btn.btn-block.btn-success onclick="record.open();"  Encender cámara
              br/
              br/
            .span10.f4_mobile_conditional
              div style=("height: 300px") 
            = capture_video_tag @video_interview_answer, 'HiringUP', @video_interview_answer.time_limit
            - content_for :javascript
              javascript:
                function confirmExit() {
                  return "No abandones la pagina mientras grabas o subes el video.";
                }

                var q = "#{Base64.encode64(@video_interview_answer.question.encode(Encoding::ISO_8859_1)).gsub(/\n/, '')}";
                var record = new F4Camera(function() {
                  $('#q_field').html(atob(q));
                  $('#q').show();
                  window.onbeforeunload = confirmExit;
                });

                if(!navigator.getUserMedia) {
                  $('#q_field').html($('#q_field').html() + atob(q) + "</br>Presiona la cámara para empezar");
                  $('#q').show();
                }
                record.uploaderStartCb = function() {
                    $('#loading').removeClass('hidden').modal();
                };
                record.uploaderFinishCb = function() {
                  $('#q').hide();
                  $('#loading').modal('hide');
                  $('#finish-message').removeClass('hidden').modal();
                  $.post();
                  window.onbeforeunload = null;
                };
                record.uploaderProgressCb = function(progress, isUploading, retrySeconds) {
                  progress--;
                  if(isUploading) {
                    var percent = progress+'%';
                    $('#loading-msg').html(percent);
                    $('#bar-value').width(percent);
                  } else {
                    $('#loading-msg').html('En ' + retrySeconds + ' segundos reintentaremos subir el video');
                    $('#bar-div').width(1);
                  }
                };


