/ Link showing page number
/ - available local variables
/   page         : a page object for "this" page
/   url          : url to this page
/   current_page : a page object for the currently displayed page
/   total_pages  : total number of pages
/   per_page     : number of items to fetch per page
/   remote       : data-remote

/ - if page.current?
/   span.pager_page.__current = page
/ - else
/   == link_to page, url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil, class: "pager_page"}

li class="#{'active' if page.current?}" 
  = link_to page, page.current? ? '#' : url,
    remote: remote, rel: page.next? ? 'next' : page.prev? ? 'prev' : nil