.container.clearfix
  .error_left-container
    = image_tag 'errors/whole_door.png' 

  .error_right-container
    h2 Error
    h3 403
    h4 Acceso denegado
    p 
      | No tienes acceso o los permisos 
      br/ 
      | para ingresar a esta página.