.container.clearfix
  .error_left-container
    = image_tag 'errors/printer.png'

  .error_right-container
    h2 Error
    h3 404
    h4 Siga intentando
    p Esta página no existe o no ha sido encontrada.
