.container.clearfix
  .error_left-container
    = image_tag 'errors/servers.png' 

  .error_right-container
    h2 Error
    h3 500
    h4 DISCULPA
    p 
      | Pero nuestros servidores no están
      br/
      |disponibles por el momento.