= form_for @document_descriptor, html: {multipart: true} do |f|
  .form-group
    = f.label :name
    - if not @document_descriptor.persisted?
      = f.text_field :name, class: 'form-control', autofocus: true, required: field_required?(f, :name)
    - else
      p = @document_descriptor.name

  /.form-group
  /  = f.label :required
  /  = f.check_box :required, class: 'scaffold_checkbox'

  .form-group
    = f.label :details
    = f.text_field :details, class: 'form-control', autofocus: true, required: field_required?(f, :details)

  .form-group
    = f.label :allowed_extensions
    = f.text_field :allowed_extensions, class: 'form-control', placeholder: Document::Descriptor::DEFAULT_EXTENSIONS.join(' ')

  .checkbox
    = f.label :internal do
      = f.check_box :internal
      = Document::Descriptor.human_attribute_name(:internal)

  .checkbox
    = f.label :only_onboarding do
      = f.check_box :only_onboarding
      = Document::Descriptor.human_attribute_name(:only_onboarding)

  .form-group
    = f.label :resourceable
    = f.file_field :attachments_attributes

  .form-group.margin-top-20-px
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"
