- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.document.descriptor.title")
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.actions.add_new") + ' ' + t("resources.document.descriptor.singular"), new_document_descriptor_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'document', view_more: true, detail_info: 'document' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = t("resources.generals.labels.name")
                /th.scaffold_table-heading = t("resources.generals.labels.required")
                th.small style='vertical-align: middle' = t("resources.generals.labels.details")
                /th.scaffold_table-heading = t("resources.generals.labels.allowed_extensions")
                th.small style='vertical-align: middle' = Document::Descriptor.human_attribute_name("internal")
                th.small style='vertical-align: middle' = Document::Descriptor.human_attribute_name("only_onboarding")
                th.small style='vertical-align: middle' colspan="3"

            tbody.scaffold_table-body
              - @document_descriptors.each do |document_descriptor|
                tr
                  td.small style='vertical-align: middle' width="22%"
                    = link_to document_descriptor.name, document_descriptor, class: "text-base"

                  td.small style='vertical-align: middle' width="22%"
                    = document_descriptor.details

                  td.small style='vertical-align: middle' width="22%"
                    = document_descriptor.internal ? "Sí" : "No"

                  td.small style='vertical-align: middle' width="22%"
                    = document_descriptor.only_onboarding ? "Sí" : "No"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_document_descriptor_path(document_descriptor), class: "btn btn-block btn-primary btn-sm"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), document_descriptor, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + document_descriptor.name + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"

          = paginate @document_descriptors

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
