- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @document_descriptor.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label = t("resources.generals.labels.name")
          p = @document_descriptor.name

          label = t("resources.generals.labels.details")
          p = @document_descriptor.details

          - if @document_descriptor.allowed_extensions.present?
            label = t("resources.generals.labels.allowed_extensions")
            p = @document_descriptor.allowed_extensions

          div
            label
              = @document_descriptor.class.human_attribute_name("internal")
            / p = @document_descriptor.internal ? t("yes") : t("no")
            p = @document_descriptor.internal ? "Sí" : "No"

          div
            label
              = @document_descriptor.class.human_attribute_name("only_onboarding")
            / p = @document_descriptor.only_onboarding ? t("yes") : t("no")
            p = @document_descriptor.only_onboarding ? "Sí" : "No"
          - if @document_descriptor.attachment.present?
            .panel.panel-default
              .panel-heading
                = GenericAttachment.model_name.human
              .panel-body
                table.table.table-bordered
                  tr
                    td
                      = @document_descriptor.attachment.name
                    td.small style='vertical-align: middle'
                      = link_to t("actions.download"), download_generic_attachment_path(@document_descriptor.attachment), class: "btn btn-info"
                    td.small style='vertical-align: middle'
                            = link_to t("resources.generals.actions.destroy"), @document_descriptor.attachment, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + @document_descriptor.attachment.name + ' ?')}, :method => :delete, class: "btn btn-danger btn-sm"

          .row
            .col-xs-12.col-md-3.padding-bottom-10-px
              = link_to t("resources.generals.actions.edit"), edit_document_descriptor_path(@document_descriptor), class: "btn btn-block btn-primary"
            .col-xs-12.col-md-3.padding-bottom-10-px
              = link_to t("resources.generals.actions.back"), document_descriptors_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
