h3
  | Recursos disponibles:

.row.margin-top-30-px
  .panel-group role="tablist"
    .panel.panel-default
      #headingOne.panel-heading role="tab"
        h4.panel-title
          = link_to (Applicant::ProfileType.model_name.human(count: :other)), applicant_profile_types_path, class: "resources-admin_aside-link __darker"

  .panel-group role="tablist"
    .panel.panel-default
      #headingOne.panel-heading role="tab"
        h4.panel-title
          = link_to (Applicant::SoftwareLevel.model_name.human(count: :other)), applicant_software_levels_path, class: "resources-admin_aside-link __darker"


  .panel-group role="tablist"
    .panel.panel-default
      #headingOne.panel-heading role="tab"
        h4.panel-title
          = link_to (Stage::NotApplyReason.model_name.human(count: :other)), stage_not_apply_reasons_path, class: "panel-link"

  // Razones de Descarte
  .panel-group role="tablist"
    .panel.panel-default
      #headingOne.panel-heading role="tab"
        h4.panel-title
          = link_to (Enrollment::DiscardReason.model_name.human(count: :other)), enrollment_discard_reasons_path, class: "panel-link"

  .panel-group role="tablist"
    .panel.panel-default
      #headingOne.panel-heading role="tab"
        h4.panel-title
          = link_to (Offer::RejectReason.model_name.human(count: :other)), offer_reject_reasons_path, class: "panel-link"

  // Grupos
  .panel-group role="tablist"
    .panel.panel-default
      #headingOne.panel-heading role="tab"
        h4.panel-title
          = link_to (Group.model_name.human(count: :other)), groups_path, class: "panel-link"

  .panel-group role="tablist"
    .panel.panel-default
      #headingOne.panel-heading role="tab"
        h4.panel-title
          = link_to (People::IdentificationDocumentType.model_name.human(count: :other)), people_identification_document_types_path, class: "panel-link"

  // Trabajando
  .panel-group role="tablist"
    .panel.panel-default
      #collapseListGroupHeading0.panel-heading role="tab"
        h4.panel-title.__with_collapsible-caret
          a.collapsed aria-controls="collapseListGroup0" data-toggle="collapse" href="#collapseListGroup0" role="button"
            | Diccionarios de datos Trabajando.com
            span.__with_caret
              | &nbsp

      #collapseListGroup0.panel-collapse.collapse aria-labelledby="collapseListGroupHeading0" role="tabpanel"
        ul.list-group
          li.list-group-item
            = link_to (Trabajando::JobType.model_name.human(count: :other)), trabajando_job_types_path, class: "panel-link"

          li.list-group-item
            = link_to (Trabajando::ApplicantProfile.model_name.human(count: :other)), trabajando_applicant_profiles_path, class: "panel-link"

          li.list-group-item
            = link_to (Trabajando::SoftwareLevel.model_name.human(count: :other)), trabajando_software_levels_path, class: "panel-link"
          li.list-group-item
            = link_to (Trabajando::WorkDay.model_name.human(count: :other)), trabajando_work_days_path, class: "panel-link"


          li.list-group-item
            = link_to (Trabajando::EducationLevel.model_name.human(count: :other)), trabajando_education_levels_path, class: "panel-link"

          li.list-group-item
            = link_to (Trabajando::EducationState.model_name.human(count: :other)), trabajando_education_states_path, class: "panel-link"

          li.list-group-item
            = link_to (Trabajando::Career.model_name.human(count: :other)), trabajando_careers_path, class: "panel-link"

          li.list-group-item
            = link_to (Trabajando::Area.model_name.human(count: :other)), trabajando_areas_path, class: "panel-link"

          li.list-group-item
            = link_to (Trabajando::CompanyActivity.model_name.human(count: :other)), trabajando_company_activities_path, class: "panel-link"

          li.list-group-item
            = link_to (Trabajando::MaritalStatus.model_name.human(count: :other)), trabajando_marital_statuses_path, class: "panel-link"

          li.list-group-item
            = link_to (Trabajando::Country.model_name.human(count: :other)), trabajando_countries_path, class: "panel-link"

          li.list-group-item
            = link_to (Trabajando::State.model_name.human(count: :other)), trabajando_states_path, class: "panel-link"

          li.list-group-item
            = link_to (Trabajando::City.model_name.human(count: :other)), trabajando_cities_path, class: "panel-link"

  // Compañia
  .panel-group role="tablist"
    .panel.panel-default
      #collapseListGroupHeading1.panel-heading role="tab"
        h4.panel-title.__with_collapsible-caret
          a.collapsed aria-controls="collapseListGroup1" data-toggle="collapse" href="#collapseListGroup1" role="button"
            = t("resources.company.title")
            span.__with_caret
              | &nbsp

      #collapseListGroup1.panel-collapse.collapse aria-labelledby="collapseListGroupHeading1" role="tabpanel"
        ul.list-group
          li.list-group-item
            = link_to (Company::Record.model_name.human(count: :other)), company_records_path, class: "panel-link"

          li.list-group-item
            = link_to (Company::BusinessUnit.model_name.human(count: :other)), company_business_units_path, class: "panel-link"

          li.list-group-item
            = link_to (Company::RecruitmentSource.model_name.human(count: :other)), company_recruitment_sources_path, class: "panel-link"

          li.list-group-item
            = link_to (Company::Cenco.model_name.human(count: :other)), company_cencos_path, class: "panel-link"

          li.list-group-item
            = link_to (Company::Position.model_name.human(count: :other)), company_positions_path, class: "panel-link"

          li.list-group-item
            = link_to (Company::ContractType.model_name.human(count: :other)), company_contract_types_path, class: "panel-link"

          li.list-group-item
            = link_to (Company::Estate.model_name.human(count: :other)), company_estates_path, class: "panel-link"

          li.list-group-item
            = link_to (Company::Timetable.model_name.human(count: :other)), company_timetables_path, class: "panel-link"

          li.list-group-item
            = link_to (Company::VacancyRequestReason.model_name.human), company_vacancy_request_reasons_path, class: "panel-link"

          li.list-group-item
            = link_to (Company::MaritalStatus.model_name.human), company_marital_statuses_path, class: "panel-link"

          li.list-group-item

            = link_to (Company::EngagementOrigin.model_name.human), company_engagement_origins_path, class: "panel-link"

          li.list-group-item
            = link_to (Company::RecruitmentSource.model_name.human(count: :other)), company_recruitment_sources_path, class: "panel-link"

          li.list-group-item
            = link_to (Company::WhiteRut.model_name.human(count: :other)), company_white_ruts_path, class: "panel-link"

          li.list-group-item
            = link_to (Company::Area.model_name.human(count: :other)), company_areas_path, class: "panel-link"
          li.list-group-item
            = link_to (Company::Employee.model_name.human(count: :other)), company_employees_path, class: "panel-link"


  // Educacion
  .panel-group role="tablist"
    .panel.panel-default
      #collapseListGroupHeading2.panel-heading role="tab"
        h4.panel-title.__with_collapsible-caret
          a.collapsed aria-controls="collapseListGroup2" data-toggle="collapse" href="#collapseListGroup2" role="button"
            = t("resources.education.title")
            span.__with_caret
              | &nbsp

      #collapseListGroup2.panel-collapse.collapse aria-labelledby="collapseListGroupHeading2" role="tabpanel"
        ul.list-group
          li.list-group-item
            = link_to (Education::Institution.model_name.human(count: :other)), education_institutions_path, class: "panel-link"

          li.list-group-item
            = link_to (Education::Career.model_name.human(count: :other)), education_careers_path, class: "panel-link"

          li.list-group-item
            = link_to (Education::StudyLevel.model_name.human(count: :other)), education_study_levels_path, class: "panel-link"

  // Course Tags
  .panel-group role="tablist"
    .panel.panel-default
      #collapseListGroupHeading3.panel-heading role="tab"
        h4.panel-title.__with_collapsible-caret
          a.collapsed aria-controls="collapseListGroup3" data-toggle="collapse" href="#collapseListGroup3" role="button"
            = t("resources.tags.title")
            span.__with_caret
              | &nbsp

      #collapseListGroup3.panel-collapse.collapse aria-labelledby="collapseListGroupHeading3" role="tabpanel"
        ul.list-group
          li.list-group-item
            = link_to (Tag::CourseTag.model_name.human(count: :other)), tag_course_tags_path, class: "panel-link"

          li.list-group-item
            = link_to (Tag::CompanyPositionTag.model_name.human(count: :other)), tag_company_position_tags_path, class: "panel-link"

  // Document
  .panel-group role="tablist"
    .panel.panel-default
      #collapseListGroupHeading4.panel-heading role="tab"
        h4.panel-title.__with_collapsible-caret
          a.collapsed aria-controls="collapseListGroup4" data-toggle="collapse" href="#collapseListGroup4" role="button"
            = t("resources.document.title")
            span.__with_caret
              | &nbsp

      #collapseListGroup4.panel-collapse.collapse aria-labelledby="collapseListGroupHeading4" role="tabpanel"
        ul.list-group
          li.list-group-item
            = link_to (Document::Descriptor.model_name.human(count: :other)), document_descriptors_path, class: "panel-link"

          li.list-group-item
            = link_to (Document::Group.model_name.human(count: :other)), document_groups_path, class: "panel-link"

  // Territoty
  .panel-group role="tablist"
    .panel.panel-default
      #collapseListGroupHeading5.panel-heading role="tab"
        h4.panel-title.__with_collapsible-caret
          a.collapsed aria-controls="collapseListGroup5" data-toggle="collapse" href="#collapseListGroup5" role="button"
            = t("resources.territory.title")
            span.__with_caret
              | &nbsp

      #collapseListGroup5.panel-collapse.collapse aria-labelledby="collapseListGroupHeading5" role="tabpanel"
        ul.list-group
          li.list-group-item
            = link_to (Territory::City.model_name.human(count: :other)), territory_cities_path, class: "panel-link"

          li.list-group-item
            = link_to (Territory::State.model_name.human(count: :other)), territory_states_path, class: "panel-link"

          li.list-group-item
            = link_to (Territory::Country.model_name.human(count: :other)), territory_countries_path, class: "panel-link"

  // Video Interview
  .panel-group role="tablist"
    .panel.panel-default
      #collapseListGroupHeading6.panel-heading role="tab"
        h4.panel-title.__with_collapsible-caret
          a.collapsed aria-controls="collapseListGroup6" data-toggle="collapse" href="#collapseListGroup6" role="button"
            = t("resources.video_interview.title")
            span.__with_caret
              | &nbsp

      #collapseListGroup6.panel-collapse.collapse aria-labelledby="collapseListGroupHeading6" role="tabpanel"
        ul.list-group
          li.list-group-item
            = link_to (VideoInterview::Question.model_name.human(count: :other)), video_interview_questions_path, class: "panel-link"

  // Minisite
  .panel-group role="tablist"
    .panel.panel-default
      #collapseListGroupHeading7.panel-heading role="tab"
        h4.panel-title.__with_collapsible-caret
          a.collapsed aria-controls="collapseListGroup7" data-toggle="collapse" href="#collapseListGroup7" role="button"
            = t("resources.minisite.title")
            span.__with_caret
              | &nbsp

      #collapseListGroup7.panel-collapse.collapse aria-labelledby="collapseListGroupHeading6" role="tabpanel"
        ul.list-group
          li.list-group-item
            = link_to (Minisite::Category.model_name.human(count: :other)), minisite_categories_path, class: "panel-link"

          li.list-group-item
            = link_to (Minisite::Banner.model_name.human(count: :other)), minisite_banners_path, class: "panel-link"

  // FAQ
  .panel-group role="tablist"
    .panel.panel-default
      #headingOne.panel-heading role="tab"
        h4.panel-title
          = link_to (Faq.model_name.human(count: :other)), faqs_path, class: "panel-link"

= content_for :javascript do
  = javascript_include_tag('scaffolds')
