- content_for :title, t("resources.menu.resources_admin")

-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-12
          .col-xs-7
            h3.text-success
              = t("resources.menu.resources_admin")

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow
        .col-md-12.padding-top-10-px
          .col-md-1
            span.uxpin-bulb.text-success.size-45-px.text-center
          .col-md-11
            h4.text-success
              = t('resources.info')
            p.smallest
              = t('text_info.descriptions.main_info.intro_scaffolds')

    .col-md-3
      .row.padding-bottom-20-px.__white-background.__with_shadow
        .col-xs-12
          .col-xs-12
            = render partial: "scaffolds_list"
