= form_for @trabajando_country do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    = f.label :country_id
    = f.select :country_id, Territory::Country.all.map{ |c| [c[:name], "#{c[:id]}"] }, {include_blank: '', selected: @trabajando_country.country_id}, class: "form-control js-select", "data-placeholder": "País"

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"
