- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-7.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Trabajando::Country.model_name.human(count: :other)

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'country' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Trabajando::Country.human_attribute_name(:name)
                th.small style='vertical-align: middle' = Trabajando::Country.human_attribute_name(:country_id)
                th.small

            tbody-body
              - @trabajando_countries.each do |trabajando_country|
                tr
                  td.small style='vertical-align: middle' width="25%"
                    = link_to trabajando_country.name, trabajando_country, class: "text-base"

                  td.small style='vertical-align: middle' width="70%"
                    - if trabajando_country.country_id?
                      ul
                        li = link_to trabajando_country.country.name, trabajando_country.country
                    - else
                      p Sin país asociado

                  td style='vertical-align: middle' width="42px"
                    = link_to t("resources.generals.actions.edit"), edit_trabajando_country_path(trabajando_country), class: "btn btn-block btn-primary btn-sm"

          = paginate @trabajando_countries

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"

