-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @trabajando_country.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label.scaffold_label.__strong = Trabajando::Country.human_attribute_name(:name)
          = @trabajando_country.name

          label.scaffold_label.__strong = Trabajando::Country.human_attribute_name(:country_id)
          - if @trabajando_country.country_id?
            ul
              li = link_to @trabajando_country.country.name, @trabajando_country.country
          - else
            p Sin país asociado

          .col-md-2
            = link_to t("resources.generals.actions.edit"), edit_trabajando_country_path(@trabajando_country), class: "btn btn-block btn-primary"

          .col-md-2
            = link_to t("resources.generals.actions.back"), trabajando_countries_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'

