= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group.margin-top-30-px
    = f.label :email
    = f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('devise.sessions.placeholder_email')

  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t('devise.sessions.placeholder_password')

  .form-group
    - if devise_mapping.rememberable?
      .checkbox-inline
        = f.check_box :remember_me
        = f.label :remember_me

  .form-group
    = f.submit I18n.t('devise.sessions.sign_in'), class: 'btn btn-block btn-success'
