-content_for :subheader do
  .row
    .col-xs-12.__white-background
      .col-xs-12.__white-background.padding-top-10-px.padding-bottom-10-px
        h3.text-success
          | Reporte General Por Mes
          
.container
  .row
    .div class="col-xs-12 __white-background padding-top-10-px padding-bottom-10-px"
      = form_tag(report_report_general_per_month_index_path, method: :get, class: 'form-horizontal')            
        .col-md-6.col-md-offset-3
          .well
            .form-group
              = label_tag t('datetime.prompts.month')
              br/
              .input-group
                .input-group-addon
                  span.glyphicon.glyphicon-calendar
                = select_month Date.today, {}, {field_name: 'month', class: 'form-control'}
                
            .form-group
              = label_tag t('datetime.prompts.year')
              br/
              .input-group
                .input-group-addon
                  span.glyphicon.glyphicon-calendar
                = select_year Date.today, {}, {field_name: 'year', class: 'form-control'}
            
            .form-group.text-center.margin-top-20-px
              = submit_tag t('reports.buttons.generate'), class: 'btn btn-success'
