.col-xs-12.margin-top-10-px
  button.btn.btn-primary.btn-inverted.btn-block data-target="#resetPasswordModal" data-toggle="modal" type="button" Reiniciar contraseña

  #resetPasswordModal.modal.fade aria-labelledby="resetPasswordModalLabel" role="dialog" tabindex="-1"
    .modal-dialog role="document"
      .modal-content
        .modal-header
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true"  &times;
          h4#resetPasswordModalLabel.modal-title Reiniciar contraseña

        = form_tag(update_password_applicant_basis_path(applicant), method: :post )
          .modal-body
            .form-group
              = label_tag :password, "Contraseña"
              = password_field_tag :password, '', class: 'form-control', required: true, autocomplete: 'off', minlength: '8'

            .form-group
              = label_tag :password_confirmations, 'Confirmar contraseña'
              = password_field_tag :password_confirmation, '', class: 'form-control', required: true, minlength: '8'

          .modal-footer
            button.btn.btn-default data-dismiss="modal" type="button"  Cerrar
            = submit_tag 'Enviar', class: 'btn btn-primary'
