h2.login_title
  = t('devise.invitations.edit.header')

= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
  
  = f.hidden_field :invitation_token 

  .form-group
    = f.label :password 
    .field_info
      = User.password_length.min 
      | &nbsp;
      = t("devise.passwords.min_chars")
    = f.password_field :password, placeholder: t("activerecord.attributes.user.password"), class: 'form-control'
    = field_errors_wrapper(f.object.errors[:password])

  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, placeholder: t("activerecord.attributes.user.password_confirmation"), class: 'form-control'
    = field_errors_wrapper(f.object.errors[:password_confirmation])

  .form-group
    = f.submit t("devise.invitations.edit.submit_button"), class: 'btn btn-success btn-block'
