= form_tag(generate_report_process_tracking_index_path(format: :html), method: :post)
  / .row
  /   .col-md-6
  /.form-group
    = label_tag t('reports.filters.starts_at')
    .input-group
      .input-group-addon
        span.glyphicon.glyphicon-calendar
      = text_field_tag 'starts_at', params[:starts_at] || l(Date.today.at_beginning_of_month), class: 'form-control js-datepicker', readonly: 'true'
    / .col-md-6
  .form-group
    = label_tag t('reports.filters.course_title')
    = text_field_tag 'title', params[:title], class: 'form-control'

  .form-group
    = react_component 'CountryStateCitySelect', { \
      country_select: { \
        name: "country", \
        selected: Territory::Country.find_by(name: $COMPANY[:default_country]).try(:id), \
        required: false \
      }, \
      state_select: { \
        name: "state", \
        selected: "", \
        required: false \
      }, \
      city_select: { \
        name: "city", \
        selected: "", \
        required: false \
      } \
    }

  .form-group
    = label_tag t('reports.filters.company_engagement_origin_ids')
    .input-group
      .input-group-addon
        span.glyphicon.glyphicon-list-alt
      - options = options_for_select(Company::EngagementOrigin.all.pluck(:name, :id))
      = select_tag :engagement_origin_ids, options, multiple: true, 'data-placeholder': t('reports.filters.company_engagement_origin_ids') , class: "form-control js-select"

  .form-group
    = label_tag t('reports.filters.company_position_ids')
    .checkbox
      label
        = check_box_tag :select_all_positions, :all_company_positions, true
        | Seleccionar Todos
    .input-group.company_positions_select.hidden
      .input-group-addon
        span.glyphicon.glyphicon-list-alt
      - selected = (action_name == 'new') ? Company::Position.ids :  params[:position_ids] || []
      - options = options_for_select(Company::Position.all.pluck(:name, :id), selected: selected)
      = select_tag :position_ids, options, multiple: true, 'data-placeholder': Company::Position.model_name.human.pluralize , class: "form-control"

  .form-group
    = label_tag t('reports.filters.stages')
    .input-group
      .input-group-addon
        span.glyphicon.glyphicon-list-alt
      - options = options_for_select((Enrollment::Base::WORK_FLOW + Enrollment::Internal::WORK_FLOW + Enrollment::Simple::WORK_FLOW).map{|w| [ w[:name],  w[:class_name]]}.uniq.sort)
      = select_tag :stages, options, multiple: true, 'data-placeholder': "Elija las etapas..." , class: "form-control js-select"

  .form-group
    = label_tag t("course.detail.tags")
    .input-group
      .input-group-addon
        span.glyphicon.glyphicon-tags
      - options = options_for_select(Tag::CourseTag.all.map{ |c| [c[:name], c[:id]] })
      = select_tag "tags", options, multiple: true, 'data-placeholder': t('course.placeholder.tags') , class: "form-control js-select"

  .form-group.text-center
    = submit_tag t('reports.buttons.generate'), class: 'btn btn-success'

= content_for :javascript do
  = javascript_include_tag('report/courses_report')
