.container-fluid
  - content_for :subheader do
    .subheader_container.clearfix
      .subheader_left-container
        .subheader_cyan
          h4.text-success= t('reports.process_tracking')

  .row
    .col-md-6.col-md-offset-3
      .well
        = render partial: 'report/process_tracking/form'
        /= link_to "Ver reporte", generate_report_process_tracking_index_path(format: :xlsx), method: :post,  class: "btn btn-primary"


= content_for :javascript do
  = javascript_include_tag('reports_helper')
