- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

.container
  .col-xs-12.__white-background
    .col-xs-12
      .col-sm-6
        h3
          = Test::Stage.model_name.human
      .col-sm-6.text-right
        .col-xs-9.text-right.margin-top-10-px
          = render partial: 'stage/bases/massive_not_apply_form'
        .col-xs-3.margin-top-20-px
          = form_tag(massive_finish_stage_course_test_stages_path(@course),
                 method: :post, class: "massive-form", "data-type": "stage")
            = submit_tag "Finalizar Etapas", class: 'btn btn-success'

    .col-xs-12.padding-bottom-20-px
      hr/
      table.course_candidates-container
        thead
          th style="width: 40px;"
            input#js-check_everything type="checkbox"
          th Candidatos
          th Acción

        - if @stages.any?
          tbody
            - @stages.each do |stage|
              - applicant = stage.enrollment.applicant
              tr.course_candidate-row
                td
                  .course_candidate-check-container
                    = check_box_tag('stage_ids[]', stage.id, (@stages_selected.try(:ids) || []).include?(stage.id), class: "js-checkbox", "data-value": stage.id)

                td.course_candidate-cell
                  .clearfix
                    .course_candidate-avatar-container
                      = image_tag(applicant.user.avatar, class: 'course_candidate-avatar')
                    .course_candidate-name-container
                      - name = (applicant.first_name.present? and applicant.last_name.present?) ? applicant.first_name + ' ' + applicant.last_name : applicant.email
                      = link_to(name, applicant_basis_path(applicant))

                td.course_candidate-cell = link_to(stage.to_s, polymorphic_path([stage.enrollment.course,stage]))

    = paginate @stages

= content_for :javascript do
  = javascript_include_tag('fluid-tables')
