- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

section.course_card
  h3.course_card-title.__large
    = Test::Stage.model_name.human

  - if @stage.test_report.try(:persisted?)
    = render partial: 'test/reports/show', locals: { test_report: @stage.test_report}
  - else
    = render partial: 'test/reports/form'
