= form_tag(upload_load_massive_company_employees_path , method: :post, multipart: true)
  .form-group
    = link_to 'Plantilla que debe usar para subir los colaboradores', download_file_example_company_employees_path
  .form-group
    = label_tag :notify_to, 'Email de notificación'
    = email_field_tag :notify_to, '', class: 'form-control', required: true
  .form-group
    = label_tag :file, 'Archivo de colaboradores'
    = file_field_tag :file, class: 'form-control', required: true


  .form-group
      .row
        .col-xs-12.col-md-3
          = submit_tag 'Enviar', class: 'btn btn-block btn-success'
