= form_for(@territory_state) do |f| 

  .form-group
    = f.label :name
    = f.text_field :name , class: 'form-control', autofocus: true, required: field_required?(f, :name)

  .form-group
    = f.label t("resources.territory.countries.singular")
    = f.select :territory_country, options_for_select(Territory::Country.all.collect {|p| [p.name, p.id] }, selected: @territory_state.territory_country.try(:id) ), {include_blank: true}, class: 'form-control'

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"
