-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @territory_state.name.capitalize
.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label = t("resources.generals.labels.name")
          P = @territory_state.name

          label = t("resources.territory.states.singular")
          P = @territory_state.territory_country.name

          .row
            .col-xs-12.col-md-2.padding-bottom-10-px
              = link_to t("resources.generals.actions.edit"), edit_territory_state_path(@territory_state) , class: "btn btn-block btn-primary"
            .col-xs-12.col-md-2.padding-bottom-10-px
              = link_to t("resources.generals.actions.back"), territory_states_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
