.container
  .row.margin-top-10-px
    .col-xs-12
      .col-xs-12.__white-background.__shadow.padding-bottom-20-px.padding-top-10-px
        .col-xs-12
          h3.text-success
            = t("dashboards.general")

.container
  .row.margin-top-20-px
    .col-xs-12
      .col-xs-12.__white-background.__shadow.padding-bottom-10-px.padding-top-10-px
        .row
          .col-xs-12
            h4.text-primary.text-center
              = t("dashboards.metrics.courses_quant_per_month")
          .col-xs-12
            - if Course.any?
              = line_chart Course.all.group_by_month(:created_at, format: "%b-%Y").count, discrete: true
            - else
              .text-center  
                i.text-muted
                  = t("dashboards.no_data.no_courses")

.container
  .row.margin-top-20-px
    .col-xs-6
      .col-xs-12.__white-background.__shadow.padding-bottom-10-px.padding-top-10-px
        .row
          .col-xs-12
            h4.text-primary.text-center
              = t("dashboards.metrics.candidates_type")
          .col-xs-12
            - if Applicant::Catched.any? or Applicant::Base.any? or Minisite::Applicant.any?
              = pie_chart( { 'Invitados' => Applicant::Catched.all.count, 'Registrados' => Applicant::Base.all.count, 'Postulantes' => Minisite::Applicant.all.count + Laborum::Applicant.all.count } )
            - else
              .text-center  
                i.text-muted
                  = t("dashboards.no_data.no_applicants")

    .col-xs-6
      .col-xs-12.__white-background.__shadow.padding-bottom-10-px.padding-top-10-px
        .col-xs-12
          h4.text-primary.text-center
            = t("dashboards.metrics.postulations_type")
        .col-xs-12
          - if Minisite::Postulation.any? or Laborum::Postulation.any?
            = pie_chart( { 'HUPE' => Minisite::Postulation.all.count, 'Laborum' => Laborum::Postulation.all.count } )
          - else
            .text-center
              i.text-muted
                = t("dashboards.no_data.no_postulations")

.container
  .row.margin-top-20-px
    .col-xs-12
      .col-xs-12.__white-background.__shadow.padding-bottom-10-px.padding-top-10-px
        .row
          .col-xs-12
            h4.text-primary.text-center
              = t("dashboards.metrics.candidates_per_process_per_month")
          .col-xs-12
            - if Course.all.map{|c| c.enrollments }.flatten.count > 0
              = line_chart Course.all.map{ |course| { name: course.title , data: course.enrollments.group_by_month(:created_at, format: "%B").count}}, discrete: true, min: 0
            -else
              .text-center  
                i.text-muted
                  = t("dashboards.no_data.no_enrollments")

.container
  .row.margin-top-20-px
    .col-xs-6
      .col-xs-12.__white-background.__shadow.padding-bottom-10-px.padding-top-10-px
        .row
          .col-xs-12
            h4.text-primary.text-center
              = t("dashboards.metrics.courses_status")
          .col-xs-12
            - if Course.any?
              = pie_chart( { 'Abiertos' => Course.where(aasm_state: "opened").count, 'Cerrados' => Course.where(aasm_state: "closed").count } )
            - else
              = t("dashboards.no_data.no_courses")

    .col-xs-6
      .col-xs-12.__white-background.__shadow.padding-bottom-10-px.padding-top-10-px
        .col-xs-12
          h4.text-primary.text-center
            = t("dashboards.metrics.vacancies_status")
        .col-xs-12
          - if Vacancy.any?
            = pie_chart( { 'Abiertas' => Vacancy.where(closed_at: nil ).count, 'Cerradas' => Vacancy.where.not(closed_at: nil).count } )
          - else
            .text-center  
              i.text-muted
                = t("dashboards.no_data.no_vacancies")

.container
  .row.margin-top-20-px
    .col-xs-12
      .col-xs-12.__white-background.__shadow.padding-bottom-10-px.padding-top-10-px
        .row
          .col-xs-12
            h4.text-primary.text-center
              = t("dashboards.metrics.candidates_quant_per_process")
          .col-xs-12
            - a = Course.all.map{|c| [c.title , c.enrollments.count]}
            - h = Hash[a]
            - if h.any? and h.first[1] > 0
              = column_chart h , stacked: true
            -else
              .text-center
                i.text-muted
                  = t("dashboards.no_data.no_enrollments")
