div
  /! Nav tabs
  ul.nav.nav-tabs role="tablist"
    li.active role="presentation"
      a aria-controls="enrollments" data-toggle="tab" href="#enrollments" role="tab" Candidatos en proceso
    li role="presentation"
      a aria-controls="postulations" data-toggle="tab" href="#postulations" role="tab" Postulaciones recibidas de portales de trabajo

  /! Tab panes
  .tab-content.padding-top-10-px
    #enrollments.tab-pane.active role="tabpanel"
      = react_component 'EnrollmentSearch', {\
        course_id: @course.id, \
        type_enrollment: @course.type_enrollment, \
        is_admin: current_user.can?(:admin), \
        onboarding: { \
          default_selected: @course.document_group_id,\
          document_groups: Document::Group.all.to_a \
        }\
      }
    #postulations.tab-pane role="tabpanel"
      = react_component 'PostulationsSearch', {course_id: @course.id, is_admin: current_user.can?(:admin)}

