#closeCourseModal.modal.fade role="dialog" tabindex="-1"
  = form_for(course, url: switch_state_course_path(course, switch: :close), method: :put) do |f|
    .modal-dialog role="document"
      .modal-content
        .modal-header
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true"  &times;
          h4.modal-title Cerrar proceso
        .modal-body
          p
            | Está a punto de cerrar un proceso.
          p
            | Para realizar esta acción usted debe haber desarrollado la última etapa del flujo, esto quiere decir:
          p
            | 1. Haber confeccionado la ficha de ingreso de la persona seleccionada (Flujo de R&amp;S) o haber finalizado el proceso de la persona promovida y/o trasladada (Flujo de P&amp;T).
          p
            | 2. Haber descartado a los postulantes no seleccionados.
          p
            | En caso de considerar que el proceso no debió ser creado, enviar un mail a hpradenas@integra.cl solicitando la eliminación del mismo en la plataforma. ¿Desea continuar?

          .create-course_row
            = f.label 'Observaciones', class: "create-course_label"
            = f.text_area :observations_closing, class: "form-control", required: true

        .modal-footer
          = submit_tag 'Aceptar', class: "btn btn-danger"
          a.btn.btn-info data-dismiss="modal" href="#"  Cancelar
