.row.padding-top-10-px.padding-bottom-10-px
  .col-xs-12
    .row.margin-bottom-10-px
      .col-xs-12
        .col-xs-12.__with_collapsible-caret
          .row.margin-top-10-px
            .col-sm-6
              strong.small
                | Proceso en Evaluar:&nbsp;
              - if !@course.evaluar_course.try(:evaluar_id)
                .btn-group.margin-top-5-px
                  = link_to('Obtener id', create_in_evaluar_evaluar_course_path(@course.evaluar_course), method: :post, class: 'btn btn-primary', data: {disable_with: "Obteniendo id..."}, id: 'btn-evaluar')
              - else
                small
                  = @course.evaluar_course.try(:evaluar_id)
