- state = t("courses.states.#{course.aasm_state}.full")
.container
  .row
    // First Col
    .col-sm-2
      - if @course.hired_candidates?
        = render partial: 'hired_candidates'

      = render partial: 'course_data_box', locals: { course: course }

    // Contenido
    .col-sm-10
      .row
        .col-xs-12
          .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
            .col-xs-12
              h3
                = t('course.statistics.labels.vacancies_per_time')
              hr/
            .col-xs-12
              - if course.vacancies.any?
                = line_chart @vacancies_per_month, discrete: true
              - else
                .text-center
                  i.text-muted
                    = t('course.statistics.no_data.no_vacancies')
                  .margin-top-20-px
                    = link_to 'Agregar Vacante', edit_course_path(course, anchor: 'add_vacancies'), class: 'btn btn-success'

      .row.margin-top-20-px
        .col-sm-6
          .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
            .col-xs-12
              h3
                = t('course.statistics.labels.candidate_types')
              hr/
            .col-xs-12
              - if course.enrollments.any? and @applicants_catched.any? || @applicants_ministe.any?
                = column_chart({  'Invitados' => @applicants_catched.count,
                                  'Registrados' => @applicants_ministe.count})

              - else
                p
                  i.text-muted
                    = t('course.statistics.no_data.no_candidates')

        .col-sm-6
          .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
            .col-xs-12
              h3
                = t('course.statistics.labels.postulations_state')
              hr/
            .col-xs-12
              - if course.minisite_publications.any? and @postulations_accepted.any? || @postulations_pending.any? || @postulations_rejected.any?
                = pie_chart({ "Aceptadas" => @postulations_accepted.count ,
                              "Pendientes" => @postulations_pending.count ,
                              "Rechazadas" => @postulations_rejected.count })
              - else
                p
                  i.text-muted
                    = t('course.statistics.no_data.no_postulations')


      .row.margin-top-20-px
        .col-xs-12
          .col-xs-12.__white-background.padding-bottom-10-px.__with_shadow
            .col-xs-12
              h3
                = Course.human_attribute_name(:description)
              hr/
            .col-xs-12
              p
                = course.description.html_safe

      - if @activities.present?
        .row.margin-top-20-px
          .col-xs-12
            .col-xs-12.__white-background.padding-top-10-px.padding-bottom-10-px.__with_shadow
              .col-xs-12
                h3
                  = t("activerecord.models.activity.other")
                hr/
              .col-xs-12
                .course_newsFeed-wrapper
                  = render_activities(@activities, fallback: :text, layout: 'activity')

                  = paginate @activities
