.row.margin-top-10-px
  .col-xs-12
    .col-xs-12
      .col-xs-12.__white-background#course_header_tabs.__with_shadow.padding-bottom-10-px
        .row
          .__progress-top-bar class="_#{course.health}-percent"

        .col-sm-6.padding-top-10-px
          h2
            a.text-success href="#course_resume" data-toggle="tab" title="#{t('actions.go_back')}"
              = course.title

          - state = t("courses.states.#{course.aasm_state}.full")
          - if course.opened?
            span.label.label-success = state
          - else course.closed?
            span.label.label-danger = state

        .col-sm-6.nav-pills.padding-top-10-px
          // NOTA: flotan a la derecha... por lo que hay que imprimirlos al revés para conservar el orden! XD

          / .col-md-3.text-center
          /   a.__nav-links.padding-top-20-px.padding-bottom-20-px href="#statistics" data-toggle="tab"
          /     .row
          /       .col-xs-12.text-center
          /         span.uxpin-chart.size-30-px
          /       .col-xs-12.center-text
          /         = t('course.statistics.menu')

          .col-md-3.text-center
            a.__nav-links.padding-top-20-px.padding-bottom-20-px href="#course_resume" data-toggle="tab"
              .row
                .col-xs-12.text-center
                  span.uxpin-add-user.size-30-px
                .col-xs-12.text-center
                    = Applicant::External.model_name.human.pluralize


          .col-md-3.text-center
            a.__nav-links.padding-top-20-px.padding-bottom-20-px href="#activities" data-toggle="tab"
              .row
                .col-xs-12.text-center
                  span.uxpin-shield.size-30-px
                .col-xs-12.center-text
                  | Actividades del proceso

          - if current_user.can? :admin_publications, @course
            .col-md-3.text-center
              a.text-base.__nav-links.padding-top-20-px.padding-bottom-20-px href="#publications" data-toggle="tab"
                .row
                  .col-xs-12.text-center
                    span.uxpin-compose.size-30-px
                  .col-xs-12.center-text
                      = Minisite::Publication.model_name.human(count: 2)



          - if current_user.can? :admin_course, @course
            .col-md-3.text-center
              a.__nav-links.padding-top-20-px.padding-bottom-20-px href="#security" data-toggle="tab"
                .row
                  .col-xs-12.text-center
                    span.uxpin-shield.size-30-px
                  .col-xs-12.center-text
                    = t('course.security.base')
