.row.padding-top-10-px.padding-bottom-10-px
  .col-xs-12
    .col-xs-12
      .row.margin-bottom-10-px
        .col-sm-8
          .row
            .col-xs-12
              .col-sm-3
                strong.small
                  = Course.human_attribute_name(:user)
                  | :&nbsp;
                small
                  = course.user.name_or_email
              .col-sm-4
                strong.small
                  | Fecha de creación: &nbsp;
                small
                  = l(course.created_at.to_date, format: "%d %B %Y").capitalize
              .col-sm-4
                strong.small
                  = Company::Position.model_name.human
                  | :&nbsp;
                small
                  = course.company_position.name
          - if @course.closed?
            .row.margin-top-5-px
              .col-xs-12
                .col-sm-12
                  strong Obsevarciones de cierre:
                  p = @course.observations_closing || t('no_entry')



        .col-sm-4
          .col-xs-12.text-right
            .btn-group.margin-top-5-px
              = link_to('Editar proceso', edit_course_path(@course), class: 'btn btn-primary')
              - if current_user.can?(:create, Course)
                = link_to t("actions.clone"), clone_course_path(course), method: :post, class: "btn btn-primary btn-inverted"
              - if course.opened?
                button.btn.btn-danger data-target="#closeCourseModal" data-toggle="modal" data-whatever="@fat" type="button"
                  = t('courses.actions.close.text')

      - if @course.evaluar_course.present?
        = render partial: 'course_evaluar_details', locals: { course_evaluar: @course.evaluar_course }

      .row
        .col-xs-12
          .col-xs-12.__with_collapsible-caret
            .row.margin-top-10-px
              .col-sm-2
                a.btn-link aria-controls="details" aria-expanded="false" data-toggle="collapse" href="#details" role="button" class="collapsed"
                  small.__with_caret
                    | Ver detalles&nbsp;

              .col-sm-2
                a.btn-link aria-controls="hireds" aria-expanded="false" data-toggle="collapse" href="#hireds" role="button" class="collapsed"
                  small.__with_caret
                    | Ver contratados&nbsp;

            #details.collapse.clearfix.margin-top-10-px style="border: 1px dashed #dfdfdf"
              .col-xs-12
                .row.margin-top-10-px
                  .col-xs-12
                    .row
                      .col-xs-12
                        strong.small
                          = Course.human_attribute_name(:vacancies)
                          | :&nbsp;

                    - if course.vacancies.any?
                        .row.margin-bottom-10-px
                          .col-xs-12
                            table.table.table-hover
                              thead
                                tr
                                  th.small
                                    = Vacancy.human_attribute_name(:id)

                                  th.small
                                    = Company::Record.model_name.human

                                  th.small
                                    = Company::BusinessUnit.model_name.human

                                  th.small
                                    = "#{Company::Cenco.human_attribute_name(:cod)} Cenco"

                                  th.small
                                    = Company::Cenco.model_name.human

                                  th.small
                                    = HiringRequest::Record.model_name.human
                              tbody
                                - course.vacancies.each do |vacancy|
                                  tr
                                    td.small
                                      = vacancy.id
                                    td.small
                                      = vacancy.company_positions_cenco.company_cenco.company_management.company_record.name
                                    td.small
                                      = vacancy.company_positions_cenco.company_cenco.company_business_unit.name
                                    td.small
                                      = vacancy.company_positions_cenco.company_cenco.cod
                                    td.small
                                      = vacancy.company_positions_cenco.company_cenco.name
                                    td.small
                                      - if vacancy.hiring_request_record.present?
                                        = link_to t("say_yes"),hiring_request_record_path(vacancy.hiring_request_record_id), class: 'small btn-link', target: '_blank'
                                      - else
                                        = t("say_no")

                    - else
                      .row.margin-bottom-10-px
                        .col-xs-12
                          i.small.text-muted
                            = t("course.no_asosiated_vacancies")


            #hireds.collapse.clearfix.margin-top-10-px style="border: 1px dashed #dfdfdf"
              .col-xs-12
                .row.margin-top-10-px
                  .col-xs-12
                    .row
                      = render partial: 'courses/hired_candidates'

= render partial: 'courses/close_course', locals: { course: course }
