.container
  .row
    .col-xs-12

      section.course_card.__with_shadow
        .row.course_card-title.__large
          h3.col-md-8
            = t("course.characteristics")

          .col-md-4.margin-top-10-px
            - if current_user.can?(:update, course)
              .col-md-5.col-md-offset-3.margin-bottom-10-px
                = link_to t("course.detail.edit"), edit_course_path(course), class: "btn btn-success btn-block"

            - if current_user.can?(:create, Course)
              .col-md-4
                = link_to t("actions.clone"), clone_course_path(course), method: :post, class: "btn btn-primary btn-block"

        div
          h3 =t("course.created")
          p = l(course.created_at, format: '%d de %B del %Y a las %H:%m')

        div
          h3 = Course.human_attribute_name(:start)
          - if course.start
            p = l(course.start, format: '%d de %B del %Y a las %H:%m')

        div
          h3 = Course.human_attribute_name(:finish)
          - if course.finish
            p = l(course.finish, format: '%d de %B del %Y a las %H:%m')

        div
          h3 = t("process.titulo")
          p = course.title

        div
          h3 = t("process.descripcion")
          p = course.description.html_safe

        div
          h3 = Course.human_attribute_name(:contract_type)
          p = course.contract_type_name

        div
          h3 = Course.human_attribute_name(:vacancies)
          p = course.vacancies.count

        div
          h3 = Course.human_attribute_name(:request_reason)
          p = course.request_reason_name

        div
          h3 = Course.human_attribute_name(:timetable_id)
          p = course.timetable_name

        div
          h3 = Course.human_attribute_name(:experience_years)
          p = course.experience_years

        div
          h3 = Course.human_attribute_name(:is_supervisor)
          p = course.is_supervisor ? 'Si' : 'No'

        div
          h3 = Course.human_attribute_name(:engagement_origin)
          p = course.engagement_origin_name

        div
          h3 = t("resources.territory.cities.singular")
          p = course.territory_city.name

        div
          h3 = t("resources.territory.states.singular")
          p = course.territory_city.territory_state.name

        div
          h3 = t("resources.territory.countries.singular")
          p = course.territory_city.territory_state.territory_country.name

        div
          h3 = t("resources.company.positions.singular")
          p = course.company_position.name

        - if not course.video_interview_questions.empty?
          div
            h3 = t("resources.video_interview.title") + " - " + VideoInterview::Question.model_name.human(count: :other)
            ul
            - course.video_interview_questions.each do |question|
              li = question.content

        div
          h3 = t("resources.tags.title")
          - if course.tags.count > 0
            ol
              - course.tags.each do |tag|
                li = tag.name
          - else
            p = t("course.no_tags")

        div
          h3 = Course.human_attribute_name(:careers)
          - if @course.careers.count > 0
            ol
              - @course.careers.each do |career|
                li = career.name
          - else
            p = t('no_entry')

        div
          h3 = Course.human_attribute_name(:study_type_id)
          p = course.study_type_name

        div
          h3 = Course.human_attribute_name(:study_level_id)
          p = course.study_level_name
