- content_for :title, t("course.actions.new_course")

- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-10-px.padding-bottom-20-px.__with_shadow
        h3.text-success
          = I18n.t("helpers.submit.#{(@course.persisted? ? 'update' : 'create')}", model: Course.model_name.human)

.container
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-10-px.padding-bottom-20-px.__with_shadow
        .col-sm-10.col-sm-offset-1
          = form_for @course, html: {} do |course_form|
            .create-course_row
              = course_form.label :start, class: "create-course_label"
              = course_form.text_field :start, class: "create-course_input js-datepicker-start", required: field_required?(course_form, :start), readonly: true
              = field_errors_wrapper(@course.errors[:start])

            .create-course_row
              = course_form.label :title, class: "create-course_label"
              = course_form.text_field :title, class: "create-course_input", placeholder: t("course.placeholder.title"), autofocus: true,  required: field_required?(course_form, :title)
              = field_errors_wrapper(@course.errors[:title])

            .create-course_row
              = course_form.label :description, class: "create-course_label"
              = course_form.bootsy_area :description, class: "form-control bootsy_text_area", placeholder: t("course.placeholder.description"), required: field_required?(course_form, :description)
              = field_errors_wrapper(@course.errors[:description])

            .create-course_row
              - if !@course.persisted?
                = course_form.label :type_enrollment, class: "create-course_label"
                = course_form.select :type_enrollment, Enrollment::Base::TYPES.map{ |c| [c[:name], "#{c[:enrollment_class]}"] }, {}, {disabled: false,class: "create-crouse_select", required: field_required?(course_form, :type_enrollment)}
              - else
                = course_form.label :type_enrollment, class: "create-course_label input_required"
                = course_form.label @course.safe_enrollment_type[:name], class: "create-course_input create-course_label", required: field_required?(course_form, :type_enrollment)
                = field_errors_wrapper(@course.errors[:type_enrollment])

            .create-course_row
              = course_form.label :contract_type, class: "create-course_label"
              = course_form.select :contract_type_id, Company::ContractType.all.map{ |c| [c[:name], "#{c[:id]}"] }, {include_blank: ''}, {class: "create-crouse_select js-select js-select", 'data-placeholder': t('chosen.select.option'), required: field_required?(course_form, :contract_type_id)}
              = field_errors_wrapper(@course.errors[:contract_type_id])

            .create-course_row
              = course_form.label :request_reason, class: "create-course_label"
              = course_form.select :request_reason_id, Company::VacancyRequestReason.all.map{ |c| [c[:name], "#{c[:id]}"] }, {include_blank: ''}, {class: "create-crouse_select js-select", 'data-placeholder': t('chosen.select.option'), required: field_required?(course_form, :request_reason_id)}
              = field_errors_wrapper(@course.errors[:request_reason_id])

            .create-course_row
              = course_form.label :timetable_id, class: "create-course_label"
              = course_form.select :timetable_id, Company::Timetable.all.map{ |c| [c[:name], "#{c[:id]}"] }, {include_blank: ''}, {class: "create-crouse_select js-select", 'data-placeholder': t('chosen.select.option'), required: field_required?(course_form, :timetable)}
              = field_errors_wrapper(@course.errors[:timetable])

            .create-course_row
              = course_form.label :engagement_origin, class: "create-course_label"
              = course_form.select :engagement_origin_id, Company::EngagementOrigin.all.map{ |c| [c[:name], "#{c[:id]}"] }, {include_blank: ''}, {class: "create-crouse_select js-select", 'data-placeholder': t('chosen.select.option'), required: field_required?(course_form, :engagement_origin)}
              = field_errors_wrapper(@course.errors[:engagement_origin])

            .create-course_row
              = course_form.label :area_id, class: "create-course_label"
              = course_form.select :area_id, Company::Area.all.map{ |c| [c[:name], "#{c[:id]}"] }, {include_blank: '', selected: @course.area_id}, class: "create-crouse_select js-select", 'data-placeholder': t('chosen.select.option'), required: field_required?(course_form, :area)
              = field_errors_wrapper(@course.errors[:area])

            .create-course_row
              = course_form.label :applicant_profile_type_id, class: "create-course_label"
              = course_form.select :applicant_profile_type_id, Applicant::ProfileType.all.map{ |c| [c[:name], "#{c[:id]}"] }, {include_blank: '', selected: @course.applicant_profile_type_id}, class: "create-crouse_select js-select", 'data-placeholder': t('chosen.select.option'), required: field_required?(course_form, :applicant_profile_type)
              = field_errors_wrapper(@course.errors[:applicant_profile_type])

            .create-course_row
              = course_form.label :applicant_software_level_id, class: "create-course_label"
              = course_form.select :applicant_software_level_id, Applicant::SoftwareLevel.all.map{ |c| [c[:name], "#{c[:id]}"] }, {include_blank: '', selected: @course.applicant_software_level_id}, class: "create-crouse_select js-select", 'data-placeholder': t('chosen.select.option'), required: field_required?(course_form, :applicant_software_level)
              = field_errors_wrapper(@course.errors[:applicant_software_level])

            .create-course_row
              = course_form.label :minimun_requirements, class: "create-course_label"
              = course_form.text_area :minimun_requirements, class: "form-control", required: field_required?(course_form, :minimun_requirements)
              = field_errors_wrapper(@course.errors[:minimun_requirements])

            .create-course_row
              = course_form.label :careers, class: "create-course_label"
              = course_form.select :career_ids, Education::Career.all.map{ |c| [c[:name], "#{c[:id]}"] }, {include_blank: '', selected: @course.career_ids}, multiple: true, class: "create-crouse_select js-select", 'data-placeholder': t('course.placeholder.careers'), required: field_required?(course_form, :careers)

              = field_errors_wrapper(@course.errors[:careers])

            .create-course_row
              = course_form.label :study_type, class: "create-course_label"
              = course_form.select :study_type, People::Degree::TYPES.map{|type| [type.last,type.first] }, { include_blank: true }, class: 'form_element __select scaffold_select chosen', required: field_required?(course_form, :study_type), 'data-placeholder' => t('chosen.select.option')
              = field_errors_wrapper(@course.errors[:study_type])

            .create-course_row
              = course_form.label :study_level_id, class: "create-course_label"
              = course_form.select :study_level_id, Education::StudyLevel.all.map{ |c| [c[:name], "#{c[:id]}"] }, {include_blank: ''}, {class: "create-crouse_select js-select", 'data-placeholder': t('chosen.select.option'), required: field_required?(course_form, :study_level)}
              = field_errors_wrapper(@course.errors[:study_level])

            .create-course_row
              = course_form.label :experience_years, class: "create-course_label"
              = course_form.select :experience_years, (1..50).to_a.map{ |c| [c, c] }, {include_blank: ''}, {class: "create-crouse_select js-select", 'data-placeholder': t('chosen.select.option'), required: field_required?(course_form, :experience_years)}
              = field_errors_wrapper(@course.errors[:experience_years])

            .create-course_row
              = react_component 'CountryStateCitySelect', { \
                country_select: { \
                  name: "course[territory_country]", \
                  selected: "#{@course.territory_city.try(:territory_state).try(:territory_country).to_param || Territory::Country.find_by(name: $COMPANY[:default_country]).try(:id)}", \
                  required: field_required?(course_form, :territory_city) \
                }, \
                state_select: { \
                  name: "course[territory_state]", \
                  selected: "#{@course.territory_city.try(:territory_state).to_param}", \
                  required: field_required?(course_form, :territory_city) \
                }, \
                city_select: { \
                  name: "course[territory_city]", \
                  selected: "#{@course.territory_city.to_param}", \
                  errors: @course.errors[:territory_city], \
                  required: field_required?(course_form, :territory_city) \
                } \
              }

            .create-course_row.__position
              = react_component 'CompanyPositionSelect', { \
                positions: Company::Position.all, \
                position_id: @course.company_position_id, \
                name: course_form.object_name, \
                errors: @course.errors[:company_position], \
                required: field_required?(course_form, :company_position), \
                company_cencos: @course.company_position.try(:company_positions_cencos) || [] \
              }

            .create-course_row
              = course_form.label :document_group_id, class: "create-course_label"
              = course_form.select :document_group_id, Document::Group.all.map { |c| [c.name, c.id] }, {selected: @course.document_group_id, include_blank: true}, {class: "create-crouse_select", required: field_required?(course_form, :document_group)}
              = field_errors_wrapper(@course.errors[:document_group])

            / .create-course_row
            /   = course_form.label t("resources.video_interview.title")
            /   .input-group
            /     .input-group-addon
            /       span.glyphicon.glyphicon-list-alt
            /     = course_form.select :video_interview_question_ids, VideoInterview::Question.all.map{ |q| [q.content, q.id] }, {selected: @course.video_interview_question_ids }, multiple: true, class: "form-control chosen",'data-placeholder': VideoInterview::Question.model_name.human(count: :other)

            .create-course_row
              = course_form.label t("course.detail.tags"), class: "create-course_label", data: { toggle: "tooltip", placement: "left"}, title:"Selecciona las etiquetas con las cuales deseas categorizar este proceso, en caso de que necesites una nueva contacta a un administrador del sistema"
              = course_form.select :tags, Tag::CourseTag.all.map{ |c| [c[:name], c[:id]] }, {selected: @course.tag_ids }, multiple: true, 'data-placeholder': t('course.placeholder.tags') , class: "create-course_tag-container js-select"

            .create-course_row
              = course_form.label :is_supervisor, class: "create-course_label"
              = course_form.check_box :is_supervisor, class: "create-crouse_select", required: field_required?(course_form, :is_supervisor)
              = field_errors_wrapper(@course.errors[:is_supervisor])

            .create-course_row.course-vacancies.margin-top-10-px
              = react_component 'MultipleVacancyForm', { \
                  name: course_form.object_name, \
                  vacancies: @course.vacancies.map { |v| {object: v.attributes.merge(destroyable: v.destroyable?), errors: v.errors} } , \
                  vacancy_request_reasons: Company::VacancyRequestReason.all, \
                  company_cencos: (Company::Cenco.get_with_large_name.map { |c| {id: c.id, name: c.name} }) \
              }

            .create-course_row.__center
                = course_form.submit class: "btn btn-success"

= content_for :javascript do
  = javascript_include_tag('new_course')
