.col-xs-12
  .row
    .col-xs-12
      strong.small
        = t("course.detail.hired_candidates")
        | :&nbsp;

    - if @course.hired_candidates.any?
      - @course.hired_candidates.each do |candidate|
        .col-xs-4
          .row.margin-top-10-px.margin-bottom-10-px
            .col-xs-3
              .text-center
                = image_tag(candidate.user.avatar, alt: candidate.name_or_email, style: "width: 55%;", class: 'img-circle')
            .col-xs-9.__no-padding
              = link_to applicant_basis_path(candidate), target: '_blank' do
                  p.small.margin-bottom-0-px
                    strong
                      = People::PersonalInformation.human_attribute_name(:first_name)
                    | :&nbsp;
                    = candidate.name_or_email
    - else
      .col-xs-12.margin-bottom-10-px
        i.small.text-muted
          = t("course.detail.no_hired_candidates")

