.course_candidate-discard-modal.__down.__hide
  .course_candidate-discard-modal-arrow
  .course_candidate-discard-modal-header
    h3.course_candidate-discard-modal-title Formulario de Descarte
    button.course_candidate-discard-modal-close.js-massive-discard-close x

  .course_candidate-discard-modal-body
    = form_tag(massive_discard_enrollment_bases_path, method: :post, class: "massive-form", "data-type": "enrollments") do |f|
      
      .create-course_row
        = label_tag t("enrollment/base.discard_reason"), nil, class: "create-course_label"
        
        = select_tag "discard[discard_reason_id]", options_for_select(@discard_reasons.map{ |discard_reason| [ "#{discard_reason[:name]}", discard_reason[:id]] }), class: "create-crouse_select"
      
      .create-course_row
        = label_tag t("enrollment/base.discard_observations"), nil, class: "create-course_label"
        = text_area_tag "discard[observations]", nil, class: "create-course_textarea"
      
      .create-course_row
        = submit_tag t("enrollment/base.discard"), class: "course_candidate-discard-modal-submit"