.container
  section.course_body.__with_shadow
    - if !minisite_publications.any? && !laborum_publications.any? && !trabajando_publications.any?
      section.course_card
        h3.course_card-title = t("activerecord.models.minisite/publication.other")

        .create-course_row.__center
          .row
            .col-md-6
              = link_to t("publications.minisite.button.new"), new_minisite_publication_path(id: @course.id), class: "btn btn-success btn-block"

            .col-md-6
              = link_to t("publications.trabajando.button.new"), new_trabajando_publication_path(id: @course.id), class: "btn btn-success btn-block"

            / .col-md-4
            /   = link_to t("publications.laborum.button.new"), new_laborum_publication_path(id: @course.id), class: "btn btn-success btn-block"
    - else

      / PUBLICACIONES MINISITE
      section.course_card
        h3.course_card-title.__large
          = t('course.minisite_publications')
          .course_card-action-container
            = link_to t("publications.minisite.button.new"), new_minisite_publication_path(id: @course.id), class: "btn btn-success"

        - if minisite_publications.any?
          - minisite_publications.each do |minisite_publication|
            .row.course_publication-container
              .col-md-2.text-center
                = image_tag "logo_dark.png", class: "header_logo __publication"

              .col-md-8
                .row
                  .col-md-12
                    h1.course_publication-title = minisite_publication.title

                .row
                  .col-md-4
                    .course_publication-label = Minisite::Publication.human_attribute_name(:created_at) + ':'
                    .course_publication-copy = l(minisite_publication.created_at, format: '%d de %B de %Y')
                  - if minisite_publication.company_contract_type.present?
                    .col-md-4
                      .course_publication-label = Minisite::Publication.human_attribute_name(:company_contract_type_id) + ':'
                      .course_publication-copy = minisite_publication.company_contract_type.name

                  / Integra solicitó no mostrar el numero de postulaciones
                  / .col-md-4
                  /   .course_publication-label = Minisite::Publication.human_attribute_name(:postulations) + ':'
                  /   .course_publication-copy = minisite_publication.postulations.count

              .col-md-2
                = link_to t("publications.view_publication"), minisite_publication_path(id: @course.id, publication_id: minisite_publication.id), class: "margin-top-30-px btn btn-success btn-inverted btn-block"
          .row
            .col-md-12.text-right
              = link_to t("publications.minisite.button.view_all"), minisite_publications_path, class: "course_publication-link"

        - else
          .row
            .col-md-12.__green
              = t("publications.no_publications")


      /PUBLICACIONES TRABAJANDO
      section.course_card
        h3.course_card-title.__large
          = t('course.trabajando_publications')
          .course_card-action-container
            = link_to t("publications.trabajando.button.new"), new_trabajando_publication_path(id: @course.id), class: "btn btn-success"

        - if trabajando_publications.any?
          = render partial: 'trabajando/publications/delay_message'

          - trabajando_publications.each do |trabajando_publication|
            .row.course_publication-container
              .col-md-2.text-center
                = image_tag "logo_trabajando.png", class: "header_logo __publication", style: 'margin-top: 0px'

              .col-md-8
                .row
                  .col-md-12
                    h1.course_publication-title = trabajando_publication.title

                .row
                  .col-md-4
                    .course_publication-label = Trabajando::Publication.human_attribute_name(:created_at) + ':'
                    .course_publication-copy = l(trabajando_publication.created_at, format: '%d de %B de %Y')

                  / Integra solicitó no mostrar el numero de postulaciones
                  / .col-md-4
                  /   .course_publication-label = Trabajando::Publication.human_attribute_name(:postulations) + ':'
                  /   .course_publication-copy = trabajando_publication.postulations.count

                  .col-md-4
                    .course_publication-copy = link_to('Ver Publicación en Trabajando.com', trabajando_publication.get_remote_url, target: '_blank')


              .col-md-2
                = link_to t("publications.view_publication"), trabajando_publication_path(id: @course.id, publication_id: trabajando_publication.id), class: "margin-top-30-px btn btn-success btn-inverted btn-block"

          .row
            .col-md-12.text-right
              = link_to t("publications.trabajando.button.view_all"), trabajando_publications_path, class: "course_publication-link"

        - else
          .row
            .col-md-12.text-center.text-success
              = t("publications.no_publications")

      /PUBLICACIONES LABORUM
      - if false
        section.course_card
          h3.course_card-title.__large
            = t('course.laborum_publications')
            .course_card-action-container
              = link_to t("publications.laborum.button.new"), new_laborum_publication_path(id: @course.id), class: "btn btn-success"
          /
          - if laborum_publications.any?
            - laborum_publications.each do |laborum_publication|
              .row.course_publication-container
                .col-md-2.text-center
                  = image_tag "logo_laborum.png", class: "header_logo __publication"

                .col-md-8
                  .row
                    h1.course_publication-title = laborum_publication.title

                  .row
                    .col-md-3
                      .course_publication-label = Laborum::Publication.human_attribute_name(:created_at) + ':'
                      .course_publication-copy = l(laborum_publication.created_at, format: '%d de %B de %Y')

                    .col-md-3
                      .course_publication-label = Laborum::Publication.human_attribute_name(:area) + ':'
                      .course_publication-copy = laborum_publication.area

                    .col-md-3
                      .course_publication-label = Laborum::Publication.human_attribute_name(:status) + ':'
                      .course_publication-copy = "#{t("laborum/publication.status." + laborum_publication.status)}"

                    .col-md-3
                      .course_publication-label = Laborum::Publication.human_attribute_name(:postulations) + ':'
                      .course_publication-copy = laborum_publication.postulations.count

                .col-md-2
                  = link_to t("publications.view_publication"), laborum_publication_path(id: @course.id, publication_id: laborum_publication.id), class: "margin-top-30-px btn btn-success btn-inverted btn-block"

            .row
              .col-md-12.text-right
                = link_to t("publications.laborum.button.view_all"), laborum_publications_path, class: "course_publication-link"

          - else
            div.text-center.__green = t("publications.no_publications")
