.container
  .row
    .col-xs-12
      .col-xs-12.__white-background.__with_shadow
        .col-xs-12.padding-top-10-px.padding-bottom-10-px

          h3.padding-bottom-10-px
            = t("course.security.base")

          - if current_user.can?(:admin, @course)
            = form_tag(update_security_course_path, method: 'PUT')
              - @course.roles_instance.each do |role|
                = hidden_field_tag 'course[security][][role_name]', role[:name]
                .form-group
                  label 
                    = role[:description]

                  - users = @course.roles.find_by(name: role[:name]).try(:user_ids) || []
                  - options = options_for_select(Worker::Base.includes(:user).all.collect {|worker| [ worker.user.email, worker.user.id ]}, users)
                  = select_tag('course[security][][users]', options , {class: "form-control", 'data-placeholder': I18n.t("course.security.placeholder.chosen") , selected: users, multiple: true })
              .text-center
                =  submit_tag I18n.t("courses.actions.update"), class: "btn btn-success"
        
= content_for :javascript do
  = javascript_include_tag('security')
