.container
  .row
    .col-sm-2
      = render partial: 'course_data_box', locals: { course: course }

    .col-sm-10
      .row
        .col-sm-6
          .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
            .col-xs-12
              h3
                = t('course.statistics.labels.postulations_per_portal')
              hr/
            .col-xs-12

              - if @minisite_postulations || @trabajando_postulations
                = pie_chart({ 'HUPE' => @minisite_postulations,
                              'Trabajando' => @trabajando_postulations } )
              - else

                p
                  i.text-muted
                    = t('course.statistics.no_data.no_postulations')

        .col-sm-6
          .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
            .col-xs-12
              h3
                = t('course.statistics.labels.publications_state')
              hr/
            .col-xs-12
              - if course.minisite_publications.any?
                = pie_chart({ "Abiertas" => @publications_opened.count ,
                              "Cerradas" => @publications_closed.count })
              - else
                p
                  i.text-muted
                    = t('course.statistics.no_data.no_publications')

      .row.margin-top-20-px
        .col-sm-6
          .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
            .col-xs-12
              h3
                = t('course.statistics.labels.vacancies_state')
              hr/
            .col-xs-12
              - if course.vacancies.any?
                = pie_chart({ "Abiertas" => @vacancies_opened.count,
                              "Cerradas" => @vacancies_closed.count })
              - else
                .text-center
                  i.text-muted
                    | No existen vacantes en el proceso.
                  .margin-top-20-px
                    = link_to 'Agregar Vacante', edit_course_path(course, anchor: 'add_vacancies'), class: 'btn btn-success'

        .col-sm-6
          .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
            .col-xs-12
              h3
                = t('course.statistics.labels.candidates_gender')
              hr/
            .col-xs-12
              - if course.enrollments.any?
                = column_chart({  'Mujeres' => course.enrollments.select{|e| e.applicant.sex == 'F'}.flatten.count,
                                  'Hombres' => course.enrollments.select{|e| e.applicant.sex == 'M'}.flatten.count,
                                  'No ingresó' => course.enrollments.select{|e| e.applicant.sex == nil }.flatten.count,
                              })

              - else
                i.text-muted
                  = t('course.statistics.no_data.no_candidates')
