.row.margin-top-10-px
  .col-xs-12
    .col-xs-12
      .col-xs-12.__white-background#course_header_tabs.__with_shadow
        .row
          .__progress-top-bar class="_#{@course.health}-percent"

        .col-sm-4.padding-top-10-px
          h2
            = link_to @course.title, course_path(@course), title: t('actions.go_back'), class: 'text-success'

        .col-sm-8.nav-pills.padding-top-10-px
          // NOTA: flotan a la derecha... por lo que hay que imprimirlos al revés para conservar el orden! XD
          - if current_user.can? :admin_course, @course
            .pull-right.text-center
              = link_to security_course_path(@course), class: "__nav-links padding-top-20-px padding-bottom-20-px #{(defined? security) ? 'active' : ''}" do
                .row
                  .col-xs-12.text-center
                    span.uxpin-shield.size-30-px
                  .col-xs-12.center-text
                    = t('course.security.base')

          / .pull-right.text-center
          /   = link_to statistics_course_path(@course), class: "__nav-links padding-top-20-px padding-bottom-20-px #{(defined? statistics) ? 'active' : ''}" do
          /     .row
          /       .col-xs-12.text-center
          /         span.uxpin-chart.size-30-px
          /       .col-xs-12.center-text
          /         = t('course.statistics.menu')

          / .pull-right.text-center
          /   = link_to detail_course_path(@course), class: "__nav-links padding-top-20-px padding-bottom-20-px #{(defined? course_details) ? 'active' : ''}" do
          /     .row
          /       .col-xs-12.text-center
          /         span.uxpin-site-map.size-30-px
          /       .col-xs-12.center-text
          /         = t("course.characteristics")
          /         br/
          /         = t("course.from_process")

          - if current_user.can? :admin_publications, @course
            .pull-right.text-center
              = link_to(publications_course_path(@course), class: "__nav-links padding-top-20-px padding-bottom-20-px #{(defined? publications) ? 'active' : ''}") do
                .row
                  .col-xs-12.text-center
                    span.uxpin-compose.size-30-px
                  .col-xs-12.center-text
                      = Minisite::Publication.model_name.human(count: 2)

          .pull-right.text-center
            = link_to(candidates_course_path(@course), class: "__nav-links padding-top-20-px padding-bottom-20-px #{(defined? candidates) ? 'active' : ''}") do
              .row
                .col-xs-12.text-center
                  span.uxpin-add-user.size-30-px
                .col-xs-12.text-center
                    = Applicant::External.model_name.human.pluralize
