- content_for :title, Course.model_name.human.pluralize

-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.__white-background.padding-top-10-px.padding-bottom-20-px.__with_shadow
        .col-xs-8
          h3.text-success
            = Course.model_name.human.pluralize
        .col-xs-4.text-right
          - if current_user.can?(:new, Course)
            = link_to(t("course.actions.new_course"),new_course_path, class: "btn btn-success margin-top-20-px")

.container
  .row
    - if support_react_document_uploader?
      = react_component 'CourseSearch'
    / - else
    /   .col-md-3.margin-bottom-20-px
    /     = form_tag search_courses_path, method: :get, class: "__white-background clearfix __with_shadow"
    /       .col-md-12
    /         .form-group
    /           .input-group.margin-top-20-px
    /             = text_field_tag :query, params[:query], class: "form-control", placeholder: t("actions.search")
    /             .input-group-btn
    /               = content_tag :button, type: :submit , name: "commit", value: "Buscar",  class: 'btn btn-default' do
    /                 span class="glyphicon glyphicon-search" aria-hidden="true"
    /
    /       .col-md-12
    /         - (@aggregations.try(:keys) || []).each do |key|
    /           - if (@aggregations[key].buckets).any?
    /             .process-search_row.row
    /               h3
    /                 = t("search.fields.#{key}").upcase
    /               hr/
    /               - @aggregations[key].buckets.each_with_index do |b, index|
    /                 div.row
    /                   .col-xs-1
    /                     = check_box_tag "#{key}[#{index}]", b[:key]
    /                   .col-xs-10
    /                     span.textbox
    /                       = "#{b[:key]} (#{b[:doc_count]})"
    /
    /       .col-md-12
    /         .process-search_row.__center
    /           = submit_tag t("actions.search"), class: "btn btn-primary btn-block"
    /
    /       - if params[:commit].present?
    /         .row.margin-bottom-10-px
    /           .col-xs-12.text-center
    /             = link_to t("actions.clear_filters"), search_courses_path, class: 'btn-link'
    /
    /   .col-md-9
    /     .process_body
    /       - if @courses.any?
    /         - @courses.each do |course|
    /           .____course.__progress-top-bar.margin-bottom-10-px class="_#{course.health}-percent __#{health_bar_class(course.health)}"
    /             = link_to course_path(course), class: "process_element-container clearfix" do
    /               .col-xs-10
    /                 h2.process_title
    /                   = course.title
    /                 .row.margin-bottom-10-px
    /                   / Fecha
    /                   span.process_col.process_icons.__date = I18n.l(course.created_at.to_date, format: :long).capitalize
    /
    /                   / Postulantes
    /                   span.process_col.process_icons.__postulants
    /                     = Applicant::External.model_name.human.pluralize
    /                     | :&nbsp;
    /                     = course.applicants.count
    /
    /                   span.process_col.process_icons.__postulants
    /                     = t("course.postulations.pending")
    /                     | :&nbsp;
    /                     = course.total_pending_postulations
    /
    /                   span.process_col.process_icons.__postulants
    /                     = t("course.detail.hired_candidates")
    /                     | :&nbsp;
    /                     = course.hired_candidates.length
    /
    /                 .row.margin-bottom-10-px
    /                   span.process_col.process_icons.__created = t("course.roles.instance.created_by")
    /                   - if course.activities.present?
    /                     span = course.activities.first.owner.name_or_email
    /
    /                   - else
    /                     span = t("course.roles.class.system")
    /
    /                 - if course.tags.any?
    /                   .row.margin-bottom-10-px.margin-top-10-px
    /                     - course.tags.each do |tag|
    /                       span.label.label-primary
    /                         = tag.name
    /                         | &nbsp;
    /
    /               .col-xs-2
    /                 .margin-top-30-px
    /                   - state = t("courses.states.#{course.aasm_state}.full")
    /                   - if course.opened?
    /                     span.label.label-success = state
    /                   - else course.closed?
    /                     span.label.label-danger = state
    /
    /       - else
    /         .grid_body
    /           .grid_content-row.clearfix
    /             h2 = t("course.roles.instance.not_found")
    /
    /
    /     = paginate @courses
    - else
      = render partial: "common/unsupported_browser"
