-content_for :subheader do
  .row
    = render partial: "course_header", locals: { course: @course }

.container
  .row
    .tab-content.clearfix
      .tab-pane.active#course_resume
        .container
          .row.margin-bottom-10-px
            .col-xs-12
              .__white-background.__with_shadow
                = render partial: 'course_data_box', locals: { course: @course }
          - if support_react_document_uploader?
            = render partial: 'candidates'
          - else
            = render partial: "common/unsupported_browser"

      - if @activities.present?
        .tab-pane#activities
          .row.margin-top-20-px
            .col-xs-12
              .col-xs-12.__white-background.padding-top-10-px.padding-bottom-10-px.__with_shadow
                .col-xs-12
                  h3
                    = t("activerecord.models.activity.other")
                  hr/
                .col-xs-12
                  .course_newsFeed-wrapper
                    = render_activities(@activities, fallback: :text, layout: 'activity')

                    = paginate @activities

      .tab-pane#publications
        = render partial: 'publications', locals: { \
          course: @course, \
          minisite_publications: @course.minisite_publications, \
          trabajando_publications: @course.trabajando_publications, \
          laborum_publications: @course.laborum_publications \
        }
      / .tab-pane#statistics
        / = render partial: 'statistics', locals: { course: @course }

      .tab-pane#security
        = render partial: 'security', locals: { course: @course }

= content_for :javascript do
  = javascript_include_tag('modal','course')
