= form_for @manager_interview_report, url: course_manager_interview_reports_path(@course.id, @stage.id) do |manager_interview_report_form|

  .form-group
    = manager_interview_report_form.label :documents
    .field_info
      = I18n.t("documents.valid_extensions_files")
    = manager_interview_report_form.file_field :documents, multiple: true, class: 'form-control', required: true
    = field_errors_wrapper(@manager_interview_report.documents.map{ |doc| doc.errors[:document]}.flatten.uniq)
    .help-block
      = I18n.t("documents.select_multiple_files")

  .form-group
    = manager_interview_report_form.label :observations
    = manager_interview_report_form.bootsy_area :observations, class: "form-control", required: field_required?(manager_interview_report_form, :observations)
    = field_errors_wrapper(@manager_interview_report.errors[:observations])

  .form-group.text-center
    = manager_interview_report_form.submit class: "btn btn-success"
