.container-fluid
  .row.margin-bottom-20-px
    .col-md-12
      label
        = ManagerInterview::Report.human_attribute_name(:documents)
        | :
        br/
        br/
      - manager_interview_report.documents.each do |stage_document|
        p.stage-detail_agreement-text = link_to(stage_document.document.file.filename, download_course_manager_interview_report_path(id: @course, stage_id: @stage.id, report_id: manager_interview_report.id, stage_document_id: stage_document.id))

  .row.margin-bottom-20-px
    .col-md-12
      label
        = ManagerInterview::Report.human_attribute_name(:observations)
        | :
      p.margin-top-10-px
        = manager_interview_report.observations.html_safe
