table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              | Estimado (a)&nbsp;
              = "#{@company_reference.first_name}  #{@company_reference.last_name}"
              | &#58;
            p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
              | Se ha agregado una referencia al candidato&nbsp;
              = @company_reference.applicant.name_or_email
              br/
              br/
              | Para completar el proceso, debes confirmar que si realizaste esta referencia a través del siguiente link:
            table style="width: 250px"
              tr
                td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                  = link_to("Confirmar", confirm_company_reference_url(@company_reference, token: @company_reference.generate_confirm_token), target: '_blank',  style: "color:#ffffff; text-decoration: none;")
        tr
          td height="25"
        tr
