= form_for @trabajando_software_level do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    - profile_types = Applicant::SoftwareLevel.all.map{ |software_level| [software_level[:name], software_level[:id]] }
    = f.label :hupe_software_level
    = f.select :hupe_software_level_id, profile_types, {include_blank: true, selected: @trabajando_software_level.hupe_software_level_id }, class: "form-control __multiple"

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"

