- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-7.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Trabajando::SoftwareLevel.model_name.human(count: :other)

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'software_levels' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Trabajando::SoftwareLevel.human_attribute_name(:name)
                th.small style='vertical-align: middle' = Trabajando::SoftwareLevel.human_attribute_name(:hupe_software_level)
                th.small

            tbody-body
              - @trabajando_software_levels.each do |trabajando_software_level|
                tr
                  td.small style='vertical-align: middle' width="42%"
                    = link_to trabajando_software_level.name, trabajando_software_level, class: "text-base"

                  td.small style='vertical-align: middle' width="42%"
                    = link_to trabajando_software_level.hupe_software_level.name, trabajando_software_level.hupe_software_level if trabajando_software_level.hupe_software_level

                  td style='vertical-align: middle' width="42px"
                    = link_to t("resources.generals.actions.edit"), edit_trabajando_software_level_path(trabajando_software_level), class: "btn btn-block btn-primary btn-sm"

          = paginate @trabajando_software_levels

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
