.main-banner {
  background-image: image-url('banners/banner_integra2.jpg');
  background-size: cover;
  background-position: center top;
  height: 215px;
  width: 100%;
}
.banner{
  background-size: cover;
  background-position: center top;
  height: 132px;
  width: 100%;
}
.banner-kindergarten{
  background-image: image-url('banners/jardines_infantiles_banner.jpg');
}
.banner-house{
  background-image: image-url('banners/casa_central_banner.jpg');
}
.banner-offices{
  background-image: image-url('banners/oficinas_regionales_banner.jpg');
}
.banner-practicing{
  background-image: image-url('banners/movilidad_interna_oficinas_regionales_y_casa_central_banner.jpg');
}
.banner-promotions{
  background-image: image-url('banners/promociones_traslados_banner.jpg');
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
    .main-banner {
      background-image: image-url('banners/banner_integra2.jpg');
      background-size: cover;
      background-position: center top;
      height: 428px;
      width: 100%;
  }
    .banner{
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center top;
      height: 428px;
      width: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
