$font-size: 	1.8em;
$space: 	    20px;

.breadcrumb_container {
	color: 		#000;
	margin: 	$space;
}
.breadcrumb_first {
	display: 			inline-block;
	font-size: 		$font-size;
	font-weight: 	600;
}
.breadcrumb_separator {
	color: 				#000;
	font-size: 		$font-size;
	font-weight: 	200;
	padding-left: $space;
}
.breadcrumb_second {
	color: 				#444;
	display: 			inline-block;
	font-size: 		$font-size;
	font-weight:  200;
	padding-left: $space;
}