.context-helper_container {
  margin: 0 auto;
  width:  1000px;
}
.context-helper_container.__center {
  text-align: center;
}
.context-helper_col {
  float:      left;
  text-align: center;
}
.context-helper_col.__c4 {
  box-sizing: border-box;
  width:      25%;
}

.context-helper_input {
  font-size:  1rem;
  padding:    4px;
}
.context-helper_label {
  display:        block;
  margin-bottom:  6px;
}
.context-helper_select {
  background-color: #fff;
  border:           1px solid #ccc;
  border-radius:    0;
  display:          block;
  font-size:        1rem;
  height:           30px;
  margin:           0 auto;
  padding:          4px;
  width:            200px;
}
.context-helper_submit {
  background-color: $light_green;
  border:           none;
  border-radius:    4px;
  color:            #fff;
  cursor:           pointer;
  font-size:        1rem;
  padding:          10px 34px;
  margin-top:       19px;
}
.context-helper_submit:hover {
  background-color: $dark_green;
}