/*
  Course

  (Estos SI son los estilos relacionados con el proceso)
*/

$newsfeed-avatar:   60px;
$candidate-avatar:  70px;

/*
  Layout
*/
.course_container {
  padding: 30px;
}
.course_container.__hide {
  display: none;
}

.course_body {
  box-sizing:   border-box;
  float:        left;
  width:        100%;
}
.course_body.__with-aside {
  margin-left:  2%;
  width:        66%;
}
.course_body.__centered {
  float:  none;
  margin: 0 auto;
  width:  840px;
}

.course_aside {
  box-sizing: border-box;
  float:      left;
  width:      30%;
}

/* Cards */
.course_card {
  background:     #fff;
  border-radius:  4px;
  margin-bottom:  10px;
  padding:        16px;
}
.course_card-title {
  border-bottom:    1px solid #ccc;
  margin:           0;
  font-size:        1.6rem;
  font-weight:      200;
  margin-bottom:    12px;
  padding-bottom:   8px;
  text-decoration:  none;
}
.course_card-title.__large {
  font-size: 2rem;
  padding-bottom: 12px;
}

.course_card-action-container {
  float:    right;
  position: relative;
}

.action_link:link, .action_link:visited {
  color: $light_green;
}

.action_link:hover, .action_link:active {
  color: $brand-success;
}

/*
  Elements
*/
/* Graphs */

$graph-amount:  5;
$graph-width:   150px;

.course_graph {
  border:         4px solid darken($brand-primary,35);
  border-radius:  $graph-width/2;
  box-sizing:     border-box;
  display:        block;
  float:          left;
  height:         $graph-width;
  margin:         0 10px 10px;
  padding:        24px 0 0;
  text-align:     center;
  width:          $graph-width;
}
.course_graph-icon {
  background-position:  center;
  background-repeat:    no-repeat;
  background-size:      25px;
  height:               25px;
  margin:               0 auto;
  width:                30px;
}
.course_graph-icon.__applicants {
  background-image: image-url('credencial.png');
}
.course_graph-icon.__postulations {
  background-image: image-url('postulantes_color.png');
}
.course_graph-icon.__time-per-vacancy {
  background-image: image-url('dias_color.png');
  background-size:  20px;
}
.course_graph-icon.__days {
  background-image: image-url('dias_color.png');
  background-size:  20px;
}

.course_graph-number {
  color:      #214d6e;
  font-size:  1.5rem;
  height:     32px;
}
.course_graph-text {
  color:  #aaa;
  height: 20px;
  font-size: 0.8rem;
  line-height: 1rem;
  margin-top: 2px;
}

/* News Feed */
/* Layout */
.course_newsFeed-wrapper {

}
.course_newsFeed-avatar-container,
.course_newsFeed-copy {
  box-sizing: border-box;
  float:      left;
}
.course_newsFeed-avatar-container {
  margin-right: 20px;
}
.course_newsFeed-copy {
  font-size:    1.1rem;
  font-weight:  200;
  max-width:    620px;
  overflow:     hidden;
}
.course_newsFeed-copy p {
  margin: 0;
}

.course_newsFeed-date {
  box-sizing:   border-box;
  color:        #bbb;
  font-weight:  200;
  float:        right;
}

/* Elements */
.course_newsFeed-element {
  padding: 10px;
}
.course_newsFeed-element:nth-child(odd) {
  background-color: #efefef;
}

.course_newsFeed-avatar {
  border-radius:  $newsfeed-avatar/2;
  height:         $newsfeed-avatar;
  width:          $newsfeed-avatar;
}

.course_newsFeed-link a {
  color:            rgb(27, 188, 156);
  text-decoration:  none;
}
.course_newsFeed-link:hover a {
  text-decoration: underline;
}

//******************//
//    Candidates   //
//****************//
.course_candidates-container {
  border-spacing: 0;
  margin:         40px auto 0;
  width:          auto;
  display: block;
  overflow-x: scroll;
  padding-bottom: 20px;
}
.course_candidates-container th {
  height:     40px;
  width: 200px;
  min-width: 200px;
  text-align: center;

  &.__less-min-width {
    width: auto;
    min-width: 55px;
  }

  &.__more-min-width {
    width: auto;
    min-width: 100px;
  }
}

.course_candidate-row {
  // +20 para así dar 15px de espacio hacía arriba y hacía abajo
  height: $candidate-avatar+30;
}
.course_candidate-row:nth-child(odd) {
  background-color: #f4f4f4;
}

.course_candidate-cell {
  padding:      10px 15px;
  text-align:   center;
  min-width:        220px;
  width: 220px;
  max-width: 250px;
}

.course_candidate-info-container {
  width: 150px;
  padding: 20px 10px;
  text-align: center;
}

.course_candidate-avatar-container {
}

.course_candidate-avatar {
  border-radius:  $candidate-avatar/2;
  height:         $candidate-avatar - 12;
  width:          $candidate-avatar - 12;
}

.course_candidate-name-container {
  line-height: 1.3;
  text-align: center;

  a {
    color: $light_blue;
    font-size: 1rem;
    word-wrap: break-word;
  }
}
.course_candidate-check-container {
  text-align: center;
}

.course_candidate-actions {
  padding: 0 25px;
  text-align: center;
}

.course_candidate-action {
  border:           none;
  border-radius:    10px;
  color:            #fff;
  cursor:           pointer;
  display:          inline;
  font-size:        .8rem;
  line-height:      42px;
  margin:           4px 0;
  padding:          8px 12px;
  text-align:       center;
  text-decoration:  none;

  &:visited, &:active, &:hover {
    color: #fff;
  }
}
.course_candidate-action.__invite {
  background-color: $light_green;
}
.course_candidate-action.__discard {
  background-color: $light_red;

}

/* Discard Modal */
.course_candidate-discard-container {
  position: relative;
}
.course_candidate-discard-modal {
  border:           2px solid red;
  border-radius:    4px;
  background-color: #fff;
  left:             43%;
  position:         fixed;
  bottom:           35%;
  width:            400px;
  z-index:          1090;
  box-shadow: 1px 1px #aaa;
}
.course_candidate-discard-modal.__down {
  left:             43%;
  position:         fixed;
  bottom:           35%;
}
.course_candidate-discard-modal.__hide {
  display: none;
}

.course_candidate-discard-modal-header {
  background-color: red;
  padding:          3px 4px;
  position:         relative;
  text-align:       center;
  font-size:        1rem;
}
.course_candidate-discard-modal-title {
  color:  #fff;
  margin: 4px;
}
.course_candidate-discard-modal-close {
  background-color: red;
  border:           none;
  color:            #fff;
  cursor:           pointer;
  font-size:        1em;
  font-weight:      100;
  position:         absolute;
  right:            4px;
  top:              6px;
}
.course_candidate-discard-modal-body {
  padding: 16px;

  .create-course_label {
    font-size: 1rem;
  }
}
.course_candidate-discard-modal-submit {
  background-color: red;
  border:           0;
  border-radius:    6px;
  color:            #fff;
  cursor:           pointer;
  font-size:        1.2rem;
  padding:          12px;
}
.course_candidate-discard-modal-submit:hover {
  background-color: #d00f0f;
}

.course_candidate-discard-modal-arrow {
  // border-style: solid;
  // border-width: 30px 24px 0 24px;
  // border-color: red transparent transparent transparent;
  // height:       0;
  // margin:       0 auto -30px;
  // width:        0;
  display: none;
}
.course_candidate-discard-modal.__down .course_candidate-discard-modal-arrow {
  border-color: transparent transparent red transparent;
  border-width: 0 24px 32px 24px;
  position:     absolute;

  margin:       initial;
  margin-left:  -16px;
  left:         50%;
  top:          -34px;
}


/*
  Course Publication
*/
$half-row-height: 38px;

.course_publication-container {
  margin:   6px 0;
  padding:  6px;
}
.course_publication-container:nth-child(even) {
  background-color: #f6f6f6;
}
.header_logo.__publication {
  margin-top: $half-row-height;
}
.course_publication-title {
  font-size:    1.4rem;
  font-weight:  300;
  margin:       6px 0;
}
.course_publication-label {
  color:          $dark_gray;
  line-height:    20px;
}
.course_publication-copy {
  line-height:    20px;
  margin-bottom:  8px;
  padding-right:  10px;
}
.course_publication-button {
  border:           1px solid $light_green;
  color:            $light_green;
  display:          block;
  margin-top:       $half-row-height;
  padding:          10px;
  text-decoration:  none;
  text-align:       center;
  min-width:        200px;
}
.course_publication-link {
  color:            $light_green;
  text-decoration:  none;

  &:visited {
    color: $light_green;
  }

  &:hover {
    color: $dark_green;
  }
}

#course_header_tabs {
  a {
    &.__nav-links {
      display: block;
      height: 130px;
      width: auto;
      border-bottom: 1px solid transparent;
      &.active {
        border-bottom: 2px solid $brand-primary;
      }
    }

    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $brand-primary;
    }

    &.text-success {
      color: $brand-success;

      &:hover {
        color: darken($brand-success,15);
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  #course_header_tabs {
    a {
      &.__nav-links {
        display: block;
        height: 130px;
        width: 130px;
        border-bottom: 1px solid transparent;
        &.active {
          border-bottom: 2px solid $brand-primary;
        }
      }

      color: $text-color;
      text-decoration: none;

      &:hover {
        color: $brand-primary;
      }

      &.text-success {
        color: $brand-success;

        &:hover {
          color: darken($brand-success,15);
        }
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
