.create-course_container {
  margin:     0 auto;
  max-width:  700px;
  width:      80%;
}
.create-course_row {
  position: relative;
  padding:  10px;
}
.create-course_row.__center {
  text-align: center;
}

// Shitty hack for react component
.create-course_row .postulant_inner-row {
  margin-bottom:  20px;
  padding:        0;
}
.create-course_row .postulant_inner-row:last-child {
  margin-bottom: 0;
}

.create-course_row.__position {
  margin-bottom: 4px;
}

// Shitty hack for react component
.create-course_row.__position label,
.create-course_row .postulant_inner-row_key,
.create-course_label {
  display:       block;
  font-size:     1.1rem;
  font-weight:   500;
  margin-bottom: 6px;
}
.create-course_input,
.create-course_textarea {
  border:         1px solid #bbb;
  border-radius:  4px;
  box-sizing:     border-box;
  cursor:         pointer;
  display:        block;
  font-size:      1rem;
  padding:        10px;
  width:          100%;
}
.create-course_textarea {
  height: 86px;
}

.create-course_input:hover,
.create-course_textarea:hover,
.create_course-select:hover {
  border: 1px solid $light_green;
}


// Hack
.create-course_row.__position select,
.create-course_row .form_element.__select,
.create-crouse_select {
  background-color: #fff;
  border:           1px solid #bbb;
  border-radius:    4px;
  font-size:        1rem;
  height:           30px;
  width:            100%;
}

.create-course_row .postulant_inner-row_value {
  width: 100%;
}

.create-course_vacancy-container {
  padding-top:  18px;
}
.create-course_vacancy-container.__content {
  border:       1px solid #ccc;
}
.create-course_vacancy {
  background-color: $dark_blue;
  border:           0;
  border-radius:    6px;
  color:            #fff;
  cursor:           pointer;
  font-size:        .8rem;
  padding:          8px;
}
.create-course_vacancy.__margin-top {
  margin-top: 18px;
}
.create-course_vacancy.__abs {
  left:     20px;
  position: absolute;
  top:      0;
}
.create-course_vacancy-element {
  border-bottom: 1px solid #ccc;
}


.create-course_list-element {
  border:     1px solid transparent;
  box-sizing: border-box;
}
.create-course_delete-question {
  position: absolute;
  top:      9px;
  right:    20px;
}

.create-course_tag-container {
  width: 400px;
}

.create-course_submit:link,
.create-course_submit:visited {
  -webkit-appearance: button;
  background-color: $light_green;
  border:           0;
  border-radius:    6px;
  color:            #fff;
  cursor:           pointer;
  font-size:        1rem;
  margin:           0 12px;
  padding:          12px;
  text-decoration:  none;
}

.create-course_submit:hover,
.create-course_submit:active {
  background-color: $dark_green;
  color: #fff;
}
.create-course_submit.__red:link,
.create-course_submit.__red:visited {
  background-color: $light_red;
}
.create-course_submit.__red:hover,
.create-course_submit.__red:active {
  background-color: #ff3c3c;
}

.create-course_close-modal{
  left: 35%;
  bottom: 50%;
}

.create-course_padding-left{
  padding-left: 180px;
}
