@mixin doc-transitions($seconds: 0.15s) {
  -webkit-transition: $seconds all ease-in-out;
  -o-transition: $seconds all ease-in-out;
  transition: $seconds all ease-in-out;
}

// 
ul.document-upload-list {
  padding: 0;
  
  // Cada Componente
  li.document-item-wrapper {
    list-style: none;
    margin: 15px 0 10px;
    padding: 10px 15px 8px 15px;
    min-height: 75px;
    
        // normal state
    .fake-input {
      display: inline-block;
      border: 1px solid $brand-success;
      color: $brand-success;
      padding: 6px;
      height: 35px;
      width: 140px;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        background-color: $brand-success;
        color: #fff;
      }
    }

    .document-header {
      padding-right: 25px;

      &.__with_collapsible-icons {
        position: relative;

        [data-toggle^="collapse"] {
          &:before {
            content: "\e259";
            position: absolute;
            right: 0;
            top: 1.24rem;
            font-size: 1.2rem;
            font-family: 'Glyphicons Halflings';
            color: $gray-dark;
          }
          &.collapsed {
            &:before {
              content: "\e258";
            }
          }
        }
      } 

      // Image Icon
      .document_icon {
        background-color: #fff;
        border: 2px solid $gray-light;
        border-top-right-radius: 23px;
        padding: 10px 0;
        height: 50px;
        width: 40px;
        margin: 0 auto 10px;
        text-align: center;
        position: relative;
        @include doc-transitions;

        &:before {
          border-top: 16px solid #fff;
          border-left: 16px solid transparent;
          width: 0;
          height: 0;
          content: '';
          position: absolute;
          top: -1px;
          right: -1px;
        }

        &:after {
          border-bottom: 16px solid $gray-light;
          border-right: 16px solid transparent;
          width: 0;
          height: 0;
          content: '';
          position: absolute;
          top: -1px;
          right: -1px;
        }

        &.saved {
          background-color: $brand-success;
          border: 2px solid $brand-success;

        }
      }

      // Descriptor Details
      .document_descriptor {
        margin-left: 10px;

        p {
          font-size: 1.1rem;
          margin-top: 18px;
          color: $gray-dark;
        }
      }

      // Fake input en el header
      .fake-input {
        opacity: 0;
        @include doc-transitions($seconds: 0.15s);
      }

      & a[data-toggle="collapse"].collapsed .fake-input {
        opacity: 1;
        @include doc-transitions($seconds: 0.15s);
      }
    } // doc-header
    
    .document-body {

      // lista
      ul {
        padding: 0 0 0 1px;

        li.document-record {
          list-style: none;
          padding-bottom: 5px;
          border-bottom: 1px solid #f0f0f0;
          margin-bottom: 12px;

          &:first-child {
            border-top: 1px solid #f0f0f0;
            padding-top: 10px;
          }

          &:last-child {
            border-bottom: 0 none;
            margin-bottom: 0;
          }
        }
      }

      ul.errors_list {
        list-style: none;
        padding: 0;

        li  {
          list-style: square;
          padding-left: 1px;
          list-style-position: inside;
        }
      }

      // Image Icon
      .document_icon {
        background-color: #fff;
        border: 2px solid $gray-light;
        border-top-right-radius: 18px;
        padding: 10px 0;
        height: 48px;
        width: 38px;
        margin: 0 auto 10px;
        text-align: center;
        position: relative;
        @include doc-transitions;

        &:before {
          border-top: 15px solid #fff;
          border-left: 15px solid transparent;
          width: 0;
          height: 0;
          content: '';
          position: absolute;
          top: -2px;
          right: -2px;
        }

        &:after {
          border-bottom: 15px solid $gray-light;
          border-right: 15px solid transparent;
          width: 0;
          height: 0;
          content: '';
          position: absolute;
          top: -2px;
          right: -2px;
        }

        .doc-type {
          font-size: 0.8rem;
        }

        &.jpg, &.jpeg {
          color: #fff;
          background-color: $brand-warning;
          border: 2px solid $brand-warning;


          &:before {
            border-left: 15px solid transparent;
          }

          &:after {
            border-bottom: 15px solid darken($brand-warning,16%);
            border-right: 15px solid transparent;
          }
        }

        &.pdf {
          color: #fff;
          background-color: $brand-danger;
          border: 2px solid $brand-danger;


          &:before {
            border-left: 15px solid transparent;
          }

          &:after {
            border-bottom: 15px solid darken($brand-danger,16%);
            border-right: 15px solid transparent;
          }
        }


        &.docx, &.doc {
          color: #fff;
          background-color: $brand-primary;
          border: 2px solid $brand-primary;


          &:before {
            border-left: 15px solid transparent;
          }

          &:after {
            border-bottom: 15px solid darken($brand-primary,16%);
            border-right: 15px solid transparent;
          }
        }
      }

      .fake-input {
        padding: 0;

        .document-dropzone {
          padding: 6px;
          display: block;
          height: 100%;

          .errors_list {
            padding: 0;
            list-style: none;
            text-align: center;
          }
        }
      }

      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .document_record-data {
        p {
          margin: 0;
          font-size: 1rem;
        }
      }

      .document-record {
        .document_linkto-download {
          margin-right: 10px;
          a {
            color: $gray-light;

            &:hover {
              color: $brand-success;
              text-decoration: none;
            }
          }
        }
      }
    } // doc-body

    // Cuando estemos en hover
    &:hover {
      background-color: #f5f5f5;
      
      // Document Icon cuando el li este en hover
      .document_icon {
        &:before {
          border-top: 16px solid #f5f5f5;
        }
      }

      // Document Icon cuando el li este en hover
      hr {
        border-color: lighten($gray-light,38%);
      }

    } // Hover Li.doc-wrapper:hover
    
    // Modo saved
    .saved {
      .document-header {
        .document_icon {
          color: $brand-success;
          background-color: #fff;
          border: 2px solid $brand-success;


          &:before {
            border-left: 15px solid transparent;
          }

          &:after {
            border-bottom: 15px solid darken($brand-success,16%);
            border-right: 15px solid transparent;
          }
        }
      }  

      .document_descriptor {
        p {
          color: $brand-success;
        }
      }
    } // mod saved

    // Modo error
    .error {
      .document-header {
        .document_icon {
          color: $brand-danger;
          background-color: #fff;
          border: 2px solid $brand-danger;


          &:before {
            border-left: 15px solid transparent;
          }

          &:after {
            border-bottom: 15px solid darken($brand-danger,16%);
            border-right: 15px solid transparent;
          }
        }

        .document_descriptor {
          p {
            color: $brand-danger;
          }
        }
      }

      .document-body {
        li.error {

          .document_icon {
            color: $brand-danger;
            background-color: #fff;
            border: 2px solid $brand-danger;
            margin-bottom: 12px $brand-danger;


            &:before {
              border-left: 15px solid transparent;
            }

            &:after {
              border-bottom: 15px solid darken($brand-danger,16%);
              border-right: 15px solid transparent;
            }
          }
        }
      }
    } // mod error
  } // end li.doc-wrapper
}



