.error-handler_container {
  background-color: red;
  border:           1px solid red;
  border-radius:    10px;
  color:            #fff;
}
.error-handler_list-container {

}
.error-handler_element {

}