// Caja contenedora de errores para los forms, etc
// Condicionarlo para sessions,
// Editar las vistas

body.body_site .flash-box {
  margin-top: 15px;
  margin-bottom: 10px;
}

.flash-box {
  position: relative;
  padding: 8px;

  & .close {
    position: absolute;
    top: 8px;
    right: 15px;
    color: #fff;
    cursor: pointer;
  }

  &.flash-type-notice .close {
    color: $light_blue;
  }

  &.flash-type-alert .close {
    color: $dark_red;
  }
}

.body_sessions .flash-box {
  margin-bottom: 15px;
}

.flash-wrapper {
  box-shadow: 2px 2px 10px #ddd;
  border-radius: 5px;
}

.flash_item {
  font-weight: bold;
  padding: 5px 20px;

  &:before {
    content: '·';
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 5px;
  }

  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 12px;
  }

  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 15px;
  }
}

.flash-box .flash_error {
  color: #fff;
  background-color: $light_red;
}

.flash-box .flash_alert {
  border-radius: 5px;
  border: 1px solid $light_red;
  color: $dark_red;
}

.flash-box .flash_notice {
  border-radius: 5px;
  border: 1px solid $light_blue;
  color: $dark_blue;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;

  &:before {
    content: '';
  }
}

.flash-box .flash_success {
  border-radius: 5px;
  border: 1px solid $light_green;
  background-color: $light_green;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;

  &:before {
    content: '';
  }
}

// Notice box
.notice_wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 8px;
}

p#notice {
  background: $light_blue;
  color: #fff;
  text-align: center
}
