$p20: 20px;

.form_container {
	margin: 		0 auto;
	max-width: 	800px;
}
.form_row {
	margin-bottom: $p20;
}


// Form Elements
.form_title {
	padding-left: 40px;
	font-size: 		2em;
}
.form_element {
	display: inline-block;
}
.form_element.__align-top {
	vertical-align: top;
}
.form_element.__label {
	font-weight: 	600;
	padding: 			$p20;
	text-align: 	right;
	width: 				100px;
}

.form_element.__input:hover {
	cursor: pointer;
}

.form_element.__input,
.form_element.__text {
	border: 				1px solid #ccc;
	border-radius: 	4px;
	font-size: 			1em;
	padding: 				1px 6px;
	width: 					180px;
}

.form_element.__text {
	height: 100px;
}
.form_element.__context-button {
	float: 						right;
	font-size: 				.9rem;
}

// Select
.form_element.__select {
	background-color: #fff;
	border: 					1px solid #ccc;
	display: 					inline-block;
	font-size: 				1em;
	width: 						200px;
}

// Triple Select
.form_element.__triple {
	display: block;
}
.form_element.__triple_select {
	max-width: 500px;
}

// Boton
.form_element.__button {
	background-color: #00ca77;
	border: 					2px solid #00ca77;
	border-radius: 		4px;
	color: 						#fff;
	cursor: 					pointer;
	display: 					block;
	font-weight: 			600;
	margin: 					20px auto 0;
	padding: 					10px;
	text-align: 			center;
	width: 						420px;
}

.form_required {
  color: $light_red;
}

// modificar del spinner
// para agregarle margin
.sk-spinner-circle.sk-spinner.__spacing {
  display:     inline-block;
  margin-left: 12px; 
}
