/*
	Graphs
*/

.graph_wrap {
	// background: #f2f2f1;
	padding: 		50px 0;
	text-align: center;
}
.graph_container {
	margin: 	70px auto;
	display: 	inline-block;
}

.graph_element {
	background: 		#323a45;
	border-radius: 	400px;
	border-style: 	solid;
	border-width: 	16px;
	float: 					left;
	height: 				190px;
	margin: 				10px;
	text-align: 		center;
	width: 					190px;
}
.graph_element.__blue {
	border-color: #64a9dd;
	color: 				#64a9dd;
}
.graph_element.__teal {
	border-color: #78c77d;
	color: 				#78c77d;
}
.graph_element.__peach {
	border-color: #e18666;
	color: 				#e18666;
}
.graph_element.__dark_teal {
	border-color: #1abc9C;
	color: 				#1abc9c;
}
.graph_element.__purple {
	border-color: #9d62de;
	color: 				#9d62de;
}

.graph_icon-container {
	margin-top: 14px;
}
.graph_amount {
	color: 			#fff;
	font-size: 	2.4em;
	height: 		42px;
	line-height: 2.6rem;
}
.graph_label {
	max-width: 	110px;
	margin: 		0 auto;
}

/* Icons */
.icon_graph {
	background-image: 	image-url('icons-graph.png');
	background-repeat: 	no-repeat;
  background-size: 		50px;
  display: 						block;
  margin: 						6px auto 0;
  height: 						50px;
  width: 							50px;
}
.icon_graph.__postulante {
	background-position: 0 0;
}
.icon_graph.__checklist {
	background-position: 0 -58px;
}
.icon_graph.__calendario {
	background-position: 0 -113px;
}
.icon_graph.__procesos {
	background-position: 0 -169px;
}
.icon_graph.__vacantes {
	background-position: 0 -223px;
}