.grid_body {
  background-color: #fff;
  // border:           1px solid $dark_gray;
  margin:           20px auto;
  padding:          15px;
  max-width: 1140px;

}
.grid_body.__limited {
  margin: 10px auto;
  width:  800px;
}

.grid_body.__no-padding {
  padding: 0;
}

.grid_content-col {
  float: left;
}

.grid_content-col.__full-width {
  width: 100%;
}

.grid_content-col.__main-col {
  padding-right:  2%;
  width:          78%;
}

.grid_content-col.__second-col {
  float: left;
  width: 20%;
}

.grid_content-centered-box {
  width: 550px;
  text-align: center;
  margin: 0 auto;
}