/*
  Header
*/

$dropdown-transition: all .08s ease-in-out;

/* Header Container */
.header_container {
  color:      #FFF;
  text-align: center;

  .navbar {
  }
}

.header_logo-link {
  display: block;
}

/* Logo Container */
.header_logo-container {
  padding-top: 14px;
  padding-bottom: 14px;
}

.header_logo {
  width: 150px;
}

/* Header Nav */
.header_nav-container {
  max-width: 130px * 5;
  margin: 0 auto;
}

/* Header UL */
.header_nav-elements-container {
  list-style: none;
  margin:     0;
  padding:    0;
}

/* Nav Elements */
.header_nav-element {
  display:              block;
  float:                left;
  padding:              0 10px;
  position:             relative; // Dropdown
  width:                128px;
  border-bottom: 4px solid transparent;
}

.header_nav-element-link {
  color:            #fff;
  display:          block;
  padding:          20px 0 15px;

  &:link, &:visited {
    text-decoration: none;
    border: 0 none;
      color:            #fff;
  }

  &:hover, &:active {
    text-decoration: none;
    border: 0 none;
      color:            #fff;
  }
}

/* Contenedor de texto */
.icons-header {
  background-image: image-url('icons_header.png');
}

.header_nav-element-text {
  background-repeat:  no-repeat;
  background-size:    21px;
  padding-left:       28px;
  height:             21px;
  display:            block;
}

/********************
 Iconos Nav Elements
**********************/

/** Default   ***/
/*  Postulantes */
.header_nav-element.__postulantes .header_nav-element-text {
  background-position: 0 -84px;
}
/*  Ejectuvios */
.header_nav-element.__ejecutivos .header_nav-element-text {
  background-position:  0 -168px;
  left:                 14px;
}
/*  Procesos */
.header_nav-element.__procesos .header_nav-element-text {
  background-position:  0 -126px;
  left:                 8px;
}
/*  Estadisticas */
.header_nav-element.__estadisticas .header_nav-element-text {
  background-position: 0 0;
}
/*  Configuracion */
.header_nav-element.__configuracion {
  width: 132px;
}
.header_nav-element.__configuracion .header_nav-element-text {
  background-position: 0 -42px;
}


/** Border Bottom **/
.header_nav-element:hover,
.header_nav-element.__active {
}

/*  Postulantes */
.header_nav-element.__postulantes:hover,
.header_nav-element.__active.__postulantes {
  border-bottom: 4px solid #64a9dd;
}
/*  Ejecutivos */
.header_nav-element.__ejecutivos:hover,
.header_nav-element.__active.__ejecutivos {
  border-bottom: 4px solid #f7cb4b;
}
/*  Procesos */
.header_nav-element.__procesos:hover,
.header_nav-element.__active.__procesos {
  border-bottom:  4px solid #1abc9c;
}
/*  Estadisticas */
.header_nav-element.__estadisticas:hover,
.header_nav-element.__estadisticas.__active {
  border-bottom:  4px solid #db6262;
}
/*  Configuracion */
.header_nav-element.__configuracion:hover,
.header_nav-element.__configuracion.__active {
  border-bottom:  4px solid #9d62de;
}


/** Active Background   **/
/* Postulantes */
.header_nav-element.__postulantes:hover .header_nav-element-text,
.header_nav-element.__postulantes.__active .header_nav-element-text {
  background-position:  0 -105px;
  color:                #64a9dd;
}
/* Ejecutivos */
.header_nav-element.__ejecutivos:hover .header_nav-element-text,
.header_nav-element.__ejecutivos.__active .header_nav-element-text {
  background-position: 0 -189px;
  color:               #f7cb4b;
}
/* Procesos */
.header_nav-element.__procesos:hover .header_nav-element-text,
.header_nav-element.__procesos.__active .header_nav-element-text {
  background-position:  0 -147px;
  color:                #1abc9c;
}
/* Estadisticas */
.header_nav-element.__estadisticas:hover .header_nav-element-text,
.header_nav-element.__estadisticas.__active .header_nav-element-text {
  background-position:  0 -21px;
  color:                #db6262;
}
/* Configuracion */
.header_nav-element.__configuracion:hover .header_nav-element-text,
.header_nav-element.__configuracion.__active .header_nav-element-text {
  background-position:  0 -63px;
  color:                #9d62de;
}


/** User Menu **/
.header_user-container {
  display: inline-block;
}

.header_user-avatar-container {
  float:  left;
}

$header-height: 50px;

.header_user-avatar {
  border-radius:  $header-height/2;
  margin-right: 5px;
  width: 38px;
  height: 38px;
  margin-top: 1px;
}

.__fixed-padding {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.header_user-name-container {
  float:        left;
  margin:       0 0px 0 10px;
  padding-top:  22px;
  font-size:    0.9rem;
}

/* Outer dropdown */
.header_dropdown-icon {
  cursor:       pointer;
  float:        left;
  padding-top:  26px;
  margin-left:  10px;
}

.icon_dropdown {
  background:       image-url('icon_dropdown_arrow_down.png') no-repeat;
  background-size:  12px;
  display:          block;
  height:           20px;
  width:            20px;
  padding: 2px;
}

.header_dropdown-container {
  position: relative;
}

.header_dropdown {
  background:       #2b2b2b;
  left:             0;
  list-style:       none;
  opacity:          0;
  padding:          0;
  position:         absolute;
  right:            0;
  top:              35px;
  transition:       $dropdown-transition;
  visibility:       hidden;
  z-index:          99;
}

// Mostrar dropdown
// Botones del menú
.header_nav-element:hover .header_dropdown,
.header_nav-element:focus .header_dropdown,
.header_nav-element-link:focus + .header_dropdown {
  opacity:    1;
  top:        61px;
  transition: $dropdown-transition;
  visibility: visible;
}

// User dropdown
.header_user-container:hover .header_dropdown,
.header_user-container:focus .header_dropdown {
  opacity:    1;
  top:        59px;
  transition: $dropdown-transition;
  visibility: visible;
}

.header_dropdown-link {
  border-bottom:    1px solid #626262;
  color:            #fff;
  display:          block;
  font-weight:      100;
  padding:          10px;
  text-decoration:  none;
  transition:       $dropdown-transition;
}

.header_dropdown-link:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
  transition: $dropdown-transition;
}

// Header Buttons
.header_buttons {
  margin-top: 10px;
}

.header_buttons-button:link,
.header_buttons-button:visited {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 8px 34px;
  margin-top: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.header_buttons-button:hover,
.header_buttons-button:active {
  background-color: #fff;
  color: $corporate_gray;
}


.header_buttons-button.__blue {
  padding: 10px 20px;
  background-color: $dark_blue;
  border-color: $dark_blue;
}


.header_buttons-button.__blue:hover {
  background-color: $hover_blue;
  border-color: $hover_blue;
  color: #fff;
}

.header_buttons-button:last-child {
  //margin-right: 0;
}
.navbar-right.navbar-form {
  .btn {
    margin-bottom: 5px;
  }
}
@media (min-width: $screen-sm-min) {
  .navbar-right.navbar-form {
    .btn {
      margin-bottom: 0px;
    }
  }
}

