/* Animacion */
$duracion: 1.6s;

// Contenedor de elementos
.login_container {
	bottom: 	0;
	display:  none;
	position: absolute;
	top: 			0;
	width: 		100%;
}

.login_container.__show {
	display: block;
}

.login_container.__fade-in {
	animation-duration: 	$duracion;
	animation-name: 			container;
	animation-fill-mode:	forwards
}

// Positioning
.login_container-left {
	float: left;
	left: 	0;
	top: 	 	0;
	bottom: 0;
}

.login_container-right {
	float: 	right;
	right: 	0;
	top: 	 	0;
	bottom: 0;
}

// Logo
.login_logo {
	margin-left: 				-150px;
	margin-top: 				-50px;
	left: 							25%;
	position: 					absolute;
	top: 								50%;
	width: 							300px;
}

.login_logo.__fade-in {
	animation-duration: $duracion;
	animation-name: 		logo;
}


// Formulario de login
.login_form {
	display: 						block;
	position: 					absolute;
	margin-right: 			-190px;
	margin-top: 				-220px;
	right: 							25%;
	top: 								50%;
}

.login_form.__small {
	margin-right: -150px;
}
.login_form.__short {
	margin-top: -205px;
}
.login_form.__hide {
	display: none;
	opacity: 0;
}

.login_form.__fade-in {
	animation-duration: $duracion;
	animation-name: 		form-fade-in;
}
.login_form.__fade-out {
	animation-duration: $duracion;
	animation-name: 		form-fade-out;
}

/**************
	ANIMACIONES
***************/

// Animaciones login_container
@keyframes container {
	0% {
		right: -25%;
	}
	40% {
		right: -25%;
	}
	60% {
		right: 0;
	}
	100% {
		right: 0;
	}

}

// Animaciones login_logo
@keyframes logo {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
}

// Animaciones .login_form
@keyframes form-fade-in {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes form-fade-out {
	0% {
		opacity: 1;
	}

	60% {
		opacity: 0;
	}
}


.login_title {
	color: 				$light_blue;
	font-size: 		3em;
	font-weight: 	400;
	margin: 			40px 0 20px;
	text-align: 	center;
}

.login_input {
	background-image: 	image-url('icons_login.png');
	background-repeat: 	no-repeat;
	background-size: 		26px;
	border-radius: 			8px;
	border: 						2px solid #ccc;
	box-sizing: 				border-box;
  color: 							#606060;
	display: 						block;
	font-size: 					1rem;
	height: 						47px;
	margin: 						4px auto 14px;
	padding-left: 			40px;
	width: 							380px;
}

.login_input.__email {
	background-position: 6px -149px;
}
.login_input.__email-correct {
	background-position: 6px -188px;
}
.login_input.__email-error {
	background-position: 6px -228px;
}

.login_input.__password {
	background-position: 6px -268px;
}
.login_input.__password-correct {
	background-position: 6px -306px;
}
.login_input.__password-error {
	background-position: 6px -345px;
}


/* Checkbox */
.login_checkbox-container {
	margin: 	0 auto;
	position: relative;
	width: 		120px;
}

.login_checkbox {
	background-image: 		image-url('icons_login.png');
	background-size: 			20px;
	background-repeat: 		no-repeat;
	background-position: 	0 -303px;
	padding-bottom: 			4px;
	padding-left: 				25px;
	border-bottom: 				2px solid transparent;
}
.login_actual-checkbox {
  bottom: 	0;
  height: 	24px;
  margin: 	0;
  opacity: 	0;
  padding: 	0;
  position: absolute;
  top: 			0;
  width: 		130px;

}

.login_actual-checkbox:checked + .login_checkbox {
	background-position: 0 -335px;
}

.login_actual-checkbox:focus + .login_checkbox {
	border-bottom: 	2px solid $light_green;
	// text-decoration: underline;
}

.login_submit {
	background-color: $light_green;
	border-radius: 		4px;
	border: 					2px solid $light_green;
	color: 						#fff;
	cursor: 					pointer;
	display: 					block;
	font-size: 				1rem;
	font-weight: 			400;
	margin: 					20px auto 0;
	padding: 					10px;
	text-align: 			center;
	width: 						380px;
}

.login_submit:hover {
	border: 		2px solid $light_green;
	box-shadow: 0 0 20px #ccc;
	// transition: all .6s ease-in;
}

.login_link {
	background: 			transparent;
	border: 					none;
	color: 						$light_blue;
	cursor: 					pointer;
	display: 					block;
	font-size: 				1em;
	margin: 					10px auto 0;
	text-align: 			center;
	text-decoration: 	none;
}

.recovery_text {
	color: $corporate_gray;
	line-height: 1.4rem;
	margin-bottom: 20px;
	text-align: center;
}




