/* 
	Paginado 
*/

$paginate-blue: rgb(35, 157, 238);
$pager-height: 40px;

.pager_container {
	margin: 		0 auto;
	padding: 		20px 0;
	text-align: center;
}
.pager_previous,
.pager_next,
.pager_page {
	background: 			#fff;
	border: 					1px solid $paginate-blue;
	box-sizing: 			border-box;
	color: 						$paginate-blue;
	display: 					inline-block;
	font-size: 				1rem;
	height: 					$pager-height;
	line-height: 			$pager-height;
	padding: 					0 14px;
	text-decoration: 	none;
}

.pager_previous:hover,
.pager_next:hover,
.pager_page:hover {
	background: $paginate-blue;
	color: 			#fff;
	cursor: 		pointer;
}

.pager_page.__current {
	background: $paginate-blue;
	color: 			#fff;
}
