/* containers */
.postulant_row {
  margin-bottom:  18px;
  width:          100%;
}
.postulant_row.__fixed-height {
  height: 280px;
}
.postulant_row.__fixed-small-height {
  height: 230px;
}

.postulant_col {
  padding:  0px;
}
.postulant_col.__left {
  float:      left;
  width:      25%;
  text-align: center;
}
.postulant_col.__right {
  float:    right;
  position: relative;
  width:    70%;
}

@media screen and (min-width: 1100px) {
  .postulant_col.__right {
    width: 73%;
  }
}

/* elements */
.postulant_name {
  margin: 0;
}
.postulant_inner-row {
  padding: 6px 12px;
}
.postulant_inner-row_key {
  display:      inline-block;
  font-weight:  bold;
  width:        38%;
}
.postulant_inner-row_value {
  display: inline-block;
  width: 60%;
}

.postulant_table-container {
  border:   1px solid #ccc;
  width:    100%;
}
.postulant_table-container.__half-left {
  float: left;
  width: 49%;
}
.postulant_table-container.__half-right {
  float: right;
  width: 49%;
}
.postulant_table-container-header {
  background:   #f5f5f5;
  font-weight:  100;
  margin:       0;
  padding:      10px;
  text-align:   left;
}

.postulant_table-wrapper {
  margin-bottom: 10px;
}

.postulant_table-col.__half {
  float:      left;
  // max-width:   380px;
  width:      49%;
}
.postulant_table-col.__half:nth-child(2) {
  border-left: 1px solid #ccc;
}

/* Degrees and Laboral Experience */
.postulant_table {
  border-collapse:  collapse;
  width:            100%;
}
.postulant_table-row.even {
  background: #eee;
}
.postulant_table-cell {
  border: 1px solid #ccc;
  padding:      10px;
  text-align:   center;
}

/* Avatar */
.postulant_avatar-wrapper {
  position: relative;
  border:               1px solid #ccc;
  border-radius:        120px;
  height: 240px;
  width: 240px;
  margin: 0px auto 0;
}

.postulant_avatar {
  //border:               1px solid #ccc;
  background-position:  center center;
  background-repeat:    no-repeat;
  background-size:      cover;
  border-radius:        120px;
  height:               240px;
  position:             relative;
  text-align:           center;
  width:                240px;
  margin:               40px auto 0;
}

.postulant_avatar.__no-margin {
  margin: 0 auto;
}

.postulant_upload-avatar {
  bottom:   0;
  cursor:   pointer;
  left:     0;
  opacity:  0;
  position: absolute;
  right:    0;
  top:      0;
  width:    100%;
  z-index:  1000;
}

.postulant_upload-avatar_text {
  background: #000;
  bottom:     0;
  color:      #fff;
  left:       0;
  opacity:    1;
  padding:    5px;
  position:   absolute;
  right:      0;
  text-align: center;
}

.postulant_profile-indicators {
  .profile-complete-bar {
    margin-bottom: 10px;

    label {
      display: block;
      margin: 10px 10px 0;
      float: left;
    }

    progress[value] {
      /* Dimensions */
      height: 20px;
      width: 98%;
      margin: 5px 10px 0 10px;
    }
  }
}

#profile_header_tabs {
  a {
    &.__nav-links {
      display: block;
      border-bottom: 1px solid transparent;
      &.active {
        border-bottom: 2px solid $brand-primary;
      }
    }
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $brand-primary;
    }

    &.text-success {
      color: $brand-success;

      &:hover {
        color: darken($brand-success,15);
      }
    }
  }
}

.__asociated_processes-table {
  & > tbody {
    & > tr {
      & > td {
        vertical-align: middle;
      }
    }
  }
}
.personal_information-header {
  .__information-table {
    width: 100%;
    border-spacing: 2rem;
    border-collapse: separate;
    td {
      &:nth-child(even) {
        text-align: left;
      }
      &:nth-child(odd) {
        text-align: right;
      }
    }
  }
  .__title {
    border-bottom: solid 1px $gray-lighter;
  }
}
