/*
  Process

_______________________________________________________________________________

  DISCLAIMER

  Error Dislexico:
  Process = "Buscar Proceso", estilos relacionados con "Proceso" o "Course"
  se encuentran en course.scss
_______________________________________________________________________________
*/
.process_element-container {
  background-color: #fff;
  border-top:       1px solid #f4f4f4;
  color:            $brand-primary;
  display:          block;
  padding:          20px 20px 20px 20px;
  border-left: 15px solid #fff;
  text-decoration:  none;

  &:first-child {
    border-top: 0 none;
  }
}
.___course:nth-child(even) {
  .process_element-container {
    background-color: #fbfbfb;
    border-left: 15px solid #fbfbfb;
  }
}

.process_element-container:hover {
  // background-color: transparentize($brand-primary,0.1);
  text-decoration:  none;
  border-left: 15px solid $brand-primary;
  box-shadow: 0px 0px 6px 0px rgba(234, 234, 234, 0.95);

  & .process_title,
  & .process_row span {
    // color: #fff;
  }
}

.process_element-container:active {
  border-left: 15px solid $brand-success;
}

.process_col {
  color:    #4d4d4d;
  padding:  0 17px 0 24px;
  font-weight: lighter;
}
.process_col.__sep {
  border-right: 1px solid #ccc;
  margin-right: 10px;
}

// Elements
.process_title {
  color:            #4d4d4d;
  font-size:        1.4em;
  margin:           0;
  margin-bottom:    10px;
  text-decoration:  none;
}
.process_avatar {
  background-repeat:    no-repeat;
  background-position:  center center;
  background-size:      cover;
  border-radius:        60px;
  height:               120px;
  width:                120px;
}

.process_icons {
  background-image:   image-url('icons_procesos.png');
  background-repeat:  no-repeat;
  background-size:    16px;
}
.process_icons.__date {
  background-position: 0 3px;
}
.process_icons.__postulants {
  background-position: 0 -30px;
}
.process_icons.__created {
  background-position: 0 -93px;
}

/* Search */
.process-search_container {
  background-color: #fff;
  left:             -250px;
  padding:          8px;
  position:         absolute;
  top:              1px;
  width:            220px;
}
.process-search_row {
  border-bottom:  1px solid #eee;
  margin:         6px;
  margin-bottom:  8px;
  padding:        10px 0;

  &:first-child {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 15px;
  }
}
.process-search_row:last-child {
  border: none;
}
.process-search_row.__center {
  padding-top:  10px;
  text-align:   center;
}
.process-search_row.__margin-top {
  margin-top: 22px;
}

.process-search_fields-label{
  display: block;
  margin-bottom: 5px;
}

.process-search_bucket {
  margin-bottom: 5px;
}

.process_tag {
  background-color: $brand-primary;
  border-radius:    6px;
  color:            #fff;
  font-size:        .8rem;
  padding:          6px 12px;
}
.process_element-container:hover .process_row .process_tag {
  background-color: #1abc9c;
}

.process-search_label {
  display:        block;
  font-size:      1.2rem;
  margin-bottom:  8px;
  text-transform: uppercase;
}
.process-search_input {
  font-size:    1rem;
  font-weight:  300;
  padding:      4px;
}
.process-search_submit {
  background-color: $brand-primary;
  border:           none;
  border-radius:    4px;
  color:            #fff;
  font-size:        1.2rem;
  min-width:        120px;
  padding:          6px 14px;
}



/* Hiring Request search */
.text-request {
  color: #525252;
}
a.__request.collapsed {
  color: #333333;
}
