//Publications Styles

/* Minisitio Publico */
.publication_section {
  border: 1px solid $dark_gray;
}

.publication_section.__no-borders {
  border: 0 none;
}

.publication_title {
  border-bottom:  1px solid $dark_gray;
  font-size:      1.25rem;
  font-weight:    normal;
  margin-bottom:  0;
  margin-top:     0;
  padding:        18px 20px;
  text-transform: uppercase;
}

.publication_ul {
 list-style: none;
 margin:     0 0 30px;
 padding:    0;
}

.publication_list-item {
  background-color: #fff;
  list-style:       none;
  margin:           0 0 10px 0;
  padding:          0;

  &.__no-margin {
    margin: 0;
  }
}

.publication_list-item:last-child {
  border-bottom: 0 none;
}

.publication_article {
  color: $darker_gray;
}


.publication_header {
  padding: 18px 20px 10px;
}

.publication_header-subtitle {
  font-size: 0.9rem;
  margin-top: 2px;
  margin-left: 1px;
}

/* main content */
.publication_content {
  float:    left;
  padding:  1% 1.5%;
  width:    70%;
}

.publication_link {
  color:           $light_blue;
  font-size:       1.2rem;
  text-decoration: none;
}

.publication_link.__title {
  display:        block;
  float:          left;
  text-transform: none;
}

.publication_link.__title:hover {
  color: $hover_blue;
}

/** Indicadores de estado **/

/* Indicador de publicacion nueva */
.publication_indicator.__is_new {
  background-color: $dark_green;
  color:            #fff;
  display:          block;
  float:            left;
  font-size:        0.8rem;
  margin-left:      15px;
  padding:          1px 5px 1px;
}

/* Texto de la publicacion */
.publication_text {
  margin-top: 0;
  line-height: 140%;
  padding-right: 10px;
  padding-left: 10px;
}

/* aside - Sidebar */
.publication_controls {
  display:        table-cell;
  float:          right;
  height:         100%;
  padding:        0.8% 3% 2% 0.8%;
  vertical-align: middle;
  width:          15%;
}

.publication_controls-button:link, .publication_controls-button:visited  {
  background-color: #fff;
  border:           1px solid $light_blue;
  color:            $light_blue;
  display:          block;
  margin-bottom:    8px;
  padding:          8% 5%;
  text-align:       center;
  text-decoration:  none;
  font-size:        0.9rem;
}

.publication_controls-button:hover, .publication_controls-button:active {
  color:            #fff;
  border-color:     $hover_blue;
  background-color: $hover_blue;
}

.publication_controls-button.__blue {
  background-color: $light_blue;
  border:           1px solid $light_blue;
  color:            #fff;
}

.publication_controls-button.__blue:hover {
  background-color: $hover_light_blue;
  border-color:     $hover_light_blue;
}

/* Footer */
.publication_footer {
  display:          inline-block;
  font-size:        0.9rem;
  padding:          10px 0;
  width:            100%;
}

.publication_footer-content {
  padding: 0 20px;
}


/*******************************/
/***** INNER VIEW STYLES ******/
/*****************************/


.publication-inner_header {
  padding:          15px;
  border-bottom:    1px solid $dark_gray;
  background-color: #fff;
}

/* Indicador de publicacion nueva */
.publication-inner_indicator.__is_new {
  background-color: $dark_green;
  color:            #fff;
  font-size:        0.9rem;
  margin-left:      15px;
  padding:          2px 5px 2px;
}

.publication-inner_header-title {
  color:       $hover_blue;
  float:       left;
  font-size:   2.4rem;
  line-height: 2.5rem;
  max-width:   78%;
}

/* Descripcion y preguntas */

.publication-inner_content-wrapper {
  width: 79%;
  float: left;
}

.publication-inner_content {
  padding: 15px;
}

.publication-inner_header-box {
  padding:          20px;
  border:           1px solid $dark_gray;
  color:            $corporate_gray;
  background-color: #fff;
  text-transform:   uppercase;

  h3 {
    margin: 11px 0 0;
    float: left;
    max-width: 90%;
  }
  
  .publication_share-box {
    .share {
      cursor: pointer;
      opacity: 0.7;
      margin: 5px;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.publication-inner_content-box {
  background-color: $cloud_gray;
  border:           1px solid $dark_gray;
  border-top:       0 none;
  color:            $corporate_gray;
  padding:          20px 40px 20px 20px;
  margin-top:       0;
  
  p {
    margin-top: 0;
  }
}

/* Sidebar de Detalles */
.publication-inner_sidebar-wrapper {
  width: 20%;
  float: right;
}

.publication-inner_sidebar-content {
  padding: 15px 15px 15px 0;
}

.publication-inner_sidebar-title {
  padding:          20px;
  border:           1px solid $dark_gray;
  color:            $light_blue;
  background-color: $cloud_gray;
  text-transform:   uppercase;
  margin:           0;
}

.publication-inner_sidebar-fields {
  padding:          20px;
  background-color: #fff;
  border:           1px solid $dark_gray;
  border-top:       0 none;
  color:            $corporate_gray;
}


/*** Questions ***/
.publication-inner_questions-wrapper {
  padding: 0 15px 15px;
}

.publication-inner_questions-header {
  padding:          20px;
  border:           1px solid $dark_gray;
  color:            $corporate_gray;
  background-color: $cloud_gray;
  text-transform:   uppercase;
  margin:           0;
}

.publication-inner_questions-content {
  padding:          20px;
  border:           1px solid $dark_gray;
  border-top:       0 none;
  color:            $corporate_gray;
  background-color: #fff;

  p {
    margin-top: 0;
  }
}

.publication-inner_questions-label {
  font-weight: bold;
}

.publication-inner_questions-textarea {
  border:      1px solid $corporate_gray;
  color:       $corporate_gray;
  font-family: 'Lato';
  font-size:   1rem;
  margin-top:  5px;
  max-width:   98%;
  min-width:   98%;
  padding:     10px 5px 0;
}

.publication-inner_questions-button {
  background-color: #fff;
  border:           1px solid $light_blue;
  color:            $light_blue;
  cursor:           pointer;
  display:          block;
  font-size:        1rem;
  margin:           10px auto 10px;
  padding:          15px 50px;
  text-align:       center;
  text-decoration:  none;
  text-transform:   uppercase;
}

.publication-inner_questions-button:hover {
  background-color: $light_blue;
  border:           1px solid $light_blue;
  color:            #fff;
}

.publication-inner_link.__register {
  color:      $corporate_gray;
  margin-top: 40px;
  text-align: center;

  a {
    color: $light_blue;
  }

  a:hover {
    color: $hover_blue;
  }
}

/********/

.publications_list-wrapper {
  margin-bottom:  10px;
  padding-left:   15px;
  width:          76.7%;

 .publication_list-item:nth-child(even) {
  background-color: $cloud_gray;
  }
}

.publications_list-header {
  background-color: $dark_gray;
  border-bottom:    0 none;
  border:           1px solid $dark_gray;
  color:            #fff;
  margin:           10px 0 0;
  padding:          20px;
  text-transform:   uppercase;

  h4 {
    margin: 0;
  }
}


/* 
  Publications Management 
*/

.minisite_publication-container {
  margin-top: 20px;
}

.minisite-publication {
  border: 1px solid #f1f1f1;
  margin: 12px 0;
}
.minisite-publication_header {
  border-bottom:  1px solid #eaeaea;
  padding:        12px 0 4px;
  position:       relative;
  margin:         0 12px;
}
.minisite-publication_title {
  display:      inline-block;
  font-size:    2rem;
  margin:       0;
  margin-right: 260px;
}
.minisite-publication_action-container {
  position: absolute;
  right:    70px;
  top:      26px;
}
.minisite-publication_action-button {
  background-color: $dark-blue;
  border-radius:    6px;
  color:            #fff;
  display:          inline-block;
  font-weight:      200;
  margin:           0 6px;
  padding:          10px 18px;
  text-decoration:  none;
}

.minisite-publication_action-button.__red {
  background-color: $light_red;
}

.minisite-publication_content {
  padding: 12px;
}
.minisite-publication_content-title {
  font-size:    1.4rem;
  font-weight:  300;
  margin:       0;
}
.minisite-publication_footer {
  background-color: #f3f3f3;
  padding:          8px;
}