/* Columas dentro del contenido */
.resources-admin_content-row {
  display: table;
  width: 100%;
}

/* Columas dentro del contenido */
.resources-admin_main-aside {
}

.resources-admin_aside-title {
  margin-top: 0;
}


/* listas */

.resources-admin_aside-ulist {
  margin-left: 0;
  list-style: none;
  padding-left: 10px;
}

.resources-admin_aside-ulist.__nested{
  margin-left: 10px;
  list-style: none;
  padding-left: 10px;
}

.resources-admin_aside-list {
  margin-left: 0;
  list-style: none;

    &::before {
      content: "·";
      margin-right: 2px;
    }
}

.resources-admin_aside-list.__dropdown {
  color: darken($dark_blue,15%);
  font-weight: bold;
}

.resources-admin_aside-link {
  text-decoration: none;
  color: $light_blue;
}

.resources-admin_aside-link.__darker{
  color: darken($dark_blue,15%);
}
.resources-admin_aside-link:hover {
  text-decoration: none;
  color: $dark_blue;
}
