/* Scaffold Styles */

/* Error Box */
.scaffold_error-box {
  padding: 10px 15px;
  margin: 20px;
  color: #fff;
  background-color: $light_red;
  border-radius: 5px;
}

/* Actions Wrapper - Como contenedor para botones y controles */
.scaffold_actions {
  margin-top: 15px;
}

/* Links en solitario */
.scaffold_link {
  color: $light_green;
  text-decoration: none;

  &:active, &:hover {
    color: $dark_green;
    text-decoration: underline;
  }

  &.__blue {
    color: $light_blue;
  }
}

/* Buttons */
.scaffold_btn {
  padding: 9px 20px;
  text-decoration: none;
  border-radius: 8px;
  border: 0 none;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  min-width: 100px;
  text-align: center;
  margin-left: 5px;

  &:first-child {
    margin-left: 0;
  }

  &.__blue {
    color: #fff;
    background-color: $light_blue;
  }

    &.__blue:hover {
    background-color: $dark_blue;
  }

    &.__green {
    color: #fff;
    background-color: $light_green;
  }

    &.__green:hover {
    background-color: $dark_green;
  }
}

/* Labels */
.scaffold_label {
  display: block;
  padding: 10px 6px;
  font-weight: normal;
  font-size: 1rem;

  &.__strong {
    font-weight: bold;
    padding: 10px 0;
  }
}

.has_errors .scaffold_label,
.field_with_errors .scaffold_label {
  color: $light_red;
}

/* Inputs */
.scaffold_input {
  padding: 9px 20px;
  border-radius: 8px;
  border: 1px solid $light_gray;
  margin-bottom: 5px;
  font-size: 1rem;

  &:hover {
    border-color: $dark_gray;
  }

  &:focus {
    border-color: $light_blue;
  }
}

.has_errors .scaffold_input,
.field_with_errors .scaffold_input {
  border-color: $light_red;
}

/* Checkboxes */
.scaffold_checkbox {
  border: 2px solid $light_gray;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  margin: 2px;
  padding: 0;

  &:hover {
    border: 2px solid $dark_gray;
  }

  &:checked {
    border: 2px solid $light_blue;
    background-image: image-url('scaffold_icons.png');
    background-position: 2px 4px;
    background-repeat: no-repeat;
  }

  &.__green {

    &:checked {
      border: 2px solid $light_green;
      background-position: -35px 4px;
    }
  }
}

/* Radio Buttons */
.scaffold_radio {
  border: 2px solid $light_gray;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 21px;
  width: 21px;
  border-radius: 25px;
  margin: 2px;
  padding: 0;

  &:hover {
    border: 2px solid $dark_gray;
  }

  &:checked {
    border: 2px solid $light_blue;
    background-image: image-url('scaffold_icons.png');
    background-position: 2px -33px;
    background-repeat: no-repeat;
  }

  &.__green {

    &:checked {
      border: 2px solid $light_green;
      background-position: -35px -33px;
    }
  }
}

/* Selects */
.scaffold_select  {
  border: 1px solid $dark_gray;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 8px 50px 8px 10px;
  border-radius: 5px;
  background: image-url('scaffold_select.png') no-repeat 91% 6px $cloud_gray;
  color: $dark_gray;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    background: image-url('scaffold_select.png') no-repeat 91% -44px $dark_gray;
    color: $cloud_gray;
  }

  option {
    padding: 0.5rem;
  }

  &.__multiple {
    background: transparent;
    padding: 0;

    option {
      padding: 0.5rem 1rem;
      color: $dark_gray;
      background-color: #fff;

      &:hover {
        color: $cloud_gray;
        background-color: $dark_gray;
      }
    }
  }
}

/* Textareas */
.scaffold_textarea {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid $light_gray;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  max-width: 96%;
  min-width: 55%;


  &:hover {
    border-color: $dark_gray;
  }

  &:focus {
    border-color: $light_blue;
  }
}

.has_errors .scaffold_textarea,
.field_with_errors .scaffold_textarea {
  border-color: $light_red;
}


/* Tablas */
.scaffold_table {
  border-collapse: collapse;

  .scaffold_table-header  {
    background-color: $dark_gray;
    color: $cloud_gray;

    .scaffold_table-heading {
      padding: 0.6rem 0.9rem;
      text-align: center;

      &:nth-child(n+2) {
        border-left: 1px solid $light_gray;
        border-collapse: collapse;
      }

      &:first-child {
      }

      &:last-child {
        border-right: 1px solid $dark_gray;
      }

      &.__no-borders {
        border: 0 none;
        border-top: 1px solid $dark_gray;
        border-bottom: 1px solid $dark_gray;
      }
    }
  }

  .scaffold_table-body {

    .scaffold_table-data {
      border: 1px solid $dark_gray;
      padding: 0.6rem 0.9rem;
      text-align: left;
      color: darken($dark_gray,45%);

      &.__no-borders {
        border: 0 none;
        border-top: 1px solid $dark_gray;
        border-bottom: 1px solid $dark_gray;
      }

      &.__no-borders:last-child {
        border-right: 1px solid $dark_gray;
      }

      &.__force_center-text {
        text-align: center;
      }
    }

    tr {
      &.__with-hover:hover{
        background-color: $light_gray
      }
    }
  }
}

.__xs-left-to-right {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .__xs-left-to-right {
    float: right !important;
    width: 25%;
    border-bottom: 0 none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}

/* Estilos para UX scaffolds list */
.panel-group {
  .panel-default {
    .panel-heading {
      &.active-panel-heading {
        text-decoration: underline;
      }
      .panel-title {
        .panel-link {
          color: $gray-dark;
          &:hover{
            color: $brand-primary;
          }
        }
      }
    }
    .panel-collapse {
      .list-group-item {
        .panel-link {
          font-size: 85%;
          color: $gray-dark;
          &:hover{
            color: $brand-primary;
          }
          &.active {
            font-size: 85%;
            color: $gray-dark;
            font-weight: bold;
          }
        }
      }
    }
  }
}
