// Agrega padding-left a los filtros, entre el checkbox y el label
.sk-item-list-option__text {
  padding-left: 8px;
  width: 150px;
}

// Elimina el margin-right al contenedor de la lista de filtros aplicados.
.sk-selected-filters {
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
}

// Le agrega shadow a los filtros seleccionados como si fuera el mod __with_shadow
.sk-selected-filters-option {
  box-shadow: 0px 3px 5px 0px rgba(234, 234, 234, 0.95);
  margin: 5px;
}

// Remueve el border-left de una etiqueta al seleccionar un filtro
.sk-selected-filters-option__remove-action {
  border-left: 0 none;
}


// Clases para estilizar HITS
.enrollment_item {
  &:hover{
    background-color: #f8f8f8;
  }

  a[data-toggle="collapse"]:not(.answers-collapse-link) {
    text-decoration: none;
    color: $gray-dark;
  }
}

.applicant_item {
  &:hover{
    background-color: #f8f8f8;
  }

  a[data-toggle="collapse"] {
    text-decoration: none;
    color: $gray-dark;
  }
}

.sk-selected-filters-option__remove-action{
  text-align: right;
}

.sk-pagination-navigation{
  background-color: white;
}
.sk-refinement-list-option__text{
  margin-left: 10px
}
.sk-search-box{
  border: solid 1px #ccc;
}
.sk-search-box__text, .sk-search-box__text::-webkit-input-placeholder{
  color: black;
}
