.security_container {

}
.security_row {
  padding:        8px;
  margin-bottom:  16px;
}
.security_title {
  font-size:      1.2rem;
  font-weight:    200;
  margin-bottom:  8px;
}
.security_select {
  width: 800px;
}