$animation-duration: 1s;

.session_logo {
  max-width: 60%;
}

.session_container {

  &.__valign-middle {
    display: block;

    .cell {
      display: block;
    }
  }

  &.session_left-container {
    margin-top: 10vh;

  }
}

.session_checkbox-container {

}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .session_logo {
    max-width: 50%;
  }

  .session_container {
    height: 99vh;

    &.__valign-middle {
      display: table;

      .cell {
        display: table-cell;
      }
    }

    &.session_left-container {
      margin-top: 0;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
