$avatar-width: 240px;

.stage-detail_profile-container {

}
.stage-detail_profile-avatar-container {
  float:      left;
  text-align: center;
  width:      $avatar-width*1.1;
}
.stage-detail_profile-avatar {
  border-radius:  $avatar-width/2;
  height:         $avatar-width;
  margin-left:    40px;
  width:          $avatar-width;
}
.stage-detail_profile-info-container {
  margin-left:  $avatar-width*1.1;
}
.stage-detail_profile-row {
  line-height: 1.8em;
}
.stage-detail_profile-label,
.stage-detail_profile-info {
  box-sizing: border-box;
  display:    inline-block;
  font-size:  1.1rem;
  width:      50%;
}
.stage-detail_profile-label {
  font-weight:    400;
  padding-right:  5px;
  text-align:     right;
}
.stage-detail_profile-info {
  font-weight:  200;
  padding-left: 5px;
  text-align:   left;
}

/* Agreement */
.stage-detail_agreement-title {
  color:        #48cfad;
  font-size:    1.4em;
  font-weight:  300;
}
.stage-detail_agreement-row {
  margin-bottom: 8px;
}
.stage-detail_agreement-label {
  display:        inline-block;
  font-size:      1.4rem;
  font-weight:    400;
  padding-right:  16px;
  text-align:     right;
  width:          200px;
}
.stage-detail_agreement-text, 
.stage-detail_agreement-area {
  font-size:    1.2rem;
  font-weight:  200;
}
.stage-detail_agreement-area {
  padding-left: 40px;
}