/*
  Subheader
*/
@mixin custom-icon-size-x-px-list {
  @for $i from 1 through 100 {
    &._custom-icon-size-#{$i}-px {
      &::before {
        width: $i + 0px;
        height: $i + 0px;
      }
    }
  }
}

$icon_padding:          34px;
$subheader_button_size: 78px;
$margin-normal:         100px;
$margin-large:          15px;

/* Container */
.subheader_container {
  background:     #fff;
  padding:        15px 0;
  width:          100%;
}
.subheader_container.__borderless {
  border-bottom:  none;
}
.subheader_container.__large {
  padding: 38px 0;
}
.subheader_left-container {
  float:        left;
  margin-left:  $margin-normal;
}
.subheader_container.__large .subheader_left-container {
  margin-left:  $margin-large;
  margin-top:   24px;
  max-width:    330px;
}
.subheader_title {
  font-weight:      600;
  margin:           0;
  text-decoration:  none;
}
.subheader_title.__with-icon {
  padding-left: $icon_padding;
}
.subheader_title.__dark-teal {
  color:        $teal;
  font-size:    1.8em;
  font-weight:  200;
}
.subheader_title-link {
  color:            $teal;
  text-decoration:  none;

  &:hover, &:visited {
    color: $teal;
  }
}


.subheader_subtitle {
  color:        $teal;
  font-size:    1.1rem;
  font-weight:  300;
  margin:       2px 0;
  padding-left: $icon_padding;
}

.subheader_right-container {
  float:        right;
  margin-right: $margin-normal;
}
.subheader_right-container_more_button {
  float:        right;
  margin-right:   10px;
}
.subheader_container.__large .subheader_right-container {
  margin-right: $margin-large;
}


.subheader_separator {
  color:  #ccc;
  margin: 0 4px;
}

.subheader_dropdown {
  float:    left;
  position: relative;
  margin-top: 5px;
  margin-right: 10px;
}

.subheader_button-container {
  float:        left;
  font-size:    1.1rem;
  font-weight:  200;
  margin:       0 12px;
  text-align:   center;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.subheader_button {
  background-color:     #ccc;
  background-position:  center;
  background-repeat:    no-repeat;
  background-size:      40px;
  border-radius:        $subheader_button_size/2;
  border:               none;
  cursor:               pointer;
  display:              block;
  height:               $subheader_button_size;
  margin:               0 auto 6px;
  width:                $subheader_button_size;
}

.subheader_button.__candidates {
  background-image:   image-url('candidatos.png');
}
.subheader_button.__active.__candidates,
.subheader_button:hover.__candidates {
  background-color: rgb(240, 91, 84);
}
.subheader_button.__publications {
  background-image:   image-url('publicaciones.png');
}
.subheader_button.__active.__publications,
.subheader_button:hover.__publications {
  background-color: rgb(0, 202, 116);
}
.subheader_button.__caracteristics {
  background-image:   image-url('caracteristicas.png');
}
.subheader_button.__active.__caracteristics,
.subheader_button:hover.__caracteristics {
  background-color: rgb(240, 91, 84);
}
.subheader_button.__security {
  background-image:   image-url('seguridad.png');
}
.subheader_button.__active.__security,
.subheader_button:hover.__security {
  background-color: rgb(0, 202, 116);
}

/*
 Dropdown
*/
.subheader_dropdown-text {
  border-radius:    10px;
  border:           none;
  color:            #fff;
  cursor:           pointer;
  float:            left;
  font-size:        .8rem;
  margin-left:      20px;
  padding:          12px;
  text-decoration:  none;
  transition:       background .4s ease-in;
}

.subheader_dropdown-text.__with-dropdown {
  border-top-right-radius:    0;
  border-bottom-right-radius: 0;
}

.subheader_dropdown-text.__green {
  background-color: $light_green;
}

.subheader_dropdown-text.__red {
  background-color: $light_red;
}

.subheader_dropdown-text.__green:hover {
  background-color: $dark_green;
}

.subheader_dropdown-text.__blue {
  background-color: $dark_blue;
}
.subheader_dropdown-text.__blue:hover,
.subheader_dropdown-text.__blue:hover + .subheader_dropdown-icon.__blue {
  background-color: $darker_blue;
}
.subheader_dropdown-text.__no-float {
  float: none;
}
.subheader_dropdown-text.__right {
  float: right;
}

.subheader_dropdown-icon {
  background-color:           #16a085;
  border-top-right-radius:    10px;
  border-bottom-right-radius: 10px;
  cursor:                     pointer;
  float:                      left;
  height:                     10px;
  margin-left:                2px;
  padding:                    15px 5px 13px 15px;
  transition:                 background .4s ease-in;
}
.subheader_dropdown-icon.__blue {
  background-color: $dark_blue;
}
.subheader_dropdown-icon.__green {
  background-color: $light_green;
}
.subheader_dropdown-icon .icon-dropdown {
  background-position:  1px 3px;
  background-size:      16px;
  height:               16px;
  padding-top:          4px;
}

.subheader_dropdown-options {
  background-color: $dark_blue;
  border-radius:    4px;
  border-top:       2px solid #fff;
  left:             20px;
  max-height:       400px;
  opacity:          0;
  overflow-y:       scroll;
  position:         absolute;
  right:            0;
  top:              39px;
  transition:       opacity .3s ease-in;
  visibility:       hidden;
  z-index:          500;
}
.subheader_dropdown:hover .subheader_dropdown-options {
  opacity:    1;
  transition: opacity .3s ease-in;
  visibility: visible;
}

.subheader_dropdown-option {
  border-bottom:    1px solid $light_blue;
  color:            #fff;
  display:          block;
  padding:          10px;
  text-decoration:  none;
}
.subheader_dropdown-option:hover {
  background-color: $light_blue;
}

/*
  Breadcrumb
*/
.subheader_breadcrumb-separator {
  font-size:    1.4em;
  margin-right: 8px;
}
.subheader_breadcrumb_step {
  font-size:    1.6em;
  font-weight:  200;
}

/* Icons */
.icons-header.__procesos {
  background-position:  0 -206px;
  background-repeat:    no-repeat;
  background-size:      30px;
  display:              inline-block;
  height:               36px;
}
.__text-icons {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 200;
}
[class*='custom-icon'], [class^='custom-icon'] {
  position: relative;
  &::before {
    content: "";
    display: block;
    background-position: center;
    background-size: 36%;
    background-repeat: no-repeat;
    width: 100%;
    height: 45px;
  }
  &.__circle {
    display: block;
    &::before {
      background-color: #ccc;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 40px;
      border-radius: 100%;
      border: none;
      cursor: pointer;
      display: block;
      margin: 0 auto 6px;
    }
  }
  @include custom-icon-size-x-px-list;
}
.custom-icon-candidates {
  &:hover, &.__active {
    &::before {
      background-color: rgb(240, 91, 84);
    }
  }
  &::before {
    background-image:   image-url('candidatos.png');
  }
}
.custom-icon-characteristics {
  &:hover, &.__active {
    &::before {
      background-color: rgb(0, 202, 116);
    }
  }
  &::before {
    background-image:   image-url('caracteristicas.png');
  }
}
.custom-icon-security {
  &:hover, &.__active {
    &::before {
      background-color: rgb(0, 202, 116);
    }
  }
  &::before {
    background-image:   image-url('seguridad.png');
  }
}
.custom-icon-publications {
  &:hover, &.__active {
    &::before {
      background-color: rgb(0, 202, 116);
    }
  }
  &::before {
    background-image: image-url('publicaciones.png');
  }
}
.custom-icon-recommended {
  &::before {
    background-image: image-url('icon_recommended.png');
  }
}
.custom-icon-not-recommended {
  &::before {
    background-image: image-url('icon_not_recommended.png');
  }
}
.custom-icon-personal-information {
  &::before {
    background-image: image-url('icon_personal_information.png');
  }
}
.custom-icon-process-associated {
  &::before {
    background-image: image-url('icon_process_associated.png');
  }
}
