/*font Lato con 300 size*/
@font-face {
  font-family: 'Lato';
  src: url(font-path('Lato/Lato-Light.eot'));
  src: url(font-path('Lato/Lato-Light.eot') + "?#iefix") format('embedded-opentype'),
  url(font-path('Lato/Lato-Light.woff')) format('woff'),
  url(font-path('Lato/Lato-Light.woff2')) format('woff2'),
  url(font-path('Lato/Lato-Light.ttf'))  format('truetype');
  font-style: normal;
  font-weight: 300;
}

/*font Lato con 400 size*/
@font-face {
  font-family: 'Lato';
  src: url(font-path('Lato/Lato-Regular.eot'));
  src: url(font-path('Lato/Lato-Regular.eot') + "?#iefix") format('embedded-opentype'),
  url(font-path('Lato/Lato-Regular.woff')) format('woff'),
  url(font-path('Lato/Lato-Regular.woff2')) format('woff2'),
  url(font-path('Lato/Lato-Regular.ttf'))  format('truetype');
  font-style: normal;
  font-weight: 400;
}

/*font Lato con 700 size*/
@font-face {
  font-family: 'Lato';
  src: url(font-path('Lato/Lato-Bold.eot'));
  src: url(font-path('Lato/Lato-Bold.eot') + "?#iefix") format('embedded-opentype'),
  url(font-path('Lato/Lato-Bold.woff')) format('woff'),
  url(font-path('Lato/Lato-Bold.woff2')) format('woff2'),
  url(font-path('Lato/Lato-Bold.ttf'))  format('truetype');
  font-style: normal;
  font-weight: 700;
}
