= form_for(@offer_letter, html: {class: 'form-horizontal'}, url: create_letter_course_offer_stage_path(id: @course.id, stage_id: @stage.id)) do |offer_letter_form|
  .form-group
    = offer_letter_form.label :vacancy_id, class: 'control-label col-sm-2'
    .col-sm-10
      = offer_letter_form.select :vacancy_id, @course.vacancies.collect { |v| [ v.to_s, v.id ] }, {include_blank: "Elija..."}, {class: 'form-control', required: true}
      = field_errors_wrapper(@offer_letter.errors[:vacancy_id])

  .form-group
    = offer_letter_form.label :company_position_id, class: 'control-label col-sm-2'
    .col-sm-10
      = @offer_letter.company_position.name

  // no aplica para integra
  / .form-group
  /   = offer_letter_form.label :company_contract_type_id,  class: 'control-label col-sm-2'
  /   .col-sm-10
  /     = offer_letter_form.select :company_contract_type_id, Company::ContractType.all.collect { |v| [ v.name, v.id ] }, {include_blank: "Elija..."}, {class: 'form-control', required: true}

  .form-group
    = offer_letter_form.label :address,  class: 'control-label col-sm-2'
    .col-sm-10
      = offer_letter_form.text_field :address, class: 'form-control', required: field_required?(offer_letter_form, :address)
      = field_errors_wrapper(@offer_letter.errors[:address])
  .form-group
    = offer_letter_form.label :direct_boss,  class: 'control-label col-sm-2'
    .col-sm-10
      = offer_letter_form.text_field :direct_boss, class: 'form-control', required: field_required?(offer_letter_form, :direct_boss)
      = field_errors_wrapper(@offer_letter.errors[:direct_boss])

  .form-group
    = offer_letter_form.label :net_remuneration,  class: 'control-label col-sm-2'
    .col-sm-10
      = offer_letter_form.text_field :net_remuneration, class: 'form-control money-mask', maxlength: '10', required: field_required?(offer_letter_form, :net_remuneration)
      = field_errors_wrapper(@offer_letter.errors[:net_remuneration])

  .form-group
    = offer_letter_form.label :zone_assignation,  class: 'control-label col-sm-2'
    .col-sm-10
      = offer_letter_form.number_field :zone_assignation, class: 'form-control', max: '100', min: '0', required: field_required?(offer_letter_form, :zone_assignation)
      = field_errors_wrapper(@offer_letter.errors[:zone_assignation])

  .form-group
    = offer_letter_form.label :contract_start_date, class: 'control-label col-sm-2'
    .col-sm-10
      = offer_letter_form.text_field :contract_start_date, class: "form-control js-datepicker-start", required: field_required?(offer_letter_form, :contract_start_date)
      = field_errors_wrapper(@offer_letter.errors[:contract_start_date])

  .form-group
    .col-md-2.col-md-offset-2
      = offer_letter_form.submit "Enviar carta oferta", class: 'btn btn-success btn-block', onclick: "this.form.action='#{create_letter_course_offer_stage_path(id: @course.id, stage_id: @stage.id)}'"
    .col-md-2
      = offer_letter_form.submit "Previsualizar", class: 'btn btn-primary btn-block', onclick: "this.form.action='#{preview_letter_course_offer_stage_path(id: @course.id, stage_id: @stage.id)}'", formtarget: "_blank"


/ El archivo "personal_information" busca todos los elementos 'js-datepicker' y les agrega datepicker
= content_for :javascript do
  = javascript_include_tag('offer')
