.row
  .col-sm-12
    dl.dl-horizontal
      dt = Offer::Letter.human_attribute_name(:vacancy_id)
      dd = @offer_letter.try(:vacancy)
      dt = Offer::Letter.human_attribute_name(:company_position_id)
      dd = @offer_letter.try(:company_position).try(:name)
      dt = Offer::Letter.human_attribute_name(:address)
      dd = @offer_letter.address
      dt = Offer::Letter.human_attribute_name(:direct_boss)
      dd = @offer_letter.direct_boss
      dt = Offer::Letter.human_attribute_name(:net_remuneration)
      dd = number_to_currency(@offer_letter.net_remuneration)
      - if @offer_letter.zone_assignation.present?
        dt = Offer::Letter.human_attribute_name(:zone_assignation)
        dd = "#{@offer_letter.zone_assignation}%"
      - if @offer_letter.contract_start_date
        dt = Offer::Letter.human_attribute_name(:contract_start_date)
        dd = l(@offer_letter.contract_start_date, format: :long)

/= form_for(@offer_letter, html: {class: 'form-horizontal'}, url: create_letter_course_offer_stages_path(id: @course.id, stage_id: @stage.id)) do |offer_letter_form|
    .form-group
      = offer_letter_form.label :vacancy_id, class: 'control-label col-sm-2'
      .col-sm-10
        p.form-static-control = @offer_letter.vacancy

    .form-group
      = offer_letter_form.label :company_position, class: 'control-label col-sm-2'
      .col-sm-10
        p.form-static-control = @offer_letter.company_position.name

    .form-group
      = offer_letter_form.label :company_contract_type_id, class: 'control-label col-sm-2'
      .col-sm-10
        p.form-static-control = @offer_letter.try(:company_contract_type).try(:name)

    .form-group
      = offer_letter_form.label :direct_boss, class: 'control-label col-sm-2'
      .col-sm-10
        p.form-static-control = @offer_letter.direct_boss

    .form-group
      = offer_letter_form.label :net_remuneration, class: 'control-label col-sm-2'
      .col-sm-10
        p.form-static-control = number_with_precision(@offer_letter.net_remuneration, precision:2)

    .form-group
      = offer_letter_form.label :zone_assignation, class: 'control-label col-sm-2'
      .col-sm-10
        p.form-static-control = number_with_precision(@offer_letter.zone_assignation, precision:2)

    .form-group
      = offer_letter_form.label :contract_start_date, class: 'control-label col-sm-2'
      .col-sm-10
        p.form-static-control = @offer_letter.contract_start_date

= link_to 'Reenviar carta oferta', resend_letter_course_offer_stage_path(id: @course.id, stage_id: @stage.id), method: :post, data: { confirm: 'Desea reenviar la carta oferta?' }, class: 'btn btn-primary'
| &nbsp;
= link_to 'Ver carta', course_offer_stage_path(id: @course.id, stage_id: @stage.id, format: :pdf), class: 'btn btn-default'
