doctype html
html
  head
    meta http-equiv="content-type" content="text/html; charset=utf-8"
    = wicked_pdf_stylesheet_link_tag 'application'
    css:
      p, li {
        font-size: 14px;
      }
      .sangria {
        text-indent: 2em;
      }
      .txt-justify {
        text-align: justify;
      }
      .txt-center {
        text-align: center;
      }

  body style='background: none; background-color: #fff; background-image: none; font-family: Arial'
    .container
      br/
      br/
      .row
        .col-sm-12
          = wicked_pdf_image_tag 'logo_dark.png', style: 'width: 40%;'
        .col-sm-12
          br/
          h3.txt-center CARTA DE OFERTA LABORAL
      .row style='display: relative;'
        div style='position: absolute; top: 50%; left: 50%; margin-left: -262.5px; margin-top: -298px; opacity: 0.4;'
          = wicked_pdf_image_tag 'fondo_carta_oferta.png'

        .col-sm-12
          br/
          p Estimado (a):
          br/

          // Base AKA R&S
          - if @offer_letter.stage.enrollment.course.type_enrollment != 'Enrollment::Simple'
            p.sangria Tenemos el agrado de invitarte a formar parte de nuestra Fundación y unirte a nuestro equipo humano en el cargo de #{@offer_letter.company_position.name}

            p.sangria
              | Siendo tu renta base de #{number_to_currency(@offer_letter.net_remuneration)}.
              - if @offer_letter.zone_assignation
                | &nbsp;Además de contar con una asignación de zona de #{@offer_letter.zone_assignation}%.

            p.sangria Tu cargo se hará efectivo el #{l(@offer_letter.contract_start_date, format: '%d de %B del %Y a las %H:%M')} en #{@offer_letter.address}. En donde, deberás contactar a #{@offer_letter.direct_boss}
            br/

            p.txt-justify.sangria Estamos seguros de que serás un gran agente de cambio social y  aporte a nuestra institución, y que tanto los desafíos que tenemos por delante como el grupo de personas que encontrarás en Integra serán un fuerte estímulo para tu desarrollo personal y laboral. Te deseamos el mayor de los éxitos en tu nuevo puesto de trabajo.
            br/

            p.txt-justify
              | Esperamos tu confirmación a la brevedad y cualquier consulta no dudes en tomar contacto con nosotros.
              br/
              | *Vigencia 03 días hábiles a partir de recepción.

          // otros
          - else

            p.sangria
              | Tenemos el agrado de invitarte a realizar tu práctica profesional en Integra. Esperamos que esta experiencia de aprendizaje sea una gran oportunidad en tu proceso de formación profesional.
              br/
              | Te comentamos que por concepto de movilización, te será otorgada una asignación de $50.000 mensuales, además del servicio de casino o cheque restaurant según corresponda (solo en jornada superior a 6 horas diarias).
            br/
            p.sangria
              | Dicho lo anterior, te invitamos a recopilar los siguientes antecedentes. Los que posteriormente te serán solicitados via mail:

            br/
            ul
              li Carta de solicitud de práctica y seguro escolar.
              li Programa de práctica (debe incluir como mínimo objetivo general, objetivos específicos, duración, metodología, reportes y evaluación).
              li Fotocopia cédula de identidad por ambos lados.
              li Certificado antecedentes (de emisión reciente)
              li Certificado de residencia.
              li Curriculum Vitae.


          br/
          p.txt-center
            | Cordialmente,
            br/
            | Equipo de Reclutamiento y Selección
            br/
            | Fundación Integra
