- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}


section.course_card

  h3.course_card-title.__large
    = t('offer.stage.title')
    - if @offer_letter.accepted
      small
        span.label.label-success.pull-right
          = t('offer.stage.accepted')

  - if @offer_letter.persisted?
    = render partial: "offer/stages/show"
  - else
    = render partial: "offer/stages/form"
