-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.education.careers.title")
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.f") + ' ' + t("resources.education.careers.singular"), new_education_career_path, class: "btn btn-block btn-success"
.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'careers' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small = t("resources.generals.labels.name")
                th.small colspan="3"

            tbody.scaffold_table-body
              - @education_careers.each do |education_career|
                tr.small
                  td width="84%"
                    = link_to education_career.name, education_career , class: 'text-base'

                  td.small
                    = link_to t("resources.generals.actions.edit"), edit_education_career_path(education_career), class: "btn btn-block btn-primary btn-sm"

                  td.small
                    = link_to t("resources.generals.actions.destroy"), education_career, method: :delete, data: { confirm: (t("resources.generals.actions.destroy_confirm") + ' ' + education_career.name + ' ?')}, class: "btn btn-block btn-danger btn-sm"
          = paginate @education_careers

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
