= form_for(@territory_city) do |f| 

  .form-group
    = f.label :name
    = f.text_field :name , class: 'form-control', autofocus: true, required: field_required?(f, :name)

  .form-group
    = react_component 'CountryStateSelect', { \
      country_select: { \
        name: "territory_city[territory_country]", \
        selected: "#{ @territory_city.territory_state.try(:territory_country).to_param}", 
        context: "scaffold" \
      }, \
      state_select: { \
        name: "territory_city[territory_state]", \
        selected: "#{ @territory_city.territory_state.to_param}", \
        context: "scaffold" \
      } \
    }

  .form-group
    .row
      .col-xs-12.col-md-3
        = f.submit class: "btn btn-block btn-success"
