-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = t("resources.territory.cities.title")
        .col-xs-6.col-sm-3.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.labels.new.f") + ' ' + t("resources.territory.cities.singular"), new_territory_city_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'territory' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = t("resources.generals.actions.name")
                th.small style='vertical-align: middle' = t("resources.territory.states.singular")
                th.small style='vertical-align: middle' colspan='3'

            tbody
              - @territory_cities.each do |territory_city|
                tr
                  td.small style='vertical-align: middle' width="42%"
                    = link_to territory_city.name, territory_city, class: 'text-base'

                  td.small style='vertical-align: middle' width="42%"
                    = territory_city.territory_state.name

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.edit"), edit_territory_city_path(territory_city), class: "btn btn-block btn-primary btn-sm"

                  td.small style='vertical-align: middle'
                    = link_to t("resources.generals.actions.destroy"), territory_city, method: :delete, data: { confirm: (t("resources.generals.actions.destroy_confirm") + ' ' + territory_city.name + ' ?') }, class: "btn btn-block btn-danger btn-sm"

          = paginate @territory_cities

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
