= form_for @skill_interview_report, url: course_skill_interview_reports_path(@course.id, @stage.id) do |skill_interview_report_form|
  .form-group
    = skill_interview_report_form.label :documents
    .field_info
      = I18n.t("documents.valid_extensions_files")
    = skill_interview_report_form.file_field :documents, multiple: true, class: 'form-control', required: true
    = field_errors_wrapper(@skill_interview_report.documents.map{ |doc| doc.errors[:document]}.flatten.uniq)
    .help-block
      = I18n.t("documents.select_multiple_files")

  .form-group
    = skill_interview_report_form.label :observations
    = skill_interview_report_form.bootsy_area :observations, class: "form-control", required: field_required?(skill_interview_report_form, :observations)
    = field_errors_wrapper(@skill_interview_report.errors[:observations])

  .form-group.text-center
    = skill_interview_report_form.submit class: "btn btn-success"
