= form_for @company_vacancy_request_reason do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", autofocus: true, required: field_required?(f, :name)

  .form-group
    .row
      .col-xs-12.col-md-4
        = f.submit class: "btn btn-block btn-success"
