-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-5.col-sm-8.col-md-9
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Company::VacancyRequestReason.model_name.human

        .col-xs-7.col-sm-4.col-md-3
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.actions.add_new") + ' ' + Company::VacancyRequestReason.model_name.human, new_company_vacancy_request_reason_path, class: "btn btn-block btn-success"
.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'vacancy_request' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Company::VacancyRequestReason.human_attribute_name(:name)
                th.small style='vertical-align: middle'
                th.small style='vertical-align: middle'

            tbody.scaffold_table-body
              - @company_vacancy_request_reasons.each do |company_vacancy_request_reason|
                tr
                  td.small style='vertical-align: middle' width="80%"
                    = link_to company_vacancy_request_reason.name, company_vacancy_request_reason, class: 'text-base'

                  td.small style='vertical-align: middle; text-align: center' width="10%"
                      = link_to t("resources.generals.actions.edit"), edit_company_vacancy_request_reason_path(company_vacancy_request_reason), class: "btn btn-primary btn-sm"
                  td.small style='vertical-align: middle; text-align: center' width="10%"
                      = link_to t("resources.generals.actions.destroy"), company_vacancy_request_reason, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + company_vacancy_request_reason.name + ' ?')}, :method => :delete, class: "btn btn-danger btn-sm"

          = paginate @company_vacancy_request_reasons

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          =render partial: "scaffolds/scaffolds_list"
