-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @company_vacancy_request_reason.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label= Company::VacancyRequestReason.human_attribute_name(:name)
          p = @company_vacancy_request_reason.name

          .row
            .col-xs-12.col-md-2.padding-bottom-10-px 
              = link_to t("resources.generals.actions.edit"), edit_company_vacancy_request_reason_path(@company_vacancy_request_reason), class: "btn btn-block btn-primary"
            .col-xs-12.col-md-2.padding-bottom-10-px 
              = link_to t("resources.generals.actions.back"), company_vacancy_request_reasons_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
