.course_newsFeed-copy
  p
    span.course_newsFeed-link
      - if a.owner.worker.present?
        = link_to a.owner.name_or_email, worker_basis_path(a.owner.worker)
      - else
        = a.owner.name_or_email
    
    span &nbsp;Ficha de ingreso a&nbsp;
    
    span.course_newsFeed-link
      = link_to a.recipient.applicant.user.name_or_email, applicant_basis_path(a.recipient)

    span &nbsp;en el proceso&nbsp;

    span.course_newsFeed-link
      = link_to_trackable a.trackable, a.trackable
