table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              | Estimado (a)&nbsp;
              = @enrollment.applicant.first_name
              | :
            // Base AKA R&S
            - if @enrollment.course.type_enrollment.constantize != Enrollment::Simple
              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | Adjuntamos carta de oferta para el cargo&nbsp;
                strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 400; font-family:'Open Sans', arial, sans-serif;"
                  = @offer_letter.company_position.name
                | &nbsp;en el proceso&nbsp;
                strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 400; font-family:'Open Sans', arial, sans-serif;"
                  = @enrollment.course.title
                | , si deseas aceptar la oferta haz clic en el siguiente link:
              table style="width: 250px"
                tr
                  td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                    = link_to "Aceptar oferta", accept_enrollment_offer_letter_url(id: @enrollment.id, offer_letter_id: @offer_letter.id, token: @offer_letter.token), method: :post, style: "color:#ffffff; text-decoration: none;"
              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | Si ya no estás interesado en pertenecer a&nbsp;
                strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 400; font-family:'Open Sans', arial, sans-serif;"
                  | Integra
                | &nbsp;haz clic en el siguiente link.
              table style="width: 250px"
                tr
                  td style="text-align: center; background-color: #C22821; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                    = link_to "Rechazar oferta", show_reject_enrollment_offer_letter_url(id: @enrollment.id, offer_letter_id: @offer_letter.id, token: @offer_letter.token), method: :get, style: "color:#ffffff; text-decoration: none;"
              br/
              br/
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Cordialmente,
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Equipo de Reclutamiento y Selección
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Fundación Integra

            // Simple AKA Practica
            - else
              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | Adjuntamos carta de oferta de práctica
                | , si deseas aceptar la oferta haz clic en el siguiente link:
              table style="width: 250px"
                tr
                  td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                    = link_to "Aceptar oferta", accept_enrollment_offer_letter_url(id: @enrollment.id, offer_letter_id: @offer_letter.id, token: @offer_letter.token), method: :post, style: "color:#ffffff; text-decoration: none;"

              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | Si ya no estás interesado en pertenecer a&nbsp;
                strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 400; font-family:'Open Sans', arial, sans-serif;"
                  | Integra
                | &nbsp;haz clic en el siguiente link.
              table style="width: 250px"
                tr
                  td style="text-align: center; background-color: #C22821; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                    = link_to "Rechazar oferta", show_reject_enrollment_offer_letter_url(id: @enrollment.id, offer_letter_id: @offer_letter.id, token: @offer_letter.token), method: :get, style: "color:#ffffff; text-decoration: none;"
              br/
              br/
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Cordialmente,
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Equipo de Reclutamiento y Selección
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Fundación Integra
        tr
          td height="25"
        tr
