table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              | Estimado (a) #{@enrollment.course.user.first_name} #{@enrollment.course.user.last_name}
              | &#58;
            p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
              | El postulante #{@enrollment.applicant.user.first_name} #{@enrollment.applicant.user.last_name}
              - if @offer_letter.accepted == true
                |  ha aceptado
              - else
                |  ha rechazado
              |  la oferta
              br/
              |  al cargo
              strong
                |  #{@offer_letter.stage.enrollment.course.company_position.name}
              | , del proceso
              strong
                |  #{@offer_letter.stage.enrollment.course.title}
              | .


            - if @offer_letter.offer_reject_reason.present?
              p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                | El motivo por el cual ha rechazado la oferta es:
                br/
                | #{@offer_letter.offer_reject_reason.name}
          tr
            td height="25"
          tr
