/* Variables de Colores */

// Verdes
$teal:              #1abc9c;
$light_green:       #48cfad;
$dark_green:        #37bc9b;
$darker_green:      #16a085;

// Azules
$dark_blue:         #4785c9;
$darker_blue:       #1d86c9;
$light_blue:        #5d9cec;
$hover_blue:        #0086cd;
$hover_light_blue:  #239def;

// Grises
$corporate_gray:    #4c4c4c;
$darker_gray:       #666;
$dark_gray:         #aab2bd;
$light_gray:        #e6e9ed;
$cloud_gray:        #f9f9f9;

// Rojos
$pale_red:          #c75c5c;
$light_red:         #F64747;
$dark_red:          #E74C3C;

