.error_left-container {
  float: left;
  width: 50%;
  margin-top: 50px;
  padding: 20px;
  text-align: center;

  img {
    width: 80%;
  }
}

.error_right-container {
  float: right;
  width: 38%;
  margin-top: 180px;
  letter-spacing: 1px;

  h2 {
    color: $pale-red;
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 100%;
    margin: 0;
    letter-spacing: 20px;
  }

  h3 {
    color: $dark-gray;
    font-size: 8rem;
    text-transform: uppercase;
    line-height: 100%;
    margin: 0;
    letter-spacing: 30px;
  }

  h4 {
    color: $dark-green;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    color: $light-blue;
    letter-spacing: 0;
    font-size: 1.5rem;
  }
}