.col._h40 {
  height: 40px;
}

.col.__m-left13 {
  margin-left: 13px;
}



/* Column Sizes */
.col._1-8 {
  width: 12.5%;
}
.col._1-5 {
  width: 20%;
}
.col._2-8,
.col._1-4 {
  width: 25%;
}
.col._1-3 {
  width: 33%;
}
.col._3-8 {
  width: 37.5%;
}
.col._4-8,
.col._2-4,
.col._1-2 {
  width: 49%;
}
.col._5-8 {
  width: 62.5%;
}
.col._6-8,
.col._3-4 {
  width: 75%;
}
.col._7-8 {
  width: 87.5%;
}
.col._8-8,
.col._4-4,
.col._2-2,
.col._1-1 {
  float: none;
  width: 100%;
}

