/* Reset */
html {
  position: relative;
  min-height: 100%;
}

html, body {
  margin:       0;
  padding:      0;
  font-family:  'Lato', sans-serif;
  font-size:    1em;
}

footer.footer {
  min-height: 50px;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  font-size: 12px;
  color:#aaa;
  padding: 15px 0;
}

body {
  background-color: #f9f9f9;
  padding-bottom: 100px;
  margin-top: 50px;
  max-resolution: 60px;
}

// Evitar que scroll aparezca y desaparezca con animaciones
body.body_sessions {
  // overflow: hidden;
  background-color: #fff;
  margin-top: 0px;
  padding-bottom: 0;
}

// Evitar que scroll aparezca y desaparezca con animaciones en invitables
body.body_invitations {
  // overflow: hidden;
  background-color: #fff;
  margin-top: 0px;
  padding-bottom: 0;
}

// Evitar que scroll aparezca y desaparezca con animaciones en passwords
body.body_passwords {
  // overflow: hidden;
  background-color: #fff;
  margin-top: 0px;
  padding-bottom: 0;
}

// Evitar que scroll aparezca y desaparezca con animaciones en registros
body.body_registrations {
  // overflow: hidden;
  background-color: #fff;
  margin-top: 0px;
  padding-bottom: 0;
}

body.body_externals {
  background-color: #fff;
  margin-top: 0px;
  padding-bottom: 0;
}

/*
  Helpers
*/
table.postulant_table { // this somehow makes it work for td
  table-layout:fixed;
  width:100%;
  word-wrap: break-word;
}

/* Clase que corta palabras */
.__force-text_break {
  word-wrap: break-word;
  word-break: break-all;
}
.__force-text_break-word {
  word-wrap: break-word;
  word-break: break-word;
}

.__green {
  color: $light_green
}

.text-base {
  color: $gray-dark;

  &:hover {
    color: $gray-darker;
    text-decoration: none
  }
}

a.text-base {
  color: $gray-dark;

  &:hover{
    color: #468ee9;
  }
}

/* IE Hack (just in case) */
.clearfix {
  zoom: 1;
}

.__no-margin-bottom {
  margin-bottom: 0;
}

p {
  word-wrap: break-word;
}

.__no-padding {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

/* Input */
input {

  &.error {
    border-color: $light-red !important;
  }

  .input_calendar {
    background:       image-url('icon-calendar.png') no-repeat 4px 5px;
    background-size:  16px;
    border:           1px solid #ccc;
    color:            #444;
    padding:          6px;
    padding-left:     24px;
    width:            140px;
  }
}

/* Textarea */
textarea {
  max-width: 100%;

  &.error {
    border-color: $light-red !important;
  }

  &.bootsy_text_area {
    min-height: 250px;
  }
}

select {
  &.error {
    border-color: $light-red !important;
  }
}

em.error {
  display: block;
  color: $light-red;
  margin-top: 2px;
  font-size: 0.9rem;
}

label {

  &.input_required {
    &:after {
      content: '*';
      color: $light-red;
    }
  }
}

//Field info
.field_info {
  font-size: 0.7rem;
  color: $pale-red;
  letter-spacing: 1px;
}

// Specific
.hide {
  display: none;
}

.preview {
  opacity: 0.4;
}

// HTML5 Progress Bars
progress[value] {

  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Dimensions */
  width: 100%;
  height: 15px;

  /* Get rid of default border in Firefox. */
  border: none;

  &::-webkit-progress-bar {
    background-color: $light-gray;
    border: 0;
  }

  &::-webkit-progress-value {
    background-color: $light-green;
  }

  &::-moz-progress-bar {
    background-color: $light-gray;
    border: 0;
  }

    &::-moz-progress-value {
    background-color: $light-green;
  }
}

/*
  Para centrar un elemento verticalmente dentro de una columna,
  el padre debe tener la clase .col.__valign-middle y el hijo a ser centrado
  la clase .cell
*/
.__valign-middle {
  display: table;
}

.__valign-middle .cell {
  display:        table-cell;
  vertical-align: middle;
}
.__valign-middle .cell.__h70 {
  height: 70px;
}

/* Backgrounds */
.__white-background {
  background-color: #fff;
}

/* Custom Panel Bootstrap accordion */
.__with_collapsible-icons {
  position: relative;

  [data-toggle^="collapse"] {
    cursor: pointer;
    &:before {
      content: "\e259";
      position: absolute;
      right: .6rem;
      top: 1.24rem;
      font-size: 1.2rem;
      font-family: 'Glyphicons Halflings';
    }
    &.collapsed {
      &:before {
        content: "\e257";
      }
    }
  }
}

.__with_collapsible-caret {

  [data-toggle^="collapse"] {
    .__with_caret {
      &:after {
        font-family: 'Glyphicons Halflings';
        font-size: 10px;
        content: "\e259";
      }
    }

    &.collapsed {
      .__with_caret {
        &:after {
          font-family: 'Glyphicons Halflings';
          font-size: 10px;
          content: "\e257";
        }
      }
    }
  }
}

.__progress-top-bar {
  position: relative;
  zoom: 1;
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    background-color: $brand-success;
    height: 2px;
    width: 0;
  }
  &.__progress-bar-success {
    &:after {
      background-color: $brand-success;
    }
  }
  &.__progress-bar-warning {
    &:after {
      background-color: $brand-warning;
    }
  }
  &.__progress-bar-danger {
    &:after {
      background-color: $brand-danger;
    }
  }


/****************************************************/
/*** Progress Bar percent class *********************/
/****************************************************/
/** Crea clases llamadas _(numero)-percent **********/
/** Estas clases van de 1% en 1% hasta 100% *********/
/** Ej: <div class="__progress-top-bar _60_percent"></div> ****/
/** genera una pseudo elemento absoluto con top 0 ******/
/**********************************************/

  @mixin x-percent {
    @for $i from 1 through 100 {
      &._#{$i}-percent {
        &:after {
          width: $i + 0%;
        }
      }
    }
  }

  @include x-percent;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


/*************************/
/*** INVERTED BUTTONS ***/
/***********************/

.btn.btn-inverted {
  &.btn-success {
    color: $brand-success;
    background-color: transparent;
    border-color: $brand-success;

    &:hover {
      color: #fff;
      background-color:  darken($brand-success, 9%);
      border-color: darken($btn-success-bg, 12%);
    }
  }

  &.btn-primary {
    color: $brand-primary;
    background-color: transparent;
    border-color: $brand-primary;

    &:hover {
      color: #fff;
      background-color:  darken($brand-primary, 9%);
      border-color: darken($btn-primary-bg, 12%);
    }
  }

  &.btn-danger {
    color: $brand-danger;
    background-color: transparent;
    border-color: $brand-danger;

    &:hover {
      color: #fff;
      background-color:  darken($brand-danger, 9%);
      border-color: darken($btn-danger-bg, 12%);
    }
  }
}

/*****************************************************/
/*** Margin Helpers *********************************/
/***************************************************/
/** Crea clases llamadas margin-top-(numero)-px ***/
/** Estas clases van de 10 en 10px hasta 50px ****/
/** Ej: <div class="margin-top-10-px"></div> ****/
/** genera una div con 10px de margin-top ******/
/**********************************************/

@mixin margin-top-x-px-list {
  @for $i from 0 through 10 {
  .margin-top-#{$i*5}-px {
      margin-top: $i*5+px;
    }
  }
}
@include margin-top-x-px-list;


@mixin margin-bottom-x-px-list {
  @for $i from 0 through 10 {
  .margin-bottom-#{$i*5}-px {
      margin-bottom: $i*5+px;
    }
  }
}
@include margin-bottom-x-px-list;

/*****************************************************/
/*** Padding Helpers *********************************/
/***************************************************/
/** Crea clases llamadas padding-top-(numero)-px ***/
/** Estas clases van de 10 en 10px hasta 50px ****/
/** Ej: <div class="padding-top-10-px"></div> ****/
/** genera una div con 10px de padding-top ******/
/**********************************************/

@mixin padding-top-x-px-list {
  @for $i from 0 through 10 {
  .padding-top-#{$i*5}-px {
      padding-top: $i*5+px;
    }
  }
}
@include padding-top-x-px-list;


@mixin padding-bottom-x-px-list {
  @for $i from 0 through 10 {
  .padding-bottom-#{$i*5}-px {
      padding-bottom: $i*5+px;
    }
  }
}
@include padding-bottom-x-px-list;

/*********************/
/*** RAILS ERRORS ***/
/*******************/

.field_with_errors {
  & input{
    border-color: $light_red !important;
    &:hover {
      border-color: $light_red !important;
    }
  }
  & textarea{
    border-color: $light_red !important;
    &:hover {
      border-color: $light_red !important;
    }
  }
  & label{
    color: $light_red !important;
    &:hover {
      color: $light_red !important;
    }
  }
  & select{
    border-color: $light_red !important;
    &:hover {
      border-color: $light_red !important;
    }
  }
  & li {
    color: $light_red;
  }
}

/******************/
/**** Bootsy *****/
/****************/

iframe.wysihtml5-sandbox {
  padding: 0 !important;

  body {
    margin-top: 0 !important;
  }
}

/* clase auxiliar para controlar los elementos dentro de un campo que haya sido procesado por bootsy */
.bootsy_processed {
  blockquote {
    border: 0 none;
    padding: 0 20px;
  }
}

// Icons size modifiers
@mixin size-x-px-list {
  @for $i from 1 through 120 {
    .size-#{$i}-px {
      &:before {
        font-size: $i + 0px;
        line-height: 1.5;
      }
    }
  }
}
@include size-x-px-list;

/* cambios Eduardo */
/* clase para contrastar de cajas de el fondo*/
.__with_shadow {
  box-shadow: 0px 3px 5px 0px rgba(234, 234, 234, 0.95);
}

.__textdecoration {
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
}

span.textbox {
    max-width: 100%;
    font-weight: 100;
    font-size: 14px;
}

span.textsearch {
  font-weight: lighter;
  font-style: italic;
  color: #87868a;
}

.processtext {
  font-weight: normal;
  color: #525252;
  padding: 0 5px 0 24px;

  &:after {
    content: ':';
  }
}

.__textsearch {
  font-weight: lighter;
  font-style: italic;
  color: #87868a;
}

.__stext {
  font-weight: normal;
  color: #525252;

  &:after {
    content: ':';
  }
}

td.ligth {
  font-weight: lighter;
  color: #4C5A69;
}
.field_with_errors .chosen-results li {
  color: #665;
}/* fin cambios eduardo */

.pac-container {
  background-color: #FFF;
  z-index: 1031;
  position: fixed;
  display: inline-block;
  float: left;
}
/* Bootstrap mods */
.modal{
  z-index: 1031;
}
.modal-backdrop{
  z-index: 10;
}

.navbar-right {
  min-width: 225px;
}

.has-error, .has-success {
  span.glyphicon.form-control-feedback {
    top: 27px;
  }
}

// si usamos bootstrap, que use el mismo rojo que em.error
.has-error {
  label,
  .control-label,
  .help-block
  {
    color: $light-red;
  }

  .form-control {
    border-color: $light-red;
    &:focus {
      border-color: $light-red;
    }
  }
}

// clases para disminuir tamaño de textos
.smaller {
  font-size: 85%
}
.smallest {
  font-size: 75%
}


.panel-faqs {
  a {
    text-decoration: none;
  }
  .collapsive-link {
    & .panel-heading {
      background-color: $dark_green;
      h4 {
        color: $cloud_gray;
        font-weight: bold;
      }
    }
    &.collapsed {
      & .panel-heading {
        background-color: $cloud_gray;
        border: 1px solid $light_gray;
        h4 {
          font-weight: bold;
          color: $dark_green;
        }
      }
    }

  }
  .panel-collapse{
    border: 1px solid $light_gray;
  }

}
.mouse-pointer {
  cursor: pointer;
}
// Share buttons
img.share {
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}



// Para que elementos como labels no salgan de contenedores
.inline-item {
  display: inline-block;
}