/* Custom style for IE 8  and lower */
.main-banner{
  display: inline-block;
  margin-top: 50px;
  background-repeat: no-repeat;
  /*height: 428px;
  width: 1155px\9;*/
}
.navbar-inverse {
  height: 46px;
}
.navbar-header a{
  display: inline-block;
  padding-top: 0px;
  padding-bottom:12px;
}

a img.navbar-brand{
  width: 115px;
  // height: 20px;
}

* {
  box-sizing: border-box;
}

// .header_user-avatar{
//   margin-right: 5px;
//   width: 27px;
//   height: 27px;
// }


body{
  margin-top:0px;
  padding-top: 70px;
}

/* Custom Panel Bootstrap accordion */
.__with_collapsible-icons {
  position: relative;

  [data-toggle^="collapse"] {
    cursor: pointer;
    &:before {
      right: 0;
    }
  }
}
