table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td 
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: center;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              | Bienvenido
              = @email
              | &#33;
            br/
            p style="color: #333, text-align: justify;"
              | Puedes confirmar tu cuenta de correo accediendo al siguiente link:
            br/
            br/
            = link_to 'Confirmar mi cuenta', user_confirmation_url(@resource, confirmation_token: @token), class: 'link3'
        tr
          td height="25"
        tr
