table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: center;")
              h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
                | Hola!&nbsp;
                span style=("color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;")
                  = @resource.name_or_email
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;")
                | Has sido invitado a participar en la plataforma:&nbsp;
                span style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#252b33; text-align: justify;")
                  |&quot;
                  |#{$COMPANY[:name]}
                  |&quot;.
                br/
                | Haz click en aceptar la invitación, para poder ingresar.
              br/

              table style="width: 210px"
                tr
                  td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                    = link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token), target: "_blank", style: "color:#ffffff; text-decoration: none;"
              br/
      tr
        td height="25"
      tr
