table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
    td 
      table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
        td
          .contentEditableContainer.contentTextEditable
            .contentEditable style=("text-align: justify;")
                h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
                  | Hola&nbsp;
                  = @resource.email
                  | !
                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                  | Para cambiar tu contraseña haz clic en el siguiente botón :
                br/
                
                table style="width: 250px"
                  tr
                    td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
                      = link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token), style: "color:#ffffff; text-decoration: none;"
                
                br/
                br/
                p style=("font-family:'Open Sans', arial, sans-serif;font-size:12px; line-height:10px; color:#7e8890; text-align: justify;") Si tú no solicitaste cambiar tu contraseña, puedes ignorar este correo.
                p style=("font-family:'Open Sans', arial, sans-serif;font-size:12px; line-height:10px; color:#7e8890; text-align: justify;") Tu contraseña no cambiará hasta que ingreses al link y la actualices.

        tr
          td height="25"
        tr
