table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
    td 
      table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
        td
          .contentEditableContainer.contentTextEditable
            .contentEditable style=("text-align: justify;")
                h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;" 
                  |Hello
                  = @resource.email
                  |!
                br/

                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
                  | Tu cuenta ha sido bloqueada ya que hemos detectado demasiados intentos no exitosos de ingreso.

                br/
                p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;" Ingresa en el siguiente link para desbloquear tu cuenta:
                br/

                = link_to 'Desbloquea mi cuenta', unlock_url(@resource, unlock_token: @token), style: "background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none; display: inline-block;"
        tr
          td height="25" 
        tr
