.container-fluid
  - content_for :subheader do
    .subheader_container.clearfix
      .subheader_left-container
        .subheader_cyan
          h4.text-success= t('reports.transparency_information')

  .row
    .col-md-6.col-md-offset-3
      .well
        .panel.panel-default
          .panel-heading Reportes
          table.table
            thead
              tr.text-center
                td Mes
                td Año
                td Anuncios
                td Acciones
            tbody
              - @months.each do |m|
                - between = m.beginning_of_month..(m.beginning_of_month + 1.months - 1.seconds)
                - count = Minisite::Publication.where(created_at: between).count
                tr.text-center
                  td = m.month
                  td = m.year
                  td = count
                  td
                    - if count > 0
                      = link_to "Ver reporte", generate_report_transparency_information_path(m.month, m.year), class: "btn btn-primary btn-xs"
                      |  
                      = link_to "Descargar publicaciones", download_publications_report_transparency_information_path(m.month, m.year), class: "btn btn-success btn-xs"

= content_for :javascript do
  = javascript_include_tag('reports_helper')
