- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

.row.margin-top-10-px
    section.course_card
      - if @stage.enrollment.discarding.nil?
        h3.course_card-title.__large
          | Ficha de Ingreso
          .course_card-action-container
            - if @engagement_agreement.persisted?
              .col-sm-12
                = link_to(t('engagement.download'),
                  course_engagement_agreement_path(id: @course.id, stage_id: @stage.id, agreement_id: @engagement_agreement.id, format: :jasperpdf),
                  class: 'btn btn-success')

        - if @engagement_agreement.persisted?
          = render partial: 'engagement/agreements/partial_show', locals: {agreement: @engagement_agreement}
        - else
          = render partial: 'engagement/agreements/form', locals: {engagement_agreement: @engagement_agreement}
      - else
        h3.course_card-title Este postulante ha sido descartado y no puede ser contratado
