- content_for :title, t("applicant.catched.new_applicant_catched")

= form_for @applicant_catched do |applicant_catched_form|
  = applicant_catched_form.fields_for :user do |user_form|

    / Subheader
    .subheader_container.clearfix
      .subheader_left-container
        .subheader_cyan
          h3 class="[ subheader_title __with-icon __dark-teal ][ icons-header __procesos ]"
            = Applicant::Catched.model_name.human.pluralize + " / " + t("actions.create") + Applicant::Catched.model_name.human

      - if current_user.can?(:new, Applicant::Catched)
        .subheader_right-container
          .subheader_dropdown-container
            .subheader_dropdown-top
              = applicant_catched_form.submit(t("actions.create") + Applicant::Catched.model_name.human, class: "btn btn-success")

    = render partial: "common/flash_box"

    .grid_body
      .row
        = user_form.fields_for :personal_information do |personal_information_form|
          = render 'people/personal_information/form', personal_information_form: personal_information_form, user_form: user_form, applicant_form: applicant_catched_form

      .row
        = user_form.fields_for :professional_information  do |professional_information_form|
          - professional_information_attributes = params[:applicant].present? ? params.require(:applicant)[:user_attributes][:professional_information_attributes] : nil
          = render 'people/professional_information/form', professional_information_form: professional_information_form, professional_information_attributes: professional_information_attributes
