= form_for @trabajando_university do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    - areas = Education::University.all.map{ |area| [area[:name], area[:id]] }
    = f.label :hupe_university
    = f.select :hupe_university_id, areas, {include_blank: true, selected: @trabajando_university.hupe_university_id }, class: "form-control __multiple"

  .scaffold_actions = f.submit class: "scaffold_btn __green"
