-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = Trabajando::University.model_name.human(count: :other)

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col

      table.scaffold_table width="100%"
        thead.scaffold_table-header
          tr.scaffold_table-row
            th.scaffold_table-heading = Trabajando::University.human_attribute_name(:name)
            th.scaffold_table-heading = Trabajando::University.human_attribute_name(:hupe_university)
            th.scaffold_table-heading
            th.scaffold_table-heading.__no-borders

        tbody.scaffold_table-body
          - @trabajando_universities.each do |trabajando_university|
            tr.scaffold_table-row
              td.scaffold_table-data.__force_center-text width="42%"
                = link_to trabajando_university.name, trabajando_university, class: "scaffold_link"

              td.scaffold_table-data.__force_center-text width="42%"
                = link_to trabajando_university.hupe_university.name, trabajando_university.hupe_university if trabajando_university.hupe_university

              td.scaffold_table-data.__no-borders
                = link_to t("resources.generals.actions.edit"), edit_trabajando_university_path(trabajando_university), class: "scaffold_btn __green"

              / td.scaffold_table-data.__no-borders = link_to t("resources.generals.actions.destroy"), trabajando_university, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + trabajando_university.name + ' ?')}, :method => :delete, class: "scaffold_btn __green"

      = paginate @trabajando_universities

    .grid_content-col.__second-col

      =render partial: "scaffolds/scaffolds_list"
