-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = @trabajando_university.name

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col
      label.scaffold_label.__strong = Trabajando::University.human_attribute_name(:name)
      = @trabajando_university.name

      label.scaffold_label.__strong = Trabajando::University.human_attribute_name(:hupe_university)
      = link_to @trabajando_university.hupe_university.name, @trabajando_university.hupe_university if @trabajando_university.hupe_university

      .scaffold_actions
        = link_to t("resources.generals.actions.edit"), edit_trabajando_university_path(@trabajando_university), class: "scaffold_btn __green"

        = link_to t("resources.generals.actions.back"), trabajando_universities_path, class: "scaffold_btn __blue"

    .grid_content-col.__second-col
      = render partial: 'scaffolds/scaffolds_list'
