.container-fluid

  .row.margin-bottom-20-px
    .col-md-4
      label
        = TechnicalTest::Report.human_attribute_name(:notified_to)
        | :
      p
        - if technical_test_report.notified_to.present?
          = technical_test_report.notified_to
        - else
          = t('no_entry')
    .col-md-8
      label
        = TechnicalTest::Report.human_attribute_name(:documents)
        | :
        br/
        - technical_test_report.documents.each do |stage_document|
          p.margin-top-10-px.stage-detail_agreement-text = link_to(stage_document.document.file.filename, download_course_technical_test_report_path(id: @course, stage_id: @stage.id, report_id: technical_test_report.id, stage_document_id: stage_document.id))
        br/

  .row.margin-bottom-20-px
    .col-md-12
      label
        = TechnicalTest::Report.human_attribute_name(:observations)
        | :
      p.margin-top-10-px
        = technical_test_report.observations.html_safe
