= form_for @trabajando_work_day do |f|

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", required: 'required', disabled: true

  .form-group
    = f.label :company_timetable_ids
    = f.select :company_timetable_ids, Company::Timetable.all.map{ |timetable| [timetable[:name], timetable[:id]] }, {include_blank: true, selected: @trabajando_work_day.company_timetable_ids}, multiple: true , class: "form-control __multiple js-select", "data-placeholder": "Jornadas laborales"

  .form-group
    .row
      .col-xs-12.col-md-4
        = f.submit class: "btn btn-block btn-success"

= content_for :javascript do
  = javascript_include_tag('new_course')
