- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-7.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Trabajando::WorkDay.model_name.human(count: :other)

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'work_days' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Trabajando::WorkDay.human_attribute_name(:name)
                th.small style='vertical-align: middle' = Trabajando::WorkDay.human_attribute_name(:hupe_timetable_id)
                th.small

            tbody-body
              - @trabajando_work_days.each do |trabajando_work_day|
                tr
                  td.small style='vertical-align: middle' width="25%"
                    = link_to trabajando_work_day.name, trabajando_work_day, class: "text-base"

                  td.small style='vertical-align: middle' width="70%"
                    - if trabajando_work_day.company_timetables.any?
                      ul
                        - trabajando_work_day.company_timetables.each do |company_timetable|
                          li = link_to company_timetable.name, company_timetable
                    - else
                      p Sin jornadas laborales asociadas

                  td style='vertical-align: middle' width="42px"
                    = link_to t("resources.generals.actions.edit"), edit_trabajando_work_day_path(trabajando_work_day), class: "btn btn-block btn-primary btn-sm"



          = paginate @trabajando_work_days

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: "scaffolds/scaffolds_list"
