-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @trabajando_work_day.name

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label.scaffold_label.__strong = Trabajando::WorkDay.human_attribute_name(:name)
          = @trabajando_work_day.name

          label.scaffold_label.__strong = Trabajando::WorkDay.human_attribute_name(:hupe_timetable_id)
          - if @trabajando_work_day.company_timetables.any?
            ul
              - @trabajando_work_day.company_timetables.each do |company_timetable|
                li = link_to company_timetable.name, company_timetable
          - else
            p Sin jornadas laborales asociadas

          .col-md-2
            = link_to t("resources.generals.actions.edit"), edit_trabajando_work_day_path(@trabajando_work_day), class: "btn btn-block btn-primary"

          .col-md-2
            = link_to t("resources.generals.actions.back"), trabajando_work_days_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
