= form_for @offer_reject_reason do |f|
  .field
    = f.label :name, class: 'scaffold_label'
    = f.text_field :name, class: 'scaffold_input'
  .field
    = f.label :description, class: 'scaffold_label'
    = f.text_area :description, class: 'scaffold_textarea'
  .scaffold_actions = f.submit class: 'scaffold_btn __green'
