-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = t("resources.offer.reject_reasons.title")

    .subheader_right-container
      = link_to t("resources.generals.actions.add_new") + ' ' + t("resources.offer.reject_reasons.singular"), new_offer_reject_reason_path, class: "scaffold_btn __green"

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col

      table.scaffold_table width="100%"
        thead.scaffold_table-header
          tr.scaffold_table-row
            th.scaffold_table-heading = t("resources.generals.labels.name")
            th.scaffold_table-heading = t("resources.generals.labels.description")
            th.scaffold_table-heading
            th.scaffold_table-heading.__no-borders

        tbody.scaffold_table-body
          - @offer_reject_reasons.each do |offer_reject_reason|
            tr.scaffold_table-row
              td.scaffold_table-data.__force_center-text width="42%"
                = link_to offer_reject_reason.name, offer_reject_reason, class: "scaffold_link"

              td.scaffold_table-data.__force_center-text width="42%"
                = offer_reject_reason.description

              td.scaffold_table-data.__no-borders
                = link_to t("resources.generals.actions.edit"), edit_offer_reject_reason_path(offer_reject_reason), class: "scaffold_btn __green"

              td.scaffold_table-data.__no-borders = link_to t("resources.generals.actions.destroy"), offer_reject_reason, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + offer_reject_reason.name + ' ?')}, :method => :delete, class: "scaffold_btn __green"

      = paginate @offer_reject_reasons

    .grid_content-col.__second-col

      =render partial: "scaffolds/scaffolds_list"
