-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = @offer_reject_reason.name

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col
      label.scaffold_label.__strong = t("resources.generals.labels.name")
      = @offer_reject_reason.name

      label.scaffold_label.__strong = t("resources.generals.labels.description")
      = @offer_reject_reason.description

      .scaffold_actions
        = link_to t("resources.generals.actions.edit"), edit_offer_reject_reason_path(@offer_reject_reason), class: "scaffold_btn __green"

        = link_to t("resources.generals.actions.back"), offer_reject_reasons_path, class: "scaffold_btn __blue"

    .grid_content-col.__second-col
      = render partial: 'scaffolds/scaffolds_list'
