= form_for @document_record do |f|
  .field
    = f.label :user_id, class: 'scaffold_label'
    = f.number_field :user_id, class: 'scaffold_input'
  .field
    = f.label :document_descriptor_id, class: 'scaffold_label'
    = f.number_field :document_descriptor_id, class: 'scaffold_input'
  .field
    = f.label :document, class: 'scaffold_label'
    = f.text_field :document, class: 'scaffold_input'

  .scaffold_actions = f.submit class: 'scaffold_btn __green'