h1 Listing document_records

table
  thead
    tr
      th User
      th Document descriptor
      th Document
      th
      th
      th

  tbody
    - @document_records.each do |document_record|
      tr
        td = document_record.user_id
        td = document_record.document_descriptor_id
        td = document_record.document
        td = link_to 'Show', document_record
        td = link_to 'Edit', edit_document_record_path(document_record)
        td = link_to 'Destroy', document_record, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Record', new_document_record_path
