p#notice = notice

p
  strong User:
  = @document_record.user_id
p
  strong Document descriptor:
  = @document_record.document_descriptor_id
p
  strong Document:
  = @document_record.document

= link_to 'Edit', edit_document_record_path(@document_record)
'|
= link_to 'Back', document_records_path
