.container
  .row.margin-top-20-px
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-question-sign
            | &nbsp;
            | &nbsp;
            = Faq.model_name.human(count: :other)
          
  .row.margin-top-10-px
    .col-xs-12
      .col-xs-12.__white-background.__with_shadow.padding-top-20-px
        .col-xs-12
          .col-xs-12
            .col-xs-12.padding-bottom-10-px
              = render partial: 'common/info_panel', locals: { main_info: 'faq_support' }
              hr/
              #accordion.panel-group role=("tablist") aria-multiselectable=("true")
                - if @faqs.any?
                  - @faqs.each_with_index do |faq, index|

                    .panel.panel-faqs.__with_collapsible-caret
                      a class="collapsive-link collapsed" role="button" data-toggle="collapse" data-parent=("#accordion") href="#collapse#{index}"
                        #headingOne.panel-heading role=("tab")
                          h4
                            = faq.question
                            span.__with_caret
                              | &nbsp


                      div id="collapse#{index}" class="panel-collapse collapse" role=("tabpanel")
                        .panel-body
                          p
                            = faq.answer.html_safe


                - else
                  p No existen preguntas :(
