- if user_signed_in?
  ul.nav.navbar-nav
    /Course - Procesos
    - if current_user.can?(:new, Course) or current_user.can?(:search, Course)
      li.dropdown
        a.dropdown-toggle data-toggle="dropdown" href="#"
          = Course.model_name.human.pluralize
          span.caret
        ul.dropdown-menu role="menu"
          - if current_user.can?(:new, Course)
            li = link_to(new_course_path) do
              = t("actions.create") + Course.model_name.human
              span.small.text-muted
                | &nbsp;
                | &nbsp;
                | (Ctrt+K)
          end
          - if current_user.can?(:search, Course)
            li = link_to(t("actions.search") + Course.model_name.human, search_courses_path)

            /  Solicitud personal
          / - if current_user.can?(:admin, HiringRequest::Record)
          /   li = link_to(HiringRequest::Record.model_name.human, hiring_request_records_path)

    /Applicants - Aplicantes
    - if current_user.can?(:new, Applicant::Catched) or current_user.can?(:search, Applicant::Base)
      li.dropdown
        a.dropdown-toggle data-toggle="dropdown" href="#"
          = Applicant::Catched.model_name.human.pluralize
          span.caret
        ul.dropdown-menu role="menu"
          - if current_user.can?(:new, Applicant::Catched)
            li = link_to(new_applicant_catched_path) do
              = t("actions.create") + Applicant::Catched.model_name.human
              span.small.text-muted
                | &nbsp;
                | &nbsp;
                | (Ctrt+U)
          end
          - if current_user.can?(:search, Applicant::Base)
            li = link_to(t("actions.search") + Applicant::Catched.model_name.human, search_applicant_bases_path)
    - if current_user.can?(:admin) || current_user.can?(:admin_reports)
      li.dropdown
        a.dropdown-toggle data-toggle="dropdown" href="#"
          = t("reports.title")
          span.caret
        ul.dropdown-menu role='menu'
          / li = link_to(t("reports.vacancies_distributions"), new_report_vacancies_distribution_path)
          / li = link_to(t("reports.vacancies_evolution"), new_report_vacancies_evolution_path)
          li = link_to(t("reports.transparency_information"), new_report_transparency_information_path)
          li = link_to(t("reports.process_tracking"), new_report_process_tracking_path)
          li = link_to(t("reports.applicants"), new_report_applicant_path)
          /li = link_to "Ver reporte", generate_report_process_tracking_index_path(format: :xlsx), method: :post, class: "btn btn-primary"

    / - if current_user.can?(:admin)
    /   li.dropdown
    /       a.dropdown-toggle data-toggle="dropdown" href="#"
    /         = t("dashboards.title")
    /         span.caret
    /       ul.dropdown-menu role='menu'
    /         li = link_to(t("dashboards.general"), dashboards_general_path)
