
nav.navbar.navbar-inverse.navbar-fixed-top role="navigation"
  .container
    /! Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle data-target="#navbar-collapse-options" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to(image_tag("logo_cabecera.JPG", class: "navbar-brand"), root_path)
    /! Collect the nav links, forms, and other content for toggling
    #navbar-collapse-options.collapse.navbar-collapse
      - if user_signed_in?
        = render partial: 'common/menu'
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle.__fixed-padding data-toggle="dropdown" href="#"
              = image_tag current_user.avatar, class: 'header_user-avatar'
              span
                = current_user.name_or_email
              span.caret
            ul.dropdown-menu role="menu"
              li = link_to(t("profiles.myprofile"), edit_profiles_path)
              li = link_to(t("devise.sessions.destroy"), destroy_user_session_path, method: :delete)
              /Worker Base - Usuarios
              - if current_user.can?(:new, Worker::Base) or current_user.can?(:admin, Worker::Base)
                li.divider role="separator"
                li class="dropdown-header"
                  = Worker::Base.model_name.human.pluralize
                - if current_user.can?(:new, Worker::Base)
                  li
                    = link_to(t("actions.create") + Worker::Base.model_name.human, new_worker_basis_path)
                - if current_user.can?(:admin, Worker::Base)
                  li
                    = link_to(t("actions.search") + Worker::Base.model_name.human, search_worker_bases_path)
              /Configuracion
              - if current_user.can?(:admin)
                li.divider role="separator"
                li class="dropdown-header"
                  = t("resources.menu.title")
                - if current_user.can?(:admin)
                  li
                    = link_to(t("resources.menu.resources_admin"), scaffolds_path)
      - else
        .nav.navbar-nav.navbar-right.navbar-form.row style='min-width: 550px'
          .col-sm-4
            = link_to "Cómo Postular", "https://www.youtube.com/watch?v=SC7uLMw1zoI&index=1&list=PLQg4xxh78DNoQiDJsVF73XdgueGLoT210&t=1s", class: 'btn btn-block btn-danger', target: '_blank'
          .col-sm-4
            = button_to t("devise.sessions.sign_in"), new_user_session_path, :class => "btn btn-block btn-success", :method => :get
          .col-sm-4
            = button_to t("devise.registrations.sign_up"), new_registration_path, :class => "btn btn-block btn-primary", :method => :get
