- button_width = button_width || '210px'
p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;")
  | Si no sabes tu contraseña, o no tienes una, haz click en el siguiente link:
  table style="width: #{button_width};"
    tr
      td style="text-align: center; background-color: #1297E0; padding: 14px 20px 14px 20px; border-radius: 3px; line-height: 18px !important; letter-spacing: 0.100em; text-transform: uppercase; font-size: 13px; font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color: #ffffff; text-decoration: none;"
        = link_to "Obtener contraseña", new_user_password_url, style: "color:#ffffff; text-decoration: none;"
