- is_applicant = current_user == @stage.enrollment.applicant.user

section.course_card class=("margin-top-10-px" if is_applicant )
  - this_user = @stage.enrollment.applicant.user

  h3.course_card-title = link_to this_user.name_or_email, applicant_basis_path(@stage.enrollment.applicant), class: 'btn-link'

  .row
    .col-md-3
      = image_tag(this_user.avatar, class: 'stage-detail_profile-avatar margin-bottom-20-px')

    .col-md-9

      .row.margin-bottom-5-px
        label.stage-detail_profile-label
          = People::PersonalInformation.human_attribute_name(:identification_document_number)
        span.stage-detail_profile-info
          = this_user.identification_document_number.present? ? this_user.identification_document_number : t("no_entry")

        label.stage-detail_profile-label
          = People::PersonalInformation.human_attribute_name(:identification_document_type)
        span.stage-detail_profile-info
          = this_user.try(:identification_document_type).try(:name) || t("no_entry")

        label.stage-detail_profile-label
          = People::PersonalInformation.human_attribute_name(:identification_document_country)
        span.stage-detail_profile-info
          = this_user.try(:identification_document_type).try(:country).try(:name) || t("no_entry")

      .row.margin-bottom-5-px
        label.stage-detail_profile-label = People::PersonalInformation.human_attribute_name(:email)
        span.stage-detail_profile-info = this_user.email

      .row.margin-bottom-5-px
        label.stage-detail_profile-label = People::PersonalInformation.human_attribute_name(:birth_date)
        - birthday = this_user.try(:personal_information).try(:birth_date)

        span.stage-detail_profile-info
          - if birthday.present?
            = l(birthday)
          - else
            = t("no_entry")

      .row.margin-bottom-5-px
        label.stage-detail_profile-label = People::PersonalInformation.human_attribute_name(:cellphone)
        span.stage-detail_profile-info = this_user.try(:personal_information).try(:cellphone)

      .row.margin-bottom-5-px
        label.stage-detail_profile-label = People::PersonalInformation.human_attribute_name(:landline)
        span.stage-detail_profile-info = this_user.try(:personal_information).try(:landline)

      .stage-detail_profile-row
        label.stage-detail_profile-label Género
        span.stage-detail_profile-info
          = get_gender(this_user)

      .row.margin-bottom-5-px
        label.stage-detail_profile-label País
        span.stage-detail_profile-info = this_user.try(:personal_information).try(:city).try(:territory_state).try(:territory_country).try(:name) || t("no_entry")

      .row.margin-bottom-5-px
        label.stage-detail_profile-label Región
        span.stage-detail_profile-info = this_user.try(:personal_information).try(:city).try(:territory_state).try(:name) || t("no_entry")

      .row.margin-bottom-5-px
        label.stage-detail_profile-label Comuna
        span.stage-detail_profile-info = this_user.try(:personal_information).try(:city).try(:name) || t("no_entry")
