- if @stage.events.any?
  section.course_card
    h3.course_card-title.__large
      = t('calendar.event.one')

    - @stage.events.each do |event|
      - resourceable = Calendar::EventResourceable.find_by(event: event, resourceable: @stage)
      - if resourceable.present?
        - attended = resourceable.attended
        - will_attend = resourceable.will_attend
      - else
        - attended = false
        - will_attend = nil
      = react_component 'EventBox', { \
        course_id: @stage.enrollment.course_id, \
        event: JSON.parse(event.as_json), \
        resourceable_id: @stage.id, \
        resourceable_type: @stage.class.to_s, \
        attended: attended, \
        will_attend: will_attend, \
      }
      hr/
