.row
  .col-md-10.col-sm-offset-1
    .grid_body
      .grid_content-row.clearfix
        h3.text-success Al parecer tu navegador no es compatible
        p style=("font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: left;")
          | Los navegadores antiguos pueden ser menos seguros, más lentos e impedirte usar las funciones.
          | &nbsp;
          | Si quieres aprovechar al máximo las características de HiringUp tienes que actualizar tu navegador o usar un navegador compatible.
          br
          |  Navegadores compatibles: Google Chrome 7+, Internet Explorer 9+, Firefox 4+, Safari 5+, Opera 12+.
          |  Recomendado:
          = link_to(" Google Chrome", "https://www.google.cl/chrome/browser/desktop/index.html", target:"_blank" )
