= form_for @<%= name.tableize.singularize %>_report, url: course_<%= name.tableize.singularize %>_reports_path(@course.id, @stage.id) do |<%= name.tableize.singularize %>_report_form|

  .create-course_row
    = <%= name.tableize.singularize %>_report_form.label :observations, class: "create-course_label"
    = <%= name.tableize.singularize %>_report_form.text_area :observations, class: "create-course_textarea"

  .create-course_row.__center
    = <%= name.tableize.singularize %>_report_form.submit class: "btn btn-success"