.stage-detail_agreement-container

  .stage-detail_agreement-row
    label.stage-detail_agreement-label = t('activerecord.attributes.<%= name.tableize.singularize %>/report.observations')
    span.stage-detail_agreement-text = <%= name.tableize.singularize %>_report.observations