table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style=("background:#ffffff; border:1px solid #eaeaea; border-top: 0 none;")
  td 
    table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
      td
        .contentEditableContainer.contentTextEditable
          .contentEditable style=("text-align: justify;")
            h2 style="color: #252b33; font-family: 'Open Sans', arial, sans-serif; font-size: 28px; font-weight: 300; line-height: 50px; margin: 0px 0px 10px 0px; text-align: justify;"
              | Estimada &nbsp;
              = @applicant.user.name_or_email
              | &#58;
            p style="font-family:'Open Sans', arial, sans-serif;font-size:15px; line-height:23px; color:#7e8890; text-align: justify;"
              | Junto con saludar, informarle que con fecha
              strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 500; font-family:'Open Sans', arial, sans-serif;"
                | &nbsp;
                = l(@appointment.starts_at, format: "%A %d de %B del %Y a las %H:%M")
                | &nbsp;
              | (hrs.) y en las dependencias de la Oficina Regional se encuentra programada una
              strong style="color: #252b33; sans-serif;font-size:15px; line-height:23px; text-align: justify; font-weight: 400; font-family:'Open Sans', arial, sans-serif;" 
                | &nbsp;&quot;
                | entrevista de competencias
                | &quot;&nbsp;
              | grupal con las restantes participantes del proceso de postulación, por lo que les solicitamos pueda confirmarnos su asistencia a la mayor brevedad.
              br/
              br/
              | Para efectos de lo anterior, se autoriza un permiso especial, con la finalidad de que Ud., cuente con las facilidades correspondientes para cumplir con esta etapa de su proceso de postulación, de acuerdo a lo establecido en las orientaciones vigentes sobre modalidad interna.
              br/
              br/
              p style=("font-family:'Open Sans', arial, sans-serif;font-size:14px; line-height:10px; color:#7e8890; text-align: justify;")
                | Atte.  Encargado Dirección Regional

          tr
            td height="25"
          tr
