= form_for @assigning_weighting_report, url: course_assigning_weighting_reports_path(@course.id, @stage.id) do |assigning_weighting_report_form|
  .form-group
    = assigning_weighting_report_form.label :documents
    .field_info
      = I18n.t("documents.valid_extensions_files")
    = assigning_weighting_report_form.file_field :documents, multiple: true, class: 'form-control', required: true
    = field_errors_wrapper(@assigning_weighting_report.errors[:documents])
    .help-block
      = I18n.t("documents.select_multiple_files")

  .form-group.text-center
    = assigning_weighting_report_form.submit class: "btn btn-success"

