.container-fluid
  .row.margin-bottom-20-px
    .col-md-12
      label
        = AssigningWeighting::Report.human_attribute_name(:documents)
        | :
        br/
        br/
        - assigning_weighting_report.documents.each do |stage_document|
          p.margin-top-10-px.stage-detail_agreement-text = link_to(stage_document.document.file.filename, download_course_assigning_weighting_report_path(id: @course, stage_id: @stage.id, report_id: assigning_weighting_report.id, stage_document_id: stage_document.id))
   
