
= form_for @company_record do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", autofocus: true, required: field_required?(f, :name)
  .form-group
    = f.label :email_domain
    = f.text_field :email_domain, class: "form-control", required: field_required?(f, :name)

  .form-group
    = f.label :company_business_unit_ids
    .input-group
      .input-group-addon
        span.glyphicon.glyphicon-list-alt
      = f.select :company_business_unit_ids, Company::BusinessUnit.all.map{ |bu| [bu.name, bu[:id]] }, {selected: @company_record.company_business_unit_ids }, multiple: true, class: "form-control; form-control chosen", "data-placeholder": Company::Management.model_name.human

  .form-group
    .row
      .col-xs-12.col-md-2
        = f.submit class: "btn btn-block btn-success"
