- content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-7.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = Company::Record.model_name.human

        .col-xs-5.col-md-2
          .margin-top-10-px
            .col-xs-12
              = link_to t("resources.generals.actions.add_new") + ' ' + Company::Record.model_name.human, new_company_record_path, class: "btn btn-block btn-success"

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'common/info_panel', locals: { main_info: 'records', view_more: true, detail_info: 'records' }
          table.table.table-bordered.table-hover
            thead
              tr
                th.small style='vertical-align: middle' = Company::Record.human_attribute_name(:name)
                th.small
                th.small

            tbody-body
              - @company_records.each do |company_record|
                tr
                  td.small style='vertical-align: middle' = link_to company_record.name, company_record, class: "text-base"

                  td style='vertical-align: middle' width="42px"
                    = link_to t("resources.generals.actions.edit"), edit_company_record_path(company_record), class: "btn btn-block btn-primary btn-sm"

                  td style='vertical-align: middle' width="42px"
                    = link_to t("resources.generals.actions.destroy"), company_record, data: {:confirm => (t("resources.generals.actions.destroy_confirm") + ' ' + company_record.name + ' ?')}, :method => :delete, class: "btn btn-block btn-danger btn-sm"

      = paginate @company_records

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
