-content_for :subheader do
  .row
    .col-xs-12
      .col-xs-12.padding-bottom-10-px.__white-background.__with_shadow
        .col-xs-6.col-sm-9.col-md-10
          h3.text-success
            span.glyphicon.glyphicon-retweet
            | &nbsp;
            | &nbsp;
            = @company_record.name.capitalize

.container
  .row
    .col-md-9
      .col-md-12.padding-bottom-20-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          label = Company::Record.human_attribute_name(:name)
          p = @company_record.name

          label = Company::Record.human_attribute_name(:email_domain)
          p = @company_record.email_domain

          label = Company::Record.human_attribute_name(:company_business_unit_ids)
          p = @company_record.company_business_units.any? ? @company_record.company_business_units.map(&:name).join(', ') : t('no_entry')

          .col-md-2
            = link_to t("resources.generals.actions.edit"), edit_company_record_path(@company_record), class: "btn btn-block btn-primary"
          .col-md-2
            = link_to t("resources.generals.actions.back"), company_records_path, class: "btn btn-block btn-primary btn-inverted"

    .col-md-3
      .col-md-12.padding-bottom-10-px.__white-background.__with_shadow.padding-top-20-px
        .col-md-12
          = render partial: 'scaffolds/scaffolds_list'
