= form_for(@stage_not_apply_reason) do |f|

  .field.form-group
    = f.label t("resources.generals.labels.name")
    = f.text_field :name, class: 'form-control'

  .field.form-group
    = f.label t("resources.generals.labels.description")
    = f.text_area :description, class: 'form-control'

  .scaffold_actions
    = f.submit class: "btn btn-success"
