-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
         = t("resources.generals.labels.editing") + ' ' + t("resources.not_apply_reasons.singular")

.container
  .grid_body.row
    .col-md-10
      = render partial: 'form'

      .scaffold_actions
        = link_to t("resources.generals.actions.back"), stage_not_apply_reasons_path, class: "btn btn-primary"

    .col-md-2
      = render partial: "scaffolds/scaffolds_list"
