-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = t("resources.not_apply_reasons.title")
    .subheader_right-container
      = link_to t("resources.generals.labels.new.f") + ' ' + t("resources.not_apply_reasons.singular"), new_stage_not_apply_reason_path, class: "btn btn-success"

.container
  .grid_body.row
    .col-md-10

      table.table.table-bordered.table-hover
        thead
          tr
            th = t("resources.generals.labels.name")
            th = t("resources.generals.labels.description")
            th colspan="3"

        tbody
          - @stage_not_apply_reasons.each do |stage_not_apply_reason|
            tr
              td.__force_center-text

                = link_to stage_not_apply_reason.name, stage_not_apply_reason, class: "scaffold_link"


              td.__force_center-text
                = stage_not_apply_reason.description

              td.__no-borders
                .col-md-6
                  = link_to t("resources.generals.actions.edit"), edit_stage_not_apply_reason_path(stage_not_apply_reason), class: "btn btn-success btn-block"

                .col-md-6
                  = link_to t("resources.generals.actions.destroy"), stage_not_apply_reason, data: { confirm: (t("resources.generals.actions.destroy_confirm") + ' ' + stage_not_apply_reason.name + ' ?') }, method: :delete, class: "btn btn-danger btn-block"

      = paginate @stage_not_apply_reasons

    .col-md-2
      = render partial: "scaffolds/scaffolds_list"
