-content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = @stage_not_apply_reason.name

.container
  .grid_body.row
    .col-md-10

      label = t("resources.generals.labels.name")
      p = @stage_not_apply_reason.name

      label = t("resources.generals.labels.description")
      p = @stage_not_apply_reason.description

      .scaffold_actions.row
        .col-md-1
          = link_to t("resources.generals.actions.edit"), edit_stage_not_apply_reason_path(@stage_not_apply_reason), class: "btn btn-success btn-block"

        .col-md-1
          = link_to t("resources.generals.actions.back"), stage_not_apply_reasons_path, class: "btn btn-primary btn-block"

    .col-md-2
      = render partial: "scaffolds/scaffolds_list"
