.course_newsFeed-element.clearfix
  .course_newsFeed-avatar-container
    = image_tag(a.owner.avatar, class: 'course_newsFeed-avatar')

  = yield

  .course_newsFeed-date
    - if a.created_at < Time.now - 3.days
      p = a.created_at.strftime("%d/%m/%Y")
    - else
      p = time_ago_in_words(a.created_at)