doctype html
html
  head
    /* Title */
    - if content_for( :title )
      title 
        = $COMPANY[:name] + " | "
        = yield :title 
    - else
      title = $COMPANY[:name]
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"

    = javascript_include_tag "https://www.google.com/jsapi", "chartkick"

    = favicon_link_tag

    / = stylesheet_link_tag 'application', media: 'all'
    = split_stylesheet_link_tag "application", media: "all"

    /[if lt IE 9]
      = stylesheet_link_tag 'ie', media: 'all'
      script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
      script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"

    = csrf_meta_tags

    = yield :social_media

  body class="body_#{controller.controller_name}"

    = render partial: "/common/nav"

    - if content_for( :subheader )
      .container
        .margin-top-10-px.__with_shadow
          = yield :subheader
        = render partial: "/common/flash_box"

    = yield
    = render partial: "common/footer"

  = render partial: "layouts/ga"
  = javascript_include_tag 'application'
  = yield :javascript

  script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6Gy4WZRDltlTXtyvUfg7x8RxadG1ZCso&libraries=places"
