doctype html
html
  head
    /* Title */
    - if content_for( :title )
      title 
        = $COMPANY[:name] + " | "
        = yield :title 
    - else
      title = $COMPANY[:name]

    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"
    link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'
    = javascript_include_tag "https://www.google.com/jsapi", "chartkick"

    = favicon_link_tag

    / = stylesheet_link_tag 'application', media: 'all'
    = split_stylesheet_link_tag "application", media: "all"

    /[if lt IE 9]
      = stylesheet_link_tag 'ie', media: 'all'
      script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
      script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"

    = csrf_meta_tags

    = yield :social_media

  body

    = render partial: "/common/nav"

    - if content_for( :subheader )
      .container
        = yield :subheader
        = render partial: "/common/flash_box"



    - if response.status != 403
      = yield
    = render partial: "common/footer"
  = render partial: "layouts/ga"
  = javascript_include_tag 'application'
  = javascript_include_tag 'massive_actions'
  = javascript_include_tag 'massive_selection'
  = yield :javascript
