doctype html
html
  head
    /* Title */
    - if content_for( :title )
      title
        = $COMPANY[:name] + " | "
        = yield :title
    - else
      title = $COMPANY[:name]

    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"
    link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'

    = favicon_link_tag

    / = stylesheet_link_tag 'application', media: 'all'
    = split_stylesheet_link_tag "application", media: "all"

    /[if lt IE 9]
      = stylesheet_link_tag 'ie', media: 'all'
      script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
      script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"

    = csrf_meta_tags

  body class="body_#{controller.controller_name}"
    .container
      .row
        .col-sm-6.session_container.session_left-container.__valign-middle
          .text-center.cell
            = link_to root_path do
              = image_tag('logo_dark.png', class: 'session_logo', id: 'logo')

        .col-sm-6.session_container.session_right-container.__valign-middle
          .cell
            .row
              // Flashbox-printer
              = flash_box_printer(styles="col-md-offset-1 col-md-8")
              .col-sm-8.col-sm-offset-1
                // Form
                = yield

            .row.margin-top-10-px
              .col-sm-8.col-sm-offset-1
                .text-center
                = render "devise/shared/links"

  = render partial: "layouts/ga"
  = javascript_include_tag 'application'
  = yield :javascript
