doctype html
html
  body paddingwidth="0" paddingheight="0" style="padding-top: 0px; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; background-color: #f9f9f9;" offset="0" toppadding="0" leftpadding="0"
    table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style= 'Open Sans, arial, sans-serif; color:#f9f9f9;'
      tbody style="background-color: #f9f9f9"
        /! header
        tr
          td height="20"
        tr
          td align="center"
            table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border:1px solid #eaeaea; background-color: #ffffff; border-bottom: 0 none;"
              tr
                td height="10"
              tr
                td align="center"
                  table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
                    tr
                      td
                        table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
                          tr
                            td height="15"
                          tr
                            td
                              table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
                                tr
                                  td width="80"
                                    = link_to(image_tag("logo_integra.png", width: "auto", heigth: "auto", alt: "Logo Empresa"), root_url)
                                    hr style="height: 1px; border: 0; background-color: #EAEBEC"/
                          tr
                            td height="15"
                          tr

        /! body
        tr
          td
            = yield

        /! footer
        tr
          td
            table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
              tr
                td colspan="3" height="10"
              tr style="background: #fff;"
                td style=("text-align: center; border:1px solid #ECF0F1;")
                  table align="center" cellpadding="0" cellspacing="0" width="180"
                    tbody
                      tr
                        td
                          p style="font-family:'Open Sans', arial, sans-serif;font-size:15px;line-height:10px; color:#7e8890;"
                            | Enviado por
                        td
                          = link_to(image_tag("logo_hiringup_blue.png", width: "80", heigth: "50", style: "width: 80px; display: inline;  background-color=#ffffff", alt: "Logo Empresa" ), 'http://www.hiringup.com', target: '_blank')
                  table align="center" cellpadding="0" cellspacing="0" width="400"
                    tbody
                      tr
                        td style="text-align: center;"
                          p style="font-family:'Open Sans', arial, sans-serif; font-size:12px; line-height:15px; color:#252b33; text-align: center;"
                            | Recuerda mantener tu información actualizada ingresando&nbsp;
                            = link_to 'aquí', new_user_session_url, style: 'color: #239dee;', target: '_blank'
        tr
          td height="80"
        tr
