- content_for :subheader do
  = render partial: "courses/subheader", locals: {candidates: '__active'}

section.course_card
  h3.course_card-title.__large
    = t('manager_interview.stage.title')

  - if @stage.manager_interview_report.try(:persisted?)
    = render partial: 'manager_interview/reports/show', locals: { manager_interview_report: @stage.manager_interview_report}
  - else
    = render partial: 'manager_interview/reports/form'
