= form_for @applicant_profile_type do |f|
  .field
    = f.label :name, class: 'scaffold_label'
    = f.text_field :name, autofocus: true, class: 'scaffold_input'

  .scaffold_actions = f.submit class: 'scaffold_btn __green'
