- content_for :subheader do
  .subheader_container.clearfix
    .subheader_left-container
      .subheader_cyan
        h3 class="[ subheader_title __with-icon __dark-teal ] [ icons-header __procesos ]"
          = t("resources.generals.labels.new.f") + ' ' + t("resources.company.contract_types.singular")

.grid_body
  .grid_content-row.clearfix
    .grid_content-col.__main-col

      == render 'form'

      .scaffold_actions
        = link_to t("resources.generals.actions.back"), applicant_profile_types_path, class: "scaffold_btn __blue"

    .grid_content-col.__second-col
      = render partial: "scaffolds/scaffolds_list"
